Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(Twinkle): add console.warn message
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(NoteTA): add missing class for the vector skin
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/initGlobalMethods.ts
Due: prettier --write, eslint --fix

fix(NoteTA): add missing class for the vector skin (#1069)
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/initGlobalMethods.ts
Due: prettier --write, eslint --fix

Update twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

build: #1063 #1065
  dist/store.txt
Due: none

build: follow commit 78514de
  dist/store.txt
Due: none

fix(Twinkle): add console.warn message (#1068)
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

chore(Morebits): follow commit 82f38f3
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

chore(Morebits): follow commit 82f38f3 (#1070)
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor(Twinkle): add export {}; use dynamic import
  dist/Twinkle/Twinkle.js
  src/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

refactor(Twinkle): add export {}; use dynamic import (#1071)
  dist/Twinkle/Twinkle.js
  src/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

refactor: replace [].push to avoid unneeded polyfills
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HotCat/HotCat.js
  dist/Navigation_popups/Navigation_popups.js
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.js
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.js
  dist/morebits/morebits.js
  src/DisamAssist/modules/core.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/PrintOptions/PrintOptions.js
  src/RRD/modules/core.tsx
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/UserRightsManager/modules/core.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor: replace [].push to avoid unneeded polyfills
  dist/DisamAssist/DisamAssist.js
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

chore(RRD): replace [].push to avoid polyfilling
  dist/RRD/RRD.js
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

chore(RRD): replace [].push to avoid polyfilling (#1073)
  dist/RRD/RRD.js
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

refactor(Twinkle): replace [].push to avoid polyfilling
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
Due: prettier --write, eslint --fix

refactor(Twinkle): replace [].push to avoid polyfilling (#1074)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
Due: prettier --write, eslint --fix

refactor(Morebits): replace [].push to avoid polyfilling
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor(Morebits): replace [].push to avoid polyfilling (#1075)
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor: replace [].push to avoid polyfilling
  dist/DisamAssist/DisamAssist.js
  dist/HotCat/HotCat.js
  dist/PrintOptions/PrintOptions.js
  dist/UserRightsManager/UserRightsManager.js
  src/DisamAssist/modules/core.js
  src/HotCat/HotCat.js
  src/PrintOptions/PrintOptions.js
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix

refactor: replace [].push to avoid polyfilling (#1076)
  dist/DisamAssist/DisamAssist.js
  dist/HotCat/HotCat.js
  dist/PrintOptions/PrintOptions.js
  dist/UserRightsManager/UserRightsManager.js
  src/DisamAssist/modules/core.js
  src/HotCat/HotCat.js
  src/PrintOptions/PrintOptions.js
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix

fix(HanSect): should not enable when VE is activated
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(HanSect): should not enable when VE is activated (#1077)
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(PreviewWithVariant): merge LESS modules
  src/PreviewWithVariant-pagestyles/LICENSE
  src/PreviewWithVariant-pagestyles/definition.json
  src/PreviewWithVariant/PreviewWithVariant.less
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PreviewWithVariant): merge LESS modules
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(PreviewWithVariant): merge LESS modules (#1078)
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant-pagestyles/LICENSE
  src/PreviewWithVariant-pagestyles/definition.json
  src/PreviewWithVariant/PreviewWithVariant.less
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon/normalize): add !important
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/normalize.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/normalize): add !important (#1079)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/normalize.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dist
  dist/definition.txt
  src/NotifyConversion/definition.json
  src/OnlineAdmins/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dist (#1080)
  dist/definition.txt
  src/NotifyConversion/definition.json
  src/OnlineAdmins/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat(PreviewWithVariant): add PreviewWithVariant2017
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.css
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant2017/LICENSE
  src/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/PreviewWithVariant2017/PreviewWithVariant2017.less
  src/PreviewWithVariant2017/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(PreviewWithVariant): add PreviewWithVariant2017 (#1081)
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.css
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant2017/LICENSE
  src/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/PreviewWithVariant2017/PreviewWithVariant2017.less
  src/PreviewWithVariant2017/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: dist
  dist/store.txt
Due: none

fix(PreviewWithVariant): update loading method; update dependencies; fix code
  dist/Group-user_JS/Group-user_JS.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/Group-user_JS/modules/loadGadgetEditForm.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/modules/constant.ts
  src/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/PreviewWithVariant2017/definition.json
  src/PreviewWithVariant2017/modules/constant.ts
  src/PreviewWithVariant2017/modules/messages.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(PreviewWithVariant): update loading method; update dependencies (#1082)
  dist/Group-user_JS/Group-user_JS.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/Group-user_JS/modules/loadGadgetEditForm.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/modules/constant.ts
  src/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/PreviewWithVariant2017/definition.json
  src/PreviewWithVariant2017/modules/constant.ts
  src/PreviewWithVariant2017/modules/messages.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(DefaultSummaries; EditForm_*): guard against double inclusions
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
Due: prettier --write, eslint --fix

fix(DefaultSummaries; EditForm_*): guard against double inclusions
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/definition.txt
  src/AccessKeyCheatsheet/definition.json
  src/BanPage/definition.json
  src/Editform_AiAssisted/definition.json
  src/Editform_Patch2017/definition.json
  src/Editform_Patch2017/modules/constant.ts
  src/FloatTOC/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
