Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

refactor(QuickImport*): merge with QuickImport
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(QuickImport*): merge with QuickImport (#1233)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(QuickImport*): files not uploaded
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): files not uploaded (#1234)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic (#1235)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): split queries into group of 50
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor: use Array#splice instead
  dist/GeoLocation/GeoLocation.js
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  src/GeoLocation/modules/storeLocation.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): split queries into group of 50 (#1236)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor: use Array#splice instead (#1237)
  dist/GeoLocation/GeoLocation.js
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  src/GeoLocation/modules/storeLocation.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
Due: prettier --write, eslint --fix

Revert "refactor: use Array#splice instead (#1237)"
  dist/GeoLocation/GeoLocation.js
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  src/GeoLocation/modules/storeLocation.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
Due: prettier --write, eslint --fix

Revert "fix(QuickImport*): split queries into group of 50 (#1236)"
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

Revert "fix(QuickImport*): split queries into group of 50" (#1239)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

Revert "refactor: use Array#splice instead" (#1238)
  dist/GeoLocation/GeoLocation.js
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  src/GeoLocation/modules/storeLocation.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
Due: prettier --write, eslint --fix

fix(LogFilter): fix gap; remove $
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  src/LogFilter/LogFilter.less
  src/LogFilter/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(QuickImport*): split queries into group of 50 (#1240)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(LogFilter): fix gap; remove $ (#1241)
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  src/LogFilter/LogFilter.less
  src/LogFilter/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

follow #1240
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize loading logic (follow #1240)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

fix(PurgePageCache, UTCLiveClock): use localStorage.removeItem instead of mw.storage.remove (#1228)
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/UTCLiveClock/UTCLiveClock.js
  dist/definition.txt
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/purge.ts
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(QuickImport*): optimize logic (#1229)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/MwApiParams.d.ts
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/core.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize loading logic
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

refactor(Twinkle): use object-destructing grammar
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

refactor(QIAM): don't request imageinfo on special pages
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): optimize logic
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

chore(QuickImport): remove unused package
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QIAM): don't request imageinfo on special pages (#1244)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): optimize logic (#1245)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

chore(QuickImport): remove unused package (#1246)
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(PrintOptions): fix error: 'inheritClass: Target already inherits from origin'
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix

fix: remove empty rules from target CSS rules
  dist/SiteCommon/SiteCommon.css
  dist/Twinkle/Twinkle.css
  dist/UTCLiveClock/UTCLiveClock.css
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/columns.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/wikitable.less
  src/Twinkle/style-modules/general.less
  src/Twinkle/style-modules/specific.less
  src/UTCLiveClock/UTCLiveClock.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: remove empty rules from target CSS rules (#1247)
  dist/SiteCommon/SiteCommon.css
  dist/Twinkle/Twinkle.css
  dist/UTCLiveClock/UTCLiveClock.css
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/columns.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/wikitable.less
  src/Twinkle/style-modules/general.less
  src/Twinkle/style-modules/specific.less
  src/UTCLiveClock/UTCLiveClock.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(PrintOptions): fix error: 'inheritClass: Target already inherits from origin' (#1248)
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix
