Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

refactor(Report): replace with JQuery to improve compatibility (#343)
  src/Report/modules/fillSpecialPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: use `max-width` and `height` to replace `object-fit: contain` (#344)
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/mobile.less
  src/SiteCommon/modules/thumbImage.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(Report): revision 0 problem
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Report): revision 0 problem (#345)
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: optimize CSS rules
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/thumbImage.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: optimize CSS rules (#346)
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/thumbImage.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: follow 293cbdc
  .eslintrc
  src/EditConflict/definition.json
  src/Switcher/Switcher.ts
  src/TextSpacing/definition.json
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: follow 293cbdc (#347)
  .eslintrc
  src/EditConflict/definition.json
  src/Switcher/Switcher.ts
  src/TextSpacing/definition.json
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TextSpacing): synchronize from the original repository
  src/TextSpacing/TextSpacing.less
  src/TextSpacing/TextSpacing.ts
  src/TextSpacing/modules/queue.ts
  src/TextSpacing/modules/spacing.ts
  src/TextSpacing/modules/util.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TextSpacing): synchronize from the original repository (#348)
  src/TextSpacing/TextSpacing.less
  src/TextSpacing/TextSpacing.ts
  src/TextSpacing/modules/queue.ts
  src/TextSpacing/modules/spacing.ts
  src/TextSpacing/modules/util.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TextSpacing): synchronize from the original repository
  src/TextSpacing/modules/spacing.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TextSpacing): synchronize from the original repository (#349)
  src/TextSpacing/modules/spacing.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(css): hide li#t-specialpages for non-logged-in users
  src/Group-user/Group-user.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(css): hide li#t-specialpages for non-logged-in users (#350)
  src/Group-user/Group-user.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(historyDisclaimer): add judgement for existance of `#historyDisclaimer`
  src/HistoryDisclaimer/HistoryDisclaimer.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(historyDisclaimer): judge if `#historyDisclaimer` exists (#351)
  src/HistoryDisclaimer/HistoryDisclaimer.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SpecialWikitext): refactor with typescript
  src/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SpecialWikitext): refactor with typescript (#352)
  src/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(infobox): add `text-align: center` to only child of `.plainlist`
  src/SiteCommon/modules/infobox.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(infobox): add `text-align: center` to only child of `.plainlist` (#353)
  src/SiteCommon/modules/infobox.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: use Array.isArray
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: replace unnecessary globar var
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Group-user_JS/Group-user_JS.ts
  src/LogFilter/LogFilter.ts
  src/SiteCommon_JS/SiteCommon_JS.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SpecialWikitext): use `Array.isArray()` (#354)
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: replace unnecessary globar var (#355)
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Group-user_JS/Group-user_JS.ts
  src/LogFilter/LogFilter.ts
  src/SiteCommon_JS/SiteCommon_JS.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: remove unused globar var
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(MarkRights): add `$(...).parent().parent().find()` to avoid duplicate insertion
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add $.find(), avoid duplicate insertion; remove unused globar var (#356)
  src/MarkRights/modules/core.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: replace with `.parents().get(0)`
  src/MarkRights/modules/core.ts
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: replace with `.parents().get(0)` (follow #357) (#357)
  src/MarkRights/modules/core.ts
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(index.d.ts): use type-only import
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(index.d.ts): use type-only import (#358)
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights): remove unnecessary wrap (#359)
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights): remove unnecessary wrap
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): use existing variables
  src/AccessKeyCheatsheet/modules/util/generateAccessKeysTableWithOpener.ts
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(AccessKeyCheatsheet): improve translation
  src/AccessKeyCheatsheet/modules/i18n.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): use existing variables (#360)
  src/AccessKeyCheatsheet/modules/util/generateAccessKeysTableWithOpener.ts
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(AccessKeyCheatsheet): improve translation (#361)
  src/AccessKeyCheatsheet/modules/i18n.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): improve table style (#362)
  src/AccessKeyCheatsheet/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): improve table style
  src/AccessKeyCheatsheet/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AddSectionPlus): replace manual translation with element attributes (#363)
  src/AddSectionPlus/definition.json
  src/AddSectionPlus/modules/i18n.ts
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
