Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

chore(EditForm): suspend use `forcePreview` (#556)
  src/EditForm_JS/EditForm_JS.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EnhancedSpecialSearch): search form is not fully included
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EnhancedSpecialSearch): search form is not fully included (#557)
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(FloatTOC): separate into modules
  src/FloatTOC/FloatTOC.less
  src/FloatTOC/FloatTOC.ts
  src/FloatTOC/definition.json
  src/FloatTOC/modules/constant.ts
  src/FloatTOC/modules/core.ts
  src/FloatTOC/modules/getConfig.ts
  src/FloatTOC/modules/setMwNotifyStyle.ts
  src/FloatTOC/modules/types.d.ts
  src/FloatTOC/modules/util/generateElements.ts
  src/FloatTOC/modules/util/generateTogglerElement.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(FloatTOC): separate into modules (#558)
  src/FloatTOC/FloatTOC.less
  src/FloatTOC/FloatTOC.ts
  src/FloatTOC/definition.json
  src/FloatTOC/modules/constant.ts
  src/FloatTOC/modules/core.ts
  src/FloatTOC/modules/getConfig.ts
  src/FloatTOC/modules/setMwNotifyStyle.ts
  src/FloatTOC/modules/types.d.ts
  src/FloatTOC/modules/util/generateElements.ts
  src/FloatTOC/modules/util/generateTogglerElement.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): optimize logic
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AccessKeyCheatsheet/modules/addListener.ts
  src/AccessKeyCheatsheet/modules/core.ts
  src/AccessKeyCheatsheet/modules/initWindowManager.ts
  src/AccessKeyCheatsheet/modules/util/generateAccessKeysTableWithOpener.ts
  src/AccessKeyCheatsheet/modules/util/generateElements.ts
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): optimize logic (#559)
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AccessKeyCheatsheet/modules/addListener.ts
  src/AccessKeyCheatsheet/modules/core.ts
  src/AccessKeyCheatsheet/modules/initWindowManager.ts
  src/AccessKeyCheatsheet/modules/util/generateAccessKeysTableWithOpener.ts
  src/AccessKeyCheatsheet/modules/util/generateElements.ts
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(AccessKeyCheatsheet): enabled by default
  src/AccessKeyCheatsheet/definition.json
Due: prettier --cache --ignore-unknown --write

chore(AccessKeyCheatsheet): enabled by default (#560)
  src/AccessKeyCheatsheet/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(AddSectionPlus): use object literal shorthand syntax
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AddSectionPlus): use object literal shorthand syntax (#561)
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AdvancedSiteNotices): remove `asn-style` property too early
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AdvancedSiteNotices): remove `asn-style` property too early (#562)
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AdvancedSiteNotices): maximum call stack size exceeded
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AdvancedSiteNotices): maximum call stack size exceeded (#563)
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): use `mw.Uri.decode` instead of `decodeURIComponent`
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): use `mw.Uri.decode` instead of `decodeURIComponent` (#564)
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: optimize logic
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AccessKeyCheatsheet/modules/initWindowManager.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/initWindowManager.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: optimize logic (#565)
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AccessKeyCheatsheet/modules/initWindowManager.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/initWindowManager.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): optimize logic
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/addListener.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AjaxLogin/modules/util/queryLoginToken.ts
  src/AjaxLogin/modules/util/showError.ts
  src/AjaxLogin/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): optimize logic (#566)
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/addListener.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AjaxLogin/modules/util/queryLoginToken.ts
  src/AjaxLogin/modules/util/showError.ts
  src/AjaxLogin/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: switch to GLOBAL_REQUIRES_ES6 = true
  .browserslistrc
  scripts/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: switch to GLOBAL_REQUIRES_ES6 = true (#567)
  .browserslistrc
  scripts/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(CopyCodeBlock): style overridden by `.oo-ui-buttonElement-frameless`
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(CopyCodeBlock): style overridden by `.oo-ui-buttonElement-frameless` (#568)
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build: disable polyfill `es.array.push`
  .babelrc
Due: prettier --cache --ignore-unknown --write

build: disable polyfill `es.array.push` (#569)
  .babelrc
Due: prettier --cache --ignore-unknown --write

refactor(select2): update from upstream * <https://git.qiuwen.net.cn/Mirror/xiplus-twinkle/src/branch/master/lib/select2.min.js>
  src/select2/select2.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(select2): update from upstream (#570)
  src/select2/select2.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights): replace: then → await
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights): replace: then → await (#571)
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: eslint errors follow 46a3625
  src/DisamAssist/modules/core.js
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/SpecialWikitext/SpecialWikitext.ts
  src/TextSpacing/modules/spacing.ts
  src/morebits/morebits.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: eslint errors (#572)
  src/DisamAssist/modules/core.js
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/SpecialWikitext/SpecialWikitext.ts
  src/TextSpacing/modules/spacing.ts
  src/morebits/morebits.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TextSpacing): remove unnecessary code
  src/TextSpacing/TextSpacing.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TextSpacing): remove unnecessary code (#573)
  src/TextSpacing/TextSpacing.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MR): optimize logic
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MR): optimize logic (#574)
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(tw): revert some changes
  src/Twinkle/modules/twinkleblock.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: replace .then() with sync-await pattern
  src/DefaultSummaries/DefaultSummaries.ts
  src/GeoLocation/GeoLocation.ts
  src/GeoLocationReader/modules/core.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/ListUsersLastActive/modules/core.ts
  src/MarkRights-Userpage/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/NoteTA/modules/core.ts
  src/PagePatroller/modules/core.ts
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/RRD/modules/core.ts
  src/ShortURL/modules/core.ts
  src/SiteCommon_JS/modules/tippy.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Twinkle/modules/twinkleprotect.js
  src/UTCLiveClock/modules/core.ts
  src/Wikiplus/Wikiplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(tw): revert some changes (#575)
  src/Twinkle/modules/twinkleblock.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
