Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

feat(QuickPatrol): add back
  src/QuickPatrol/LICENSE
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/definition.json
  src/QuickPatrol/modules/core.ts
  src/QuickPatrol/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(QuickPatrol): add back (#251)
  src/QuickPatrol/LICENSE
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/definition.json
  src/QuickPatrol/modules/core.ts
  src/QuickPatrol/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add prefix to `console.error()`
  src/Navigation_popups/modules/core.js
  src/morebits/morebits.js
  src/select2/select2.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add prefix to `console.error()` (#252)
  src/Navigation_popups/modules/core.js
  src/morebits/morebits.js
  src/select2/select2.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): show `h1#firstHeading` in VE
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): show `h1#firstHeading` in VE (#253)
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): add border to edit area
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): add border to edit area (#254)
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): hide #contentSub*
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): hide #contentSub* (#255)
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: switch to `initMwApi`
  src/GeoLocation/GeoLocation.ts
  src/GeoLocationReader/modules/core.ts
  src/Group-user_JS/modules/smartNewSection.ts
  src/ListUsersLastActive/modules/core.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/NoteTA/modules/core.ts
  src/NotifyConversion/modules/core.ts
  src/OnlineAdmins/modules/core.ts
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/RRD/modules/core.ts
  src/ShortURL/modules/core.ts
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/TranslateVariants/modules/core.ts
  src/UTCLiveClock/modules/core.ts
  src/WhoIsActive/modules/core.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: switch to `initMwApi` (#256)
  src/GeoLocation/GeoLocation.ts
  src/GeoLocationReader/modules/core.ts
  src/Group-user_JS/modules/smartNewSection.ts
  src/ListUsersLastActive/modules/core.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/NoteTA/modules/core.ts
  src/NotifyConversion/modules/core.ts
  src/OnlineAdmins/modules/core.ts
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/RRD/modules/core.ts
  src/ShortURL/modules/core.ts
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/TranslateVariants/modules/core.ts
  src/UTCLiveClock/modules/core.ts
  src/WhoIsActive/modules/core.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: typo (no top-level async); replace with `mw.loader.load`
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: typo (no top-level async); replace with `mw.loader.load` (#257)
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights): add wrap; switch to BEM conventions; optimize styles
  src/MarkRights/MarkRights.less
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights-Userpage): switch to BEM
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/MarkRights.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights*): add wrap; switch to BEM conventions; optimize styles (#258)
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/MarkRights.less
  src/MarkRights/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(HideLongSummaries): switch to BEM; fix typo
  src/HideLongSummaries/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(QuickPatrol): switch to BEM; add parenthesis
  src/QuickPatrol/modules/core.ts
  src/QuickPatrol/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(WhoIsActive): switch to BEM
  src/WhoIsActive/WhoIsActive.less
  src/WhoIsActive/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(HideLongSummaries, QuickPatrol): switch to BEM; fix typo (#259)
  src/HideLongSummaries/modules/core.ts
  src/QuickPatrol/modules/core.ts
  src/QuickPatrol/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights): add `alt=` and `title=`
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(WhoIsActive, MarkRights): switch to BEM; fix A11Y (#260)
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/i18n.ts
  src/WhoIsActive/WhoIsActive.less
  src/WhoIsActive/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(HideLongSummaries): typo
  src/HideLongSummaries/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(HideLongSummaries): typo (#261)
  src/HideLongSummaries/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): reference error (#262)
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): reference error `lastToastifyInstance` is not defined
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow 8c2c98c (#263)
  src/Tippy/Tippy.less
  src/Toastify/Toastify.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow 8c2c98c
  src/Tippy/Tippy.less
  src/Toastify/Toastify.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove css/less vendor prefix (#264)
  src/select2/select2.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove css/less vendor prefix all vendor prefixes will be automatically inserted during the build process
  src/select2/select2.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(Edittools-refToolbar): re-construct the directory
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Edittools-refToolbar): replace with addEventListener
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Edittools-refToolbar): re-construct the directory; replace with addEventListener (#265)
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: remove `default` or `hidden` label from some gadgets
  src/AccessKeyCheatsheet/definition.json
  src/GeoLocationReader/definition.json
  src/PrintOptions/definition.json
  src/SearchShortcuts/definition.json
Due: prettier --cache --ignore-unknown --write

chore: remove `default` or `hidden` label from some gadgets (#266)
  src/AccessKeyCheatsheet/definition.json
  src/GeoLocationReader/definition.json
  src/PrintOptions/definition.json
  src/SearchShortcuts/definition.json
Due: prettier --cache --ignore-unknown --write

fix(Edittools-refToolbar): revert changes of de1ca1f005
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Edittools-refToolbar): revert changes of de1ca1f005 (#267)
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: remove `default` or `hidden` label from some gadgets (follow #266)
  src/AccessKeyCheatsheet/definition.json
Due: prettier --cache --ignore-unknown --write

chore: remove `default` or `hidden` label from some gadgets (follow #266)
  src/NospzGothic/definition.json
Due: prettier --cache --ignore-unknown --write
