Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): optimize logic (#468)
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/core.ts
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EasyArchive): replace acronym with name
  src/EasyArchive/EasyArchive.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EasyArchive): replace acronym with name (#469)
  src/EasyArchive/EasyArchive.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Geo*): rename country to countryOrArea
  src/Geo/Geo.ts
  src/GeoLocation/GeoLocation.ts
  src/GeoLocationReader/modules/core.ts
  src/GeoLocationReader/modules/name.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Geo*): rename country to countryOrArea (#470)
  src/Geo/Geo.ts
  src/GeoLocation/GeoLocation.ts
  src/GeoLocationReader/modules/core.ts
  src/GeoLocationReader/modules/name.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ConfirmLogout): separate options into a json file
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/api.ts
  src/ConfirmLogout/modules/constant.ts
  src/ConfirmLogout/options.json
  src/EditForm_JS/EditForm_JS.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ConfirmLogout): separate options into a json file (#471)
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/api.ts
  src/ConfirmLogout/modules/constant.ts
  src/ConfirmLogout/options.json
  src/EditForm_JS/EditForm_JS.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SiteCommonJS): fix replaced firstHeading
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(CookieWarning): use existing variables
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/insertElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(CookieWarning): use existing variables (#472)
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/insertElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(CookieWarning-pagestyles): use existing less variables
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(CookieWarning-pagestyles): use existing less variables (#473)
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: clarify the hierarchical relationship
  src/Collapsible-pagestyles/Collapsible-pagestyles.less
  src/Collapsible/modules/constant.ts
  src/Collapsible/modules/core.ts
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/insertElement.ts
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: clarify the hierarchical relationship (#474)
  src/Collapsible-pagestyles/Collapsible-pagestyles.less
  src/Collapsible/modules/constant.ts
  src/Collapsible/modules/core.ts
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/insertElement.ts
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SiteCommonJS): fix replaced firstHeading (#475)
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): rename variables
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): rename variables (#476)
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SiteCommonJS): follow commit cd3a6c84
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): reuse jQuery query
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): reuse jQuery query (#478)
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Navbox): fix group display under IE
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(DiffLink): reuse promise chain of mw.Api#get
  src/DiffLink/modules/compareWithRemoteDiffId.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TR): reuse promise chain of $.ajax
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Navbox): fix group display under IE (#479)
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: reuse promise chians (#480)
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ProveIt): reuse promise chain of mw.Api#get
  src/ProveIt/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DiffLink): reuse promise chain of mw.Api#get (#481)
  src/ProveIt/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor(DiffLink): reuse promise chain of mw.Api#get (#481)"
  src/ProveIt/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor: reuse promise chians (#480)"
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor(DiffLink): reuse promise chain of mw.Api#get" (#482)
  src/ProveIt/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor: reuse promise chians" (#483)
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(CopyCodeBlock): use tippy and toastify
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
  src/CopyCodeBlock/definition.json
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/addCopyListener.ts
  src/CopyCodeBlock/modules/constant.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: explicitly declare type
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: explicitly declare type (#484)
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(CopyCodeBlock): use tippy and toastify (#485)
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
  src/CopyCodeBlock/definition.json
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/addCopyListener.ts
  src/CopyCodeBlock/modules/constant.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: rename variables
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/Collapsible/modules/constant.ts
  src/Collapsible/modules/core.ts
  src/Report-pagestyles/Report-pagestyles.less
  src/Report/modules/addButton.ts
  src/Report/modules/constant.ts
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/ScrollUpButton/modules/constant.ts
  src/ScrollUpButton/modules/element.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: rename variables (#486)
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/Collapsible/modules/constant.ts
  src/Collapsible/modules/core.ts
  src/Report-pagestyles/Report-pagestyles.less
  src/Report/modules/addButton.ts
  src/Report/modules/constant.ts
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/ScrollUpButton/modules/constant.ts
  src/ScrollUpButton/modules/element.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(CopyCodeBlock): add `aria-label` attribute
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(CopyCodeBlock): add `aria-label` attribute (#487)
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(URM): temp. fix to initDialog
  src/UserRightsManager/LICENSE
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
