Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(Group-rnrsverify-confirmed): add .rnrsverify-confirmed-show
  dist/Group-user/Group-user.css
  dist/SiteCommon/SiteCommon.css
  dist/definition.txt
  src/Group-user/Group-user.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Group-rnrsverify-confirmed): add .rnrsverify-confirmed-show
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
  src/Group-rnrsverify-confirmed/LICENSE
  src/Group-rnrsverify-confirmed/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Group-rnrsverify-confirmed): add .rnrsverify-confirmed-show (#1169)
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  dist/Group-user/Group-user.css
  dist/SiteCommon/SiteCommon.css
  dist/definition.txt
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
  src/Group-rnrsverify-confirmed/LICENSE
  src/Group-rnrsverify-confirmed/definition.json
  src/Group-user/Group-user.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update store.txt
  dist/store.txt
Due: none

build: follow #1169
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: switch to Codex-style class name(s)
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/EditForm/EditForm.css
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/RRD/RRD.js
  dist/SiteCommon/SiteCommon.css
  dist/TranslateVariants/TranslateVariants.js
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/CookieWarning.module.less
  src/EditForm/EditForm.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-obituary/Mainpage-obituary.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/RRD/components/ReportButton.tsx
  src/SiteCommon/modules/collapse.less
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: switch to Codex-style class name(s)
  dist/CookieWarning/CookieWarning.js
  dist/LogFilter/LogFilter.js
  dist/RRD/RRD.js
  dist/TranslateVariants/TranslateVariants.js
  src/CookieWarning/components/AgreeButton.tsx
  src/LogFilter/modules/core.ts
  src/RRD/components/ReportButton.tsx
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

chore: update definitions (#1166)
  dist/definition.txt
  src/Edittools-delh/definition.json
  src/Group-confirmed/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(URM): add i18n.ts (#1167)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/modules/i18n.ts
Due: prettier --write, eslint --fix

fix(Group-rnrsverify-confirmed): add .rnrsverify-confirmed-show (#1169)
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  dist/Group-user/Group-user.css
  dist/SiteCommon/SiteCommon.css
  dist/definition.txt
  dist/store.txt
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
  src/Group-rnrsverify-confirmed/LICENSE
  src/Group-rnrsverify-confirmed/definition.json
  src/Group-user/Group-user.less
  src/SiteCommon/modules/groupShow.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: switch to Codex-style class name(s) (#1170)
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/EditForm/EditForm.css
  dist/LogFilter/LogFilter.js
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/RRD/RRD.js
  dist/SiteCommon/SiteCommon.css
  dist/TranslateVariants/TranslateVariants.js
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/CookieWarning.module.less
  src/EditForm/EditForm.less
  src/LogFilter/modules/core.ts
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-obituary/Mainpage-obituary.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/RRD/components/ReportButton.tsx
  src/SiteCommon/modules/collapse.less
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(A): optimize logic
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/AddSectionPlus/AddSectionPlus.js
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/AjaxLogin/AjaxLogin.js
  dist/AutoLink/AutoLink.js
  dist/React/React.js
  src/AccessKeyCheatsheet/modules/addListener.ts
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/AddSectionPlus/AddSectionPlus.ts
  src/AddSectionPlus/modules/constant.ts
  src/AddSectionPlus/modules/processElement.ts
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/addListener.ts
  src/AjaxLogin/modules/api.ts
  src/AjaxLogin/modules/constant.ts
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
  src/AjaxLogin/modules/util/queryLoginToken.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --write, eslint --fix

refactor(A): optimize logic (#1171)
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/AddSectionPlus/AddSectionPlus.js
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/AjaxLogin/AjaxLogin.js
  dist/AutoLink/AutoLink.js
  dist/React/React.js
  src/AccessKeyCheatsheet/modules/addListener.ts
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/AddSectionPlus/AddSectionPlus.ts
  src/AddSectionPlus/modules/constant.ts
  src/AddSectionPlus/modules/processElement.ts
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/addListener.ts
  src/AjaxLogin/modules/api.ts
  src/AjaxLogin/modules/constant.ts
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
  src/AjaxLogin/modules/util/queryLoginToken.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --write, eslint --fix

refactor(Report): optimize logic; eslint error on 'camelcase'
  dist/Report/Report.js
  src/Report/Report.ts
  src/Report/components/ReportButton.tsx
  src/Report/modules/addButton.ts
  src/Report/modules/addPortletLink.ts
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
  src/Report/modules/getURL.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): optimize logic
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/messages.ts
Due: prettier --write, eslint --fix

refactor(Report): optimize logic; eslint error on 'camelcase' (#1172)
  dist/Report/Report.js
  src/Report/Report.ts
  src/Report/components/ReportButton.tsx
  src/Report/modules/addButton.ts
  src/Report/modules/addPortletLink.ts
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
  src/Report/modules/getURL.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): optimize logic (#1173)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/messages.ts
Due: prettier --write, eslint --fix

fix(AjaxLogin): cannot refresh toastify instance (#1174)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/queryLoginToken.ts
Due: prettier --write, eslint --fix

fix(AjaxLogin): cannot refresh toastify instance
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/queryLoginToken.ts
Due: prettier --write, eslint --fix

fix(RRD): wrong class name(s)
  dist/RRD/RRD.js
  src/RRD/components/ReportButton.tsx
Due: prettier --write, eslint --fix

fix(RRD): wrong class name(s) (#1175)
  dist/RRD/RRD.js
  src/RRD/components/ReportButton.tsx
Due: prettier --write, eslint --fix

fix(RRD): wrong button type
  dist/RRD/RRD.js
  src/RRD/components/ReportButton.tsx
Due: prettier --write, eslint --fix

fix(RRD): wrong button type (#1176)
  dist/RRD/RRD.js
  src/RRD/components/ReportButton.tsx
Due: prettier --write, eslint --fix

refactor(B): optimize logic (#1177)
  dist/BanPage/BanPage.js
  src/BanPage/BanPage.ts
  src/BanPage/modules/addListener.ts
  src/BanPage/modules/constant.ts
  src/BanPage/modules/editPage.ts
  src/BanPage/modules/util/create.ts
  src/BanPage/modules/util/edit.ts
  src/BanPage/modules/util/generateEditParams.ts
  src/BanPage/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

refactor(B): optimize logic
  dist/BanPage/BanPage.js
  src/BanPage/BanPage.ts
  src/BanPage/modules/addListener.ts
  src/BanPage/modules/constant.ts
  src/BanPage/modules/editPage.ts
  src/BanPage/modules/util/create.ts
  src/BanPage/modules/util/edit.ts
  src/BanPage/modules/util/generateEditParams.ts
  src/BanPage/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

refactor(C): optimize logic
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  dist/CookieWarning/CookieWarning.js
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/messages.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/constant.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/constant.ts
Due: prettier --write, eslint --fix

refactor(C): optimize logic (#1178)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  dist/CookieWarning/CookieWarning.js
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/messages.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/constant.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/constant.ts
Due: prettier --write, eslint --fix

fix(URM): fix typo
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
Due: prettier --write, eslint --fix

fix(URM): fix typo (#1179)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
Due: prettier --write, eslint --fix

fix(URM): issuing notice templates; use CSS.escape()
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/modules/i18n.ts
Due: prettier --write, eslint --fix

fix(URM): issuing notice templates; use CSS.escape() (#1180)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(C): optimize logic
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/components/RootElement.tsx
  src/CopyCodeBlock/modules/addCopyListener.ts
Due: prettier --write, eslint --fix

refactor(C): optimize logic (#1181)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/components/RootElement.tsx
  src/CopyCodeBlock/modules/addCopyListener.ts
Due: prettier --write, eslint --fix

fix(CAL): remove wrongly added toString
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(CAL): remove wrongly added toString
  dist/Cat-a-lot/Cat-a-lot.js
Due: prettier --write, eslint --fix

fix(CAL): remove wrongly added toString (#1182)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(Edit0): add mw-editsection-section-0 class
  dist/Edit0/Edit0.js
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix

fix(Edit0): add mw-editsection-section-0 class (#1183)
  dist/Edit0/Edit0.js
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): rewrite in TSX; exclude edit links by Edit0
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/api.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/react.tsx
  src/EasyArchive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
