Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(SiteCommon): add font-family for {{MongolUnicode}} (#1284)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/fontTemplates.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(Twinkle): add void to new mw.Api().get()
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
Due: prettier --write, eslint --fix

refactor(Twinkle): add void to new mw.Api().get() (#1285)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
Due: prettier --write, eslint --fix

refactor(QIAM): enable on Special:WantedFiles
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

refactor(QIAM): enable on Special:WantedFiles (#1286)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

refactor(MarkBlocked, OnlineAdmins, QuickImport): use Array#splice
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor(Edittools, morebits, Navigation_popups, Twinkle): use for-of instead
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  dist/morebits/morebits.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinkleprotect.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor(Edittools, morebits, Navigation_popups, Twinkle): use for-of instead (#1288)
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  dist/morebits/morebits.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinkleprotect.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor(MarkBlocked, OnlineAdmins, QuickImport): use Array#splice (#1287)
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport, OnlineAdmins): add async IIFE wrap
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport, OnlineAdmins): add async IIFE wrap (#1289)
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImport*): add guarding if
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImport*): add guarding if (#1290)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport): remove unneeded return statement
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport): remove unneeded return statement
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport): remove unneeded return statement (#1291)
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor: optimize logic
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RRD/RRD.js
  dist/TranslateVariants/TranslateVariants.js
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkRights-Userpage/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImportAllMedia/modules/core.ts
  src/RRD/modules/submit.ts
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

refactor: optimize logic (#1292)
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RRD/RRD.js
  dist/TranslateVariants/TranslateVariants.js
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkRights-Userpage/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImportAllMedia/modules/core.ts
  src/RRD/modules/submit.ts
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

fix: guard against empty requests
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor(URM): add $.Deferred().resolve(); split queryRevisions
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize logic
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/edit.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize logic (#1295)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/edit.ts
Due: prettier --write, eslint --fix

refactor(URM): add $.Deferred().resolve(); split queryRevisions (#1294)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

fix: guard against empty requests (#1293)
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): (test) use require instead of window.ToolsRedirect
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/definition.txt
  src/ToolsRedirect-courtesy-and-art-names/LICENSE
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/modules/checkDependencies.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/LICENSE
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/global.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(QuickImport, OnlineAdmins, MarkBlocked): optimize return and continue statement
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport, OnlineAdmins, MarkBlocked): optimize return and continue statement (#1296)
  dist/MarkBlocked/MarkBlocked.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): (test) use require instead of using window.ToolsRedirect (#1297)
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/definition.txt
  src/ToolsRedirect-courtesy-and-art-names/LICENSE
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/modules/checkDependencies.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/LICENSE
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/global.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Edittools): remove unused 'errorcheck'
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/messages.ts
  src/Edittools-refToolbar/modules/types.d.ts
Due: prettier --write, eslint --fix

fix(Edittools): remove unused 'errorcheck' (#1298)
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/messages.ts
  src/Edittools-refToolbar/modules/types.d.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): follow #1297
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/global.d.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): follow #1297 (#1299)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/global.d.ts
Due: prettier --write, eslint --fix

refactor(Edittools*): use module.exports
  dist/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  dist/Edittools-delh/Edittools-delh.js
  dist/Edittools-vector/Edittools-vector.js
  dist/Edittools-vplus/Edittools-vplus.js
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-customizeToolbar/modules/global.d.ts
  src/Edittools-delh/modules/core.ts
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vplus/modules/edittoolsVplus.ts
Due: prettier --write, eslint --fix

refactor(Edittools*): use module.exports (#1300)
  dist/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  dist/Edittools-delh/Edittools-delh.js
  dist/Edittools-vector/Edittools-vector.js
  dist/Edittools-vplus/Edittools-vplus.js
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-customizeToolbar/modules/global.d.ts
  src/Edittools-delh/modules/core.ts
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vplus/modules/edittoolsVplus.ts
Due: prettier --write, eslint --fix

refactor(Wikiplus*, ToolsRedirect*): use module.exports
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/ToolsRedirect-bio-latin-names/LICENSE
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-bio-latin-names/modules/bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/modules/checkDependencies.ts
  src/ToolsRedirect-courtesy-and-art-names/LICENSE
  src/ToolsRedirect-opt-bolds/LICENSE
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-opt-bolds/definition.json
  src/ToolsRedirect-opt-bolds/modules/checkDependencies.ts
  src/ToolsRedirect-opt-bolds/modules/opt-bolds.ts
  src/ToolsRedirect/LICENSE
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/opt-bolds.ts
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus-highlight/LICENSE
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/definition.json
  src/Wikiplus-highlight/images/settings.svg
  src/Wikiplus-highlight/modules/checkDependencies.ts
  src/Wikiplus-highlight/modules/highlight.js
  src/Wikiplus-highlight/style-modules/highlight.less
  src/Wikiplus/LICENSE
  src/Wikiplus/Wikiplus.less
  src/Wikiplus/Wikiplus.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(Wikiplus*, ToolsRedirect*): use module.exports (#1301)
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/ToolsRedirect-bio-latin-names/LICENSE
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-bio-latin-names/modules/bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/modules/checkDependencies.ts
  src/ToolsRedirect-courtesy-and-art-names/LICENSE
  src/ToolsRedirect-opt-bolds/LICENSE
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-opt-bolds/definition.json
  src/ToolsRedirect-opt-bolds/modules/checkDependencies.ts
  src/ToolsRedirect-opt-bolds/modules/opt-bolds.ts
  src/ToolsRedirect/LICENSE
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/opt-bolds.ts
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus-highlight/LICENSE
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/definition.json
  src/Wikiplus-highlight/images/settings.svg
  src/Wikiplus-highlight/modules/checkDependencies.ts
  src/Wikiplus-highlight/modules/highlight.js
  src/Wikiplus-highlight/style-modules/highlight.less
  src/Wikiplus/LICENSE
  src/Wikiplus/Wikiplus.less
  src/Wikiplus/Wikiplus.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(WPHL): upgrade to 3.0.7
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/highlight.js
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/style-modules/highlight.less
  src/Wikiplus/Wikiplus.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Wikiplus, Wikiplus-highlight) (#1302)
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/highlight.js
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/style-modules/highlight.less
  src/Wikiplus/Wikiplus.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(WPHL): remove unused CSS
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/LICENSE
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/images/settings.svg
  src/Wikiplus-highlight/style-modules/highlight.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input
