Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

fix(Ding): fix style for default
  src/Ding/Ding.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConverison): refactor switch to BEM coding conventions
  src/NotifyConversion/NotifyConversion.less
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Ding): fix style for default (#233)
  src/Ding/Ding.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConverison): refactor switch to BEM coding conventions (#234)
  src/NotifyConversion/NotifyConversion.less
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(twinkle): switch to for-of; add `_` to unused vars
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinklefluff.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(twinkle): switch to for-of; add `_` to unused vars (#235)
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinklefluff.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AutoLink): incomplete traversal of each element
  src/AutoLink/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AutoLink): incomplete traversal of each element (#236)
  src/AutoLink/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(twinkle): typo
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EditForm_JS): add items to noSectionTitlePages[]
  src/EditForm_JS/modules/disableTitle.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EditForm_JS): add items to noSectionTitlePages[] (#237)
  src/EditForm_JS/modules/disableTitle.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(twinkle): typo (#238)
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add toastify.js as dependency (#239)
  package.json
  pnpm-lock.yaml
  src/Toastify/LICENSE
  src/Toastify/Toastify.less
  src/Toastify/Toastify.ts
  src/Toastify/definition.json
  src/index.d.ts
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add toastify.js as dependency
  package.json
  pnpm-lock.yaml
  src/Toastify/LICENSE
  src/Toastify/Toastify.less
  src/Toastify/Toastify.ts
  src/Toastify/definition.json
  src/index.d.ts
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): follow 31c068b
  src/AjaxLogin/definition.json
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): follow 31c068b (#240)
  src/AjaxLogin/definition.json
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): replace it with `windowManager.destroy()`
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(groupShow): add `!important`
  src/SiteCommon/modules/groupShow.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: replace `clearWindows` with `destroy` (AjaxLogin); add `!important` (SiteCommon) (#241)
  src/AjaxLogin/modules/core.ts
  src/SiteCommon/modules/groupShow.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): revert commit fc527abd
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): revert commit fc527abd (#242)
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): revert commit 78631fa9
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): revert commit 78631fa9 (#243)
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): add hasWindow judgement
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): add hasWindow judgement (#244)
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): replace with closeWindow
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): add `await`; temp. disable
  src/AjaxLogin/definition.json
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): can not refresh toasts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): can not refresh toasts (#247)
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): clarify variable scope (#248)
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AjaxLogin/modules/util/oouiPrompt.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): clarify variable scope
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AjaxLogin/modules/util/oouiPrompt.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ConfirmLogout): follow 31c068b
  src/ConfirmLogout/definition.json
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/i18n.ts
  src/ConfirmLogout/modules/logout.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ConfirmLogout): follow 31c068b (#249)
  src/ConfirmLogout/definition.json
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/i18n.ts
  src/ConfirmLogout/modules/logout.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): cannot set window manager, window already has a manager
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/element.ts
  src/AjaxLogin/modules/generateElements.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): cannot set window manager, window already has a manager (#250)
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/element.ts
  src/AjaxLogin/modules/generateElements.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
