Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(ResponsiveContent, Mainpage, SkinCitizen): fix page styles for default thumbs
  dist/Mainpage/Mainpage.css
  dist/ResponsiveContent/ResponsiveContent.css
  dist/SkinCitizen/SkinCitizen.css
  src/Mainpage/Mainpage.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent, Mainpage, SkinCitizen): fix page styles for default thumbs (#1563)
  dist/Mainpage/Mainpage.css
  dist/ResponsiveContent/ResponsiveContent.css
  dist/SkinCitizen/SkinCitizen.css
  src/Mainpage/Mainpage.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(ResponsiveContent): optimize code logic; enable on loginwiki
  dist/ResponsiveContent/ResponsiveContent.css
  dist/definition.txt
  src/ResponsiveContent/ResponsiveContent.less
  src/ResponsiveContent/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(ResponsiveContent): optimize code logic; enable on loginwiki (#1564)
  dist/ResponsiveContent/ResponsiveContent.css
  dist/definition.txt
  src/ResponsiveContent/ResponsiveContent.less
  src/ResponsiveContent/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: add actions=view to FoldRef and GadgetsDefinition
  dist/definition.txt
  src/FoldRef/definition.json
  src/GadgetsDefinition/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: add actions=view to FoldRef and GadgetsDefinition (#1565)
  dist/definition.txt
  src/FoldRef/definition.json
  src/GadgetsDefinition/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

build: add styles for .skin-theme-clientpref-night
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/GadgetsDefinition/GadgetsDefinition.css
  dist/Mainpage/Mainpage.css
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/Toastify/Toastify.css
  src/AddSectionPlus/AddSectionPlus.less
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Mainpage/Mainpage.less
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/SiteCommon/modules/historyLog.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/Toastify/custom.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: add styles for .skin-theme-clientpref-night (#1566)
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/GadgetsDefinition/GadgetsDefinition.css
  dist/Mainpage/Mainpage.css
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/Toastify/Toastify.css
  src/AddSectionPlus/AddSectionPlus.less
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Mainpage/Mainpage.less
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/SiteCommon/modules/historyLog.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/Toastify/custom.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: add styles for .skin-theme-clientpref-night
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/GadgetsDefinition/GadgetsDefinition.css
  dist/Mainpage/Mainpage.css
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/Toastify/Toastify.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Mainpage/Mainpage.less
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/SiteCommon/modules/historyLog.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/Toastify/custom.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: add styles for .skin-theme-clientpref-night (#1567)
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/GadgetsDefinition/GadgetsDefinition.css
  dist/Mainpage/Mainpage.css
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/Toastify/Toastify.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Mainpage/Mainpage.less
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/SiteCommon/modules/historyLog.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/Toastify/custom.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dist; update settings
  dist/definition.txt
  src/RightTopicons/definition.json
  src/ShortURL/definition.json
  src/Tippy/definition.json
  src/Toastify/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dist; update settings (#1568)
  dist/definition.txt
  src/RightTopicons/definition.json
  src/ShortURL/definition.json
  src/Tippy/definition.json
  src/Toastify/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update gadget description format
  src/AdvancedSiteNotices/definition.json
  src/ShortURL/definition.json
  src/Tippy/definition.json
  src/Toastify/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update gadget description format (#1569)
  src/AdvancedSiteNotices/definition.json
  src/ShortURL/definition.json
  src/Tippy/definition.json
  src/Toastify/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(SkinCitizen): font family variables
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): font family variables (#1570)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Twinkle/twinkleimage): remove createElement
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleimage.js
Due: prettier --write, eslint --fix

fix(Twinkle/twinkleimage): remove createElement (#1571)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleimage.js
Due: prettier --write, eslint --fix

fix(SiteCommmonJS): avoid double inclusion
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --write, eslint --fix

fix(SiteCommmonJS): avoid double inclusion (#1572)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --write, eslint --fix

fix(SkinCitizen): rules on .localNotice
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): rules on .localNotice (#1573)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent): add .stack-right
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent): add .stack-right (#1576)
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): .mw-body-content figure
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): .mw-body-content figure (#1577)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Editform_AiAssisted): move changeTag to options.json
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(Editform_AiAssisted): move changeTag to options.json (#1578)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): add src\Editform_AiAssisted
  dist/definition.txt
  src/Editform_Attribution/Editform_Attribution.ts
  src/Editform_Attribution/LICENSE
  src/Editform_Attribution/definition.json
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(Editform_AiAssisted): move targetWikiEditor to options.json
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(PreviewWithVariant): optimize source format
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

chore(PreviewWithVariant): optimize source format (#1579)
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

chore(Editform_AiAssisted): move targetWikiEditor to options.json (#1580)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: optimize logic for hooking VE
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_Patch2017/Editform_Patch2017.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix

chore: optimize logic for hooking VE (#1582)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_Patch2017/Editform_Patch2017.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix

chore: add passive: true to ontouchstart
  dist/ConfirmLogout/ConfirmLogout.js
  dist/WordCount/WordCount.js
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/WordCount/modules/addListener.ts
Due: prettier --write, eslint --fix

chore: add passive: true to ontouchstart
  dist/WordCount/WordCount.js
  src/WordCount/modules/addListener.ts
Due: prettier --write, eslint --fix

chore: add passive: true to ontouchstart (#1583)
  dist/ConfirmLogout/ConfirmLogout.js
  dist/WordCount/WordCount.js
  src/ConfirmLogout/modules/util/refreshEventListener.ts
  src/WordCount/modules/addListener.ts
Due: prettier --write, eslint --fix

chore(ResponsiveContent): fix styles for {{navbox}}, {{mbox}} and {{tmbox}}
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix
