Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(SiteCommon_Templates/infobox): add min-width: fit-content to images (#1812)
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon_Templates/infobox): add width: auto to images
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon_Templates/infobox): add width: auto to images (#1813)
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(SiteCommon): remove dependencies
  dist/definition.txt
  src/SiteCommon/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(SiteCommon): remove dependenciesgit (#1814)
  dist/definition.txt
  src/SiteCommon/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(CAL): preload variants before CAL is loaded
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(CAL): preload variants before CAL is loaded (#1815)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(MarkRights): add query cache
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

fix(MarkRights): add query cache (#1816)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

fix(CAL): add missing parameters to loadVariants()
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(CAL): add missing parameters to loadVariants() (#1817)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(CAL): add data type check
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(CAL): add data type check
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(CAL): add data type check (#1818)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_Templates/infobox): add contain: content !important to images
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon_Templates/infobox): add contain: content !important to images (#1821)
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: rename InPageEdit into InPageEdit-v2
  dist/InPageEdit-v2/InPageEdit-v2.css
  dist/InPageEdit-v2/InPageEdit-v2.js
  dist/definition.txt
  src/InPageEdit-v2/InPageEdit-v2.less
  src/InPageEdit-v2/InPageEdit-v2.ts
  src/InPageEdit-v2/LICENSE
  src/InPageEdit-v2/definition.json
  src/InPageEdit/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

build: update @bhsd/codemirror-mediawiki to 3.6.5; update monaco-editor to 0.55.1
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat: add InPageEdit next
  dist/InPageEdit-v2/InPageEdit-v2.css
  dist/InPageEdit-v2/InPageEdit-v2.js
  dist/InPageEdit/InPageEdit.js
  dist/definition.txt
  src/InPageEdit/InPageEdit.ts
  src/InPageEdit/LICENSE
  src/InPageEdit/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add InPageEdit next (#1822)
  dist/InPageEdit-v2/InPageEdit-v2.css
  dist/InPageEdit-v2/InPageEdit-v2.js
  dist/InPageEdit/InPageEdit.js
  dist/definition.txt
  src/InPageEdit/InPageEdit.ts
  src/InPageEdit/LICENSE
  src/InPageEdit/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(ToolsRedirect): avoid multiple category redirect templates
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix(ToolsRedirect): avoid multiple category redirect templates (#1823)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix(SiteCommon_Templates/infobox): replace contain: content into contain: strict
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: optimize logic (#1824)
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: optimize logic
  dist/CookieWarning/CookieWarning.js
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/InPageEdit/InPageEdit.js
  dist/definition.txt
  src/CookieWarning/CookieWarning.ts
  src/HistoryDisclaimer/HistoryDisclaimer.ts
  src/HistoryDisclaimer/definition.json
  src/InPageEdit/InPageEdit.ts
  src/InPageEdit/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: optimize logic (#1825)
  dist/CookieWarning/CookieWarning.js
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/InPageEdit/InPageEdit.js
  dist/definition.txt
  src/CookieWarning/CookieWarning.ts
  src/HistoryDisclaimer/HistoryDisclaimer.ts
  src/HistoryDisclaimer/definition.json
  src/InPageEdit/InPageEdit.ts
  src/InPageEdit/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add TranslatedPage.js
  dist/TranslatedPage/TranslatedPage.js
  dist/definition.txt
  src/TranslatedPage/LICENSE
  src/TranslatedPage/TranslatedPage.ts
  src/TranslatedPage/definition.json
  src/TranslatedPage/modules/addTranslatedPageTemplate.ts
  src/TranslatedPage/modules/api.ts
  src/TranslatedPage/modules/util.ts
  src/TranslatedPage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add TranslatedPage.js (#1826)
  dist/TranslatedPage/TranslatedPage.js
  dist/definition.txt
  src/TranslatedPage/LICENSE
  src/TranslatedPage/TranslatedPage.ts
  src/TranslatedPage/definition.json
  src/TranslatedPage/modules/addTranslatedPageTemplate.ts
  src/TranslatedPage/modules/api.ts
  src/TranslatedPage/modules/util.ts
  src/TranslatedPage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(deps): update packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat(IDBPlus): remove IDBPlus
  dist/IDBPlus/IDBPlus.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/IDBPlus/IDBPlus.ts
  src/IDBPlus/LICENSE
  src/IDBPlus/definition.json
  src/IDBPlus/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(IDBPlus): remove IDBPlus (#1827)
  dist/IDBPlus/IDBPlus.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/IDBPlus/IDBPlus.ts
  src/IDBPlus/LICENSE
  src/IDBPlus/definition.json
  src/IDBPlus/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(Wikiplus-highlight): bump to version 3.3.1
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix

build(Wikiplus-highlight): bump to version 3.3.1 (#1828)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix

fix(Twinkle): update tooltip of CSD O3 on user pages
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

fix(Twinkle): update tooltip of CSD O3 on user pages (#1829)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

fix(Group-user_JS): remove smartEditIntro
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/smartEditIntro.ts
Due: prettier --write, eslint --fix
