Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(Group-user_JS): remove smartEditIntro (#1830)
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/smartEditIntro.ts
Due: prettier --write, eslint --fix

fix(LinkSpacing): improve link spacing logic by refining conditions
  dist/LinkSpacing/LinkSpacing.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/LinkSpacing/LinkSpacing.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(TextSpacing): use native CSS instead of JS on supported modern browsers
  dist/TextSpacing/TextSpacing.css
  dist/TextSpacing/TextSpacing.js
  src/TextSpacing/TextSpacing.less
  src/TextSpacing/TextSpacing.ts
  src/TextSpacing/modules/supportsTextAutospace.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(TextSpacing): use native CSS instead of JS on supported modern browsers (#1834)
  dist/TextSpacing/TextSpacing.css
  dist/TextSpacing/TextSpacing.js
  src/TextSpacing/TextSpacing.less
  src/TextSpacing/TextSpacing.ts
  src/TextSpacing/modules/supportsTextAutospace.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat: add SFE2026
  dist/SFE2026/SFE2026.css
  dist/definition.txt
  src/SFE2026/SFE2026.less
  src/SFE2026/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(AjaxLogin, LoginToEdit): set AjaxLogin
  dist/AjaxLogin/AjaxLogin.js
  dist/LoginToEdit/LoginToEdit.js
  dist/definition.txt
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/definition.json
  src/AjaxLogin/options.json
  src/LoginToEdit/definition.json
  src/LoginToEdit/modules/initDialog.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(AjaxLogin, LoginToEdit): set AjaxLogin to disabled on zhqiuwenbaike (#1835)
  dist/AjaxLogin/AjaxLogin.js
  dist/LoginToEdit/LoginToEdit.js
  dist/definition.txt
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/definition.json
  src/AjaxLogin/options.json
  src/LoginToEdit/definition.json
  src/LoginToEdit/modules/initDialog.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(VariantAlly*): up to date with upstream repo
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/VariantAlly/VariantAlly.ts
  src/VariantAlly/modules/controller.ts
  src/VariantAlly/modules/utils.ts
  src/VariantAllyDialog/App.vue
  src/VariantAllyDialog/styles/mixins.less
  src/VariantAllyDialog/styles/tokens.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(VariantAlly*): up to date with upstream repo (#1836)
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/VariantAlly/VariantAlly.ts
  src/VariantAlly/modules/controller.ts
  src/VariantAlly/modules/utils.ts
  src/VariantAllyDialog/App.vue
  src/VariantAllyDialog/styles/mixins.less
  src/VariantAllyDialog/styles/tokens.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(QueryContributors): add space
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/i18n.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): add space (#1837)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/i18n.ts
Due: prettier --write, eslint --fix

fix(Navigation_popups): fix APIrevisionPreviewHTML
  dist/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

fix(LoadRNRSCredentials): replace domain name
  dist/LoadRNRSCredentials/LoadRNRSCredentials.js
  src/LoadRNRSCredentials/modules/api.ts
Due: prettier --write, eslint --fix

fix(LoadRNRSCredentials, Navigation_popups) (#1838)
  dist/LoadRNRSCredentials/LoadRNRSCredentials.js
  dist/Navigation_popups/Navigation_popups.js
  src/LoadRNRSCredentials/modules/api.ts
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

fix(SFE2026): font-family
  dist/SFE2026/SFE2026.css
  src/SFE2026/SFE2026.less
  src/SFE2026/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SFE2026): font-family (#1839)
  dist/SFE2026/SFE2026.css
  src/SFE2026/SFE2026.less
  src/SFE2026/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SFE2026): remove duplicate rules
  dist/SFE2026/SFE2026.css
  src/SFE2026/LICENSE
  src/SFE2026/SFE2026.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SFE2026): remove duplicate rules (#1844)
  dist/SFE2026/SFE2026.css
  src/SFE2026/LICENSE
  src/SFE2026/SFE2026.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dists
  dist/store.txt
Due: none

fix(SkinCitizen_AddSidebarIcons): 20px -> 16px
  dist/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.css
  src/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen_AddSidebarIcons): 20px -> 16px (#1849)
  dist/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.css
  src/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Twinkle-friendlytag): edit summary
  src/Twinkle/modules/friendlytag.js
Due: prettier --write, eslint --fix

build: update dists
  dist/Twinkle/Twinkle.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Twinkle): remove un-needed styles
  dist/Twinkle/Twinkle.css
  src/Twinkle/style-modules/specific.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Twinkle): remove un-needed styles (#1851)
  dist/Twinkle/Twinkle.css
  src/Twinkle/style-modules/specific.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(HideConversionTab): hide zh, zh-Hans, and zh-Hant variants in citizen-page-languages-dropdown
  src/HideConversionTab/HideConversionTab.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dists
  dist/HideConversionTab/HideConversionTab.css
Due: prettier --write, stylelint --allow-empty-input --fix

build: upgrade dependencies
  dist/NavboxCSS/NavboxCSS.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies (#1852)
  dist/NavboxCSS/NavboxCSS.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(WPHL): up-to-date * see <https://github.com/bhsd-harry/Wikiplus-highlight/commit/86077f3068cb3579c328c23e0610553cff49d302>
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/modules/core.ts
Due: prettier --write, eslint --fix

build(WPHL): up-to-date (#1854)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/modules/core.ts
Due: prettier --write, eslint --fix

build(FloatTOC): disable it on Citizen skin
  dist/definition.txt
  src/FloatTOC/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(FloatTOC): disable it on Citizen skin (#1855)
  dist/definition.txt
  src/FloatTOC/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: partially revert commit 2ad8105789092e2a139d187e313623a7753ef6b1
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(SFE2026): campaign finished
  dist/definition.txt
  src/SFE2026/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle): position for injection in Citizen skin
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(Twinkle): position for injection in Citizen skin (#1857)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(Twinkle): split modules
  dist/Twinkle-pagestyles/Twinkle.css
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/definition.txt
  pnpm-lock.yaml
  src/Twinkle-pagestyles/LICENSE
  src/Twinkle-pagestyles/Twinkle.less
  src/Twinkle-pagestyles/definition.json
  src/Twinkle-pagestyles/modules/general.less
  src/Twinkle-pagestyles/modules/specific.less
  src/Twinkle/Twinkle.js
  src/Twinkle/Twinkle.less
  src/Twinkle/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle-pagestyles): typo in LICENSE
  dist/Twinkle-pagestyles/Twinkle.css
  src/Twinkle-pagestyles/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Twinkle): split modules (#1860)
  dist/Twinkle-pagestyles/Twinkle.css
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/definition.txt
  pnpm-lock.yaml
  src/Twinkle-pagestyles/LICENSE
  src/Twinkle-pagestyles/Twinkle.less
  src/Twinkle-pagestyles/definition.json
  src/Twinkle-pagestyles/modules/general.less
  src/Twinkle-pagestyles/modules/specific.less
  src/Twinkle/Twinkle.js
  src/Twinkle/Twinkle.less
  src/Twinkle/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
