Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

chore: convert mw.Api#post to mw.Api#get (#1428)
  dist/EditConflict/EditConflict.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QueryContributors/QueryContributors.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/TranslateVariants/TranslateVariants.js
  dist/UserRightsManager/UserRightsManager.js
  src/EditConflict/modules/util/queryPageInfo.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QueryContributors/modules/getContributors.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
  src/RRD/modules/submit.ts
  src/SpecialWikitext/modules/mw/mwAddText.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
  src/ToolsRedirect/modules/core.js
  src/TranslateVariants/modules/translateVariants.tsx
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

fix(QIAM): ask MediaWiki to give links, not parsing by ourselves
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): ask MediaWiki to give links, not parsing by ourselves (#1429)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): missed judgement
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): missed judgement (#1430)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

chore(CAL): follow #1428
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

chore(CAL): follow #1428 (#1431)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(QIAM): missing Array#push
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): add uniqueArray wrap
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): missing Array#push; add uniqueArray wrap (#1432)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix: for batch queires, 50 per batch → 25 per batch
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix: for batch queires, 50 per batch → 25 per batch (#1433)
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(ShortURL): hide short URLs for non-logged in users; add full URL and permanent URL
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/definition.json
  src/ShortURL/modules/addLink.tsx
  src/ShortURL/modules/buildLink.ts
  src/ShortURL/modules/i18n.ts
  src/ShortURL/modules/processId.ts
  src/ShortURL/modules/util/getShortDomains.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(ShortURL): hide short URLs for non-logged in users; add full URL and permanent URL (#1434)
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/definition.json
  src/ShortURL/modules/addLink.tsx
  src/ShortURL/modules/buildLink.ts
  src/ShortURL/modules/i18n.ts
  src/ShortURL/modules/processId.ts
  src/ShortURL/modules/util/getShortDomains.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(NavboxCSS): missing fallback rules
  dist/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(NavboxCSS): missing fallback rules (#1435)
  dist/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat(add): add EasyArchive-New
  dist/EasyArchive-New/EasyArchive-New.js
  dist/definition.txt
  dist/store.txt
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/definition.json
  src/EasyArchive-New/modules/api.ts
  src/EasyArchive-New/modules/archive.ts
  src/EasyArchive-New/modules/archiveSection.ts
  src/EasyArchive-New/modules/checkIfPageExist.ts
  src/EasyArchive-New/modules/checkIfSectionExist.ts
  src/EasyArchive-New/modules/deleteSection.ts
  src/EasyArchive-New/modules/getSectionContent.ts
  src/EasyArchive-New/modules/parse.ts
  src/EasyArchive-New/modules/react.tsx
  src/EasyArchive-New/modules/remove.ts
  src/EasyArchive-New/modules/settings.ts
  src/EasyArchive-New/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): add EasyArchive-New (#1436)
  dist/EasyArchive-New/EasyArchive-New.js
  dist/definition.txt
  dist/store.txt
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/definition.json
  src/EasyArchive-New/modules/api.ts
  src/EasyArchive-New/modules/archive.ts
  src/EasyArchive-New/modules/archiveSection.ts
  src/EasyArchive-New/modules/checkIfPageExist.ts
  src/EasyArchive-New/modules/checkIfSectionExist.ts
  src/EasyArchive-New/modules/deleteSection.ts
  src/EasyArchive-New/modules/getSectionContent.ts
  src/EasyArchive-New/modules/parse.ts
  src/EasyArchive-New/modules/react.tsx
  src/EasyArchive-New/modules/remove.ts
  src/EasyArchive-New/modules/settings.ts
  src/EasyArchive-New/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: add loginwiki
  dist/EditForm_JS/EditForm_JS.js
  dist/definition.txt
  dist/store.txt
Due: prettier --write, eslint --fix

fix(EasyArchive-New): add a wrap of sectionIdSpanElement
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, eslint --fix

fix(EasyArchive-New): add a wrap of sectionIdSpanElement (#1438)
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, eslint --fix

fix(EasyArchive-New): add LESS styles
  dist/EasyArchive-New/EasyArchive-New.css
  dist/EasyArchive-New/EasyArchive-New.js
  dist/definition.txt
  src/EasyArchive-New/EasyArchive-New.less
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(EasyArchive-New): add LESS styles (#1439)
  dist/EasyArchive-New/EasyArchive-New.css
  dist/EasyArchive-New/EasyArchive-New.js
  dist/definition.txt
  src/EasyArchive-New/EasyArchive-New.less
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update dist
  dist/store.txt
Due: none

fix(QIAM): deal with file names with plus mark
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): deal with file names with plus markgit (#1440)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/store.txt
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(EasyArchive-New): pages[0].missing does not always exist
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/checkIfPageExist.ts
Due: prettier --write, eslint --fix

fix(EasyArchive-New): pages[0].missing does not always exist (#1441)
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/checkIfPageExist.ts
Due: prettier --write, eslint --fix

fix(Morebits): wrong page name
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

fix(Morebits): wrong page name (#1442)
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

chore: replace Qiuwen:首页 with wgIsMainPage variable
  dist/EasyArchive/EasyArchive.js
  dist/PagePatroller/PagePatroller.js
  src/EasyArchive/EasyArchive.js
  src/PagePatroller/PagePatroller.ts
Due: prettier --write, eslint --fix

chore: replace Qiuwen:首页 with wgIsMainPage variable (#1443)
  dist/EasyArchive/EasyArchive.js
  dist/PagePatroller/PagePatroller.js
  src/EasyArchive/EasyArchive.js
  src/PagePatroller/PagePatroller.ts
Due: prettier --write, eslint --fix

chore(EasyArchive-New): split into multiple modules
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/isInBlackList.ts
  src/EasyArchive-New/modules/settings.ts
Due: prettier --write, eslint --fix

chore(EasyArchive-New): split into multiple modules (#1444)
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/isInBlackList.ts
  src/EasyArchive-New/modules/settings.ts
Due: prettier --write, eslint --fix

fix(Twinkle): remove dubious reasons from twinkleimage
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleimage.js
Due: prettier --write, eslint --fix

fix(Twinkle): remove dubious reasons from twinkleimage (#1445)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleimage.js
Due: prettier --write, eslint --fix

build(ResponsiveContent): update desc
  src/ResponsiveContent/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
