Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(DiffLink, ShortURL): optimize styles, add copy icon (#1958)
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  src/DiffLink/App.vue
  src/DiffLink/LICENSE
  src/DiffLink/modules/copyText.ts
  src/ShortURL-pagestyles/LICENSE
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL-pagestyles/definition.json
  src/ShortURL-pagestyles/images/link.svg
  src/ShortURL/App.vue
  src/ShortURL/LICENSE
  src/ShortURL/modules/addHeaderLink.ts
  src/ShortURL/modules/copyText.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(Mainpage, RRD, URM): adjust flex-basis & min-width
  dist/Mainpage/Mainpage.css
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  src/Mainpage/Mainpage.less
  src/RRD/App.vue
  src/UserRightsManager/App.vue
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Mainpage, RRD, URM): adjust flex-basis & min-width (#1959)
  dist/Mainpage/Mainpage.css
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  src/Mainpage/Mainpage.less
  src/RRD/App.vue
  src/UserRightsManager/App.vue
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(CookieWarning): rewrite in Codex and Vue, remove ToS warning
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/definition.txt
  src/CookieWarning/App.vue
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/ConsentNotice.tsx
  src/CookieWarning/components/CookieWarning.module.less
  src/CookieWarning/components/RootElement.tsx
  src/CookieWarning/definition.json
  src/CookieWarning/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(CookieWarning): optimize styles
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/App.vue
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(CookieWarning): rewrite in Codex and Vue, remove ToS warning (#1960)
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/definition.txt
  src/CookieWarning/App.vue
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/components/AgreeButton.tsx
  src/CookieWarning/components/ConsentNotice.tsx
  src/CookieWarning/components/CookieWarning.module.less
  src/CookieWarning/components/RootElement.tsx
  src/CookieWarning/definition.json
  src/CookieWarning/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage): adjust min-width
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): adjust min-width (#1961)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(HotCat, TabbedWindow): rewrite in Codex and Vue
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  src/EditForm_JS/definition.json
  src/HotCat/definition.json
  src/HotCat/modules/check.less
  src/HotCat/modules/check.module.less
  src/HotCat/modules/check.ts
  src/TabbedWindow/App.vue
  src/TabbedWindow/TabbedWindow.ts
  src/TabbedWindow/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(HotCat, TabbedWindow): rewrite in Codex and Vue (#1962)
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  src/EditForm_JS/definition.json
  src/HotCat/definition.json
  src/HotCat/modules/check.less
  src/HotCat/modules/check.module.less
  src/HotCat/modules/check.ts
  src/TabbedWindow/App.vue
  src/TabbedWindow/TabbedWindow.ts
  src/TabbedWindow/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies; add @ts-expect-error
  dist/AjaxLogin/AjaxLogin.js
  dist/Cat-a-lot/Cat-a-lot.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Attribution/Editform_Attribution.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PrintOptions/PrintOptions.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/Twinkle/Twinkle.css
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  scripts/modules/build-esbuild_options.ts
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/initWindowManager.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
  src/AjaxLogin/modules/util/oouiPrompt.tsx
  src/Cat-a-lot/modules/core.tsx
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/Editform_AiAssisted/modules/generateChangeTags.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/NoteTA/NoteTA.ts
  src/NoteTA/modules/initWindowManager.ts
  src/NoteTA/modules/viewer.tsx
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PrintOptions/PrintOptions.ts
  src/SiteCommon_JS/modules/core.tsx
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/Wikiplus-highlight/src/core.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies; add @ts-expect-error (#1963)
  dist/AjaxLogin/AjaxLogin.js
  dist/Cat-a-lot/Cat-a-lot.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Attribution/Editform_Attribution.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PrintOptions/PrintOptions.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/Twinkle/Twinkle.css
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  scripts/modules/build-esbuild_options.ts
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/initWindowManager.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
  src/AjaxLogin/modules/util/oouiPrompt.tsx
  src/Cat-a-lot/modules/core.tsx
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/Editform_AiAssisted/modules/generateChangeTags.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/NoteTA/NoteTA.ts
  src/NoteTA/modules/initWindowManager.ts
  src/NoteTA/modules/viewer.tsx
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PrintOptions/PrintOptions.ts
  src/SiteCommon_JS/modules/core.tsx
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/Wikiplus-highlight/src/core.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(CAL): remove JQuery.UI
  dist/Cat-a-lot/Cat-a-lot.css
  src/Cat-a-lot/Cat-a-lot.less
  src/Cat-a-lot/images/check-constructive.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

refactor(CAL): remove JQuery.UI
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/Cat-a-lot/Cat-a-lot.js
  dist/definition.txt
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/definition.json
  src/Cat-a-lot-pagestyles/images/check-constructive.svg
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/LICENSE
  src/Cat-a-lot/definition.json
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(CAL): remove JQuery.UI (#1964)
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/Cat-a-lot/Cat-a-lot.css
  dist/Cat-a-lot/Cat-a-lot.js
  dist/definition.txt
  src/Cat-a-lot-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/definition.json
  src/Cat-a-lot/Cat-a-lot.less
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/LICENSE
  src/Cat-a-lot/definition.json
  src/Cat-a-lot/images/check-constructive.svg
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(Mainpage): optimize styles
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): optimize styles (#1965)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(CAL): inset of search input suggestions
  dist/Cat-a-lot/Cat-a-lot.css
  src/Cat-a-lot/Cat-a-lot.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(CAL): inset of search input suggestions (#1966)
  dist/Cat-a-lot/Cat-a-lot.css
  package.json
  pnpm-lock.yaml
  src/Cat-a-lot/Cat-a-lot.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dists
  dist/store.txt
Due: none

fix(HotCat): abort textchange() if compositionstart triggered
  dist/HotCat/HotCat.js
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix

fix(HotCat): abort textchange() if compositionstart triggered (#1967)
  dist/HotCat/HotCat.js
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix

fix(Mainpage): add gap; adjust flex-basis and min-width
  dist/Mainpage/Mainpage.css
  package.json
  pnpm-lock.yaml
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage): add gap; adjust flex-basis and min-width (#1968)
  dist/Mainpage/Mainpage.css
  package.json
  pnpm-lock.yaml
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage): typo; update margin & font-size
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dists
  dist/Mainpage/Mainpage.css
Due: prettier --write, stylelint --allow-empty-input --fix

build: upgrade dependencies
  pnpm-lock.yaml
Due: none

fix(Mainpage): typo; update margin & font-size (#1969)
  dist/Mainpage/Mainpage.css
  pnpm-lock.yaml
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): media query
  dist/Mainpage/Mainpage.css
  package.json
  pnpm-lock.yaml
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage): media query (#1970)
  dist/Mainpage/Mainpage.css
  package.json
  pnpm-lock.yaml
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Wikiplus): rewrite in TypeScript (stage 0)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/modules/core/notification.ts
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.js
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/utils/constants.ts
  src/Wikiplus/modules/utils/helpers.js
  src/Wikiplus/modules/utils/helpers.ts
  src/Wikiplus/modules/utils/i18n.ts
  src/Wikiplus/modules/utils/log.ts
  src/Wikiplus/modules/utils/requests.ts
  src/Wikiplus/modules/utils/settings.ts
  src/Wikiplus/modules/utils/sleep.js
  src/Wikiplus/modules/utils/sleep.ts
  src/Wikiplus/resize.ts
Due: prettier --write, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 0) (#1971)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/modules/core/notification.ts
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.js
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/utils/constants.ts
  src/Wikiplus/modules/utils/helpers.js
  src/Wikiplus/modules/utils/helpers.ts
  src/Wikiplus/modules/utils/i18n.ts
  src/Wikiplus/modules/utils/log.ts
  src/Wikiplus/modules/utils/requests.ts
  src/Wikiplus/modules/utils/settings.ts
  src/Wikiplus/modules/utils/sleep.js
  src/Wikiplus/modules/utils/sleep.ts
  src/Wikiplus/resize.ts
Due: prettier --write, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 1)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/services/wiki.ts
Due: prettier --write, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 1) (#1972)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/services/wiki.ts
Due: prettier --write, eslint --fix

fix(Twinkle): 令G5速删必须填写理由；R1/R2选其他也能提交
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/FloatTOC/FloatTOC.js
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/VerifyToEdit/VerifyToEdit.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Twinkle): 更正保护等级；修复保护请求插入位置
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/FloatTOC/FloatTOC.js
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/VerifyToEdit/VerifyToEdit.js
  src/Twinkle/modules/twinkleprotect.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 2)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/notification.ts
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/global.d.ts
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/utils/i18n.ts
  src/Wikiplus/modules/utils/settings.ts
Due: prettier --write, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 2) (#1975)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/notification.ts
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/global.d.ts
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/utils/i18n.ts
  src/Wikiplus/modules/utils/settings.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
