Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(Mainpage): hide header when scrolling down; gap of grid (#1340)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): fix auto scroll-up
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): fix auto scroll-up
  dist/Mainpage/Mainpage.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): fix auto scroll-up (#1341)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Util): add uniqueArray; remove userHasRight
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/uniqueArray.ts
  src/Util/modules/userHasRight.ts
Due: prettier --write, eslint --fix

fix(Util): add uniqueArray; remove userHasRight (#1342)
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/uniqueArray.ts
  src/Util/modules/userHasRight.ts
Due: prettier --write, eslint --fix

fix: replace new Set() with uniqueArray()
  dist/Cat-a-lot/Cat-a-lot.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RRD/RRD.js
  dist/TextSpacing/TextSpacing.js
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/TranslateVariants/TranslateVariants.js
  dist/WhoIsActive/WhoIsActive.js
  dist/definition.txt
  dist/i18n/i18n.js
  src/Cat-a-lot/modules/core.tsx
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
  src/RRD/modules/submit.ts
  src/TextSpacing/definition.json
  src/TextSpacing/modules/util.ts
  src/ToolsRedirect-bio-latin-names/modules/bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/modules/core.js
  src/TranslateVariants/modules/translateVariants.tsx
  src/WhoIsActive/modules/core.ts
  src/i18n/modules/initI18nMethods.ts
  src/i18n/modules/util/generateDefaultFallbackList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: follow commit 37045b07
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/Cat-a-lot/Cat-a-lot.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Switcher/Switcher.js
  dist/TextSpacing/TextSpacing.js
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Util/Util.js
  dist/WhoIsActive/WhoIsActive.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/i18n/i18n.js
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/Cat-a-lot/modules/core.tsx
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
  src/RRD/modules/submit.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
  src/Switcher/Switcher.ts
  src/TextSpacing/modules/util.ts
  src/ToolsRedirect-bio-latin-names/modules/bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/modules/core.js
  src/Util/modules/uniqueArray.ts
  src/WhoIsActive/modules/core.ts
  src/Wikiplus-highlight/modules/highlight.ts
  src/i18n/modules/initI18nMethods.ts
  src/i18n/modules/util/generateDefaultFallbackList.ts
Due: prettier --write, eslint --fix

fix: follow commit 37045b07
  dist/Cat-a-lot/Cat-a-lot.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RRD/RRD.js
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/i18n/i18n.js
  src/Cat-a-lot/modules/core.tsx
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
  src/RRD/modules/submit.ts
  src/ToolsRedirect-bio-latin-names/modules/bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/modules/core.js
  src/i18n/modules/util/generateDefaultFallbackList.ts
Due: prettier --write, eslint --fix

fix(Util): replace [].push() to avoid polyfilling core-js
  dist/Util/Util.js
  src/Util/modules/uniqueArray.ts
Due: prettier --write, eslint --fix

fix(Util): replace [].push() to avoid polyfilling core-js (#1344)
  dist/Util/Util.js
  src/Util/modules/uniqueArray.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect*): use import/require instead of using window object
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect-bio-latin-names/modules/bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix(ToolsRedirect*): use import/require instead of using window object (#1345)
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect-bio-latin-names/modules/bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

build: bump svgo to 3.3.0; minify SVG
  package.json
  pnpm-lock.yaml
  src/GeoLocationReader-pagestyles/images/globe.svg
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/HistoryDisclaimer/images/background-zh-hans.svg
  src/HistoryDisclaimer/images/background-zh-hant.svg
  src/Report-pagestyles/images/report-button.svg
  src/ShortURL-pagestyles/images/link.svg
Due: tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build: bump svgo to 3.3.0; minify SVG (#1346)
  package.json
  pnpm-lock.yaml
  src/GeoLocationReader-pagestyles/images/globe.svg
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/HistoryDisclaimer/images/background-zh-hans.svg
  src/HistoryDisclaimer/images/background-zh-hant.svg
  src/Report-pagestyles/images/report-button.svg
  src/ShortURL-pagestyles/images/link.svg
Due: tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build: follow #1346
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
Due: prettier --write, stylelint --allow-empty-input --fix

build: follow #1346 (#1347)
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(EditForm): remove auto-trigger on wpDiff
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/introACH.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

fix(EditForm): remove auto-trigger on wpDiff (#1348)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/introACH.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

feat(Util): add {get, set}{WpSummary, WpTextbox1}content
  dist/Util/Util.js
  dist/definition.txt
  src/Util/Util.ts
  src/Util/definition.json
  src/Util/modules/global.d.ts
  src/Util/modules/wpSummaryContent.ts
  src/Util/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(Util): add {get, set}{WpSummary, WpTextbox1}contentgit (#1349)
  dist/Util/Util.js
  dist/definition.txt
  src/Util/Util.ts
  src/Util/definition.json
  src/Util/modules/global.d.ts
  src/Util/modules/wpSummaryContent.ts
  src/Util/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(Wikicache): move {get, set}{WpSummary, WpTextbox1}content from Wikicache to Util
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/content.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(Wikicache): move {get, set}{WpSummary, WpTextbox1}content from Wikicache to Util (#1350)
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/content.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(EditForm): add jquery.textSelection (setWpTextbox1Content); use wikipage.editform hook
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/clearUndoSummary.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

build(EditForm): add jquery.textSelection (setWpTextbox1Content); use wikipage.editform hook (#1351)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/clearUndoSummary.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): guard against double inclusions
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): guard against double inclusions (#1352)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

fix(Wikicache): confirm dialog triggered when using preview and diff
  dist/Wikicache/Wikicache.js
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix

fix(Wikicache): confirm dialog triggered when using preview and diff (#1353)
  dist/Wikicache/Wikicache.js
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix

fix(Wikicache): replace toastify with mw.notify
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Wikicache): replace toastify with mw.notify
  dist/definition.txt
  src/Wikicache/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Wikicache): replace toastify with mw.notify (#1354)
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(ASN): replace toastify with mw.notify
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/definition.txt
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/showNotice.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(ASN): replace toastify with mw.notifygit c
  dist/HotCat/HotCat.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

chore: add void before mw.notify() (#1355)
  dist/HotCat/HotCat.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

chore(ASN): replace toastify with mw.notify (#1356)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/definition.txt
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/showNotice.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(pnpm-lock): update svgo
  pnpm-lock.yaml
Due: none
