Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(Mainpage): login menu styles
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): login menu styles (#1357)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): follow #1357
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): follow #1357 (#1358)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): follow #1357, #1358
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): follow #1357, #1358 (#1359)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(QuickImportAllMedia): filter out non-exist file elements
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImportAllMedia): filter out non-exist file elements (#1360)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): rewrite to add global user groups
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): rewrite to add global user groups (#1361)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): follow #1361
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): follow #1361
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): follow #1361 (#1362)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): follow #1361
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): follow #1361 (#1363)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): follow #1361
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights*): follow #1361 (#1364)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights*): move queryUserGroups, queryGlobalUserGroups to MarkRights
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/definition.txt
  src/GeoLocationReader/modules/addElement.ts
  src/MarkRights-Userpage/definition.json
  src/MarkRights-Userpage/modules/api.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights*): move queryUserGroups, queryGlobalUserGroups to MarkRights (#1365)
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/definition.txt
  src/GeoLocationReader/modules/addElement.ts
  src/MarkRights-Userpage/definition.json
  src/MarkRights-Userpage/modules/api.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade @bhsd/codemirror-mediawiki
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon): drop unnecessary vw, vh units
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(Util): renovate userIsInGroup
  dist/GeoLocation/GeoLocation.js
  dist/Group-user_JS/Group-user_JS.js
  dist/Util/Util.js
  src/EditForm_JS/modules/introACH.ts
  src/GeoLocation/GeoLocation.ts
  src/Group-user_JS/modules/replaceRandom.ts
  src/Util/modules/userIsInGroup.ts
Due: prettier --write, eslint --fix

refactor(Util): renovate userIsInGroupgit (#1366)
  dist/GeoLocation/GeoLocation.js
  dist/Group-user_JS/Group-user_JS.js
  dist/Util/Util.js
  src/EditForm_JS/modules/introACH.ts
  src/GeoLocation/GeoLocation.ts
  src/Group-user_JS/modules/replaceRandom.ts
  src/Util/modules/userIsInGroup.ts
Due: prettier --write, eslint --fix

fix(AdvancedSiteNotices-pagestyles): set will-change hint for animation
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(URM): fix no granting bug
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/showDialog.js
Due: prettier --write, eslint --fix

fix(URM): fix no granting bug (#1368)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/showDialog.js
Due: prettier --write, eslint --fix

fix(AdvancedSiteNotices-pagestyles): set will-change hint for animation (#1367)
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: re-generate dist
  dist/Cat-a-lot/Cat-a-lot.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HotCat/HotCat.js
  dist/Navigation_popups/Navigation_popups.js
  dist/TextSpacing/TextSpacing.js
Due: prettier --write, eslint --fix

feat(QueryContributors): add QueryContributors
  dist/QueryContributors/QueryContributors.js
  dist/definition.txt
  src/MwApiParams.d.ts
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/definition.json
  src/QueryContributors/modules/api.ts
  src/QueryContributors/modules/getContributors.ts
  src/QueryContributors/modules/i18n.ts
  src/QueryContributors/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(QueryContributors): add QueryContributors (#1369)
  dist/QueryContributors/QueryContributors.js
  dist/definition.txt
  src/MwApiParams.d.ts
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/definition.json
  src/QueryContributors/modules/api.ts
  src/QueryContributors/modules/getContributors.ts
  src/QueryContributors/modules/i18n.ts
  src/QueryContributors/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

docs(QueryContributors): add LICENSE
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/LICENSE
Due: prettier --write, eslint --fix

docs(QueryContributors): add LICENSE (#1370)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/LICENSE
Due: prettier --write, eslint --fix

refactor(QueryContributors): add seperator and user page link
  dist/QueryContributors/QueryContributors.js
  dist/definition.txt
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/definition.json
  src/QueryContributors/modules/i18n.ts
  src/QueryContributors/modules/sanitize.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(QueryContributors): add seperator and user page link (#1371)
  dist/QueryContributors/QueryContributors.js
  dist/definition.txt
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/definition.json
  src/QueryContributors/modules/i18n.ts
  src/QueryContributors/modules/sanitize.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(QueryContributors): interwiki links
  dist/QueryContributors/QueryContributors.js
  dist/store.txt
  src/QueryContributors/QueryContributors.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): typo
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/QueryContributors.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): fix(QueryContributors): interwiki links (#1372)
  dist/QueryContributors/QueryContributors.js
  dist/store.txt
  src/QueryContributors/QueryContributors.ts
Due: prettier --write, eslint --fix

refactor(QueryContributors): use TSX
  dist/QueryContributors/QueryContributors.js
  dist/definition.txt
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/definition.json
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(QueryContributors): use TSX (#1373)
  dist/QueryContributors/QueryContributors.js
  dist/definition.txt
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/definition.json
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
