Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build: upgrade dependencies & rebuild dists
  dist/VariantAllyDialog/VariantAllyDialog.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade pnpm-lock
  pnpm-lock.yaml
Due: none

build: update dists
  dist/store.txt
  src/codemirror-mediawiki/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update packages
  pnpm-lock.yaml
Due: none

fix(Twinkle): replace localStorage with mw.storage; remove en dash
  dist/Twinkle/Twinkle.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/Twinkle/definition.json
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle): replace localStorage with mw.storage; remove en dash (#1895)
  dist/Twinkle/Twinkle.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/Twinkle/definition.json
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add TemplateTabs
  dist/TemplateTabs/TemplateTabs.js
  dist/definition.txt
  src/TemplateTabs/LICENSE
  src/TemplateTabs/TemplateTabs.ts
  src/TemplateTabs/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add TemplateTabs (#1896)
  dist/TemplateTabs/TemplateTabs.js
  dist/definition.txt
  src/TemplateTabs/LICENSE
  src/TemplateTabs/TemplateTabs.ts
  src/TemplateTabs/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(WPHL): add import
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/core.ts
Due: prettier --write, eslint --fix

fix(package): select2
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(WPHL): add import (#1897)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/src/core.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: remove unused packages
  dist/TemplateTabs/TemplateTabs.js
  dist/definition.txt
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/TemplateTabs/TemplateTabs.ts
  src/TemplateTabs/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(PurgePageCache, select2, VariantAllyDialog): bugfix * revert changes on select2 * disable mediawiki/no-storage for PurgePageCache * declare type in VariantAllyDialog * upgrade packages
  dist/PurgePageCache/PurgePageCache.js
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/select2/select2.js
  package.json
  pnpm-lock.yaml
  src/PurgePageCache/modules/purge.ts
  src/VariantAllyDialog/composables/useDefault.ts
  src/select2/select2.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(PurgePageCache, select2, VariantAllyDialog): bugfix (#1901)
  dist/PurgePageCache/PurgePageCache.js
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/select2/select2.js
  package.json
  pnpm-lock.yaml
  src/PurgePageCache/modules/purge.ts
  src/VariantAllyDialog/composables/useDefault.ts
  src/select2/select2.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

fix(WPHL): replace with self-hosted mw.min.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix

fix(WPHL): replace with self-hosted mw.min.js (#1903)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix

fix(WPHL): replace domain name
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix

fix(WPHL): replace domain name (#1904)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix

build: upgrade dependencies
  dist/ChineseDays/ChineseDays.js
  package.json
  pnpm-lock.yaml
  src/VariantAllyDialog/.eslintrc
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies (#1905)
  dist/ChineseDays/ChineseDays.js
  package.json
  pnpm-lock.yaml
  src/VariantAllyDialog/.eslintrc
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  dist/NoteTA/NoteTA.js
  dist/PrintOptions/PrintOptions.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/modules/plugins/babel-plugin-import-polyfills.ts
  src/NoteTA/modules/viewer.tsx
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies (#1906)
  dist/NoteTA/NoteTA.js
  dist/PrintOptions/PrintOptions.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/modules/plugins/babel-plugin-import-polyfills.ts
  src/NoteTA/modules/viewer.tsx
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies (#1907)
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  .eslintrc
  package.json
  patches/eslint-config-wikimedia.patch
  patches/eslint-plugin-no-jquery.patch
  pnpm-lock.yaml
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
