Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(mainpage): styles for thumbs
  dist/Mainpage/Mainpage.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(mainpage): styles for thumbs (#952)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(EnhancedSpecialSearch): to TSX
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/definition.txt
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/EnhancedSpecialSearch/definition.json
  src/EnhancedSpecialSearch/modules/processElement.tsx
  src/EnhancedSpecialSearch/modules/util/generateSelectElement.ts
  src/EnhancedSpecialSearch/modules/util/openPage.ts
  src/EnhancedSpecialSearch/modules/util/openPage.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EnhancedSpecialSearch): to TSX (#953)
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/definition.txt
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/EnhancedSpecialSearch/definition.json
  src/EnhancedSpecialSearch/modules/processElement.tsx
  src/EnhancedSpecialSearch/modules/util/generateSelectElement.ts
  src/EnhancedSpecialSearch/modules/util/openPage.ts
  src/EnhancedSpecialSearch/modules/util/openPage.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(SkinCitizen): update styles
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(SkinCitizen): update styles (#954)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: import type definitions
  dist/Tippy/Tippy.js
  src/Clipboard/modules/global.d.ts
  src/FilterAlteredClicks/modules/global.d.ts
  src/Tippy/Tippy.ts
  src/Tippy/modules/global.d.ts
Due: prettier --write, eslint --fix

refactor: import type definitions (#955)
  dist/Tippy/Tippy.js
  src/Clipboard/modules/global.d.ts
  src/FilterAlteredClicks/modules/global.d.ts
  src/Tippy/Tippy.ts
  src/Tippy/modules/global.d.ts
Due: prettier --write, eslint --fix

chore: follow ef1cc3a
  dist/Navigation_popups/Navigation_popups.js
  dist/Wikiplus/Wikiplus.js
Due: prettier --write, eslint --fix

fix(mainpage): hide toolbar in vector-2022
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(mainpage): hide toolbar in vector-2022 (#956)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(less): update comments
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/wordBreak.less
  src/i18n/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Tippy): 36728b7
  dist/Tippy/Tippy.js
  src/Clipboard/modules/global.d.ts
  src/FilterAlteredClicks/modules/global.d.ts
  src/Tippy/Tippy.ts
  src/Tippy/modules/global.d.ts
Due: prettier --write, eslint --fix

fix(Tippy): 36728b7
  dist/Tippy/Tippy.js
  src/Tippy/Tippy.ts
  src/Tippy/modules/global.d.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): load require before loading scripts with params of withJS, withModule or use
  .eslintrc
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

chore(NospzGothic): update LICENSE
  dist/NospzGothic/NospzGothic.css
  src/NospzGothic/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon_JS): load require before loading scripts with params `withJS`, `withModule`, `use` (#959)
  .eslintrc
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

chore(NospzGothic): update LICENSE (#960)
  dist/NospzGothic/NospzGothic.css
  src/NospzGothic/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix

fix: follow #959
  .eslintrc
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix: follow #959 (#961)
  .eslintrc
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix(wikicache): disable wikicache on submit pages without #wpTextbox1 or #wpSummary
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
Due: prettier --write, eslint --fix

fix(wikicache): disable on edit page without #wpTextbox1 or #wpSummary (#962)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
Due: prettier --write, eslint --fix

refatcor(GeoLocationReader, MarkRights-Userpage): move append-icon functions to MarkRights-Userpage
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/GeoLocationReader-pagestyles/LICENSE
  src/GeoLocationReader-pagestyles/images/settings.svg
  src/GeoLocationReader-pagestyles/images/userAvatar.svg
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/i18n.ts
  src/MarkRights-Userpage/modules/core.tsx
  src/MarkRights-Userpage/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

refactor(MarkRights): enable IPBE
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/i18n.ts
Due: prettier --write, eslint --fix

refatcor(GeoLocationReader, MarkRights-Userpage): move append-icon functions to MarkRights-Userpage (#963)
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/GeoLocationReader-pagestyles/LICENSE
  src/GeoLocationReader-pagestyles/images/settings.svg
  src/GeoLocationReader-pagestyles/images/userAvatar.svg
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/i18n.ts
  src/MarkRights-Userpage/modules/core.tsx
  src/MarkRights-Userpage/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

refactor(MarkRights): enable IPBE (#964)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/i18n.ts
Due: prettier --write, eslint --fix

fix: follow #957
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/Util/Util.js
  src/AdvancedSiteNotices-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/LICENSE
  src/ShortURL-pagestyles/LICENSE
  src/Util/modules/generateSvgDataUrl.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix: follow #957 (#965)
  dist/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.css
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/Util/Util.js
  src/AdvancedSiteNotices-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/LICENSE
  src/ShortURL-pagestyles/LICENSE
  src/Util/modules/generateSvgDataUrl.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix: rename variables; minify code
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/GeoLocation/GeoLocation.ts
  src/GeoLocation/modules/constant.ts
  src/GeoLocationReader/GeoLocationReader.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
Due: prettier --write, eslint --fix

fix: rename variables; optimize logic
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/Wikicache/Wikicache.js
  src/GeoLocation/GeoLocation.ts
  src/GeoLocation/modules/constant.ts
  src/GeoLocationReader/GeoLocationReader.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/constant.ts
  src/Wikicache/Wikicache.ts
Due: prettier --write, eslint --fix

fix: rename variables; optimize logic (#967)
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/Wikicache/Wikicache.js
  src/GeoLocation/GeoLocation.ts
  src/GeoLocation/modules/constant.ts
  src/GeoLocationReader/GeoLocationReader.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/constant.ts
  src/Wikicache/Wikicache.ts
Due: prettier --write, eslint --fix

fix: replace wgULS with localize()
  dist/DefaultSummaries/DefaultSummaries.js
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.js
  dist/RollbackSummary/RollbackSummary.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/PrintOptions/PrintOptions.js
  src/PrintOptions/modules/i18n.ts
  src/RRD/modules/core.tsx
  src/RRD/modules/i18n.ts
  src/RRD/modules/messages.ts
  src/RollbackSummary/modules/core.ts
  src/RollbackSummary/modules/i18n.ts
  src/RollbackSummary/modules/messages.ts
  src/SiteCommon_JS/modules/core.tsx
  src/SiteCommon_JS/modules/i18n.ts
Due: prettier --write, eslint --fix

fix: replace wgULS with localize() (#968)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.js
  dist/RollbackSummary/RollbackSummary.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/PrintOptions/PrintOptions.js
  src/PrintOptions/modules/i18n.ts
  src/RRD/modules/core.tsx
  src/RRD/modules/i18n.ts
  src/RRD/modules/messages.ts
  src/RollbackSummary/modules/core.ts
  src/RollbackSummary/modules/i18n.ts
  src/RollbackSummary/modules/messages.ts
  src/SiteCommon_JS/modules/core.tsx
  src/SiteCommon_JS/modules/i18n.ts
Due: prettier --write, eslint --fix
