Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(Mainpage-ChineseNewYear): follow commit 354e940f0aeca7e3c8ab83e4f0bd7d78f412ce91
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-ChineseNewYear): follow commit 354e940f0aeca7e3c8ab83e4f0bd7d78f412ce91
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/definition.txt
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-ChineseNewYear): follow commit 354e940f0aeca7e3c8ab83e4f0bd7d78f412ce91 (#1514)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/definition.txt
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(NospzGothic, SiteCommon): update CSS rules on font-family
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/normalize.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(NospzGothic, SiteCommon): update CSS rules on font-family (#1515)
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/normalize.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Wikiplus): replace fetching index.php with requesting API
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/services/wiki.js
Due: prettier --write, eslint --fix

chore(Wikiplus): replace fetching index.php with requesting API (#1516)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/services/wiki.js
Due: prettier --write, eslint --fix

fix(Mainpage-ChineseNewYear): optimize styles
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-ChineseNewYear): optimize stylesgit
  dist/Mainpage-Mourning/Mainpage-obituary.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/definition.txt
  src/Mainpage-Mourning/LICENSE
  src/Mainpage-Mourning/Mainpage-obituary.less
  src/Mainpage-Mourning/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage-Mourning): rename (#1517)
  dist/Mainpage-Mourning/Mainpage-obituary.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/definition.txt
  src/Mainpage-Mourning/LICENSE
  src/Mainpage-Mourning/Mainpage-obituary.less
  src/Mainpage-Mourning/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage-ChineseNewYear): optimize styles (#1518)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dist
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/Mainpage-Mourning/Mainpage-obituary.css
  dist/definition.txt
  dist/store.txt
  src/Mainpage-Mourning/Mainpage-Mourning.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Wikiplus): fix typo in params
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/services/wiki.js
Due: prettier --write, eslint --fix

fix(Twinkle): typo
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleunlink.js
Due: prettier --write, eslint --fix

fix(Twinkle): typo (#1519)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleunlink.js
Due: prettier --write, eslint --fix

fix(SiteCommon, SkinCitizen): fix clear of #toc, .toc
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/TOC.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon, SkinCitizen): fix clear of #toc, .toc (#1520)
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/TOC.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update TS type label
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/FoldRef/FoldRef.js
  dist/LogFilter/LogFilter.js
  dist/MarkBlocked/MarkBlocked.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  src/CopyCodeBlock/modules/addButton.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
  src/LogFilter/modules/core.tsx
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/StickyTableHeaders/StickyTableHeaders.ts
Due: prettier --write, eslint --fix

build: update TS type label (#1521)
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/FoldRef/FoldRef.js
  dist/LogFilter/LogFilter.js
  dist/MarkBlocked/MarkBlocked.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  src/CopyCodeBlock/modules/addButton.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
  src/LogFilter/modules/core.tsx
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/StickyTableHeaders/StickyTableHeaders.ts
Due: prettier --write, eslint --fix

build(Mainpage_loginwiki): change page name
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  src/Mainpage_loginwiki/Mainpage_loginwiki.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(Mainpage_loginwiki): change page name (#1522)
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  src/Mainpage_loginwiki/Mainpage_loginwiki.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(MemorialDay): temp add page
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/definition.json
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(MemorialDay): temp add page (#1523)
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/definition.json
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

refactor(MemorialDay): optimize logic
  dist/MemorialDay/MemorialDay.css
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/MemorialDay.module.less
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MemorialDay): optimize logic (#1524)
  dist/MemorialDay/MemorialDay.css
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/MemorialDay.module.less
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MemorialDay): add global class name 'memorial'
  src/MemorialDay/modules/MemorialDay.module.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(MemorialDay): add global class name 'memorial'
  dist/MemorialDay/MemorialDay.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(MemorialDay): add global class name 'memorial' (#1525)
  dist/MemorialDay/MemorialDay.css
  src/MemorialDay/modules/MemorialDay.module.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(MemorialDay): add global class name 'memorial'
  dist/store.txt
Due: none

fix(Mainpage*, MemorialDay): styles on vector-2022 skin
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/Mainpage/Mainpage.css
  dist/MemorialDay/MemorialDay.js
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/Mainpage/Mainpage.less
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Mainpage*, MemorialDay): styles on vector-2022 skin (#1526)
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/Mainpage/Mainpage.css
  dist/MemorialDay/MemorialDay.js
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/Mainpage/Mainpage.less
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Mainpage*): styles on mncqiuwenbaike and loginwiki
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  dist/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.css
  src/Mainpage_loginwiki/Mainpage_loginwiki.less
  src/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage*): styles on mncqiuwenbaike and loginwiki (#1527)
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  dist/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.css
  src/Mainpage_loginwiki/Mainpage_loginwiki.less
  src/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage*): update definitions
  dist/definition.txt
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage_loginwiki/definition.json
  src/Mainpage_mncqiuwenbaike/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage*): update definitions (#1528)
  dist/definition.txt
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage_loginwiki/definition.json
  src/Mainpage_mncqiuwenbaike/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(MemorialDay): optimize load logic
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, eslint --fix

fix(MemorialDay): optimize load logic
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, eslint --fix

fix(MemorialDay): optimize load logic (#1529)
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, eslint --fix
