Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

chore(TranslateVariants): format (#1217)
  dist/TranslateVariants/TranslateVariants.css
  dist/TranslateVariants/TranslateVariants.js
  dist/definition.txt
  src/TranslateVariants/TranslateVariants.module.less
  src/TranslateVariants/modules/translateVariants.tsx
  src/TranslateVariants/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(NoteTA*): move inline CSS to stylesheets
  dist/NoteTA-pagestyles/NoteTA-pagestyles.css
  dist/NoteTA/NoteTA.js
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/NoteTA/modules/util/generatePortletLink.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(NoteTA*): move inline CSS to stylesheets (#1218)
  dist/NoteTA-pagestyles/NoteTA-pagestyles.css
  dist/NoteTA/NoteTA.js
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/NoteTA/modules/util/generatePortletLink.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(Edit0): optimize logic
  dist/Edit0/Edit0.js
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix

chore(Edit0): optimize logic (#1219)
  dist/Edit0/Edit0.js
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix

build: update dist/store.txt
  dist/store.txt
Due: none

refactor(AddSectionPlus*): merge LESS module back
  dist/AddSectionPlus/AddSectionPlus.css
  dist/AddSectionPlus/AddSectionPlus.js
  dist/definition.txt
  src/AddSectionPlus-pagestyles/LICENSE
  src/AddSectionPlus-pagestyles/definition.json
  src/AddSectionPlus/AddSectionPlus.less
  src/AddSectionPlus/AddSectionPlus.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(NoteTA*): fix typo
  dist/NoteTA-pagestyles/NoteTA-pagestyles.css
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(NoteTA*): fix typo (#1220)
  dist/NoteTA-pagestyles/NoteTA-pagestyles.css
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(AddSectionPlus*): merge LESS module back (#1221)
  dist/AddSectionPlus/AddSectionPlus.css
  dist/AddSectionPlus/AddSectionPlus.js
  dist/definition.txt
  src/AddSectionPlus-pagestyles/LICENSE
  src/AddSectionPlus-pagestyles/definition.json
  src/AddSectionPlus/AddSectionPlus.less
  src/AddSectionPlus/AddSectionPlus.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(WhoIsActive): fix typo in timeSpan
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, eslint --fix

fix(WhoIsActive): fix typo in timeSpan (#1222)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, eslint --fix

fix(LogFilter): add margin to sub-element of fieldset
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  dist/definition.txt
  src/LogFilter/LogFilter.less
  src/LogFilter/LogFilter.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(LogFilter): add margin to sub-element of fieldset (#1223)
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  dist/definition.txt
  src/LogFilter/LogFilter.less
  src/LogFilter/LogFilter.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(LogFilter): rename element className and id; rewrite in JSX
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  dist/definition.txt
  dist/store.txt
  src/LogFilter/LogFilter.less
  src/LogFilter/definition.json
  src/LogFilter/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(LogFilter): rename element className and id; rewrite in JSX (#1224)
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  dist/definition.txt
  dist/store.txt
  src/LogFilter/LogFilter.less
  src/LogFilter/definition.json
  src/LogFilter/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(PurgePageCache): wrong condition
  dist/PurgePageCache/PurgePageCache.js
  dist/definition.txt
  src/PurgePageCache/PurgePageCache.ts
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/purge.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(PurgePageCache): wrong condition (#1225)
  dist/PurgePageCache/PurgePageCache.js
  dist/definition.txt
  src/PurgePageCache/PurgePageCache.ts
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/purge.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): add QuickImportAllMedia
  dist/definition.txt
Due: none

feat(add): add QuickImportAllMedia
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/LICENSE
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/definition.json
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/quickImport.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): add QuickImportAllMedia
  src/MwApiParams.d.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

feat(add): add QuickImportAllMedia
  dist/QuickImportAllMedia/QuickImportAllMedia.js
Due: prettier --write, eslint --fix

feat(add): add QuickImportAllMedia (#1226)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/definition.txt
  src/MwApiParams.d.ts
  src/QuickImportAllMedia/LICENSE
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/definition.json
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/quickImport.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(QuickImport*): add judgement conditions; update dist/store.txt
  dist/store.txt
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): add judgement conditions
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): add judgement conditions; update dist/store.txt (#1227)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/store.txt
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix(PurgePageCache, UTCLiveClock): use localStorage.removeItem insted of mw.storage.remove
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/UTCLiveClock/UTCLiveClock.js
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/purge.ts
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(PurgePageCache, UTCLiveClock): use localStorage.removeItem instead of mw.storage.remove (#1228)
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/UTCLiveClock/UTCLiveClock.js
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/purge.ts
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: follow #1228
  dist/definition.txt
Due: none

refactor(QuickImport*): optimize logic
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

refactor(QuickImport*): optimize logic (#1229)
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): follow #1129 (#1230)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImportAllMedia): optimize logic
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImportAllMedia.ts
Due: prettier --write, eslint --fix

fix(QIAM): optimize logic
  dist/QuickImportAllMedia/QuickImportAllMedia.js
Due: prettier --write, eslint --fix

fix(QuickImportAllMedia): follow #1129, #1130 (#1231)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/quickImportAllMedia.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/MwApiParams.d.ts
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic (follow #1229, #1230, #1231) (#1232)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/MwApiParams.d.ts
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix
