Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(HanSect): remove text-indent and line-height settings
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(HanSect): remove text-indent and line-height settings (#1605)
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Wikiplus): remove unused CSS
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Wikiplus): remove unused CSS (#1606)
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(EasyArchive): add margin to archive/delete links
  dist/EasyArchive/EasyArchive.css
  src/EasyArchive/modules/util/EasyArchive.module.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(EasyArchive): add margin to archive/delete links (#1607)
  dist/EasyArchive/EasyArchive.css
  src/EasyArchive/modules/util/EasyArchive.module.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(morebits): height of titlebar; line-height of quickform
  dist/morebits/morebits.css
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(morebits): height of titlebar; line-height of quickform (#1608)
  dist/morebits/morebits.css
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): add temporary styles for footer icons
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): add temporary styles for footer icons
  src/SiteCommon/modules/footerIcons.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): add temporary styles for footer icons (#1609)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/footerIcons.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: remove deprecated mw.Uri
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/MarkBlocked/MarkBlocked.js
  dist/definition.txt
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/MarkBlocked/definition.json
  src/MarkBlocked/modules/util/generateUserLinks.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: remove deprecated mw.Uri
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix

fix: remove deprecated mw.Uri (#1611)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
Due: prettier --write, eslint --fix

fix: remove unused mw.Uri
  dist/definition.txt
  src/GeoLocation/definition.json
  src/GeoLocationReader/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix: remove unused mw.Uri (#1612)
  dist/definition.txt
  src/GeoLocation/definition.json
  src/GeoLocationReader/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle): add ulClassName; fix outerNavClass and innerDivClass
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(Twinkle): add ulClassName; fix outerNavClass and innerDivClass (#1613)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

feat(Util): add class MwUri
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/mwUri.ts
Due: prettier --write, eslint --fix

feat(Util): add class MwUri (#1614)
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/mwUri.ts
Due: prettier --write, eslint --fix

fix(SiteCommon/mobile): display style of <tbody>
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/mobile): display style of <tbody> (#1615)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): add display style for .page-info__item
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): add display style for .page-info__item (#1616)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: replace mediawiki.Uri with MwUri class in ext.gadget.Util
  dist/Edit0/Edit0.js
  dist/FullwidthSearchFix/FullwidthSearchFix.js
  dist/MarkBlocked/MarkBlocked.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/definition.txt
  scripts/constant.ts
  src/Edit0/definition.json
  src/Edit0/modules/core.ts
  src/FullwidthSearchFix/definition.json
  src/FullwidthSearchFix/modules/redirect.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/PreviewWithVariant/definition.json
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: replace mediawiki.Uri with MwUri class in ext.gadget.Util (#1617)
  dist/Edit0/Edit0.js
  dist/FullwidthSearchFix/FullwidthSearchFix.js
  dist/MarkBlocked/MarkBlocked.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/definition.txt
  scripts/constant.ts
  src/Edit0/definition.json
  src/Edit0/modules/core.ts
  src/FullwidthSearchFix/definition.json
  src/FullwidthSearchFix/modules/redirect.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/PreviewWithVariant/definition.json
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle): add ulClassName
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(Twinkle): add ulClassName (#1618)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(SiteCommon/mobile): display style of child elements of table
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/mobile): display style of child elements of table (#1619)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): remove !important
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): remove !important (#1620)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent): display in VisualEditor
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent): display in VisualEditor (#1621)
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: move .ve-activated-disabled to mixin.less; code format
  dist/FloatTOC/FloatTOC.css
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/SiteCommon/SiteCommon.css
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/FloatTOC/FloatTOC.less
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/HanSect/HanSect.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/SiteCommon/modules/mobile.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/mixins.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: move .ve-activated-disabled to mixin.less; code format (#1622)
  dist/FloatTOC/FloatTOC.css
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/SiteCommon/SiteCommon.css
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/FloatTOC/FloatTOC.less
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/HanSect/HanSect.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/SiteCommon/modules/mobile.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/mixins.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: move LICENSE block inside mixin function; code format
  dist/Group-autoreviewer/Group-autoreviewer.css
  dist/Group-confirmed/Group-confirmed.css
  dist/Group-eventsponsor/Group-eventsponsor.css
  dist/Group-interface-admin/Group-interface-admin.css
  dist/Group-massmessage-sender/Group-massmessage-sender.css
  dist/Group-patroller/Group-patroller.css
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  dist/Group-senioreditor/Group-senioreditor.css
  dist/Group-steward/Group-steward.css
  dist/Group-sysop/Group-sysop.css
  dist/Group-templateeditor/Group-templateeditor.css
  dist/Group-transwiki/Group-transwiki.css
  dist/Group-user/Group-user.css
  dist/SkinCitizen/SkinCitizen.css
  src/Group-autoreviewer/Group-autoreviewer.less
  src/Group-confirmed/Group-confirmed.less
  src/Group-eventsponsor/Group-eventsponsor.less
  src/Group-interface-admin/Group-interface-admin.less
  src/Group-massmessage-sender/Group-massmessage-sender.less
  src/Group-patroller/Group-patroller.less
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
  src/Group-senioreditor/Group-senioreditor.less
  src/Group-steward/Group-steward.less
  src/Group-sysop/Group-sysop.less
  src/Group-templateeditor/Group-templateeditor.less
  src/Group-transwiki/Group-transwiki.less
  src/Group-user/Group-user.less
  src/SkinCitizen/SkinCitizen.less
  src/mixins.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: move LICENSE block inside mixin function; code format (#1623)
  dist/Group-autoreviewer/Group-autoreviewer.css
  dist/Group-confirmed/Group-confirmed.css
  dist/Group-eventsponsor/Group-eventsponsor.css
  dist/Group-interface-admin/Group-interface-admin.css
  dist/Group-massmessage-sender/Group-massmessage-sender.css
  dist/Group-patroller/Group-patroller.css
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  dist/Group-senioreditor/Group-senioreditor.css
  dist/Group-steward/Group-steward.css
  dist/Group-sysop/Group-sysop.css
  dist/Group-templateeditor/Group-templateeditor.css
  dist/Group-transwiki/Group-transwiki.css
  dist/Group-user/Group-user.css
  dist/SkinCitizen/SkinCitizen.css
  src/Group-autoreviewer/Group-autoreviewer.less
  src/Group-confirmed/Group-confirmed.less
  src/Group-eventsponsor/Group-eventsponsor.less
  src/Group-interface-admin/Group-interface-admin.less
  src/Group-massmessage-sender/Group-massmessage-sender.less
  src/Group-patroller/Group-patroller.less
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
  src/Group-senioreditor/Group-senioreditor.less
  src/Group-steward/Group-steward.less
  src/Group-sysop/Group-sysop.less
  src/Group-templateeditor/Group-templateeditor.less
  src/Group-transwiki/Group-transwiki.less
  src/Group-user/Group-user.less
  src/SkinCitizen/SkinCitizen.less
  src/mixins.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(QueryContributors): add try-catch wrap
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
Due: prettier --write, eslint --fix
