Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(AjaxLogin): fix typo (#934)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix

fix: add 7px to buttom of buttons (#933)
  dist/Report/Report.js
  dist/ScrollUpButton/ScrollUpButton.js
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix

refactor(CodeLinks): to TSX
  dist/CodeLinks/CodeLinks.js
  dist/definition.txt
  src/CodeLinks/CodeLinks.ts
  src/CodeLinks/definition.json
  src/CodeLinks/modules/addLink.tsx
  src/CodeLinks/modules/processComment.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(CodeLinks): to TSX (#935)
  dist/CodeLinks/CodeLinks.js
  dist/definition.txt
  src/CodeLinks/CodeLinks.ts
  src/CodeLinks/definition.json
  src/CodeLinks/modules/addLink.tsx
  src/CodeLinks/modules/processComment.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: remove unnecessary generic type variables
  dist/Collapsible/Collapsible.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.js
  dist/EditForm_JS/EditForm_JS.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/NavFrame/NavFrame.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/RollbackSummary/RollbackSummary.js
  dist/ShortURL/ShortURL.js
  src/Collapsible/modules/addHook.ts
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/DiffLink/DiffLink.ts
  src/EditForm_JS/EditForm_JS.ts
  src/MarkBlocked/modules/addHook.ts
  src/MarkRights/MarkRights.ts
  src/NavFrame/modules/core.ts
  src/NoteTA/modules/core.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/RollbackSummary/modules/core.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix

refactor: remove unnecessary generic type variables (#936)
  dist/Collapsible/Collapsible.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.js
  dist/EditForm_JS/EditForm_JS.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/NavFrame/NavFrame.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/RollbackSummary/RollbackSummary.js
  dist/ShortURL/ShortURL.js
  src/Collapsible/modules/addHook.ts
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/DiffLink/DiffLink.ts
  src/EditForm_JS/EditForm_JS.ts
  src/MarkBlocked/modules/addHook.ts
  src/MarkRights/MarkRights.ts
  src/NavFrame/modules/core.ts
  src/NoteTA/modules/core.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/RollbackSummary/modules/core.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix

refactor(Collapsible): to TSX
  dist/Collapsible/Collapsible.js
  dist/definition.txt
  src/Collapsible/definition.json
  src/Collapsible/modules/util/generateTogglerElement.ts
  src/Collapsible/modules/util/generateTogglerElement.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Collapsible): to TSX (#937)
  dist/Collapsible/Collapsible.js
  dist/definition.txt
  src/Collapsible/definition.json
  src/Collapsible/modules/util/generateTogglerElement.ts
  src/Collapsible/modules/util/generateTogglerElement.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: use `mw.msg` instead of `mw.message.toString`
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  src/Cat-a-lot/modules/core.tsx
  src/ConfirmLogout/modules/addListener.ts
Due: prettier --write, eslint --fix

fix: use `mw.msg` instead of `mw.message.toString` (#938)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  src/Cat-a-lot/modules/core.tsx
  src/ConfirmLogout/modules/addListener.ts
Due: prettier --write, eslint --fix

fix: follow #933 (add 7px to buttom of buttons)
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: follow #933 (add 7px to buttom of buttons) (#939)
  dist/Report-pagestyles/Report-pagestyles.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: wgULS → window.wgULS
  dist/Twinkle/Twinkle.js
  dist/morebits/morebits.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

chore: wgULS → window.wgULS (#940)
  dist/Twinkle/Twinkle.js
  dist/morebits/morebits.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor(SpecialWikitext): rewrite to TSX
  dist/SpecialWikitext/SpecialWikitext.js
  dist/definition.txt
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(SpecialWikitext): rewrite to TSX
  src/SpecialWikitext/SpecialWikitext.tsx
Due: prettier --write, eslint --fix

refactor(SpecialWikitext): rewrite to TSX
  dist/definition.txt
Due: none

refactor(SpecialWikitext): rewrite to TSX (#941)
  dist/SpecialWikitext/SpecialWikitext.js
  dist/definition.txt
  src/SpecialWikitext/SpecialWikitext.tsx
  src/SpecialWikitext/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: fix for compatibility to MW 1.40
  dist/Mainpage/Mainpage.css
  dist/ResponsiveContent/ResponsiveContent.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/Mainpage/Mainpage.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SiteCommon/modules/mobile.less
  src/SiteCommon/modules/thumbImage.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: fix for compatibility to MW 1.40 (#942)
  dist/Mainpage/Mainpage.css
  dist/ResponsiveContent/ResponsiveContent.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/Mainpage/Mainpage.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SiteCommon/modules/mobile.less
  src/SiteCommon/modules/thumbImage.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Twinkle): add "noopener" to attribute of <a>
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

chore(Twinkle): add "noopener" to attribute of <a> (#943)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

refactor: follow #942 and #943
  dist/Mainpage/Mainpage.css
  dist/Twinkle/Twinkle.js
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor: follow #942 and #943 (#944)
  dist/Mainpage/Mainpage.css
  dist/Twinkle/Twinkle.js
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(DefaultSummaries): replace `Array.push()` to avoid polyfilling core-js
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
Due: prettier --write, eslint --fix

refactor(DefaultSummaries): replace `Array.push()` to avoid polyfilling core-js (#945)
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
Due: prettier --write, eslint --fix

refactor(DiffLink): improve type definitions
  dist/DiffLink/DiffLink.js
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/types.d.ts
Due: prettier --write, eslint --fix

refactor(DiffLink): improve type definitions (#946)
  dist/DiffLink/DiffLink.js
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/types.d.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): deprecated function definitions
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/deprecatedFunctions.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): deprecated function definitions (#947)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/deprecatedFunctions.ts
Due: prettier --write, eslint --fix

refactor(Edit0): improve type definitions
  dist/Edit0/Edit0.js
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix

refactor(Edit0): improve type definitions (#948)
  dist/Edit0/Edit0.js
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix

fix(mainpage): optimize styles
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(mainpage): optimize styles (#949)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(DYM): use document.querySelectorAll instead of jQuery
  dist/DidYouMean/DidYouMean.js
  dist/definition.txt
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(DYM): use document.querySelectorAll instead of jQuery (#950)
  dist/DidYouMean/DidYouMean.js
  dist/definition.txt
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(WordCount): use document.{querySelectorAll, addEventListener} instead of jQuery
  dist/WordCount/WordCount.js
  dist/definition.txt
  src/WordCount/WordCount.ts
  src/WordCount/definition.json
  src/WordCount/modules/addListener.ts
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(WordCount): use document.{querySelectorAll, addEventListener} instead of jQuery (#951)
  dist/WordCount/WordCount.js
  dist/definition.txt
  src/WordCount/WordCount.ts
  src/WordCount/definition.json
  src/WordCount/modules/addListener.ts
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

revert: #950 #951 (should wait for DOM to be ready)
  dist/DidYouMean/DidYouMean.js
  dist/WordCount/WordCount.js
  dist/definition.txt
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/definition.json
  src/WordCount/WordCount.ts
  src/WordCount/definition.json
  src/WordCount/modules/addListener.ts
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(mainpage): styles for thumbs
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
