Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(ToolsRedirect): rewrite in Codex and Vue (#1944)
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/definition.txt
  src/FetchVariants/definition.json
  src/RRD/App.vue
  src/RRD/RRD.ts
  src/RRD/components/DialogInner.module.less
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
  src/RRD/definition.json
  src/RRD/modules/reportButton.ts
  src/RRD/modules/rrdConfig.ts
  src/RRD/modules/showDialog.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies; install @wikimedia/codex; update global.d.ts
  package.json
  pnpm-lock.yaml
  src/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(ResponsiveContent): add margin for .citizen-overflow-wrapper
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent): add margin for .citizen-overflow-wrapper (#1945)
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ToolsRedirect): hide trigger button
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/App.vue
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/core.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect): hide trigger button (#1946)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/App.vue
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/core.ts
Due: prettier --write, eslint --fix

refactor(ConfirmLogout): rewrite in Codex and Vue
  dist/ConfirmLogout/ConfirmLogout.js
  dist/definition.txt
  src/ConfirmLogout/App.vue
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/definition.json
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/i18n.ts
  src/ConfirmLogout/modules/showConfirmDialog.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ConfirmLogout): rewrite in Codex and Vue (#1947)
  dist/ConfirmLogout/ConfirmLogout.js
  dist/definition.txt
  src/ConfirmLogout/App.vue
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/definition.json
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/i18n.ts
  src/ConfirmLogout/modules/showConfirmDialog.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(AccessKeyCheatsheet): rewrite in Codex and Vue
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/definition.txt
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AccessKeyCheatsheet/App.vue
  src/AccessKeyCheatsheet/definition.json
  src/AccessKeyCheatsheet/modules/addListener.ts
  src/AccessKeyCheatsheet/modules/i18n.ts
  src/AccessKeyCheatsheet/modules/initWindowManager.ts
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(AccessKeyCheatsheet): rewrite in Codex and Vue (#1948)
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/definition.txt
  src/AccessKeyCheatsheet/AccessKeyCheatsheet.ts
  src/AccessKeyCheatsheet/App.vue
  src/AccessKeyCheatsheet/definition.json
  src/AccessKeyCheatsheet/modules/addListener.ts
  src/AccessKeyCheatsheet/modules/i18n.ts
  src/AccessKeyCheatsheet/modules/initWindowManager.ts
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ToolsRedirect): optimize code logic
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/App.vue
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/ui.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(ToolsRedirect): optimize code logic (#1949)
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/App.vue
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/ui.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: move code.d.ts
  package.json
  pnpm-lock.yaml
  src/codex.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dists
  dist/store.txt
Due: none

refactor(CopyCodeBlock): rewrite in Codex and Vue
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/definition.txt
  src/CopyCodeBlock/App.vue
  src/CopyCodeBlock/LICENSE
  src/CopyCodeBlock/definition.json
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/addCopyListener.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(CopyCodeBlock): rewrite in Codex and Vue (#1950)
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/definition.txt
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/CopyCodeBlock/App.vue
  src/CopyCodeBlock/LICENSE
  src/CopyCodeBlock/definition.json
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/addCopyListener.ts
  src/codex.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(VerifyToEdit): rewrite in Codex and Vue
  dist/VerifyToEdit/VerifyToEdit.js
  dist/definition.txt
  src/VerifyToEdit/App.vue
  src/VerifyToEdit/definition.json
  src/VerifyToEdit/modules/initDialog.ts
  src/VerifyToEdit/modules/initWindowManager.ts
  src/VerifyToEdit/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Util/oouiConfirmWithStyle): rewrite oouiConfirmWithStyle with Codex and Vue
  dist/ConfirmLogout/ConfirmLogout.js
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/definition.txt
  src/BanPage/definition.json
  src/ConfirmLogout/App.vue
  src/ConfirmLogout/ConfirmLogout.ts
  src/Group-transwiki_JS/definition.json
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/Util/definition.json
  src/Util/modules/OouiConfirmWithStyle.vue
  src/Util/modules/oouiConfirmWithStyle.ts
  src/Util/modules/oouiConfirmWithStyle.tsx
  src/Util/modules/utils/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Util/oouiConfirmWithStyle): rewrite oouiConfirmWithStyle with Codex and Vue (#1951)
  dist/ConfirmLogout/ConfirmLogout.js
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/definition.txt
  src/BanPage/definition.json
  src/ConfirmLogout/App.vue
  src/ConfirmLogout/ConfirmLogout.ts
  src/Group-transwiki_JS/definition.json
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/Util/definition.json
  src/Util/modules/OouiConfirmWithStyle.vue
  src/Util/modules/oouiConfirmWithStyle.ts
  src/Util/modules/oouiConfirmWithStyle.tsx
  src/Util/modules/utils/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: optimize logic of async functions
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkRights/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

fix(i18n): avoid cirrular dependecy
  dist/definition.txt
  dist/i18n/i18n.js
  src/i18n/definition.json
  src/i18n/modules/initI18nMethods.ts
  src/i18n/modules/util/generateDefaultFallbackList.ts
  src/i18n/modules/util/isValidKey.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: format
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  package.json
  pnpm-lock.yaml
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: optimize logic of async functions (#1952)
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  package.json
  pnpm-lock.yaml
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkRights/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(LoginToEdit): rewrite in Codex and Vue
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/definition.txt
  src/LoginToEdit/App.vue
  src/LoginToEdit/definition.json
  src/LoginToEdit/modules/initDialog.ts
  src/LoginToEdit/modules/initWindowManager.ts
  src/LoginToEdit/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(LoginToEdit, VerifyToEdit): rewrite in Codex and Vue (#1953)
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/VerifyToEdit/VerifyToEdit.js
  dist/definition.txt
  src/LoginToEdit/App.vue
  src/LoginToEdit/definition.json
  src/LoginToEdit/modules/initDialog.ts
  src/LoginToEdit/modules/initWindowManager.ts
  src/LoginToEdit/modules/util/generateMessageDialogProperty.ts
  src/VerifyToEdit/App.vue
  src/VerifyToEdit/definition.json
  src/VerifyToEdit/modules/initDialog.ts
  src/VerifyToEdit/modules/initWindowManager.ts
  src/VerifyToEdit/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(FloatTOC, CopyCodeBlock): rewrite in @wikimedia/codex and Vue; fix typo in LICENSE
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/FloatTOC/FloatTOC.css
  dist/FloatTOC/FloatTOC.js
  dist/definition.txt
  src/CopyCodeBlock/App.vue
  src/CopyCodeBlock/LICENSE
  src/FloatTOC/App.vue
  src/FloatTOC/FloatTOC.less
  src/FloatTOC/LICENSE
  src/FloatTOC/definition.json
  src/FloatTOC/modules/core.ts
  src/FloatTOC/modules/icons.ts
  src/FloatTOC/modules/setMwNotifyStyle.ts
  src/FloatTOC/modules/util/generateElements.ts
  src/FloatTOC/modules/util/generateTogglerElement.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(FloatTOC): hide opener text
  dist/FloatTOC/FloatTOC.css
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(FloatTOC, CopyCodeBlock): rewrite in @wikimedia/codex and Vue; fix typo in LICENSE (#1954)
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/FloatTOC/FloatTOC.css
  dist/FloatTOC/FloatTOC.js
  dist/definition.txt
  src/CopyCodeBlock/App.vue
  src/CopyCodeBlock/LICENSE
  src/FloatTOC/App.vue
  src/FloatTOC/FloatTOC.less
  src/FloatTOC/LICENSE
  src/FloatTOC/definition.json
  src/FloatTOC/modules/core.ts
  src/FloatTOC/modules/icons.ts
  src/FloatTOC/modules/setMwNotifyStyle.ts
  src/FloatTOC/modules/util/generateElements.ts
  src/FloatTOC/modules/util/generateTogglerElement.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: remove unused dependencies
  dist/definition.txt
  src/Group-transwiki_JS/definition.json
  src/Util/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: remove unused dependencies (#1955)
  dist/definition.txt
  src/Group-transwiki_JS/definition.json
  src/Util/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(DiffLink, ShortURL): rewrite in @wikimedia/codex and Vue
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/Util/Util.js
  dist/definition.txt
  src/DiffLink/App.vue
  src/DiffLink/definition.json
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/i18n.ts
  src/ShortURL/App.vue
  src/ShortURL/definition.json
  src/ShortURL/modules/addHeaderLink.ts
  src/ShortURL/modules/addLink.tsx
  src/ShortURL/modules/addPortletLink.ts
  src/ShortURL/modules/buildLink.ts
  src/ShortURL/modules/i18n.ts
  src/ShortURL/modules/processId.ts
  src/Util/Util.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(DiffLink, ShortURL): rewrite in @wikimedia/codex and Vue (#1956)
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/Util/Util.js
  dist/definition.txt
  src/DiffLink/App.vue
  src/DiffLink/definition.json
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/i18n.ts
  src/ShortURL/App.vue
  src/ShortURL/definition.json
  src/ShortURL/modules/addHeaderLink.ts
  src/ShortURL/modules/addLink.tsx
  src/ShortURL/modules/addPortletLink.ts
  src/ShortURL/modules/buildLink.ts
  src/ShortURL/modules/i18n.ts
  src/ShortURL/modules/processId.ts
  src/Util/Util.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(UserRightsManager): rewrite in Codex and Vue
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/definition.txt
  src/UserRightsManager/App.vue
  src/UserRightsManager/definition.json
  src/UserRightsManager/modules/api.ts
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(UserRightsManager): rewrite in Codex and Vue (#1957)
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/definition.txt
  src/UserRightsManager/App.vue
  src/UserRightsManager/definition.json
  src/UserRightsManager/modules/api.ts
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(DiffLink, ShortURL): optimize styles, add copy icon
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  src/DiffLink/App.vue
  src/DiffLink/LICENSE
  src/DiffLink/modules/copyText.ts
  src/ShortURL-pagestyles/LICENSE
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL-pagestyles/definition.json
  src/ShortURL-pagestyles/images/link.svg
  src/ShortURL/App.vue
  src/ShortURL/LICENSE
  src/ShortURL/modules/addHeaderLink.ts
  src/ShortURL/modules/copyText.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(DiffLink, ShortURL): optimize styles, add copy icon
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  src/DiffLink/App.vue
  src/ShortURL/App.vue
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
