Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkRights): typo (#1680)
  dist/MarkRights/MarkRights.js
  package.json
  pnpm-lock.yaml
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: cache keys; sort options.json
  dist/CookieWarning/CookieWarning.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/NoteTA/NoteTA.js
  dist/PagePatroller/PagePatroller.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/TranslateVariants/TranslateVariants.js
  dist/WhoIsActive/WhoIsActive.js
  src/CookieWarning/options.json
  src/MarkRights-Userpage/options.json
  src/MarkRights/options.json
  src/NoteTA/options.json
  src/PagePatroller/options.json
  src/PreviewWithVariant2017/options.json
  src/SpecialWikitext/options.json
  src/TranslateVariants/options.json
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: cache keys; sort options.json (#1681)
  dist/CookieWarning/CookieWarning.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/NoteTA/NoteTA.js
  dist/PagePatroller/PagePatroller.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/TranslateVariants/TranslateVariants.js
  dist/WhoIsActive/WhoIsActive.js
  src/CookieWarning/options.json
  src/MarkRights-Userpage/options.json
  src/MarkRights/options.json
  src/NoteTA/options.json
  src/PagePatroller/options.json
  src/PreviewWithVariant2017/options.json
  src/SpecialWikitext/options.json
  src/TranslateVariants/options.json
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(GeoLocationReader): add query cache
  src/GeoLocationReader/modules/util/getLocation.ts
Due: prettier --write, eslint --fix

refactor(GeoLocationReader): add query cache
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(GeoLocationReader): add query cache (#1682)
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/util/getLocation.ts
  src/GeoLocationReader/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(ToolsRedirect): avoid hard-redirecting category pages
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/messages.ts
  src/ToolsRedirect/modules/types.d.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect): avoid hard-redirecting category pages (#1683)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/messages.ts
  src/ToolsRedirect/modules/types.d.ts
Due: prettier --write, eslint --fix

fix(CAL): license issues
  dist/Cat-a-lot/Cat-a-lot.js
  package.json
  pnpm-lock.yaml
  src/Cat-a-lot/LICENSE
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(CAL): license issues (#1684)
  dist/Cat-a-lot/Cat-a-lot.js
  package.json
  pnpm-lock.yaml
  src/Cat-a-lot/LICENSE
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  pnpm-lock.yaml
Due: none

feat(SearchShortcuts): add detection for wiki-links
  dist/SearchShortcuts/SearchShortcuts.js
  src/SearchShortcuts/modules/util/keydownListener.ts
Due: prettier --write, eslint --fix

feat(SearchShortcuts): add detection for wiki-links (#1685)
  dist/SearchShortcuts/SearchShortcuts.js
  src/SearchShortcuts/modules/util/keydownListener.ts
Due: prettier --write, eslint --fix

fix(CAL): license issues
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/LICENSE
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
Due: prettier --write, eslint --fix

fix(CAL): license issues (#1686)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/LICENSE
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
Due: prettier --write, eslint --fix

fix(TR): typo
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix(TR): typo (#1687)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

refactor(PagePatroller): add query cache
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/pagePatroller.ts
  src/PagePatroller/modules/util/elementWrap.tsx
  src/PagePatroller/modules/util/getPatroller.ts
  src/PagePatroller/modules/util/replaceChild.ts
  src/PagePatroller/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PagePatroller): add query cache (#1688)
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/pagePatroller.ts
  src/PagePatroller/modules/util/elementWrap.tsx
  src/PagePatroller/modules/util/getPatroller.ts
  src/PagePatroller/modules/util/replaceChild.ts
  src/PagePatroller/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(OnlineAdmins): add query cache
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/doClick.ts
  src/OnlineAdmins/modules/i18n.ts
  src/OnlineAdmins/modules/util/api.ts
  src/OnlineAdmins/modules/util/getAdmins.ts
  src/OnlineAdmins/modules/util/query.ts
  src/OnlineAdmins/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(OnlineAdmins): add query cache (#1689)
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/doClick.ts
  src/OnlineAdmins/modules/i18n.ts
  src/OnlineAdmins/modules/util/api.ts
  src/OnlineAdmins/modules/util/getAdmins.ts
  src/OnlineAdmins/modules/util/query.ts
  src/OnlineAdmins/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Util): typo in comments
  dist/Util/Util.js
  src/Util/modules/queryGlobalUserGroups.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

fix(Util): typo in comments (#1690)
  dist/Util/Util.js
  src/Util/modules/queryGlobalUserGroups.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): remove zero value
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): remove zero value (#1691)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

refactor(OnlineAdmins): optimize logic
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/groupList.tsx
  src/OnlineAdmins/modules/doClick.ts
Due: prettier --write, eslint --fix

refactor(OnlineAdmins): optimize logic (#1692)
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/groupList.tsx
  src/OnlineAdmins/modules/doClick.ts
Due: prettier --write, eslint --fix

fix(EasyArchive, GeoLocation): add ? operator to check if a page is missing
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocation/GeoLocation.js
  src/EasyArchive/modules/util/getSection.ts
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

fix(EasyArchive, GeoLocation): add ? operator to check if a page is missing (#1693)
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocation/GeoLocation.js
  src/EasyArchive/modules/util/getSection.ts
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

refactor(MarkBlocked): add query cache
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkBlocked/modules/util/query.ts
Due: prettier --write, eslint --fix

refactor(MarkBlocked): add query cache
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/types.d.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/queryGlobalUserInfo.ts
  src/MarkBlocked/modules/util/queryIPBlocks.ts
  src/MarkBlocked/modules/util/queryUserBlocks.ts
  src/MarkBlocked/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkBlocked): add query cache (#1694)
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/types.d.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkBlocked/modules/util/query.ts
  src/MarkBlocked/modules/util/queryGlobalUserInfo.ts
  src/MarkBlocked/modules/util/queryIPBlocks.ts
  src/MarkBlocked/modules/util/queryUserBlocks.ts
  src/MarkBlocked/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): optimize code logic
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/footerNotice.tsx
  src/EasyArchive/modules/getSettings.ts
  src/EasyArchive/modules/removeSection.ts
  src/EasyArchive/modules/util/api.ts
  src/EasyArchive/modules/util/checkIfExist.ts
  src/EasyArchive/modules/util/editSection.ts
  src/EasyArchive/modules/util/getSection.ts
  src/EasyArchive/modules/util/getSettings.ts
  src/EasyArchive/modules/util/react.tsx
  src/EasyArchive/modules/util/sanitize.ts
  src/EasyArchive/modules/util/sectionLink.tsx
Due: prettier --write, eslint --fix

fix(GeoLocation): add || operator as fallback (#1693)
  dist/GeoLocation/GeoLocation.js
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

fix(GeoLocationReader): add || operator as fallback
  src/GeoLocationReader/modules/util/getLocation.ts
Due: prettier --write, eslint --fix

fix(GeoLocationReader): add || operator as fallback
  dist/GeoLocationReader/GeoLocationReader.js
Due: prettier --write, eslint --fix

fix(GeoLocationReader*): add || operator as fallback (#1695)
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/util/getLocation.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize code logic
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/components/EasyArchive.module.less
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/EasyArchive/modules/util/onClick.ts
  src/EasyArchive/modules/util/sectionLink.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix
