Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build(Wikiplus-highlight): bump to version 3.2.10
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/main.ts
  src/Wikiplus-highlight/modules/style.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Wikiplus-highlight): bump to version 3.2.10 (#1795)
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/main.ts
  src/Wikiplus-highlight/modules/style.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(ChineseDays): bump to version 1.5.3
  dist/ChineseDays/ChineseDays.js
Due: prettier --write, eslint --fix

build(ChineseDays): bump to version 1.5.3 (#1796)
  dist/ChineseDays/ChineseDays.js
Due: prettier --write, eslint --fix

fix(QuickImport): add fallback interwiki prefix
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/getIwPrefix.ts
Due: prettier --write, eslint --fix

fix(QuickImport): add fallback interwiki prefix (#1797)
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/getIwPrefix.ts
Due: prettier --write, eslint --fix

fix(FloatTOC): display error
  dist/FloatTOC/FloatTOC.css
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(FloatTOC): display error (#1798)
  dist/FloatTOC/FloatTOC.css
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(EditForm_AiAssisted): avoid stack error in VE, fix append location of wpChangeTags
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

fix(EditForm_AiAssisted): avoid stack error in VE, fix append location of wpChangeTags (#1799)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

build: update packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix: replace mw.msg with mw.message(...).parse
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Cat-a-lot/modules/core.tsx
  src/ConfirmLogout/modules/addListener.ts
  src/NoteTA/modules/viewer.tsx
  src/PreviewWithVariant2017/modules/processVisualEditor.js
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix

fix: replace mw.msg with mw.message(...).parse (#1800)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ConfirmLogout/ConfirmLogout.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Cat-a-lot/modules/core.tsx
  src/ConfirmLogout/modules/addListener.ts
  src/NoteTA/modules/viewer.tsx
  src/PreviewWithVariant2017/modules/processVisualEditor.js
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkBlocked): optimized cache; fix typo in cache keys
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/types.d.ts
  src/MarkBlocked/modules/util/clearOldKeys.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkBlocked/modules/util/query.ts
  src/MarkBlocked/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkBlocked): optimized cache; fix typo in cache keys (#1801)
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/types.d.ts
  src/MarkBlocked/modules/util/clearOldKeys.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkBlocked/modules/util/query.ts
  src/MarkBlocked/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkRights): add query cache
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

fix(MarkRights): add query cache (#1802)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

feat(add): idb-plus
  dist/IDBPlus/IDBPlus.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/IDBPlus/IDBPlus.ts
  src/IDBPlus/LICENSE
  src/IDBPlus/definition.json
  src/IDBPlus/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): idb-plus (#1803)
  dist/IDBPlus/IDBPlus.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/IDBPlus/IDBPlus.ts
  src/IDBPlus/LICENSE
  src/IDBPlus/definition.json
  src/IDBPlus/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

fix(OnlineAdmins): add query cache
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/util/getAdmins.ts
Due: prettier --write, eslint --fix

fix(OnlineAdmins): add query cache (#1804)
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/util/getAdmins.ts
Due: prettier --write, eslint --fix

fix(CAL): preload cache before perform editing
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(CAL): preload cache before perform editing
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(CAL): preload cache before perform editing (#1805)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/getCachedKeys.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): add function to clear localStorage every 60 seconds
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/clearExpiredLocalStorage.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): add function to clear localStorage every 60 seconds
  dist/SiteCommon_JS/SiteCommon_JS.js
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): add function to clear localStorage every 60 seconds (#1806)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/clearExpiredLocalStorage.ts
Due: prettier --write, eslint --fix

Revert "fix(MarkRights): add query cache"
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

Revert "fix(MarkRights): add query cache" (#1807)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

fix(CAL): load variant cache before performing batch edit(s)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(CAL): load variant cache before performing batch edit(s) (#1808)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(MarkBlocked): add query cache
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkBlocked/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkBlocked): add query cache (#1809)
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/util/markUserLinks.ts
  src/MarkBlocked/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(ChineseDays): upgrade to version 1.5.4
  dist/ChineseDays/ChineseDays.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(ChineseDays): upgrade to version 1.5.4 (#1810)
  dist/ChineseDays/ChineseDays.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(CAL): add fallback to findAllVariants
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(CAL): add fallback to findAllVariants (#1811)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon_Templates/infobox): add min-width: fit-content to images
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  src/SiteCommon_Templates/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
