Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

chore(HistoryDisclaimer): convert LESS file into a module (#1323)
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  src/HistoryDisclaimer/HistoryDisclaimer.module.less
  src/HistoryDisclaimer/HistoryDisclaimer.tsx
  src/HistoryDisclaimer/modules/background.tsx
  src/HistoryDisclaimer/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: optimize font-family
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/inlineUnihan.less
  src/Wikiplus/style-modules/core.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font-family (#1324)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/inlineUnihan.less
  src/Wikiplus/style-modules/core.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(NospzGothic): fix typo
  dist/NospzGothic/NospzGothic.css
  src/NospzGothic/NospzGothic.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(NospzGothic): fix typo (#1325)
  dist/NospzGothic/NospzGothic.css
  src/NospzGothic/NospzGothic.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font-family (follow #1324)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Edit0/Edit0.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font-family (follow #1324) (#1326)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Edit0/Edit0.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font-family (follow #1324)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Edit0/Edit0.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font-family (follow #1324) (#1327)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Edit0/Edit0.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font-family (follow #1324)
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/morebits/morebits.css
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/inlineUnihan.less
  src/morebits/morebits.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font-family (follow #1324) (#1328)
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/morebits/morebits.css
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/inlineUnihan.less
  src/morebits/morebits.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: add try-catch wrap to await-functios inside for-of loop
  dist/Cat-a-lot/Cat-a-lot.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/Cat-a-lot/modules/core.tsx
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix: add try-catch wrap to await-functios inside for-of loop (#1329)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  src/Cat-a-lot/modules/core.tsx
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

feat(Util): add userHasRight and userIsInGroup
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/userHasRight.ts
  src/Util/modules/userIsInGroup.ts
Due: prettier --write, eslint --fix

feat(Util): add userHasRight and userIsInGroup (#1330)
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/userHasRight.ts
  src/Util/modules/userIsInGroup.ts
Due: prettier --write, eslint --fix

feat(Group-user_JS): add replaceRandom
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/replaceRandom.ts
Due: prettier --write, eslint --fix

feat(Group-user_JS): add replaceRandom (#1331)
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/replaceRandom.ts
Due: prettier --write, eslint --fix

fix: add wgGlobalGroups to judge criteria
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/morebits/morebits.js
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

fix: add wgGlobalGroups to judge criteria
  dist/GeoLocation/GeoLocation.js
  src/EditForm_JS/modules/introACH.ts
  src/GeoLocation/GeoLocation.ts
Due: prettier --write, eslint --fix

fix: add wgGlobalGroups to judge criteria (#1332)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/GeoLocation/GeoLocation.js
  dist/morebits/morebits.js
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/EditForm_JS/modules/introACH.ts
  src/GeoLocation/GeoLocation.ts
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

fix(Group-user_JS): typo
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/modules/replaceRandom.ts
Due: prettier --write, eslint --fix

fix(Group-user_JS): typo (#1333)
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/modules/replaceRandom.ts
Due: prettier --write, eslint --fix

fix(Group-user_JS): typo
  dist/Util/Util.js
  src/Util/modules/userHasRight.ts
Due: prettier --write, eslint --fix

build: re-generate dist
  dist/Clipboard/Clipboard.js
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Navigation_popups/Navigation_popups.js
  dist/React/React.js
  dist/Tippy/Tippy.js
  dist/VariantAlly/VariantAlly.js
  dist/Wikiplus/Wikiplus.js
  dist/select2/select2.js
Due: prettier --write, eslint --fix

fix: replace with userIsInGroup
  dist/GeoLocation/GeoLocation.js
  dist/Group-user_JS/Group-user_JS.js
  dist/Util/Util.js
  src/EditForm_JS/modules/introACH.ts
  src/GeoLocation/GeoLocation.ts
  src/Group-user_JS/modules/replaceRandom.ts
  src/Util/modules/userHasRight.ts
  src/Util/modules/userIsInGroup.ts
Due: prettier --write, eslint --fix

fix: replace with userIsInGroup (#1334)
  dist/GeoLocation/GeoLocation.js
  dist/Group-user_JS/Group-user_JS.js
  dist/Util/Util.js
  src/EditForm_JS/modules/introACH.ts
  src/GeoLocation/GeoLocation.ts
  src/Group-user_JS/modules/replaceRandom.ts
  src/Util/modules/userHasRight.ts
  src/Util/modules/userIsInGroup.ts
Due: prettier --write, eslint --fix

feat(RightTopicons): add RightTopicons
  dist/RightTopicons/RightTopicons.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/RightTopicons/LICENSE
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/definition.json
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(RightTopicons): author's email
  src/RightTopicons/LICENSE
Due: none

fix(RightTopicons): gadget's name in definition
  src/RightTopicons/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat(RightTopicons): add RightTopicons (#1335)
  dist/RightTopicons/RightTopicons.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/RightTopicons/LICENSE
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/definition.json
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(RightTopicons): image size
  dist/RightTopicons/RightTopicons.js
  dist/store.txt
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, eslint --fix

chore(React): add LICENSE header
  dist/React/React.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/React/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(React): add LICENSE header (#1336)
  dist/React/React.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/React/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(RightTopicons): remove
  dist/store.txt
  src/RightTopicons/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(RightTopicons): remove (#1337)
  dist/store.txt
  src/RightTopicons/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(RightTopIcons): use SVG, add height and width
  dist/RightTopicons/RightTopicons.js
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, eslint --fix

refactor(RightTopIcons): use SVG, add height and width (#1338)
  dist/RightTopicons/RightTopicons.js
  src/RightTopicons/RightTopicons.ts
  src/RightTopicons/modules/PermissionData.ts
Due: prettier --write, eslint --fix

fix(Mainpage): display language and talk icon
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): display language and talk icon (#1339)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): hide header when scrolling down; gap of grid
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix
