Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(QuickImport): optimize reg-exps
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport): optimize reg-exps (#1643)
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
Due: prettier --write, eslint --fix

docs: update LICENSE blocks
  dist/InPageEdit/InPageEdit.js
  dist/Util/Util.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/InPageEdit/InPageEdit.ts
  src/Util/modules/generateSvgDataUrl.ts
  src/Util/modules/uniqueArray.ts
  src/Wikiplus-highlight/modules/highlight.ts
Due: prettier --write, eslint --fix

docs: update LICENSE blocks (#1644)
  dist/InPageEdit/InPageEdit.js
  dist/Util/Util.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/InPageEdit/InPageEdit.ts
  src/Util/modules/generateSvgDataUrl.ts
  src/Util/modules/uniqueArray.ts
  src/Wikiplus-highlight/modules/highlight.ts
Due: prettier --write, eslint --fix

refactor(QueryContributors): optimize logic
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
  src/QueryContributors/modules/queryContributors.ts
Due: prettier --write, eslint --fix

refactor(QueryContributors): optimize logic
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
Due: prettier --write, eslint --fix

refactor(QueryContributors): optimize logic (#1645)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
  src/QueryContributors/modules/queryContributors.ts
Due: prettier --write, eslint --fix

fix(TextSpacing): avoid adding spaces to other elements * body → .mw-parser-output
  dist/TextSpacing/TextSpacing.js
  src/TextSpacing/TextSpacing.ts
Due: prettier --write, eslint --fix

fix(TextSpacing): avoid adding spaces to other elements (#1646)
  dist/TextSpacing/TextSpacing.js
  src/TextSpacing/TextSpacing.ts
Due: prettier --write, eslint --fix

chore: format
  dist/Cat-a-lot/Cat-a-lot.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  src/Cat-a-lot/modules/core.tsx
  src/StickyTableHeaders/StickyTableHeaders.ts
Due: prettier --write, eslint --fix

chore: format (#1647)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  src/Cat-a-lot/modules/core.tsx
  src/StickyTableHeaders/StickyTableHeaders.ts
Due: prettier --write, eslint --fix

refactor(MarkRights): split modules; rewrite code
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/util/appendUserRightsMark.ts
  src/MarkRights/modules/util/generateUserLinks.ts
  src/MarkRights/modules/util/getUserName.ts
Due: prettier --write, eslint --fix

refactor(MarkRights): split modules; rewrite code (#1648)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/util/appendUserRightsMark.ts
  src/MarkRights/modules/util/generateUserLinks.ts
  src/MarkRights/modules/util/getUserName.ts
Due: prettier --write, eslint --fix

build: upgrade packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade packages due to security reasons
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon/mobile): revert to commit 43c22ba78c286f45224bf295ac30ecf4aa594b9c
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/mobile): revert to commit 43c22ba78c286f45224bf295ac30ecf4aa594b9c (#1650)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(MarkRights): ; optimize logic
  dist/MarkRights/MarkRights.js
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
  src/MarkRights/modules/util/api.ts
  src/MarkRights/modules/util/generateUserLinks.ts
  src/MarkRights/modules/util/query.ts
Due: prettier --write, eslint --fix

refactor(MarkRights-Userpage): ; optimize logic
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
Due: prettier --write, eslint --fix

refactor(MarkRights*): ; optimize logic (#1651)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
  src/MarkRights/modules/util/api.ts
  src/MarkRights/modules/util/generateUserLinks.ts
  src/MarkRights/modules/util/query.ts
Due: prettier --write, eslint --fix

refactor(MarkBlocked): ; optimize logic
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/queryIPBlocks.ts
Due: prettier --write, eslint --fix

refactor(MarkBlocked): ; optimize logic (#1652)
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/queryIPBlocks.ts
Due: prettier --write, eslint --fix

refactor(QueryContributors): add anoncontributors
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
  src/QueryContributors/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(QueryContributors): add anoncontributors (#1653)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
  src/QueryContributors/modules/i18n.ts
Due: prettier --write, eslint --fix

fix(SiteCommon/talkPage): styles for DiscussionTools
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/talkPage): styles for DiscussionTools (#1654)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(MarkRights): typo
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/generateUserLinks.ts
Due: prettier --write, eslint --fix

fix(MarkRights): typo (#1655)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/generateUserLinks.ts
Due: prettier --write, eslint --fix

fix(TextSpacing): should not observe element not exist
  dist/TextSpacing/TextSpacing.js
  src/TextSpacing/TextSpacing.ts
Due: prettier --write, eslint --fix

fix(TextSpacing): should not observe element not exist (#1656)
  dist/TextSpacing/TextSpacing.js
  src/TextSpacing/TextSpacing.ts
Due: prettier --write, eslint --fix

fix(SiteCommon/mobile): remove caption
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/mobile): remove caption (#1657)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/Infobox): remove width: auto;
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/Infobox): remove width: auto; (#1658)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/infobox.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: optimize logic; add optional chaining mark
  dist/Cat-a-lot/Cat-a-lot.js
  dist/NoteTA/NoteTA.js
  src/Cat-a-lot/modules/core.tsx
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix

refactor: optimize logic; add optional chaining mark (#1659)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/NoteTA/NoteTA.js
  src/Cat-a-lot/modules/core.tsx
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix

fix: add class "noprint" to elements should not be printed
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/modules/util/react.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, eslint --fix

fix: add class "noprint" to elements should not be printed (#1660)
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/modules/util/react.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, eslint --fix

fix(Wikiplus): temporal dead zone (TDZ)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/index.js
Due: prettier --write, eslint --fix

fix(Wikiplus): temporal dead zone (TDZ) (#1661)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/index.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
