Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(HotCat): merge LESS file as module
  dist/HotCat-pagestyles/HotCat-pagestyles.css
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  dist/definition.txt
  src/HotCat-pagestyles/LICENSE
  src/HotCat-pagestyles/definition.json
  src/HotCat/definition.json
  src/HotCat/modules/check.module.less
  src/HotCat/modules/check.ts
  src/MarkBlocked/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(HotCat): merge LESS file as module (#1152)
  dist/HotCat-pagestyles/HotCat-pagestyles.css
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  dist/definition.txt
  src/HotCat-pagestyles/LICENSE
  src/HotCat-pagestyles/definition.json
  src/HotCat/definition.json
  src/HotCat/modules/check.module.less
  src/HotCat/modules/check.ts
  src/MarkBlocked/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

build: sort
  src/MemorialDay/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(StickyTableHeaders): merge LESS file as module
  dist/StickyTableHeaders-pagestyles/StickyTableHeaders-pagestyles.css
  dist/StickyTableHeaders/StickyTableHeaders.css
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/definition.txt
  src/StickyTableHeaders-pagestyles/LICENSE
  src/StickyTableHeaders-pagestyles/definition.json
  src/StickyTableHeaders/StickyTableHeaders.module.less
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/StickyTableHeaders/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(StickyTableHeaders): merge LESS file as module (#1153)
  dist/StickyTableHeaders-pagestyles/StickyTableHeaders-pagestyles.css
  dist/StickyTableHeaders/StickyTableHeaders.css
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/definition.txt
  src/StickyTableHeaders-pagestyles/LICENSE
  src/StickyTableHeaders-pagestyles/definition.json
  src/StickyTableHeaders/StickyTableHeaders.module.less
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/StickyTableHeaders/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(SiteCommon_Filepage): optimize logic
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(SiteCommon_Filepage): optimize logic (#1154)
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: replace class with className
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/OnlineAdmins/OnlineAdmins.js
  src/HistoryDisclaimer/modules/background.tsx
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, eslint --fix

chore: replace class with className (#1155)
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/OnlineAdmins/OnlineAdmins.js
  src/HistoryDisclaimer/modules/background.tsx
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, eslint --fix

refactor(PrintOptions): convert into TypeScript
  dist/PrintOptions/PrintOptions.js
  dist/definition.txt
  src/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
  src/PrintOptions/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PrintOptions): convert into TypeScript (#1156)
  dist/PrintOptions/PrintOptions.js
  dist/definition.txt
  src/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
  src/PrintOptions/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(variables.less): add fallback font family
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(PrintOptions): add OO.inheritClass back
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix

fix(variables.less): add fallback font family (#1157)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(PrintOptions): add OO.inheritClass back (#1158)
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix

build: disable Mainpage-obituary
  dist/definition.txt
  src/Mainpage-obituary/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(QuickImport): add function of importing redirected files; optimize logic
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
Due: prettier --write, eslint --fix

refactor(QuickImport): add function of importing redirected files; optimize logic (#1159)
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/quickImport.ts
Due: prettier --write, eslint --fix

refactor(QuickImport): optimize logic
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix: optimize font family
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(QuickImport): optimize logic (#1160)
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/quickImport.ts
Due: prettier --write, eslint --fix

fix: optimize font family (#1161)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font family (follow #1161)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Edit0/Edit0.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: optimize font family (follow #1161) (#1162)
  dist/DisamAssist/DisamAssist.css
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/DisamAssist/DisamAssist.less
  src/Edit0/Edit0.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SiteCommon/modules/print.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinGongbi/SkinGongbi.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/Wikiplus/style-modules/core.less
  src/morebits/morebits.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(DidYouMean): remove constant.ts
  dist/DidYouMean/DidYouMean.js
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/modules/constant.ts
Due: prettier --write, eslint --fix

chore(DidYouMean): remove constant.ts (#1163)
  dist/DidYouMean/DidYouMean.js
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/modules/constant.ts
Due: prettier --write, eslint --fix

fix: fix typo in font family (follow #1161)
  dist/DisamAssist/DisamAssist.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: fix typo in font family (follow #1161) (#1164)
  dist/DisamAssist/DisamAssist.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: follow #1164
  dist/DisamAssist/DisamAssist.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: add mncqiuwenbaike
  dist/store.txt
  src/DidYouMean/definition.json
  src/DisamAssist/definition.json
  src/Editform_AiAssisted/definition.json
  src/HanSect/definition.json
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-obituary/definition.json
  src/Mainpage/definition.json
  src/Mainpage_licencewiki/definition.json
  src/PreviewWithVariant/definition.json
  src/Report-pagestyles/definition.json
  src/Report/definition.json
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
  src/VariantAlly/definition.json
  src/VariantAllyDialog/definition.json
  src/global.json
  src/morebits/definition.json
  src/select2/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(RRD): enable for autoconfirmed
  src/RRD/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(RRD): cancel hidden
  src/RRD/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies * autoconfirmed → skipcaptcha
  src/Edittools-delh/definition.json
  src/Group-confirmed/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update definition.txt
  dist/definition.txt
Due: none

build: update dependencies (#1166)
  dist/definition.txt
  src/Edittools-delh/definition.json
  src/Group-confirmed/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(URM): add i18n.ts
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(URM): add i18n.ts (#1167)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/modules/i18n.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
