Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(EasyArchive): remove unneeded `<div>`
  src/EasyArchive/modules/i18n.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EasyArchive): minify code
  src/EasyArchive/modules/i18n.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EasyArchive): update i18n (#383)
  src/EasyArchive/modules/i18n.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EasyArchive): remove unused code
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/i18n.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EasyArchive): remove unused code (#384)
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/i18n.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EasyArchive): remove unused code (follow #384) (#385)
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/i18n.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): reuse jQuery query (#386)
  src/AccessKeyCheatsheet/modules/core.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/util/oouiPrompt.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): reuse jQuery query
  src/AccessKeyCheatsheet/modules/core.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/util/oouiPrompt.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: reuse jQuery query
  src/AccessKeyCheatsheet/modules/core.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: reuse jQuery query (#387)
  src/AccessKeyCheatsheet/modules/core.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: eslint errors (#388)
  src/DiffLink/modules/addPortletLink.ts
  src/DisamAssist/modules/core.js
  src/EnhancedSpecialSearch/modules/core.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/HRTProtectLink/modules/core.ts
  src/LogFilter/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/core.ts
  src/PagePatroller/PagePatroller.ts
  src/PrintOptions/PrintOptions.js
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/Report/modules/addPortletLink.ts
  src/ShortURL/ShortURL.ts
  src/SiteCommon_JS/modules/tippy.ts
  src/TranslateVariants/TranslateVariants.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinklexfd.js
  src/UserRightsManager/modules/core.js
  src/morebits/morebits.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: eslint errors
  src/DiffLink/modules/addPortletLink.ts
  src/DisamAssist/modules/core.js
  src/EnhancedSpecialSearch/modules/core.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/HRTProtectLink/modules/core.ts
  src/LogFilter/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/core.ts
  src/PagePatroller/PagePatroller.ts
  src/PrintOptions/PrintOptions.js
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/Report/modules/addPortletLink.ts
  src/ShortURL/ShortURL.ts
  src/SiteCommon_JS/modules/tippy.ts
  src/TranslateVariants/TranslateVariants.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinklexfd.js
  src/UserRightsManager/modules/core.js
  src/morebits/morebits.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(BanPage): follow 31c068b
  src/BanPage/definition.json
  src/BanPage/modules/addPortletLink.ts
  src/BanPage/modules/editPage.ts
  src/BanPage/modules/util/refreshPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(BanPage): follow 31c068b (#389)
  src/BanPage/definition.json
  src/BanPage/modules/addPortletLink.ts
  src/BanPage/modules/editPage.ts
  src/BanPage/modules/util/refreshPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "fix: eslint errors (#388)"
  src/DiffLink/modules/addPortletLink.ts
  src/DisamAssist/modules/core.js
  src/EnhancedSpecialSearch/modules/core.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/HRTProtectLink/modules/core.ts
  src/LogFilter/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/core.ts
  src/PagePatroller/PagePatroller.ts
  src/PrintOptions/PrintOptions.js
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/Report/modules/addPortletLink.ts
  src/ShortURL/ShortURL.ts
  src/SiteCommon_JS/modules/tippy.ts
  src/TranslateVariants/TranslateVariants.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinklexfd.js
  src/UserRightsManager/modules/core.js
  src/morebits/morebits.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "fix: eslint errors" (#390)
  src/DiffLink/modules/addPortletLink.ts
  src/DisamAssist/modules/core.js
  src/EnhancedSpecialSearch/modules/core.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/HRTProtectLink/modules/core.ts
  src/LogFilter/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/core.ts
  src/PagePatroller/PagePatroller.ts
  src/PrintOptions/PrintOptions.js
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/Report/modules/addPortletLink.ts
  src/ShortURL/ShortURL.ts
  src/SiteCommon_JS/modules/tippy.ts
  src/TranslateVariants/TranslateVariants.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinklexfd.js
  src/UserRightsManager/modules/core.js
  src/morebits/morebits.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(eslintrc): stop using lint rules
  .eslintrc
Due: prettier --cache --ignore-unknown --write

fix(twinkle): selectors of `document.querySelector`
  src/Twinkle/modules/twinkle.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(SiteCommon): minor fix
  src/SiteCommon/modules/hlist.less
  src/SiteCommon/modules/mbox.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Navbox): convert into LESS
  src/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor in LESS; minor fix (#392)
  src/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/hlist.less
  src/SiteCommon/modules/mbox.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Navbox): add fallback
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Navbox): add wrap
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Navbox): add fallback; add wrap (#393)
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build(eslintrc): selecting IDs might be exempted from warning
  .eslintrc
Due: prettier --cache --ignore-unknown --write

build(eslintrc): selecting IDs might be exempted from warning (#394)
  .eslintrc
Due: prettier --cache --ignore-unknown --write

refactor: follow 4a70665
  src/AccessKeyCheatsheet/modules/core.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow 4a70665 (#395)
  src/AccessKeyCheatsheet/modules/core.ts
  src/AddSectionPlus/AddSectionPlus.ts
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NavboxCSS): add fallback
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(NavboxCSS): add fallback (#396)
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build(Navbox): remove declaration-block-no-duplicate-properties
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build(Navbox): add declaration-block-no-duplicate-properties back
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Navbox): add fallback (follow #396) (#397)
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): make `catALotShiftClick` great again use BEM consistently use class names instead of mixing with ids
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/checkbox.ts
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(Cat-a-lot-pagestyles): update description in definition
  src/Cat-a-lot-pagestyles/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): remove unnecessary judgments use the `actions` option in definition.json to control the loading timing
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(NospzGothic): order
  src/NospzGothic/NospzGothic.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(NospzGothic): order (#399)
  src/NospzGothic/NospzGothic.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
