Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(WhoIsActive): get user talk page links; remove anchor
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/util/getUserLinks.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): get user talk page links; remove anchor (#1707)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/util/getUserLinks.ts
Due: prettier --write, eslint --fix

fix: remove appendFooterNotice()
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/appendFooterNotice.ts
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/loadEasyArcive.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/PagePatroller/modules/showPagePatroller.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/WhoIsActive/modules/util/appendFooterNotice.ts
  src/WhoIsActive/modules/util/appendMarker.ts
Due: prettier --write, eslint --fix

fix: remove appendFooterNotice() (#1708)
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/appendFooterNotice.ts
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/loadEasyArcive.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/PagePatroller/modules/showPagePatroller.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/WhoIsActive/modules/util/appendFooterNotice.ts
  src/WhoIsActive/modules/util/appendMarker.ts
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

fix(EasyArchive, PagePatroller): children node missing
  dist/EasyArchive/EasyArchive.js
  dist/PagePatroller/PagePatroller.js
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/components/editConflictNotice.tsx
  src/EasyArchive/modules/components/footerNotices.tsx
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/EasyArchive/modules/loadEasyArcive.tsx
  src/PagePatroller/modules/components/footerNotices.tsx
  src/PagePatroller/modules/showPagePatroller.tsx
Due: prettier --write, eslint --fix

fix(EasyArchive, PagePatroller): children node missing (#1709)
  dist/EasyArchive/EasyArchive.js
  dist/PagePatroller/PagePatroller.js
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/components/editConflictNotice.tsx
  src/EasyArchive/modules/components/footerNotices.tsx
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/EasyArchive/modules/loadEasyArcive.tsx
  src/PagePatroller/modules/components/footerNotices.tsx
  src/PagePatroller/modules/showPagePatroller.tsx
Due: prettier --write, eslint --fix

fix(PagePatroller): replaceWith cannot be used
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/modules/showPagePatroller.tsx
Due: prettier --write, eslint --fix

fix(PagePatroller): replaceWith cannot be used (#1711)
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/modules/showPagePatroller.tsx
Due: prettier --write, eslint --fix

fix(GeoLocationReader, MarkRights-Userpage, WhoIsActive): add user-select: none to footer icons
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(GeoLocationReader, MarkRights-Userpage, WhoIsActive): add user-select: none to footer icons (#1712)
  dist/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.css
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: optimize code logic for <FooterNotice>
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/modules/components/footerNotices.tsx
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/components/react.tsx
  src/GeoLocationReader/modules/util/getLocation.ts
  src/MarkRights-Userpage/components/react.tsx
  src/PagePatroller/modules/components/footerNotices.tsx
  src/PagePatroller/modules/showPagePatroller.tsx
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

refactor: optimize code logic for <FooterNotice> (#1713)
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/modules/components/footerNotices.tsx
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/components/react.tsx
  src/GeoLocationReader/modules/util/getLocation.ts
  src/MarkRights-Userpage/components/react.tsx
  src/PagePatroller/modules/components/footerNotices.tsx
  src/PagePatroller/modules/showPagePatroller.tsx
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

fix(WhoIsActive): wrong timestamp detected
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): wrong timestamp detected
  dist/WhoIsActive/WhoIsActive.js
Due: prettier --write, eslint --fix

fix(WhoIsActive): wrong timestamp detected
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): wrong timestamp detected (#1714)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

build: remove all code for testwiki
  dist/store.txt
  src/EnhancedSpecialSearch/definition.json
  src/Geo/definition.json
  src/GeoLocation/definition.json
  src/GeoLocationReader-pagestyles/definition.json
  src/LoginToEdit/definition.json
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage-Mourning/definition.json
  src/Mainpage/definition.json
  src/Mainpage_licencewiki/definition.json
  src/Mainpage_loginwiki/definition.json
  src/Mainpage_mncqiuwenbaike/definition.json
  src/Mainpage_zhqiuwenbaike/definition.json
  src/MemorialDay-settings/definition.json
  src/MemorialDay/definition.json
  src/QuickImportAllMedia/definition.json
  src/Report-pagestyles/definition.json
  src/Report/definition.json
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
  src/UserRightsManager/definition.json
  src/VariantAlly/definition.json
  src/VariantAllyDialog/definition.json
  src/VerifyToEdit/definition.json
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: remove all code for testwiki (#1715)
  dist/store.txt
  src/EnhancedSpecialSearch/definition.json
  src/Geo/definition.json
  src/GeoLocation/definition.json
  src/GeoLocationReader-pagestyles/definition.json
  src/LoginToEdit/definition.json
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage-Mourning/definition.json
  src/Mainpage/definition.json
  src/Mainpage_licencewiki/definition.json
  src/Mainpage_loginwiki/definition.json
  src/Mainpage_mncqiuwenbaike/definition.json
  src/Mainpage_zhqiuwenbaike/definition.json
  src/MemorialDay-settings/definition.json
  src/MemorialDay/definition.json
  src/QuickImportAllMedia/definition.json
  src/Report-pagestyles/definition.json
  src/Report/definition.json
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
  src/UserRightsManager/definition.json
  src/VariantAlly/definition.json
  src/VariantAllyDialog/definition.json
  src/VerifyToEdit/definition.json
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_Attribution): add padding to wrapping <div>
  dist/Editform_Attribution/Editform_Attribution.js
  dist/definition.txt
  src/Editform_Attribution/definition.json
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/util/generateLayout.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_Attribution): add padding to wrapping <div>
  dist/Editform_Attribution/Editform_Attribution.css
  src/Editform_Attribution/modules/util/Editform_Attribution.module.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Editform_Attribution): add padding to wrapping <div> (#1716)
  dist/Editform_Attribution/Editform_Attribution.css
  dist/Editform_Attribution/Editform_Attribution.js
  dist/definition.txt
  src/Editform_Attribution/definition.json
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/util/Editform_Attribution.module.less
  src/Editform_Attribution/modules/util/generateLayout.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

build: add missing dependencies and remove redundant ones
  dist/definition.txt
  scripts/modules/utils/build-util.ts
  src/DisamAssist/definition.json
  src/EasyArchive/definition.json
  src/Editform_AiAssisted/definition.json
  src/Editform_Attribution/definition.json
  src/Mainpage_JS/definition.json
  src/MarkRights-Userpage/definition.json
  src/NoteTA/definition.json
  src/PrintOptions/definition.json
  src/QuickPatrol/definition.json
  src/ScrollUpButton/definition.json
  src/ToolsRedirect/definition.json
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
  src/WhoIsActive/definition.json
  src/morebits/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: add missing dependencies and remove redundant ones (#1717)
  dist/definition.txt
  scripts/modules/utils/build-util.ts
  src/DisamAssist/definition.json
  src/EasyArchive/definition.json
  src/Editform_AiAssisted/definition.json
  src/Editform_Attribution/definition.json
  src/Mainpage_JS/definition.json
  src/MarkRights-Userpage/definition.json
  src/NoteTA/definition.json
  src/PrintOptions/definition.json
  src/QuickPatrol/definition.json
  src/ScrollUpButton/definition.json
  src/ToolsRedirect/definition.json
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
  src/WhoIsActive/definition.json
  src/morebits/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: format
  dist/definition.txt
  src/NospzGothic/NospzGothic.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: format (#1719)
  dist/definition.txt
  src/NospzGothic/NospzGothic.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage_JS): minor fix of link title and text
  dist/Mainpage_JS/Mainpage_JS.js
  src/Mainpage_JS/modules/addSisterProjectLinks.ts
  src/Mainpage_JS/modules/util/i18n.ts
Due: prettier --write, eslint --fix

fix(Mainpage_JS): minor fix of link title and text (#1720)
  dist/Mainpage_JS/Mainpage_JS.js
  src/Mainpage_JS/modules/addSisterProjectLinks.ts
  src/Mainpage_JS/modules/util/i18n.ts
Due: prettier --write, eslint --fix

fix(OnlineAdmins): typo
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, eslint --fix

fix(OnlineAdmins): typo (#1721)
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, eslint --fix

fix(QueryContributors): add string escaping
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

fix(QueryContributors): add string escaping (#1722)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
