Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build: remove two TR plugins from licencewiki
  dist/store.txt
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: remove two TR plugins from licencewiki (#969)
  dist/store.txt
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Revert "fix: replace wgULS with localize() (#968)"
  dist/DefaultSummaries/DefaultSummaries.js
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.js
  dist/RollbackSummary/RollbackSummary.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/PrintOptions/PrintOptions.js
  src/PrintOptions/modules/i18n.ts
  src/RRD/modules/core.tsx
  src/RRD/modules/i18n.ts
  src/RRD/modules/messages.ts
  src/RollbackSummary/modules/core.ts
  src/RollbackSummary/modules/i18n.ts
  src/RollbackSummary/modules/messages.ts
  src/SiteCommon_JS/modules/core.tsx
  src/SiteCommon_JS/modules/i18n.ts
Due: prettier --write, eslint --fix

fix: partially replace wgULS with localize()
  dist/DefaultSummaries/DefaultSummaries.js
  dist/RRD/RRD.js
  dist/RollbackSummary/RollbackSummary.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/DefaultSummaries/modules/messages.ts
  src/RRD/modules/i18n.ts
  src/RollbackSummary/modules/core.ts
  src/RollbackSummary/modules/i18n.ts
  src/SiteCommon_JS/modules/i18n.ts
Due: prettier --write, eslint --fix

fix: partially replace wgULS with localize() (#971)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/RRD/RRD.js
  dist/RollbackSummary/RollbackSummary.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/RRD/modules/core.tsx
  src/RRD/modules/i18n.ts
  src/RRD/modules/messages.ts
  src/RollbackSummary/modules/core.ts
  src/RollbackSummary/modules/i18n.ts
  src/RollbackSummary/modules/messages.ts
  src/SiteCommon_JS/modules/i18n.ts
Due: prettier --write, eslint --fix

chore(twinkle): remove WG_WIKI_ID
  src/Twinkle/modules/constant.ts
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(toolsRedirect): remove simpAndTrad; fix VARIANTS
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix(toolsRedirect): remove simpAndTrad; fix VARIANTS
  dist/ToolsRedirect/ToolsRedirect.js
Due: prettier --write, eslint --fix

fix(toolsRedirect): remove simpAndTrad; fix VARIANTS (#972)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

chore(twinkle): remove WG_WIKI_ID
  dist/Twinkle/Twinkle.js
Due: prettier --write, eslint --fix

chore(twinkle): remove WG_WIKI_ID (#973)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/constant.ts
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

chore: use String#trim
  dist/HotCat/HotCat.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/ToolsRedirect/modules/courtesy-and-art-names.ts
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): fix bug
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/bio-latin-names.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

chore: use String#trim (#974)
  dist/HotCat/HotCat.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/ToolsRedirect/modules/courtesy-and-art-names.ts
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): fix bug
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): fix bug (#975)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/bio-latin-names.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): remove some code for IS_CATEGORY
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): remove code for IS_CATEGORY (#976)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

refactor: import type definitions
  dist/DiffLink/DiffLink.js
  dist/ShortURL/ShortURL.js
  src/DiffLink/DiffLink.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix

refactor: import type definitions (#977)
  dist/DiffLink/DiffLink.js
  dist/ShortURL/ShortURL.js
  src/DiffLink/DiffLink.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix

refactor(NoteTA): synchronize from upstream
  dist/NoteTA-pagestyles/NoteTA-pagestyles.css
  dist/NoteTA/NoteTA.js
  dist/definition.txt
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/NoteTA/NoteTA.ts
  src/NoteTA/definition.json
  src/NoteTA/modules/api.ts
  src/NoteTA/modules/constant.ts
  src/NoteTA/modules/core.ts
  src/NoteTA/modules/i18n.ts
  src/NoteTA/modules/initViewMap.ts
  src/NoteTA/modules/initWindowManager.ts
  src/NoteTA/modules/parseWikitext.ts
  src/NoteTA/modules/processVector.tsx
  src/NoteTA/modules/util/ApiRetryFailError.tsx
  src/NoteTA/modules/util/assert.ts
  src/NoteTA/modules/viewer.tsx
  src/NoteTA/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(NoteTA): ompatible with MediaWiki 1.40
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/processVector.tsx
Due: prettier --write, eslint --fix

refactor(NoteTA): synchronize from upstream
  dist/NoteTA/NoteTA.js
  src/NoteTA/NoteTA.ts
  src/NoteTA/modules/constant.ts
  src/NoteTA/modules/initGlobalMethods.tsx
  src/NoteTA/modules/initViewMap.ts
  src/NoteTA/modules/processVector.tsx
  src/NoteTA/modules/util/assert.ts
  src/NoteTA/modules/util/generatePortletLink.tsx
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix

refactor(NoteTA): improve style
  dist/NoteTA-pagestyles/NoteTA-pagestyles.css
  dist/NoteTA/NoteTA.js
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(NoteTA): cleanup code
  dist/NoteTA/NoteTA.js
  dist/definition.txt
  src/NoteTA/NoteTA.ts
  src/NoteTA/definition.json
  src/NoteTA/modules/initGlobalMethods.tsx
  src/NoteTA/modules/util/ApiRetryFailError.tsx
  src/NoteTA/modules/util/generatePortletLink.tsx
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(NoteTA): synchronize from upstream (#978)
  dist/NoteTA-pagestyles/NoteTA-pagestyles.css
  dist/NoteTA/NoteTA.js
  dist/definition.txt
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/NoteTA/NoteTA.ts
  src/NoteTA/definition.json
  src/NoteTA/modules/api.ts
  src/NoteTA/modules/constant.ts
  src/NoteTA/modules/core.ts
  src/NoteTA/modules/i18n.ts
  src/NoteTA/modules/initGlobalMethods.tsx
  src/NoteTA/modules/initViewMap.ts
  src/NoteTA/modules/initWindowManager.ts
  src/NoteTA/modules/parseWikitext.ts
  src/NoteTA/modules/util/ApiRetryFailError.tsx
  src/NoteTA/modules/util/assert.ts
  src/NoteTA/modules/util/generatePortletLink.tsx
  src/NoteTA/modules/viewer.tsx
  src/NoteTA/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(NoteTA): improve a11y
  dist/NoteTA/NoteTA.js
  src/NoteTA/NoteTA.ts
Due: prettier --write, eslint --fix

refactor(NoteTA): improve a11y (#979)
  dist/NoteTA/NoteTA.js
  src/NoteTA/NoteTA.ts
Due: prettier --write, eslint --fix

refactor(NoteTA): improve text formatting for easier reading
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix

refactor(NoteTA): improve text formatting for easier reading (#980)
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix

refactor(DiffLink): import type definitions revert from #977
  dist/DiffLink/DiffLink.js
  src/DiffLink/DiffLink.ts
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/processId.ts
Due: prettier --write, eslint --fix

refactor(DiffLink): import type definitions (#981)
  dist/DiffLink/DiffLink.js
  src/DiffLink/DiffLink.ts
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/processId.ts
Due: prettier --write, eslint --fix

fix(SiteCommon/thumbImage): remove unneeded rules
  src/SiteCommon/modules/thumbImage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/thumbImage): remove unneeded rules (#982)
  src/SiteCommon/modules/thumbImage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: move filepage.css to new gadget; add Filepage.css
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/definition.txt
  src/SiteCommon/LICENSE
  src/SiteCommon/SiteCommon.less
  src/SiteCommon_Filepage/LICENSE
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/SiteCommon_Filepage/definition.json
  src/SiteCommon_Filepage/images/gallery-background.svg
  src/global.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build: update store.txt
  dist/store.txt
Due: none

build: move filepage.css to new gadget; add Filepage.css (#983)
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/definition.txt
  dist/store.txt
  src/SiteCommon/LICENSE
  src/SiteCommon/SiteCommon.less
  src/SiteCommon_Filepage/LICENSE
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/SiteCommon_Filepage/definition.json
  src/SiteCommon_Filepage/images/gallery-background.svg
  src/global.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(variables): update font family variables
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

update dist
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(variables): update font family variables (#984)
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix
