Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build(ToolsRedirect): i18n
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/messages.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect): redirect with anchor (#1544)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/messages.ts
Due: prettier --write, eslint --fix

refactor: add rvslots: main to API query params
  dist/Cat-a-lot/Cat-a-lot.js
  dist/DisamAssist/DisamAssist.js
  dist/EasyArchive/EasyArchive.js
  dist/EditConflict/EditConflict.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/HotCat/HotCat.js
  dist/PagePatroller/PagePatroller.js
  dist/RRD/RRD.js
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.js
  src/Cat-a-lot/modules/core.tsx
  src/DisamAssist/modules/core.js
  src/EasyArchive/modules/util/getSection.ts
  src/EditConflict/modules/util/queryPageInfo.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/HotCat/HotCat.js
  src/PagePatroller/modules/api.ts
  src/PagePatroller/modules/core.ts
  src/RRD/modules/submit.ts
  src/Twinkle/modules/twinkle.js
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

refactor: add rvslots: main to API query params (#1545)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/DisamAssist/DisamAssist.js
  dist/EasyArchive/EasyArchive.js
  dist/EditConflict/EditConflict.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/HotCat/HotCat.js
  dist/PagePatroller/PagePatroller.js
  dist/RRD/RRD.js
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.js
  src/Cat-a-lot/modules/core.tsx
  src/DisamAssist/modules/core.js
  src/EasyArchive/modules/util/getSection.ts
  src/EditConflict/modules/util/queryPageInfo.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/HotCat/HotCat.js
  src/PagePatroller/modules/api.ts
  src/PagePatroller/modules/core.ts
  src/RRD/modules/submit.ts
  src/Twinkle/modules/twinkle.js
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

refactor: remove eslint-disable as many as possible
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  src/HotCat/HotCat.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/.eslintrc
  src/MarkBlocked/modules/util/api.ts
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/twinkleblock.js
Due: prettier --write, eslint --fix

refactor: remove eslint-disable as many as possible (#1546)
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.js
  dist/Navigation_popups/Navigation_popups.js
  dist/Twinkle/Twinkle.js
  src/HotCat/HotCat.js
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/.eslintrc
  src/MarkBlocked/modules/util/api.ts
  src/Navigation_popups/modules/core.js
  src/Twinkle/modules/twinkleblock.js
Due: prettier --write, eslint --fix

fix(GeoLocation): optimize logic
  dist/GeoLocation/GeoLocation.js
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

fix(GeoLocation): optimize logic (#1547)
  dist/GeoLocation/GeoLocation.js
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

fix(Twinkle): revert wrong changes
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleblock.js
Due: prettier --write, eslint --fix

fix(Twinkle): revert wrong changes (#1548)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleblock.js
Due: prettier --write, eslint --fix

feat(Mainpage_JS): add link to project list
  dist/Mainpage_JS/Mainpage_JS.js
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/modules/addSisterProjectLinks.ts
Due: prettier --write, eslint --fix

feat(Mainpage_JS): add link to project list (#1549)
  dist/Mainpage_JS/Mainpage_JS.js
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/modules/addSisterProjectLinks.ts
Due: prettier --write, eslint --fix

build: optimize ESLint rules
  dist/Cat-a-lot/Cat-a-lot.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Cat-a-lot/modules/.eslintrc
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/DisamAssist/.eslintrc
  src/Edittools-refToolbar/.eslintrc
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
Due: prettier --write, eslint --fix

build: optimize ESLint rules (#1550)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Cat-a-lot/modules/.eslintrc
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
  src/DisamAssist/.eslintrc
  src/Edittools-refToolbar/.eslintrc
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
Due: prettier --write, eslint --fix

fix(MarkRights): avoid double appending
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

fix(MarkRights): avoid double appending (#1551)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights): optimize code logic
  dist/MarkRights/MarkRights.js
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
  src/MarkRights/modules/query.ts
Due: prettier --write, eslint --fix

refactor(MarkRights): optimize code logic (#1552)
  dist/MarkRights/MarkRights.js
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
  src/MarkRights/modules/query.ts
Due: prettier --write, eslint --fix

refactor(MarkRights): replace $.each with for-of loop
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

fix(MarkRights): replace $.each with for-of loop, avoid double appending (#1553)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights): optimize code logic
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights): optimize code logic (#1554)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

feat(Util): add mode definition to checkDependencies
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

feat(Util): add mode definition to checkDependencies (#1555)
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

fix(Mainpage*): turn off Mainpage-ChineseNewYear for all users
  dist/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.js
  dist/definition.txt
  src/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.ts
  src/Mainpage-ChineseNewYear_JS/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage*): turn off Mainpage-ChineseNewYear for all users (#1556)
  dist/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.js
  dist/definition.txt
  src/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.ts
  src/Mainpage-ChineseNewYear_JS/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(Util/checkDependencies): optimize logic
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

feat(Util/checkDependencies): optimize logic (#1557)
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

feat(LinkSpacing): introducing LinkSpacing
  dist/LinkSpacing/LinkSpacing.css
  dist/LinkSpacing/LinkSpacing.js
  dist/definition.txt
  src/LinkSpacing/LICENSE
  src/LinkSpacing/LinkSpacing.ts
  src/LinkSpacing/definition.json
  src/LinkSpacing/util/LinkSpace.tsx
  src/LinkSpacing/util/LinkSpacing.module.less
  src/TextSpacing/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(LinkSpacing): introducing LinkSpacing (#1558)
  dist/LinkSpacing/LinkSpacing.css
  dist/LinkSpacing/LinkSpacing.js
  dist/definition.txt
  src/LinkSpacing/LICENSE
  src/LinkSpacing/LinkSpacing.ts
  src/LinkSpacing/definition.json
  src/LinkSpacing/util/LinkSpace.tsx
  src/LinkSpacing/util/LinkSpacing.module.less
  src/TextSpacing/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(HotCat, Cat-a-lot): add additional code to judge if a user is using Chinese IME
  dist/Cat-a-lot/Cat-a-lot.js
  dist/HotCat/HotCat.js
  src/Cat-a-lot/modules/core.tsx
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix

fix(HotCat, Cat-a-lot): add additional code to judge if a user is using Chinese IME (#1559)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/HotCat/HotCat.js
  src/Cat-a-lot/modules/core.tsx
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

refactor(Util/checkDependencies): rename vars
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

refactor(Mainpage-ChineseNewYear): re-enable this gadget on other pages
  dist/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.js
  dist/definition.txt
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.ts
  src/Mainpage-ChineseNewYear_JS/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Util/checkDependencies): rename vars (#1560)
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

refactor(Mainpage-ChineseNewYear): re-enable this gadget on other pages (#1561)
  dist/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.js
  dist/definition.txt
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.ts
  src/Mainpage-ChineseNewYear_JS/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(ResponsiveContent): add class for thumbs with default size
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent): add class for thumbs with default size (#1562)
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix
