Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(Twinkle/twinklespeedy): add O3 to user namespace
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

fix(Twinkle/twinklespeedy): add O3 to user namespace
  dist/Twinkle/Twinkle.js
Due: prettier --write, eslint --fix

fix(Twinkle/twinklespeedy): add O3 to user namespace (#1773)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

build: update packages
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update packages (#1774)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: update UA
  scripts/constant.ts
Due: prettier --write, eslint --fix

refactor(Twinkle): sync with upstream (https://github.com/xiplus-mediawiki-programs/twinkle)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

refactor(Twinkle): sync with upstream (https://github.com/xiplus-mediawiki-programs/twinkle)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklewarn.js
Due: prettier --write, eslint --fix

refactor(Twinkle): sync with upstream (https://github.com/xiplus-mediawiki-programs/twinkle)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytalkback.js
Due: prettier --write, eslint --fix

refactor(Twinkle): sync with upstream (https://github.com/xiplus-mediawiki-programs/twinkle) (#1775)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

fix(Mainpage): flex-basis of boxes
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: color variable names
  dist/Mainpage/Mainpage.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/EditForm/EditForm.less
  src/FloatTOC/FloatTOC.less
  src/Mainpage/Mainpage.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): flex-basis of boxes (#1776)
  dist/Mainpage/Mainpage.css
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/EditForm/EditForm.less
  src/FloatTOC/FloatTOC.less
  src/Mainpage/Mainpage.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Navigation_popups): remove jsUrl
  dist/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

fix(Navigation_popups): remove jsUrl (#1777)
  dist/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

build: update packages
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update packages (#1778)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update packages (#1779)
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage*): color variable names
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage*): color variable names (#1780)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat(wikiplus): check content model before creating the page redirect
  dist/Wikiplus/Wikiplus.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus/modules/core/page.js
  src/Wikiplus/modules/index.js
  src/Wikiplus/modules/services/wiki.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(wikiplus): check content model before creating the page redirect (#1781)
  dist/Wikiplus/Wikiplus.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus/modules/core/page.js
  src/Wikiplus/modules/index.js
  src/Wikiplus/modules/services/wiki.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(InPageEdit): set QuickEdit buttons to unselectable
  dist/InPageEdit/InPageEdit.css
  dist/InPageEdit/InPageEdit.js
  dist/definition.txt
  src/InPageEdit/InPageEdit.less
  src/InPageEdit/InPageEdit.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(InPageEdit): set QuickEdit buttons to unselectable (#1782)
  dist/InPageEdit/InPageEdit.css
  dist/InPageEdit/InPageEdit.js
  dist/definition.txt
  src/InPageEdit/InPageEdit.less
  src/InPageEdit/InPageEdit.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(TabbedWindow): add TabbedWindow
  dist/TabbedWindow/TabbedWindow.js
  dist/definition.txt
  src/TabbedWindow/LICENSE
  src/TabbedWindow/TabbedWindow.ts
  src/TabbedWindow/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(TabbedWindow): add TabbedWindow
  dist/TabbedWindow/TabbedWindow.js
  src/TabbedWindow/TabbedWindow.ts
Due: prettier --write, eslint --fix

feat(TabbedWindow): add TabbedWindow (#1783)
  dist/TabbedWindow/TabbedWindow.js
  dist/definition.txt
  src/TabbedWindow/LICENSE
  src/TabbedWindow/TabbedWindow.ts
  src/TabbedWindow/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(wikiplus): check content model before creating the page redirect
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/services/wiki.js
  src/Wikiplus/modules/utils/helpers.js
Due: prettier --write, eslint --fix

feat(wikiplus): check content model before creating the page redirect (#1784)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/services/wiki.js
  src/Wikiplus/modules/utils/helpers.js
Due: prettier --write, eslint --fix

build: update dependecies; replace CSS media queries with range syntax format
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/Cat-a-lot/Cat-a-lot.js
  dist/CookieWarning/CookieWarning.css
  dist/FloatTOC/FloatTOC.css
  dist/FloatTOC/FloatTOC.js
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/LogFilter/LogFilter.js
  dist/StickyTableHeaders/StickyTableHeaders.css
  dist/TextSpacing/TextSpacing.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependecies; replace CSS media queries with range syntax format (#1786)
  dist/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.css
  dist/Cat-a-lot/Cat-a-lot.js
  dist/CookieWarning/CookieWarning.css
  dist/FloatTOC/FloatTOC.css
  dist/FloatTOC/FloatTOC.js
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/LogFilter/LogFilter.js
  dist/StickyTableHeaders/StickyTableHeaders.css
  dist/TextSpacing/TextSpacing.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: remove unneeded polyfills
  dist/Tippy/Tippy.js
  dist/Util/Util.js
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  scripts/modules/utils/build-util.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: remove unneeded polyfills (#1787)
  dist/Tippy/Tippy.js
  dist/Util/Util.js
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  scripts/modules/utils/build-util.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(QuickImport): add getIwPrefix function
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/getIwPrefix.ts
Due: prettier --write, eslint --fix

fix(QuickImport): add getIwPrefix function (#1788)
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/getIwPrefix.ts
Due: prettier --write, eslint --fix

fix(LoginToEdit): load ext.gadget.AjaxLogin
  dist/definition.txt
  src/LoginToEdit/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(LoginToEdit): load ext.gadget.AjaxLogin (#1793)
  dist/definition.txt
  src/LoginToEdit/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dist/store.txt
  dist/store.txt
Due: none
