Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build(Navigation_popups): merge with pagestyles module
  dist/Navigation_popups-pagestyles/Navigation_popups-pagestyles.css
  dist/Navigation_popups/Navigation_popups.js
  dist/definition.txt
  src/Navigation_popups-pagestyles/LICENSE
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/Navigation_popups-pagestyles/definition.json
  src/Navigation_popups/LICENSE
  src/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(Navigation_popups): merge with pagestyles module (#1119)
  dist/Navigation_popups-pagestyles/Navigation_popups-pagestyles.css
  dist/Navigation_popups/Navigation_popups.js
  dist/definition.txt
  src/Navigation_popups-pagestyles/LICENSE
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/Navigation_popups-pagestyles/definition.json
  src/Navigation_popups/LICENSE
  src/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: follow #1119
  dist/Navigation_popups/Navigation_popups.css
  src/Navigation_popups/Navigation_popups.less
  src/Navigation_popups/Navigation_popups.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(QuickPatrol): follow #1117
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/QuickPatrol.tsx
  src/QuickPatrol/modules/PatrolPage.tsx
Due: prettier --write, eslint --fix

refactor(QuickPatrol): follow #1117 (#1120)
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/QuickPatrol.tsx
  src/QuickPatrol/modules/PatrolPage.tsx
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

refactor(QuickPatrol): clean up (#1121)
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/modules/patrolPages.tsx
Due: prettier --write, eslint --fix

refactor(QuickPatrol): clean up
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/modules/patrolPages.tsx
Due: prettier --write, eslint --fix

refactor(QuickImport): optimize logic
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/api.ts
  src/QuickImport/modules/core.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImport/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(QuickImport): optimize logic (#1122)
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/api.ts
  src/QuickImport/modules/core.ts
  src/QuickImport/modules/quickImport.ts
  src/QuickImport/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: add "section" to definition.json
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage/definition.json
  src/Mainpage_JS/definition.json
  src/Mainpage_licencewiki/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Group-user): add rule for licencewiki
  dist/Group-user/Group-user.css
  src/Group-user/Group-user.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Group-user): add rule for licencewiki (#1123)
  dist/Group-user/Group-user.css
  src/Group-user/Group-user.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(PurgePageCache): optimize logic
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/PurgePageCache.ts
  src/PurgePageCache/modules/api.ts
  src/PurgePageCache/modules/constant.ts
  src/PurgePageCache/modules/core.ts
  src/PurgePageCache/modules/purge.ts
  src/PurgePageCache/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PurgePageCache): optimize logic (#1124)
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/PurgePageCache.ts
  src/PurgePageCache/modules/api.ts
  src/PurgePageCache/modules/constant.ts
  src/PurgePageCache/modules/core.ts
  src/PurgePageCache/modules/purge.ts
  src/PurgePageCache/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PrintOptions): optimize logic
  src/PrintOptions/PrintOptions.js
Due: prettier --write, eslint --fix

refactor(PrintOptions): optimize logic (#1125)
  src/PrintOptions/PrintOptions.js
Due: prettier --write, eslint --fix

build(PrintOptions): build dist
  dist/PrintOptions/PrintOptions.js
Due: prettier --write, eslint --fix

fix(TranslateVariants): incorrect judgment conditions
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

fix(TranslateVariants): incorrect judgment conditions (#1126)
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

fix(EditForm_JS): ignore introACH for official users and experienced users
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): ignore introACH for official users and experienced users (#1127)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): only run introACH on namespaces 0 and 6
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): only run introACH on namespaces 0 and 6 (#1128)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

build: #1128
  dist/EditForm_JS/EditForm_JS.js
Due: prettier --write, eslint --fix

fix(EditForm_JS): follow #1128
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

refactor(MemorialDay): support multiple dates
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/addStyleTag.ts
  src/MemorialDay/modules/core.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MemorialDay): support multiple titles
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): follow #1128 (#1129)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

refactor(MemorialDay): support multiple dates and titles (#1130)
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/addStyleTag.ts
  src/MemorialDay/modules/core.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(Mainpage-obituary): add Mainpage-obituary
  dist/Mainpage-obituary/Mainpage_obituary.css
  src/Mainpage-obituary/LICENSE
  src/Mainpage-obituary/Mainpage_obituary.less
  src/Mainpage-obituary/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(Mainpage-obituary): add Mainpage-obituary (#1131)
  dist/Mainpage-obituary/Mainpage_obituary.css
  src/Mainpage-obituary/LICENSE
  src/Mainpage-obituary/Mainpage_obituary.less
  src/Mainpage-obituary/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage-obituary): follow #1131
  dist/Mainpage-obituary/Mainpage_obituary.css
  src/Mainpage-obituary/Mainpage_obituary.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-obituary): follow #1131 (#1133)
  dist/Mainpage-obituary/Mainpage_obituary.css
  src/Mainpage-obituary/Mainpage_obituary.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dist
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/Mainpage-obituary/Mainpage_obituary.css
  dist/definition.txt
  dist/store.txt
  src/Mainpage-obituary/Mainpage-obituary.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(Mainpage-obituary): update LICENSE header
  dist/Mainpage-obituary/Mainpage-obituary.css
  src/Mainpage-obituary/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(MarkRights): split initMwApi to api.ts
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/api.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights): split initMwApi to api.ts (#1134)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/api.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(OnlineAdmins): split initMwApi to api.ts; move addPortletLink to entry file
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/OnlineAdmins.ts
  src/OnlineAdmins/modules/api.ts
  src/OnlineAdmins/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/OnlineAdmins/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
