Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(GeoLocationReader): requests may be blocked by WAF when using GET method
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --write, eslint --fix

refactor(GeoLocationReader): remove unused variable WG_SCRIPT
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocationReader/modules/constant.ts
Due: prettier --write, eslint --fix

refactor(GeoLocationReader): switch to POST method; remove WG_SCRIPT (#1017)
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/constant.ts
Due: prettier --write, eslint --fix

refactor(GeoLocation*): switch to POST method; remove WG_SCRIPT; add quote
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocation/modules/constant.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --write, eslint --fix

refactor(GeoLocation*): switch to POST method; remove WG_SCRIPT; add quote (#1018)
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocation/modules/constant.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --write, eslint --fix

refactor(ShortURL): move mw.hook() to entry file; fix wrong para order
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix

refactor(ShortURL): move mw.hook() to entry file; fix wrong para order (#1019)
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix

chore(format): rvslots: * → rvslots: main
  dist/HotCat/HotCat.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/morebits/morebits.js
  src/HotCat/HotCat.js
  src/ToolsRedirect/modules/core.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

chore(format): rvslots: * → rvslots: main (#1020)
  dist/HotCat/HotCat.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/morebits/morebits.js
  src/HotCat/HotCat.js
  src/ToolsRedirect/modules/core.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

build: update lint.yml * add build * add push and commit
  .github/workflows/lint.yml
Due: none

build: update lint.yml (#1021)
  .github/workflows/lint.yml
Due: none

build: update dependencies
  dist/Clipboard/Clipboard.js
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HideLongSummaries/HideLongSummaries.js
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/Navigation_popups/Navigation_popups.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.js
  dist/React/React.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Switcher/Switcher.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.js
  dist/WhoIsActive/WhoIsActive.js
  dist/Wikiplus/Wikiplus.js
  dist/morebits/morebits.js
  dist/select2/select2.js
Due: prettier --write, eslint --fix

fix(Util): #1012
  dist/Util/Util.js
  src/Util/modules/initMwApi.ts
Due: prettier --write, eslint --fix

fix(Report): fallback value for reportRevision
  src/Report/modules/fillSpecialPage.ts
Due: prettier --write, eslint --fix

fix(Report): fallback value for reportRevision
  dist/Report/Report.js
Due: prettier --write, eslint --fix

fix(Report): fallback value for reportRevision (#1022)
  dist/Report/Report.js
  src/Report/modules/fillSpecialPage.ts
Due: prettier --write, eslint --fix

chore(build-util): add *.jsx to regexes
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): rewrite partially in JSX
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  src/EasyArchive/EasyArchive.jsx
  src/EasyArchive/definition.json
  src/EasyArchive/modules/pare_str.ts
  src/EasyArchive/modules/types.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): rewrite partially in JSX (#1023)
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  scripts/modules/utils/build-util.ts
  src/EasyArchive/EasyArchive.jsx
  src/EasyArchive/definition.json
  src/EasyArchive/modules/pare_str.ts
  src/EasyArchive/modules/types.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EasyArchive): typo
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.jsx
Due: prettier --write, eslint --fix

fix(EasyArchive): typo (#1024)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.jsx
Due: prettier --write, eslint --fix

build: update wikitext links in definition files
  src/Edit0/definition.json
  src/PagePatroller/definition.json
  src/RRD/definition.json
  src/UserRightsManager/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update wikitext links in definition files (#1025)
  src/Edit0/definition.json
  src/PagePatroller/definition.json
  src/RRD/definition.json
  src/UserRightsManager/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(EasyArchive): replace insertAdjacentElement with prepend
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.jsx
Due: prettier --write, eslint --fix

fix(EasyArchive): replace insertAdjacentElement with prepend
  src/EasyArchive/modules/constant.ts
Due: prettier --write, eslint --fix

fix(EasyArchive): replace insertAdjacentElement with prepend (#1026)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.jsx
  src/EasyArchive/modules/constant.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): remove window.easy_archive
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/PareStr.ts
  src/EasyArchive/modules/constant.ts
  src/EasyArchive/modules/core.jsx
  src/EasyArchive/modules/elementWrap.tsx
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/types.d.ts
  src/EasyArchive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): remove window.easy_archive (#1027)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/PareStr.ts
  src/EasyArchive/modules/constant.ts
  src/EasyArchive/modules/core.jsx
  src/EasyArchive/modules/elementWrap.tsx
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/types.d.ts
  src/EasyArchive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PagePatroller): rewrite in TSX
  dist/PagePatroller/PagePatroller.js
  dist/definition.txt
  src/PagePatroller/definition.json
  src/PagePatroller/modules/constant.ts
  src/PagePatroller/modules/core.ts
  src/PagePatroller/modules/core.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/PagePatroller/modules/i18n.ts
  src/PagePatroller/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PagePatroller): rewrite in TSX (#1028)
  dist/PagePatroller/PagePatroller.js
  dist/definition.txt
  src/PagePatroller/definition.json
  src/PagePatroller/modules/constant.ts
  src/PagePatroller/modules/core.ts
  src/PagePatroller/modules/core.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/PagePatroller/modules/i18n.ts
  src/PagePatroller/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PagePatroller): follow commit 6d6f5a80
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/modules/core.tsx
  src/PagePatroller/modules/i18n.ts
  src/PagePatroller/modules/replaceChild.ts
Due: prettier --write, eslint --fix

refactor(PagePatroller): follow commit 6d6f5a80 (#1029)
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/modules/core.tsx
  src/PagePatroller/modules/i18n.ts
  src/PagePatroller/modules/replaceChild.ts
Due: prettier --write, eslint --fix

fix(GeoLocationReader): wrong param name
  dist/GeoLocationReader/GeoLocationReader.js
  scripts/modules/utils/build-util.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --write, eslint --fix

fix(GeoLocationReader): wrong param name (#1030)
  dist/GeoLocationReader/GeoLocationReader.js
  scripts/modules/utils/build-util.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
Due: prettier --write, eslint --fix

fix(GeoLocation): wrong param name
  dist/GeoLocation/GeoLocation.js
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

fix(GeoLocation): wrong param name (#1031)
  dist/GeoLocation/GeoLocation.js
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

revert EasyArchive to commit 57ce54d9
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/PareStr.ts
  src/EasyArchive/modules/constant.ts
  src/EasyArchive/modules/core.jsx
  src/EasyArchive/modules/elementWrap.tsx
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/types.d.ts
  src/EasyArchive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

revert EasyArchive to commit 57ce54d9 (#1032)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/PareStr.ts
  src/EasyArchive/modules/constant.ts
  src/EasyArchive/modules/core.jsx
  src/EasyArchive/modules/elementWrap.tsx
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/types.d.ts
  src/EasyArchive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: eslint errors
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DiffLink/modules/addPortletLink.ts
  src/EditForm_JS/modules/aiAssisted.ts
  src/EditForm_JS/modules/preloadRevid.ts
  src/GeoLocation/modules/storeLocation.ts
  src/Group-user_JS/modules/loadGadgetEditForm.ts
  src/Group-user_JS/modules/loadRNRSHashGlobally.ts
  src/HotCat/modules/check.ts
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/core.ts
  src/QuickImport/modules/core.ts
  src/QuickPatrol/modules/core.ts
  src/ShortURL/modules/core.ts
Due: prettier --write, eslint --fix

chore: simple compatibility with the new version of AwesomeGadgets
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DiffLink/DiffLink.js
  dist/Edit0/Edit0.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/FloatTOC/FloatTOC.js
  dist/GadgetsDefinition/GadgetsDefinition.js
  dist/GeoLocation/GeoLocation.js
  dist/Group-user_JS/Group-user_JS.js
  dist/HotCat/HotCat.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QuickImport/QuickImport.js
  dist/QuickPatrol/QuickPatrol.js
  dist/ShortURL/ShortURL.js
  dist/TextSpacing/TextSpacing.js
  dist/Toastify/Toastify.css
  dist/Toastify/Toastify.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/UTCLiveClock/UTCLiveClock.js
  dist/Wikiplus/Wikiplus.js
  dist/WordCount/WordCount.js
  dist/morebits/morebits.js
  dist/select2/select2.js
  src/Edit0/Edit0.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/FloatTOC/FloatTOC.ts
  src/GadgetsDefinition/GadgetsDefinition.ts
  src/TextSpacing/TextSpacing.ts
  src/Toastify/Toastify.ts
  src/Toastify/custom.less
  src/ToolsRedirect/ToolsRedirect.js
  src/Twinkle/Twinkle.js
  src/UTCLiveClock/UTCLiveClock.ts
  src/Wikiplus/Wikiplus.js
  src/WordCount/WordCount.ts
  src/morebits/morebits.js
  src/select2/select2.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
