Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(WPHL): update version (#1932)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(WPHL): update version
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(WPHL): update version (#1933)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Fix DiscussionTools positioning issue (#1931)
  src/SiteCommon_Talkpage/modules/discussionTools.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: upgrade dependencies; update dists
  dist/SiteCommon_Talkpage/SiteCommon_Talkpage.css
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(Twinkle): add reason parameter to friendly tag
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
Due: prettier --write, eslint --fix

fix(Editfrom_Attribution): enhance getLink function to handle valid internal links
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/getLink.ts
Due: prettier --write, eslint --fix

build: update dists
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(Twinkle): add reason parameter to friendly tag (#1934)
  dist/Twinkle/Twinkle.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/Twinkle/modules/friendlytag.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update dists; upgrade dependencies (#1935)
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: set ansi-regex version to >=5.0.1
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build: upgrade dependencies
  pnpm-lock.yaml
Due: none

fix(Editfrom_Attribution): enhance getLink function to handle valid internal links (#1936)
  dist/Editform_Attribution/Editform_Attribution.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/Editform_Attribution/modules/util/getLink.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update dists; upgrade dependencies
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dists; upgrade dependencies
  dist/Edittools-delh/Edittools-delh.js
  dist/UserRightsManager/UserRightsManager.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: support partial deployment of specified gadgets
  package.json
  scripts/modules/deploy.ts
  scripts/modules/utils/deploy-util.ts
  scripts/run.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dists
  dist/Edittools-delh/Edittools-delh.js
  dist/UserRightsManager/UserRightsManager.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Twinkle): correct CSD criteria and restore dialog behaviors after Codex migration
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/ui/TwSpeedyDialog.vue
  src/Twinkle/modules/ui/TwStatus.vue
Due: prettier --write, eslint --fix

build(twinkle): fix variable overlap
  dist/Twinkle/Twinkle.js
  eslint.config.ts
  pnpm-lock.yaml
  src/Twinkle/modules/ui/TwConfigPanel.vue
  src/Twinkle/modules/ui/TwUnlinkDialog.vue
Due: prettier --write, eslint --fix

build(twinkle): fix variable overlap (#1938)
  dist/Twinkle/Twinkle.js
  eslint.config.ts
  pnpm-lock.yaml
  src/Twinkle/modules/ui/TwConfigPanel.vue
  src/Twinkle/modules/ui/TwUnlinkDialog.vue
Due: prettier --write, eslint --fix

fix(SkinCitizen): remove margin-right of .citizen-overflow-wrapper
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): remove margin-right of .citizen-overflow-wrapper (#1939)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): box width
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: less optimization
  dist/HanSect/HanSect.css
  dist/Mainpage/Mainpage.css
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/NospzGothic/NospzGothic.css
  dist/ResponsiveContent/ResponsiveContent.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/HanSect/modules/textIndent.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SiteCommon/modules/hlist.less
  src/SiteCommon/modules/normalize.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: optimize less rules (#1940)
  dist/HanSect/HanSect.css
  dist/Mainpage/Mainpage.css
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/NospzGothic/NospzGothic.css
  dist/ResponsiveContent/ResponsiveContent.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  src/HanSect/modules/textIndent.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/ResponsiveContent/ResponsiveContent.less
  src/SiteCommon/modules/hlist.less
  src/SiteCommon/modules/normalize.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Twinkle): precheck existing maintenance tags in tag dialog * see <https://www.qiuwenbaike.cn/index.php?title=MediaWiki:Gadget-Twinkle.js&diff=prev&oldid=11232197>
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/ui/TwTagDialog.vue
Due: prettier --write, eslint --fix

fix(Twinkle): precheck existing maintenance tags in tag dialog (#1941)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/ui/TwTagDialog.vue
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): rewrite in Wikimedia Codex and Vue
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/ToolsRedirect/App.vue
  src/ToolsRedirect/ToolsRedirect.less
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/definition.json
  src/ToolsRedirect/modules/core.ts
  src/ToolsRedirect/modules/global.d.ts
  src/ToolsRedirect/modules/types.d.ts
  src/ToolsRedirect/modules/ui.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ToolsRedirect): rewrite in Codex and Vue (#1942)
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/ToolsRedirect/App.vue
  src/ToolsRedirect/ToolsRedirect.less
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/definition.json
  src/ToolsRedirect/modules/core.ts
  src/ToolsRedirect/modules/global.d.ts
  src/ToolsRedirect/modules/types.d.ts
  src/ToolsRedirect/modules/ui.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(FetchVariants): missing requirement mediawiki.Api
  dist/definition.txt
  src/FetchVariants/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(FetchVariants): missing dependency mediawiki.Api (#1943)
  dist/definition.txt
  src/FetchVariants/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(ToolsRedirect): rewrite in Codex and Vue
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/definition.txt
  src/FetchVariants/definition.json
  src/RRD/App.vue
  src/RRD/RRD.ts
  src/RRD/components/DialogInner.module.less
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
  src/RRD/definition.json
  src/RRD/modules/reportButton.ts
  src/RRD/modules/rrdConfig.ts
  src/RRD/modules/showDialog.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
