Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build: lint code
  dist/EditConflict/EditConflict.js
  dist/Report/Report.js
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.js
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/morebits/morebits.js
  src/EditConflict/modules/util/queryPageInfo.ts
  src/MarkBlocked/modules/types.d.ts
  src/Report/modules/getURL.ts
  src/UserRightsManager/modules/showDialog.ts
  src/Util/modules/mwUri.ts
  src/VariantAlly/modules/model.ts
  src/VariantAllyDialog/modules/utils.ts
  src/WhoIsActive/modules/types.d.ts
  src/i18n/modules/types.d.ts
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

build: lint code (#1908)
  .eslintrc
  dist/EditConflict/EditConflict.js
  dist/Report/Report.js
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.js
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/morebits/morebits.js
  package.json
  patches/eslint-config-wikimedia.patch
  patches/eslint-plugin-no-jquery.patch
  pnpm-lock.yaml
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
  src/EditConflict/modules/util/queryPageInfo.ts
  src/MarkBlocked/modules/types.d.ts
  src/Report/modules/getURL.ts
  src/UserRightsManager/modules/showDialog.ts
  src/Util/modules/mwUri.ts
  src/VariantAlly/modules/model.ts
  src/VariantAllyDialog/modules/utils.ts
  src/WhoIsActive/modules/types.d.ts
  src/i18n/modules/types.d.ts
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update eslint config
  eslint.config.ts
Due: prettier --write, eslint --fix

build: remove .eslintrc
  .eslintrc
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/.eslintrc
  src/Cat-a-lot/modules/.eslintrc
  src/Edittools-refToolbar/.eslintrc
  src/HotCat/.eslintrc
  src/Navigation_popups/.eslintrc
  src/ToolsRedirect/.eslintrc
  src/Twinkle/.eslintrc
  src/UserRightsManager/.eslintrc
  src/VariantAlly/.eslintrc
  src/VariantAllyDialog/.eslintrc
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus/.eslintrc
  src/morebits/.eslintrc
  src/select2/.eslintrc
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: remove .eslintrc (#1911)
  .eslintrc
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/.eslintrc
  src/Cat-a-lot/modules/.eslintrc
  src/Edittools-refToolbar/.eslintrc
  src/HotCat/.eslintrc
  src/Navigation_popups/.eslintrc
  src/ToolsRedirect/.eslintrc
  src/Twinkle/.eslintrc
  src/UserRightsManager/.eslintrc
  src/VariantAlly/.eslintrc
  src/VariantAllyDialog/.eslintrc
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus/.eslintrc
  src/morebits/.eslintrc
  src/select2/.eslintrc
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies (#1912)
  package.json
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(CopyCodeBlock): remove text label
  dist/CopyCodeBlock/CopyCodeBlock.js
  src/CopyCodeBlock/modules/addButton.ts
Due: prettier --write, eslint --fix

fix(CopyCodeBlock): remove text label (#1913)
  dist/CopyCodeBlock/CopyCodeBlock.js
  src/CopyCodeBlock/modules/addButton.ts
Due: prettier --write, eslint --fix

build: update config
  eslint.config.ts
  scripts/modules/utils/deploy-util.ts
Due: prettier --write, eslint --fix

build: update dists
  dist/store.txt
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update packages
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dompurify to >=3.4.11
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Add simple serial API queue (rate limit ~1 request/s) and route API calls through it
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

Fix regex escaping and update event handling
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

space
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(cat-a-lot): replace `any` with generic/unknown in API request queue
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

Change Promise type to unknown in requestQueue
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(cat-a-lot): replace `any` with generic `Awaited<T>` in API request queue
  dist/Cat-a-lot/Cat-a-lot.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(Cat-a-lot): add 1s dalay to requests (#1914)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update dist
  dist/Cat-a-lot/Cat-a-lot.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update packages
  package.json
  patches/types-mediawiki-api.patch
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update build scripts; update dists
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/Navigation_popups/Navigation_popups.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Tippy/Tippy.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  dist/morebits/morebits.js
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/general-util.ts
  src/Edittools-refToolbar/LICENSE
  src/Navigation_popups/modules/core.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/Util/modules/addEventListenerWithRemover.ts
  src/i18n/modules/types.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update build scripts; update dists (#1915)
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/Navigation_popups/Navigation_popups.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Tippy/Tippy.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  dist/morebits/morebits.js
  package.json
  patches/types-mediawiki-api.patch
  pnpm-lock.yaml
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/general-util.ts
  src/Edittools-refToolbar/LICENSE
  src/Navigation_popups/modules/core.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/Util/modules/addEventListenerWithRemover.ts
  src/i18n/modules/types.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(WPHL): upgrade to 3.5.0
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/src/core.ts
  src/Wikiplus-highlight/src/index.d.ts
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(WPHL): upgrade to 3.5.0 (#1916)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/src/core.ts
  src/Wikiplus-highlight/src/index.d.ts
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(scripts): add includeSites definition option
  .vscode/json-schemas/definition.json
  dist/definition.txt
  scripts/constant.ts
  scripts/modules/deploy.ts
  scripts/modules/formatJSON.ts
  scripts/modules/types/types.d.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-util.ts
  src/AjaxLogin/definition.json
  src/DidYouMean/definition.json
  src/DisamAssist/definition.json
  src/Editform_Attribution/definition.json
  src/GeoLocation/definition.json
  src/LinkSpacing/definition.json
  src/LoadRNRSCredentials/definition.json
  src/Mainpage_zhqiuwenbaike/definition.json
  src/QuickImportAllMedia/definition.json
  src/Report-pagestyles/definition.json
  src/Report/definition.json
  src/SFE2026/definition.json
  src/SkinCitizen_AddSidebarIcons/definition.json
  src/TemplateTabs/definition.json
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/Twinkle-pagestyles/definition.json
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
  src/VerifyToEdit/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dists
  dist/store.txt
Due: none

refactor(scripts): add includeSites definition option (#1917)
  .vscode/json-schemas/definition.json
  dist/definition.txt
  dist/store.txt
  scripts/constant.ts
  scripts/modules/deploy.ts
  scripts/modules/formatJSON.ts
  scripts/modules/types/types.d.ts
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-util.ts
  src/AjaxLogin/definition.json
  src/DidYouMean/definition.json
  src/DisamAssist/definition.json
  src/Editform_Attribution/definition.json
  src/GeoLocation/definition.json
  src/LinkSpacing/definition.json
  src/LoadRNRSCredentials/definition.json
  src/Mainpage_zhqiuwenbaike/definition.json
  src/QuickImportAllMedia/definition.json
  src/Report-pagestyles/definition.json
  src/Report/definition.json
  src/SFE2026/definition.json
  src/SkinCitizen_AddSidebarIcons/definition.json
  src/TemplateTabs/definition.json
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/Twinkle-pagestyles/definition.json
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
  src/VerifyToEdit/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(LoadRNRSCredentials): add LICENSE
  dist/LoadRNRSCredentials/LoadRNRSCredentials.js
  package.json
  pnpm-lock.yaml
  src/LoadRNRSCredentials/LICENSE
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(LoadRNRSCredentials): add LICENSE (#1918)
  dist/LoadRNRSCredentials/LoadRNRSCredentials.js
  package.json
  pnpm-lock.yaml
  src/LoadRNRSCredentials/LICENSE
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(InPageEdit-v2): replace with the updated version
  dist/InPageEdit-v2/InPageEdit-v2.js
  package.json
  pnpm-lock.yaml
  src/InPageEdit-v2/InPageEdit-v2.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(InPageEdit-v2): replace with the updated version (#1919)
  dist/InPageEdit-v2/InPageEdit-v2.js
  package.json
  pnpm-lock.yaml
  src/InPageEdit-v2/InPageEdit-v2.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies; add idb-plus
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/definition.txt
  dist/idb-plus/idb-plus.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/idb-plus/LICENSE
  src/idb-plus/definition.json
  src/idb-plus/idb-plus.ts
  src/idb-plus/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies; add idb-plus (#1920)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/definition.txt
  dist/idb-plus/idb-plus.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/idb-plus/LICENSE
  src/idb-plus/definition.json
  src/idb-plus/idb-plus.ts
  src/idb-plus/modules/global.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: add FetchVariants (WIP)
  dist/FetchVariants/FetchVariants.js
  dist/definition.txt
  pnpm-lock.yaml
  src/FetchVariants/FetchVariants.tsx
  src/FetchVariants/definition.json
  src/FetchVariants/modules/api.ts
  src/FetchVariants/modules/constant.ts
  src/FetchVariants/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
