Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

fix(navbox): fix margin (#413)
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: follow 337abe1
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

fix(URM): add escape to `:`
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(URM): add escape to `:` (#414)
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): css names use BEM code naming conventions
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor-Cat-a-lot (step 2) (#415)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): use existing variables
  src/AdvancedSiteNotices/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): use existing variables (#416)
  src/AdvancedSiteNotices/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: follow de28d1a
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): improve style
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/messages.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): improve style (#417)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/messages.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Cat-a-lot): typo
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(Cat-a-lot): typo (#418)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(W+): optimize CSS
  src/Wikiplus-pagestyles/modules/core.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(SiteCommon): add styles for `.clear`
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/clear.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(W+): optimize CSS (#419)
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/clear.less
  src/Wikiplus-pagestyles/modules/core.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build: switch to `modern`
  .browserslistrc
  src/EditConflict/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: switch to `modern` (#420)
  .browserslistrc
  src/EditConflict/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: switch to `modern`
  .stylelintrc
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/NavboxCSS/NavboxCSS.less
  src/Toastify/Toastify.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build: switch to `modern` (#421)
  .stylelintrc
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/NavboxCSS/NavboxCSS.less
  src/Toastify/Toastify.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(UserRightsManager): escape the colon
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(UserRightsManager): escape the colon (#422)
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(babelrc)!: remove-unneeded-polyfill
  .babelrc
Due: prettier --cache --ignore-unknown --write

fix(babelrc)!: remove-unneeded-polyfill (#424)
  .babelrc
Due: prettier --cache --ignore-unknown --write

fix(UserRightsManager): edit the incorrect section when the page has the same username
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(UserRightsManager): edit the incorrect section (#425)
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

revert: b5a5e22 use `.browserlistrc` instead
  .babelrc
Due: prettier --cache --ignore-unknown --write

refactor(SearchShortcuts): separate into modules
  src/SearchShortcuts/SearchShortcuts.ts
  src/SearchShortcuts/modules/addKeyDownListener.ts
  src/SearchShortcuts/modules/constant.ts
  src/SearchShortcuts/modules/core.ts
  src/SearchShortcuts/modules/getSearchInput.ts
  src/SearchShortcuts/modules/util/keydownListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SearchShortcuts): separate into modules (#427)
  src/SearchShortcuts/SearchShortcuts.ts
  src/SearchShortcuts/modules/addKeyDownListener.ts
  src/SearchShortcuts/modules/constant.ts
  src/SearchShortcuts/modules/core.ts
  src/SearchShortcuts/modules/getSearchInput.ts
  src/SearchShortcuts/modules/util/keydownListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Collapsible): add `noprint` class
  src/Collapsible/modules/core.ts
  src/SiteCommon/modules/print.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): separate options into a json file
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/api.ts
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Collapsible): add `noprint` class (#430)
  src/Collapsible/modules/core.ts
  src/SiteCommon/modules/print.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): separate options into a json file (#431)
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/api.ts
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: use namespace import
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/api.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/Clipboard/Clipboard.ts
  src/Toastify/Toastify.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
