Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

refactor(URM): refactor code
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/assignPermission.ts
  src/UserRightsManager/modules/issueTemplate.ts
  src/UserRightsManager/modules/markAsDone.ts
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, eslint --fix

fix(UserRightsManager): remove unneeded code (#1464)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/assignPermission.ts
  src/UserRightsManager/modules/issueTemplate.ts
  src/UserRightsManager/modules/markAsDone.ts
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): convert parameter to destructured object
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/removeSection.ts
Due: prettier --write, eslint --fix

fix(OnlineAdmins, QueryContributors): fix typo
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QueryContributors/QueryContributors.js
  src/OnlineAdmins/modules/components/groupList.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/modules/sanitize.ts
Due: prettier --write, eslint --fix

fix(OnlineAdmins, QueryContributors): fix typo (#1466)
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QueryContributors/QueryContributors.js
  src/OnlineAdmins/modules/components/groupList.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/modules/sanitize.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): convert parameter to destructured object (#1465)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/removeSection.ts
Due: prettier --write, eslint --fix

build: update LICENSE block
  src/EasyArchive/LICENSE
  src/QueryContributors/LICENSE
Due: none

build: update LICENSE block
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/QueryContributors/QueryContributors.js
  src/Mainpage_licencewiki/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update LICENSE block (#1467)
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/LICENSE
  src/Mainpage_licencewiki/LICENSE
  src/QueryContributors/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(add): add Mainpage*
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  dist/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.css
  dist/definition.txt
  src/Mainpage_loginwiki/LICENSE
  src/Mainpage_loginwiki/Mainpage_loginwiki.less
  src/Mainpage_loginwiki/definition.json
  src/Mainpage_mncqiuwenbaike/LICENSE
  src/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.less
  src/Mainpage_mncqiuwenbaike/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): add Mainpage* (#1468)
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  dist/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.css
  dist/definition.txt
  src/Mainpage_loginwiki/LICENSE
  src/Mainpage_loginwiki/Mainpage_loginwiki.less
  src/Mainpage_loginwiki/definition.json
  src/Mainpage_mncqiuwenbaike/LICENSE
  src/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.less
  src/Mainpage_mncqiuwenbaike/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: typo
  src/Mainpage_mncqiuwenbaike/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

build: update LICENSE block
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  dist/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.css
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/LICENSE
  src/Mainpage_licencewiki/LICENSE
  src/Mainpage_loginwiki/LICENSE
  src/Mainpage_mncqiuwenbaike/LICENSE
  src/QueryContributors/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update LICENSE block (#1469)
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_loginwiki/Mainpage_loginwiki.css
  dist/Mainpage_mncqiuwenbaike/Mainpage_mncqiuwenbaike.css
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/LICENSE
  src/Mainpage_licencewiki/LICENSE
  src/Mainpage_loginwiki/LICENSE
  src/Mainpage_mncqiuwenbaike/LICENSE
  src/QueryContributors/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(SkinCitizen): padding to large, leading to error of 2017 editor
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): padding to large, leading to error of 2017 editor (#1470)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update svgo.config.js, minify SVG, update dist
  .eslintrc
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  src/HistoryDisclaimer/images/background-zh-hans.svg
  src/HistoryDisclaimer/images/background-zh-hant.svg
  src/ScrollUpButton-pagestyles/images/scroll-button.svg
  svgo.config.cjs
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

build: update svgo.config.js, minify SVG, update dist (#1471)
  .eslintrc
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  src/HistoryDisclaimer/images/background-zh-hans.svg
  src/HistoryDisclaimer/images/background-zh-hant.svg
  src/ScrollUpButton-pagestyles/images/scroll-button.svg
  svgo.config.cjs
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

fix(AjaxLogin): fix typo
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/queryLoginToken.ts
Due: prettier --write, eslint --fix

fix(AjaxLogin): fix typo (#1472)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/queryLoginToken.ts
Due: prettier --write, eslint --fix

build: re-generate dist
  dist/CookieWarning/CookieWarning.js
  dist/RRD/RRD.js
  dist/Tippy/Tippy.js
  dist/Twinkle/Twinkle.js
  dist/VariantAlly/VariantAlly.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  dist/morebits/morebits.js
  src/CookieWarning/components/AgreeButton.tsx
  src/RRD/components/ReportButton.tsx
  src/Twinkle/modules/twinklebatchprotect.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

build: update settings for wikiplus; update LICENSE block
  src/Wikiplus/.eslintrc
  src/Wikiplus/LICENSE
  src/Wikiplus/modules/.eslintrc
Due: none

build(Wikiplus): replace with Qiuwen-modified ver
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/LICENSE
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/core/notification.js
  src/Wikiplus/modules/core/page.js
  src/Wikiplus/modules/core/ui.js
  src/Wikiplus/modules/index.js
  src/Wikiplus/modules/services/wiki.js
  src/Wikiplus/modules/utils/constants.js
  src/Wikiplus/modules/utils/helpers.js
  src/Wikiplus/modules/utils/i18n.js
  src/Wikiplus/modules/utils/log.js
  src/Wikiplus/modules/utils/requests.js
  src/Wikiplus/modules/utils/settings.js
  src/Wikiplus/modules/utils/sleep.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Wikiplus): replace with Qiuwen-modified ver (#1473)
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/.eslintrc
  src/Wikiplus/LICENSE
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/modules/.eslintrc
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/core/notification.js
  src/Wikiplus/modules/core/page.js
  src/Wikiplus/modules/core/ui.js
  src/Wikiplus/modules/index.js
  src/Wikiplus/modules/services/wiki.js
  src/Wikiplus/modules/utils/constants.js
  src/Wikiplus/modules/utils/helpers.js
  src/Wikiplus/modules/utils/i18n.js
  src/Wikiplus/modules/utils/log.js
  src/Wikiplus/modules/utils/requests.js
  src/Wikiplus/modules/utils/settings.js
  src/Wikiplus/modules/utils/sleep.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(EasyArchive): refactor in LESS modules
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.less
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/util/EasyArchive.module.less
  src/EasyArchive/modules/util/react.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: re-generate dist
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-delh/Edittools-delh.js
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/FloatTOC/FloatTOC.js
  dist/FoldRef/FoldRef.js
  dist/Geo/Geo.js
  dist/HotCat/HotCat.js
  dist/LogFilter/LogFilter.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/Twinkle/Twinkle.js
  src/CopyCodeBlock/modules/addButton.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/DisamAssist/modules/core.js
  src/Edittools-delh/modules/getList.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/FloatTOC/modules/core.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
  src/Geo/Geo.ts
  src/HotCat/HotCat.js
  src/HotCat/modules/check.ts
  src/LogFilter/modules/core.tsx
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkRights-Userpage/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/NoteTA/modules/util/generatePortletLink.tsx
  src/NoteTA/modules/viewer.tsx
  src/QuickImportAllMedia/modules/core.ts
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

chore(EasyArchive): refactor in LESS modules (#1474)
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.less
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/util/EasyArchive.module.less
  src/EasyArchive/modules/util/react.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Wikiplus): remove special settings for zhwikipedia
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/index.js
Due: prettier --write, eslint --fix

build(Wikiplus): remove special settings for zhwikipedia (#1475)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/index.js
Due: prettier --write, eslint --fix

fix(mainpage): fix margin
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(mainpage): fix margin (#1476)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(EasyArchive): add BroadcastChannels
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/util/react.tsx
Due: prettier --write, eslint --fix

refactor(EasyArchive): add BroadcastChannels (#1477)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/util/react.tsx
Due: prettier --write, eslint --fix

refactor(EasyArchive): minify; avoid multiple notices at once
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): minify; avoid multiple notices at once (#1478)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.ts
Due: prettier --write, eslint --fix

fix(ToolRedirect): fix typo * optimize code * textContent → textContent2
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
Due: prettier --write, eslint --fix

fix(ToolRedirect): fix typo (#1479)
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
Due: prettier --write, eslint --fix

refactor: move checkDependencies to ext.gadget.Util
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.js
  dist/Util/Util.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/modules/api.ts
  src/ToolsRedirect-bio-latin-names/modules/checkDependencies.ts
  src/ToolsRedirect-bio-latin-names/options.json
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/api.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/checkDependencies.ts
  src/ToolsRedirect-courtesy-and-art-names/options.json
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-opt-bolds/modules/api.ts
  src/ToolsRedirect-opt-bolds/modules/checkDependencies.ts
  src/ToolsRedirect-opt-bolds/options.json
  src/Util/Util.ts
  src/Util/modules/checkDependencies.ts
  src/Util/modules/global.d.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/api.ts
  src/Wikiplus-highlight/modules/checkDependencies.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
