Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build: update dist/store.txt
  dist/store.txt
Due: none

fix(Navigation_popups): non-iterable object
  dist/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

fix(Navigation_popups): non-iterable object (#1305)
  dist/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

feat(add): add rewrited wikicache
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/LICENSE
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/i18n.ts
  src/Wikicache/modules/types.d.ts
  src/Wikicache/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): add rewrited wikicache (#1306)
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/LICENSE
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/i18n.ts
  src/Wikicache/modules/types.d.ts
  src/Wikicache/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(wikicache): judge if saveObject exist
  dist/Wikicache/Wikicache.js
  dist/store.txt
  src/Wikicache/Wikicache.ts
Due: prettier --write, eslint --fix

fix(wikicache): judge if saveObject exists (#1307)
  dist/Wikicache/Wikicache.js
  dist/store.txt
  src/Wikicache/Wikicache.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): refresh in-place
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): refresh in-place (#1308)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
Due: prettier --write, eslint --fix

refactor(Wikicache): rewrite for optimized logic
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/getCache.ts
  src/Wikicache/modules/getCacheKey.ts
  src/Wikicache/modules/i18n.ts
  src/Wikicache/modules/setCache.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(QuickImport*): optimize code logic
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(Wikicache): rewrite for optimized logic checkout master (#1309)
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/getCache.ts
  src/Wikicache/modules/getCacheKey.ts
  src/Wikicache/modules/i18n.ts
  src/Wikicache/modules/setCache.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(QuickImport*): optimize code logic (#1310)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(Wikicache): optimize logic (follow #1309)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/getCache.ts
  src/Wikicache/modules/getCacheKey.ts
  src/Wikicache/modules/setCache.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

refactor(Wikicache): optimize logic (follow #1309) (#1311)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/getCache.ts
  src/Wikicache/modules/getCacheKey.ts
  src/Wikicache/modules/setCache.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

refactor(Wikicache): use wikipage.editform hook (follow #1309)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

chore(DefaultSummaries, PreviewWithVariant): use \ instead
  dist/DefaultSummaries/DefaultSummaries.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

refactor(Wikicache): use wikipage.editform hook (follow #1309) (#1312)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

chore(DefaultSummaries, PreviewWithVariant): use $editForm instead (#1313)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

fix(wikicache): guard against dobule inclusions
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix

fix(wikicache): guard against dobule inclusions (#1314)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix

fix(Wikicache): add hook to #editform
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/content.ts
  src/Wikicache/modules/types.d.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

fix(Wikicache): add hook to #editform (#1315)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/content.ts
  src/Wikicache/modules/types.d.ts
  src/Wikicache/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

chore(Collapsible): minify
  dist/Collapsible/Collapsible.js
  src/Collapsible/Collapsible.ts
  src/Collapsible/modules/addHook.ts
Due: prettier --write, eslint --fix

chore(Collapsible): minify (#1316)
  dist/Collapsible/Collapsible.js
  src/Collapsible/Collapsible.ts
  src/Collapsible/modules/addHook.ts
Due: prettier --write, eslint --fix

fix(QIAM): add decodeURIComponent
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): add decodeURIComponent (#1317)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

chore(QuickImport*): optimize logic
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

chore(QuickImport*): optimize logic (#1318)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport): add ifImportSuccess variable
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport): add ifImportSuccess variable (#1319)
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(SiteCommon): font-size for references
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/cite.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): font-size for references (#1320)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/cite.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Wikicache): update duration and delay interval
  dist/Wikicache/Wikicache.js
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix

fix(Wikicache): update duration and delay interval (#1321)
  dist/Wikicache/Wikicache.js
  src/Wikicache/modules/cache.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): turn off ACH
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): turn off ACH (#1322)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
Due: prettier --write, eslint --fix

chore(HistoryDisclaimer): convert LESS file into a module
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  src/HistoryDisclaimer/HistoryDisclaimer.module.less
  src/HistoryDisclaimer/HistoryDisclaimer.tsx
  src/HistoryDisclaimer/modules/background.tsx
  src/HistoryDisclaimer/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
