Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(Edittools-vplus): wrong label
  src/Edittools-vplus/Edittools-vplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(twinkle): missing tags
  src/Twinkle/modules/friendlytag.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Edittools-vplus): wrong label in toolbar (#327)
  src/Edittools-vplus/Edittools-vplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Edittools-vplus): add zh-hant variants
  src/Edittools-vplus/Edittools-vplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Edittools-vplus): add zh-hant variants (follow #327) (#329)
  src/Edittools-vplus/Edittools-vplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(twinkle): missing tags (#328)
  src/Twinkle/modules/friendlytag.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(SmoothTOC): add skin limitations
  src/SmoothTOC/definition.json
Due: prettier --cache --ignore-unknown --write

build(SmoothTOC): add skin limitations (#331)
  src/SmoothTOC/definition.json
Due: prettier --cache --ignore-unknown --write

chore: format
  src/EasyArchive/EasyArchive.js
  src/GeoLocationReader/modules/core.ts
  src/MarkRights-Userpage/modules/core.ts
  src/ProveIt/modules/core.js
  src/StickyTableHeaders/modules/core.ts
  src/WhoIsActive/modules/core.ts
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
  src/select2/select2.js
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): refactor with OOUI
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
  src/NotifyConversion/LICENSE
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/i18n.ts
  src/NotifyConversion/modules/removeWindowResizeHandler.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: format (#332)
  src/EasyArchive/EasyArchive.js
  src/GeoLocationReader/modules/core.ts
  src/MarkRights-Userpage/modules/core.ts
  src/ProveIt/modules/core.js
  src/StickyTableHeaders/modules/core.ts
  src/WhoIsActive/modules/core.ts
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
  src/select2/select2.js
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): add missing messages
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion)!: refactor with OOUI (#333)
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
  src/NotifyConversion/LICENSE
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/i18n.ts
  src/NotifyConversion/modules/removeWindowResizeHandler.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): remove removeWindowResizeHandler
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/removeWindowResizeHandler.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): add `modal: false` and `verbose: true`
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): add styles
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): add api request; add PreserveVariant
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/PreserveVariant/LICENSE
  src/PreserveVariant/PreserveVariant.ts
  src/PreserveVariant/definition.json
  src/PreserveVariant/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): optimize user preferences and dialog style; add PreserveVariant (#334)
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/removeWindowResizeHandler.ts
  src/PreserveVariant/LICENSE
  src/PreserveVariant/PreserveVariant.ts
  src/PreserveVariant/definition.json
  src/PreserveVariant/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(PreserveVariant): add `hidden: true`
  src/PreserveVariant/definition.json
Due: prettier --cache --ignore-unknown --write

build(PreserveVariant): add `hidden: true` (#335)
  src/PreserveVariant/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(NotifyConversion): add `variant` variable
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): add `variant` variable (#336)
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): remove `modal`
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): remove `modal` (#337)
  src/NotifyConversion/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(PreserveVariant): add includes()
  src/PreserveVariant/PreserveVariant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(PreserveVariant): split `constant.ts`; add includes()
  src/PreserveVariant/PreserveVariant.ts
  src/PreserveVariant/modules/constant.ts
  src/PreserveVariant/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): optimize code logic
  src/NotifyConversion/NotifyConversion.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: split constant.ts; add includes(); optimize code logic (follow #337) (#338)
  src/NotifyConversion/NotifyConversion.ts
  src/PreserveVariant/PreserveVariant.ts
  src/PreserveVariant/modules/constant.ts
  src/PreserveVariant/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(NotifyConversion): add `oojs-ui-widgets`
  src/NotifyConversion/definition.json
Due: prettier --cache --ignore-unknown --write

fix(NotifyConversion-pagestyles): improve dark mode display
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): merge PreserveVariant with NotifyConversion
  src/NotifyConversion/LICENSE
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/preserveVariant.ts
  src/PreserveVariant/LICENSE
  src/PreserveVariant/PreserveVariant.ts
  src/PreserveVariant/definition.json
  src/PreserveVariant/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(LoginToEdit): fix LOGIN_ELEMENT_SELECTOR
  src/LoginToEdit/modules/constant.ts
  src/LoginToEdit/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NotifyConversion): merge PreserveVariant with NotifyConversion (#339)
  src/NotifyConversion/LICENSE
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/preserveVariant.ts
  src/PreserveVariant/LICENSE
  src/PreserveVariant/PreserveVariant.ts
  src/PreserveVariant/definition.json
  src/PreserveVariant/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(LoginToEdit): fix LOGIN_ELEMENT_SELECTOR (#340)
  src/LoginToEdit/modules/constant.ts
  src/LoginToEdit/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(ConfirmLogout): rename variable
  src/ConfirmLogout/ConfirmLogout.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(ConfirmLogout): rename variable
  src/ConfirmLogout/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(ConfirmLogout): rename variable (#341)
  src/ConfirmLogout/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(ConfirmLogout): rename variable (follow #341) (#342)
  src/ConfirmLogout/ConfirmLogout.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: use combination of `max-width` and `height` to replace `object-fit: contain`
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/mobile.less
  src/SiteCommon/modules/thumbImage.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Report): replace with JQuery to improve compatibility
  src/Report/modules/fillSpecialPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
