Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(Group-transwiki_JS): remove getBody()
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/definition.txt
  dist/store.txt
  src/Group-transwiki_JS/Group-transwiki_JS.ts
  src/Group-transwiki_JS/definition.json
  src/Group-transwiki_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Group-transwiki_JS): remove getBody() (#1268)
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/definition.txt
  dist/store.txt
  src/Group-transwiki_JS/Group-transwiki_JS.ts
  src/Group-transwiki_JS/definition.json
  src/Group-transwiki_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Group-transwiki_JS): fix typo (follow #1268)
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/Group-transwiki_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

fix: update dist/definition.txt
  dist/definition.txt
  src/AddSectionPlus/definition.json
  src/Navigation_popups/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(navframe, collapsible): make collapsible.js compatible with {{HideH}}
  dist/Collapsible/Collapsible.js
  dist/definition.txt
  src/Collapsible/definition.json
  src/Collapsible/modules/addHook.ts
  src/Collapsible/modules/navFrame.ts
  src/NavFrame/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(navframe, collapsible): make collapsible.js compatible with {{HideH}} (#1269)
  dist/Collapsible/Collapsible.js
  dist/definition.txt
  src/Collapsible/definition.json
  src/Collapsible/modules/addHook.ts
  src/Collapsible/modules/navFrame.ts
  src/NavFrame/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(navframe, collapsible): follow #1269
  dist/Collapsible/Collapsible.js
  dist/NavFrame-pagestyles/NavFrame-pagestyles.css
  src/Collapsible/modules/addToggler.ts
  src/Collapsible/modules/navFrame.ts
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(navframe, collapsible): follow #1269 (#1270)
  dist/Collapsible/Collapsible.js
  dist/NavFrame-pagestyles/NavFrame-pagestyles.css
  src/Collapsible/modules/addToggler.ts
  src/Collapsible/modules/navFrame.ts
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(navframe): add .collapsible-always-show to .NavHead
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/addToggler.ts
Due: prettier --write, eslint --fix

fix(navframe): add .collapsible-always-show to .NavHead (#1271)
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/addToggler.ts
Due: prettier --write, eslint --fix

fix(navframe): detect if .NavFrame is collapsed
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/addToggler.ts
Due: prettier --write, eslint --fix

fix(navframe): detect if .NavFrame is collapsed (#1272)
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/addToggler.ts
Due: prettier --write, eslint --fix

fix(navframe): compatible with .Boxmerge (follow #1272)
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/addToggler.ts
  src/Collapsible/modules/navFrame.ts
Due: prettier --write, eslint --fix

fix(navframe): compatible with .Boxmerge (follow #1272) (#1273)
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/addToggler.ts
  src/Collapsible/modules/navFrame.ts
Due: prettier --write, eslint --fix

fix(EnhancedSpecialSearch): add label
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/EnhancedSpecialSearch/modules/getOptionData.ts
  src/EnhancedSpecialSearch/modules/i18n.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/processElement.tsx
  src/EnhancedSpecialSearch/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EnhancedSpecialSearch): add label (#1274)
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/EnhancedSpecialSearch/modules/getOptionData.ts
  src/EnhancedSpecialSearch/modules/i18n.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/processElement.tsx
  src/EnhancedSpecialSearch/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(navframe): follow #1272
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/navFrame.ts
Due: prettier --write, eslint --fix

fix(navframe): follow #1272 (#1275)
  dist/Collapsible/Collapsible.js
  src/Collapsible/modules/navFrame.ts
Due: prettier --write, eslint --fix

feat(remove): remove NavFrame, but leave NavFrame-pagestyles for compatibility
  dist/NavFrame-pagestyles/NavFrame-pagestyles.css
  dist/NavFrame/NavFrame.js
  dist/definition.txt
  src/NavFrame-pagestyles/LICENSE
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/NavFrame/LICENSE
  src/NavFrame/NavFrame.ts
  src/NavFrame/definition.json
  src/NavFrame/modules/core.ts
  src/NavFrame/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

feat(remove): remove NavFrame, but leave NavFrame-pagestyles for compatibility (#1276)
  dist/NavFrame-pagestyles/NavFrame-pagestyles.css
  dist/NavFrame/NavFrame.js
  dist/definition.txt
  dist/store.txt
  src/NavFrame-pagestyles/LICENSE
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/NavFrame/LICENSE
  src/NavFrame/NavFrame.ts
  src/NavFrame/definition.json
  src/NavFrame/modules/core.ts
  src/NavFrame/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ShortURL): add list for domain names
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/definition.json
  src/ShortURL/modules/addLink.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ShortURL): add list for domain names
  src/ShortURL/modules/util/getDomains.ts
Due: prettier --write, eslint --fix

refactor(ShortURL): add list for domain name
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/definition.json
  src/ShortURL/modules/addLink.tsx
  src/ShortURL/modules/util/getDomains.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist/store.txt
  dist/store.txt
Due: none

fix(ShortURL): fix fullLink
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/modules/addLink.tsx
Due: prettier --write, eslint --fix

fix(ShortURL): fix fullLink
  dist/ShortURL/ShortURL.js
Due: prettier --write, eslint --fix

fix(ShortURL): fix fullLink (#1278)
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
  src/ShortURL/modules/addLink.tsx
Due: prettier --write, eslint --fix

fix(ShortURL): follow #1278
  src/ShortURL-pagestyles/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(URM): rewrite in TS
  dist/UserRightsManager/UserRightsManager.js
  src/MwApiParams.d.ts
  src/UserRightsManager/modules/assignPermission.ts
  src/UserRightsManager/modules/i18n.ts
  src/UserRightsManager/modules/issueTemplate.ts
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

refactor(URM): rewrite in TS (#1279)
  dist/UserRightsManager/UserRightsManager.js
  src/MwApiParams.d.ts
  src/UserRightsManager/modules/assignPermission.ts
  src/UserRightsManager/modules/i18n.ts
  src/UserRightsManager/modules/issueTemplate.ts
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

refactor(PrintOptions): use .closed.then instead
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix

refactor(PrintOptions): use .closed.then instead (#1280)
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.ts
Due: prettier --write, eslint --fix

refactor(URM): follow #1279
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/markAsDone.ts
  src/UserRightsManager/modules/showDialog.js
Due: prettier --write, eslint --fix

refactor(URM): follow #1279 (#1281)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/markAsDone.ts
  src/UserRightsManager/modules/showDialog.js
Due: prettier --write, eslint --fix

chore(Twinkle): optimize styles
  dist/Twinkle/Twinkle.css
  src/Twinkle/images/titlebar.png
  src/Twinkle/style-modules/general.less
  src/Twinkle/style-modules/specific.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Twinkle): optimize styles (#1282)
  dist/Twinkle/Twinkle.css
  src/Twinkle/images/titlebar.png
  src/Twinkle/style-modules/general.less
  src/Twinkle/style-modules/specific.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(QIAM): enable on file namespace
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(SiteCommon): add font-family for {{MongolUnicode}}
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/fontTemplates.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(QIAM): enable on file namespace (#1283)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
