Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build: update packages
  pnpm-lock.yaml
Due: none

build(idb-plus): limited to licencewiki
  dist/store.txt
  src/idb-plus/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(FetchVariants): update definition
  src/FetchVariants/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat(add): FetchVariants (#1921)
  dist/FetchVariants/FetchVariants.js
  dist/definition.txt
  dist/store.txt
  src/FetchVariants/FetchVariants.tsx
  src/FetchVariants/definition.json
  src/FetchVariants/modules/api.ts
  src/FetchVariants/modules/constant.ts
  src/FetchVariants/options.json
  src/idb-plus/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  dist/SFE2026/SFE2026.css
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dists
  dist/store.txt
  src/FetchVariants/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(FetchVariants): typo
  dist/FetchVariants/FetchVariants.js
  src/FetchVariants/FetchVariants.tsx
Due: prettier --write, eslint --fix

fix(FetchVariants): typo (#1922)
  dist/FetchVariants/FetchVariants.js
  src/FetchVariants/FetchVariants.tsx
Due: prettier --write, eslint --fix

refactor(CAL): optimize logic of fetching variants
  dist/Cat-a-lot/Cat-a-lot.js
  pnpm-lock.yaml
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

refactor(CAL): optimize logic of fetching variants (#1923)
  dist/Cat-a-lot/Cat-a-lot.js
  pnpm-lock.yaml
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 159: DOM text reinterpreted as HTML
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

build: update dist
  dist/Cat-a-lot/Cat-a-lot.js
Due: prettier --write, eslint --fix

fix: Potential fix for code scanning alert no. 159: DOM text reinterpreted as HTML (#1924)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

build: update packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: replace excludeSites with includeSites
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage/definition.json
  src/Mainpage_licencewiki/definition.json
  src/Mainpage_loginwiki/definition.json
  src/Mainpage_mncqiuwenbaike/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Util/checkDependencies): typo * options are returned from API in String format, not number
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

fix(Util/checkDependencies): typo (#1925)
  dist/Util/Util.js
  src/Util/modules/checkDependencies.ts
Due: prettier --write, eslint --fix

build: upgrade dependencies
  pnpm-lock.yaml
Due: none

build(WPHL): update from upstream * https://github.com/bhsd-harry/Wikiplus-highlight/
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/core.ts
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix

build(WPHL): update from upstream (#1926)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/core.ts
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix

build: upgrade dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(typo): licencwiki -> licencewiki
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(tp): 移除无意义的刷新页面操作
  dist/TranslatedPage/TranslatedPage.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/TranslatedPage/modules/addTranslatedPageTemplate.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(Twinkle): 快速删除R1新增“草稿命名空间内的重定向”
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

fix(Twinkle): 修正破折号
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

fix(Twinkle & TP): dash fix, remove unnecessary page reload
  dist/TranslatedPage/TranslatedPage.js
  dist/Twinkle/Twinkle.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/TranslatedPage/modules/addTranslatedPageTemplate.ts
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: upgrade dependencies; update dists
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkRights): 改用完整的权限名称
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/modules/i18n.ts
Due: prettier --write, eslint --fix

fix(RRD): 修正破折号
  dist/RRD/RRD.js
  src/RRD/modules/submit.ts
Due: prettier --write, eslint --fix

feat(RRD): 增加监督请求提报；在reason参数内填写代码，以便模板自动转换为详细信息
  dist/RRD/RRD.js
  src/RRD/components/DialogInner.tsx
  src/RRD/modules/i18n.ts
  src/RRD/modules/submit.ts
Due: prettier --write, eslint --fix

fix(RRD): no ip users
  dist/RRD/RRD.js
  src/RRD/modules/i18n.ts
Due: prettier --write, eslint --fix

feat(Cat-a-lot): 修改批量编辑逻辑，逐页处理而不再并发请求，以避免卡顿
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

feat(RRD & MarkRight): add OS reason codes in RRD, minor fixes (#1928)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/RRD/RRD.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/MarkRights-Userpage/modules/i18n.ts
  src/RRD/components/DialogInner.tsx
  src/RRD/modules/i18n.ts
  src/RRD/modules/submit.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(Cat-a-lot): improve handling logic (#1929)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

build: upgrade dependencies; update dists
  dist/JSX/JSX.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/idb-plus/idb-plus.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies; update dists (#1930)
  dist/JSX/JSX.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/idb-plus/idb-plus.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Clean up discussionTools.less styles
  src/SiteCommon_Talkpage/modules/discussionTools.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(WPHL): update version
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/src/main.ts
Due: prettier --write, eslint --fix
