Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(WhoIsActive): remove namespace prefix from usernames
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): remove namespace prefix from usernames (#1199)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

fix: typo in font-family (#1200)
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/morebits/morebits.css
  src/SiteCommon/modules/normalize.less
  src/SkinCitizen/SkinCitizen.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat: remove wikicache
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/LICENSE
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/types.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: remove wikicache (#1201)
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/LICENSE
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/types.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

fix(ShortURL): avoid double-inserting the icon
  dist/ShortURL/ShortURL.js
  src/ShortURL/modules/addLink.tsx
Due: prettier --write, eslint --fix

fix(ShortURL): avoid double-inserting the icon (#1202)
  dist/ShortURL/ShortURL.js
  src/ShortURL/modules/addLink.tsx
Due: prettier --write, eslint --fix

refactor(i): optimize logic
  dist/i18n/i18n.js
  src/i18n/modules/constant.ts
  src/i18n/modules/initI18nMethods.ts
Due: prettier --write, eslint --fix

refactor(i18n): optimize logic (#1203)
  dist/i18n/i18n.js
  src/i18n/modules/constant.ts
  src/i18n/modules/initI18nMethods.ts
Due: prettier --write, eslint --fix

refactor(r): optimize logic
  dist/RRD/RRD.js
  src/RRD/RRD.ts
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
  src/RRD/modules/constant.ts
  src/RRD/modules/isSpecialLog.ts
  src/RRD/modules/showDialog.ts
  src/RRD/modules/submit.ts
Due: prettier --write, eslint --fix

refactor(RRD): optimize logic (#1204)
  dist/RRD/RRD.js
  src/RRD/RRD.ts
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
  src/RRD/modules/constant.ts
  src/RRD/modules/isSpecialLog.ts
  src/RRD/modules/showDialog.ts
  src/RRD/modules/submit.ts
Due: prettier --write, eslint --fix

refactor(p): optimize logic
  dist/PagePatroller/PagePatroller.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/constant.ts
  src/PagePatroller/modules/elementWrap.tsx
  src/PagePatroller/options.json
  src/PreviewWithVariant/modules/constant.ts
  src/PreviewWithVariant/modules/processVisualEditor.js
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PreviewWithVariant/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(p): optimize logic (#1205)
  dist/PagePatroller/PagePatroller.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/constant.ts
  src/PagePatroller/modules/elementWrap.tsx
  src/PagePatroller/options.json
  src/PreviewWithVariant/modules/constant.ts
  src/PreviewWithVariant/modules/processVisualEditor.js
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PreviewWithVariant/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(n): optimize logic
  dist/NavFrame/NavFrame.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  src/NavFrame/modules/core.ts
  src/Navigation_popups/modules/api.ts
  src/Navigation_popups/modules/constant.ts
  src/Navigation_popups/modules/core.js
  src/NoteTA/modules/constant.ts
  src/NoteTA/modules/initGlobalMethods.ts
  src/NoteTA/modules/util/generatePortletLink.tsx
  src/NoteTA/modules/viewer.tsx
  src/NoteTA/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(n): optimize logic (#1206)
  dist/NavFrame/NavFrame.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  src/NavFrame/modules/core.ts
  src/Navigation_popups/modules/api.ts
  src/Navigation_popups/modules/constant.ts
  src/Navigation_popups/modules/core.js
  src/NoteTA/modules/constant.ts
  src/NoteTA/modules/initGlobalMethods.ts
  src/NoteTA/modules/util/generatePortletLink.tsx
  src/NoteTA/modules/viewer.tsx
  src/NoteTA/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(d): optimize logic
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DidYouMean/DidYouMean.js
  dist/DiffLink/DiffLink.js
  dist/DisamAssist/DisamAssist.js
  src/DefaultSummaries/modules/constant.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/DefaultSummaries/options.json
  src/DidYouMean/DidYouMean.ts
  src/DiffLink/DiffLink.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/DiffLink/modules/util/checkDiffPage.ts
  src/DisamAssist/modules/constant.ts
  src/DisamAssist/modules/core.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(d): optimize logic (#1207)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DidYouMean/DidYouMean.js
  dist/DiffLink/DiffLink.js
  dist/DisamAssist/DisamAssist.js
  src/DefaultSummaries/modules/constant.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/DefaultSummaries/options.json
  src/DidYouMean/DidYouMean.ts
  src/DiffLink/DiffLink.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/DiffLink/modules/util/checkDiffPage.ts
  src/DisamAssist/modules/constant.ts
  src/DisamAssist/modules/core.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(m): optimize logic
  dist/Mainpage_JS/Mainpage_JS.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MemorialDay/MemorialDay.js
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/modules/constant.ts
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/addHook.ts
  src/MarkBlocked/modules/constant.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/generateUserNamespaceTitles.ts
  src/MarkBlocked/modules/util/parseTime.ts
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix

refactor(e): optimize logic
  dist/Edit0/Edit0.js
  dist/EditCount/EditCount.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/Edittools-delh/Edittools-delh.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Edittools-vplus/Edittools-vplus.js
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  src/Edit0/Edit0.ts
  src/Edit0/modules/constant.ts
  src/Edit0/modules/core.ts
  src/EditCount/EditCount.ts
  src/EditCount/constant.ts
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/introACH.ts
  src/EditForm_JS/modules/preloadRevid.ts
  src/Editform_AiAssisted/modules/constant.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
  src/Editform_Patch2017/modules/constant.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
  src/Editform_Patch2017/options.json
  src/Edittools-delh/Edittools-delh.ts
  src/Edittools-delh/modules/constant.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/constant.ts
  src/Edittools-refToolbar/modules/messages.ts
  src/Edittools-vplus/Edittools-vplus.ts
  src/Edittools-vplus/modules/constant.ts
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/EnhancedSpecialSearch/modules/constant.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(m): optimize logic (#1208)
  dist/Mainpage_JS/Mainpage_JS.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MemorialDay/MemorialDay.js
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/modules/constant.ts
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/addHook.ts
  src/MarkBlocked/modules/constant.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/generateUserNamespaceTitles.ts
  src/MarkBlocked/modules/util/parseTime.ts
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix

refactor(e): optimize logic (#1209)
  dist/Edit0/Edit0.js
  dist/EditCount/EditCount.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/Edittools-delh/Edittools-delh.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Edittools-vplus/Edittools-vplus.js
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  src/Edit0/Edit0.ts
  src/Edit0/modules/constant.ts
  src/Edit0/modules/core.ts
  src/EditCount/EditCount.ts
  src/EditCount/constant.ts
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/introACH.ts
  src/EditForm_JS/modules/preloadRevid.ts
  src/Editform_AiAssisted/modules/constant.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
  src/Editform_Patch2017/modules/constant.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
  src/Editform_Patch2017/options.json
  src/Edittools-delh/Edittools-delh.ts
  src/Edittools-delh/modules/constant.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/constant.ts
  src/Edittools-refToolbar/modules/messages.ts
  src/Edittools-vplus/Edittools-vplus.ts
  src/Edittools-vplus/modules/constant.ts
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/EnhancedSpecialSearch/modules/constant.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(c, f): optimize logic
  dist/CookieWarning/CookieWarning.js
  dist/FloatTOC/FloatTOC.js
  dist/FullwidthSearchFix/FullwidthSearchFix.js
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/i18n.ts
  src/CookieWarning/options.json
  src/FloatTOC/modules/constant.ts
  src/FloatTOC/modules/core.ts
  src/FloatTOC/options.json
  src/FullwidthSearchFix/FullwidthSearchFix.ts
  src/FullwidthSearchFix/modules/constant.ts
  src/FullwidthSearchFix/modules/redirect.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(c, f): optimize logic (#1210)
  dist/CookieWarning/CookieWarning.js
  dist/FloatTOC/FloatTOC.js
  dist/FullwidthSearchFix/FullwidthSearchFix.js
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/constant.ts
  src/CookieWarning/modules/i18n.ts
  src/CookieWarning/options.json
  src/FloatTOC/modules/constant.ts
  src/FloatTOC/modules/core.ts
  src/FloatTOC/options.json
  src/FullwidthSearchFix/FullwidthSearchFix.ts
  src/FullwidthSearchFix/modules/constant.ts
  src/FullwidthSearchFix/modules/redirect.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(l, t, w): optimize logic
  dist/LogFilter/LogFilter.js
  dist/LoginToEdit/LoginToEdit.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/WhoIsActive/WhoIsActive.js
  src/LogFilter/LogFilter.ts
  src/LogFilter/modules/constant.ts
  src/LogFilter/options.json
  src/LoginToEdit/LoginToEdit.ts
  src/LoginToEdit/modules/constant.ts
  src/LoginToEdit/modules/initDialog.ts
  src/ToolsRedirect/modules/core.js
  src/WhoIsActive/modules/constant.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(l, t, w): optimize logic (#1211)
  dist/LogFilter/LogFilter.js
  dist/LoginToEdit/LoginToEdit.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/WhoIsActive/WhoIsActive.js
  src/LogFilter/LogFilter.ts
  src/LogFilter/modules/constant.ts
  src/LogFilter/options.json
  src/LoginToEdit/LoginToEdit.ts
  src/LoginToEdit/modules/constant.ts
  src/LoginToEdit/modules/initDialog.ts
  src/ToolsRedirect/modules/core.js
  src/WhoIsActive/modules/constant.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(h): optimize logic
  dist/HRTProtectLink/HRTProtectLink.js
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/HotCat/HotCat.js
  src/HRTProtectLink/HRTProtectLink.ts
  src/HRTProtectLink/modules/constant.ts
  src/HistoryDisclaimer/HistoryDisclaimer.tsx
  src/HistoryDisclaimer/modules/background.tsx
  src/HistoryDisclaimer/modules/constant.ts
  src/HistoryDisclaimer/options.json
  src/HotCat/modules/constant.ts
  src/HotCat/modules/messages.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(h): optimize logic (#1212)
  dist/HRTProtectLink/HRTProtectLink.js
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/HotCat/HotCat.js
  src/HRTProtectLink/HRTProtectLink.ts
  src/HRTProtectLink/modules/constant.ts
  src/HistoryDisclaimer/HistoryDisclaimer.tsx
  src/HistoryDisclaimer/modules/background.tsx
  src/HistoryDisclaimer/modules/constant.ts
  src/HistoryDisclaimer/options.json
  src/HotCat/modules/constant.ts
  src/HotCat/modules/messages.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(g): optimize logic
  dist/GadgetsDefinition/GadgetsDefinition.js
  dist/Geo/Geo.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/Group-user_JS/Group-user_JS.js
  src/GadgetsDefinition/GadgetsDefinition.ts
  src/GadgetsDefinition/modules/constant.ts
  src/Geo/Geo.ts
  src/Geo/modules/constant.ts
  src/Geo/options.json
  src/GeoLocation/GeoLocation.ts
  src/GeoLocation/modules/constant.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/GeoLocationReader.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/constant.ts
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/GeoLocationReader/modules/util/name.ts
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/addLog.ts
  src/Group-user_JS/modules/addSubpage.ts
  src/Group-user_JS/modules/addSubpageAndLog.ts
  src/Group-user_JS/modules/constant.ts
  src/Group-user_JS/modules/fixReason.ts
  src/Group-user_JS/modules/fixSummary.ts
  src/Group-user_JS/modules/linkSearchEditButton.ts
  src/Group-user_JS/modules/loadGadgetEditForm.ts
  src/Group-user_JS/modules/smartEditIntro.ts
  src/Group-user_JS/modules/smartNewSection.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(l, s, u): optimize logic
  dist/LogFilter/LogFilter.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/UserRightsManager/UserRightsManager.js
  src/LogFilter/LogFilter.ts
  src/LogFilter/modules/constant.ts
  src/LogFilter/modules/core.ts
  src/SiteCommon_JS/modules/constant.ts
  src/SiteCommon_JS/modules/core.tsx
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(l, s, u, g): optimize logic
  dist/Group-user_JS/Group-user_JS.js
Due: prettier --write, eslint --fix

refactor(g): optimize logic (#1213)
  dist/GadgetsDefinition/GadgetsDefinition.js
  dist/Geo/Geo.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/Group-user_JS/Group-user_JS.js
  src/GadgetsDefinition/GadgetsDefinition.ts
  src/GadgetsDefinition/modules/constant.ts
  src/Geo/Geo.ts
  src/Geo/modules/constant.ts
  src/Geo/options.json
  src/GeoLocation/GeoLocation.ts
  src/GeoLocation/modules/constant.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/GeoLocationReader.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/constant.ts
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/GeoLocationReader/modules/util/name.ts
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/addLog.ts
  src/Group-user_JS/modules/addSubpage.ts
  src/Group-user_JS/modules/addSubpageAndLog.ts
  src/Group-user_JS/modules/constant.ts
  src/Group-user_JS/modules/fixReason.ts
  src/Group-user_JS/modules/fixSummary.ts
  src/Group-user_JS/modules/linkSearchEditButton.ts
  src/Group-user_JS/modules/loadGadgetEditForm.ts
  src/Group-user_JS/modules/smartEditIntro.ts
  src/Group-user_JS/modules/smartNewSection.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(l, s, u, g): optimize logic (#1214)
  dist/Group-user_JS/Group-user_JS.js
  dist/LogFilter/LogFilter.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/UserRightsManager/UserRightsManager.js
  src/LogFilter/LogFilter.ts
  src/LogFilter/modules/constant.ts
  src/LogFilter/modules/core.ts
  src/SiteCommon_JS/modules/constant.ts
  src/SiteCommon_JS/modules/core.tsx
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(a, g): optimize logic
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/AutoLink/AutoLink.js
  dist/Group-user_JS/Group-user_JS.js
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/options.json
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/constant.ts
  src/AutoLink/modules/processElement.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/AutoLink/modules/util/isDiff.ts
  src/AutoLink/modules/util/isInTargetSpecialPage.ts
  src/AutoLink/modules/util/isTargetSpecialPage.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(a, g): optimize logic (#1215)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/AutoLink/AutoLink.js
  dist/Group-user_JS/Group-user_JS.js
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/AdvancedSiteNotices/options.json
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/constant.ts
  src/AutoLink/modules/processElement.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/AutoLink/modules/util/isDiff.ts
  src/AutoLink/modules/util/isInTargetSpecialPage.ts
  src/AutoLink/modules/util/isTargetSpecialPage.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: re-generate dist
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/Cat-a-lot/Cat-a-lot.js
  dist/Collapsible/Collapsible.css
  dist/CookieWarning/CookieWarning.css
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/DiffLink/DiffLink.js
  dist/EditConflict/EditConflict.js
  dist/FoldRef/FoldRef.css
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.css
  dist/NoteTA/NoteTA.js
  dist/OnlineAdmins/OnlineAdmins.css
  dist/React/React.js
  dist/ShortURL/ShortURL.js
  dist/SpecialWikitext/SpecialWikitext.css
  dist/StickyTableHeaders/StickyTableHeaders.css
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus/Wikiplus.js
  dist/WordCount/WordCount.css
  dist/morebits/morebits.js
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/Cat-a-lot/modules/core.tsx
  src/DiffLink/modules/util/queryApi.ts
  src/EditConflict/modules/util/queryPageInfo.ts
  src/HotCat/modules/check.ts
  src/NoteTA/modules/viewer.tsx
  src/ShortURL/modules/util/queryApi.ts
  src/VariantAlly/modules/model.ts
  src/VariantAllyDialog/composables/useModelWrapper.ts
  src/VariantAllyDialog/composables/useUniqueId.ts
  src/VariantAllyDialog/modules/utils.ts
  src/Wikiplus/modules/highlight.js
  src/morebits/morebits.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(OnlineAdmins): move inline CSS to stylesheets
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/OnlineAdmins.module.less
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(OnlineAdmins): move inline CSS to stylesheets (#1216)
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/OnlineAdmins.module.less
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(TranslateVariants): move inline CSS to stylesheets
  dist/TranslateVariants/TranslateVariants.css
  dist/TranslateVariants/TranslateVariants.js
  dist/definition.txt
  src/TranslateVariants/TranslateVariants.module.less
  src/TranslateVariants/modules/translateVariants.tsx
  src/TranslateVariants/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(TranslateVariants): string concat
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
