Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

refactor(OnlineAdmins): split initMwApi to api.ts; move addPortletLink to entry file (#1135)
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/OnlineAdmins.ts
  src/OnlineAdmins/modules/api.ts
  src/OnlineAdmins/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/OnlineAdmins/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Twinkle): split initMwApi to api.ts
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/api.ts
  src/Twinkle/modules/twinkleprotect.js
Due: prettier --write, eslint --fix

refactor(Twinkle): split initMwApi to api.ts (#1136)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/api.ts
  src/Twinkle/modules/twinkleprotect.js
Due: prettier --write, eslint --fix

refactor(MarkRights-Userpage): use for-loop instead of enumeration
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/modules/api.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/modules/i18n.ts
  src/MarkRights-Userpage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights-Userpage): use for-loop instead of enumeration (#1137)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/modules/api.ts
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/modules/i18n.ts
  src/MarkRights-Userpage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights-Userpage): do not show implicit groups
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/modules/core.ts
Due: prettier --write, eslint --fix

refactor(MarkRights-Userpage): do not show implicit groups (#1138)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/modules/core.ts
Due: prettier --write, eslint --fix

chore(PrintOptions): add getMessages
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.js
  src/PrintOptions/modules/i18n.ts
Due: prettier --write, eslint --fix

chore(PrintOptions): add getMessages
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/modules/i18n.ts
Due: prettier --write, eslint --fix

chore(PrintOptions): add getMessages (#1139)
  dist/PrintOptions/PrintOptions.js
  src/PrintOptions/PrintOptions.js
  src/PrintOptions/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(ListUserLastActive): add i18n.ts
  dist/ListUsersLastActive/ListUsersLastActive.js
  src/ListUsersLastActive/ListUsersLastActive.ts
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/ListUsersLastActive/modules/constant.ts
  src/ListUsersLastActive/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(ListUserLastActive): add i18n.ts (#1140)
  dist/ListUsersLastActive/ListUsersLastActive.js
  src/ListUsersLastActive/ListUsersLastActive.ts
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/ListUsersLastActive/modules/constant.ts
  src/ListUsersLastActive/modules/i18n.ts
Due: prettier --write, eslint --fix

chore(Twinkle): follow #1136
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleblock.js
Due: prettier --write, eslint --fix

chore(Twinkle): follow #1136 (#1141)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleblock.js
Due: prettier --write, eslint --fix

refactor: move initMwApi() to seperated api.ts
  dist/Cat-a-lot/Cat-a-lot.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HotCat/HotCat.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Cat-a-lot/modules/api.ts
  src/Cat-a-lot/modules/core.tsx
  src/EditForm_JS/modules/preloadRevid.ts
  src/EditForm_JS/modules/util/api.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/util/api.ts
  src/Group-user_JS/modules/loadRNRSHashGlobally.ts
  src/HotCat/HotCat.js
  src/HotCat/modules/api.ts
  src/HotCat/modules/check.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/api.ts
Due: prettier --write, eslint --fix

refactor: move initMwApi() to seperated api.ts (#1142)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HotCat/HotCat.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Cat-a-lot/modules/api.ts
  src/Cat-a-lot/modules/core.tsx
  src/EditForm_JS/modules/preloadRevid.ts
  src/EditForm_JS/modules/util/api.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/util/api.ts
  src/Group-user_JS/modules/loadRNRSHashGlobally.ts
  src/HotCat/HotCat.js
  src/HotCat/modules/api.ts
  src/HotCat/modules/check.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/api.ts
Due: prettier --write, eslint --fix

refactor: follow #1142 move initMwApi() to seperated api.ts
  dist/DisamAssist-pagestyles/DisamAssist-pagestyles.css
  dist/DisamAssist/DisamAssist.css
  dist/DisamAssist/DisamAssist.js
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/Navigation_popups/Navigation_popups.js
  dist/definition.txt
  src/DisamAssist-pagestyles/LICENSE
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/DisamAssist.less
  src/DisamAssist/DisamAssist.ts
  src/DisamAssist/LICENSE
  src/DisamAssist/modules/api.ts
  src/DisamAssist/modules/core.js
  src/DisamAssist/modules/messages.js
  src/EasyArchive-pagestyles/LICENSE
  src/EasyArchive-pagestyles/definition.json
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.less
  src/EasyArchive/definition.json
  src/EasyArchive/modules/api.ts
  src/Navigation_popups/.eslintrc
  src/Navigation_popups/modules/api.ts
  src/Navigation_popups/modules/constant.ts
  src/Navigation_popups/modules/core.js
  src/Navigation_popups/modules/string.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: follow #1142 (#1143)
  dist/DisamAssist-pagestyles/DisamAssist-pagestyles.css
  dist/DisamAssist/DisamAssist.css
  dist/DisamAssist/DisamAssist.js
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/Navigation_popups/Navigation_popups.js
  dist/definition.txt
  src/DisamAssist-pagestyles/LICENSE
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/DisamAssist.less
  src/DisamAssist/DisamAssist.ts
  src/DisamAssist/LICENSE
  src/DisamAssist/modules/api.ts
  src/DisamAssist/modules/core.js
  src/DisamAssist/modules/messages.js
  src/EasyArchive-pagestyles/LICENSE
  src/EasyArchive-pagestyles/definition.json
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.less
  src/EasyArchive/definition.json
  src/EasyArchive/modules/api.ts
  src/Navigation_popups/.eslintrc
  src/Navigation_popups/modules/api.ts
  src/Navigation_popups/modules/constant.ts
  src/Navigation_popups/modules/core.js
  src/Navigation_popups/modules/string.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Reftoolbar): replace titleMsg with title
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix

fix(Reftoolbar): replace titleMsg with title (#1144)
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

refactor(Collapsible): merge LESS modules
  dist/Collapsible-pagestyles/Collapsible-pagestyles.css
  dist/Collapsible/Collapsible.css
  dist/Collapsible/Collapsible.js
  dist/definition.txt
  src/Collapsible-pagestyles/Collapsible-pagestyles.less
  src/Collapsible-pagestyles/LICENSE
  src/Collapsible-pagestyles/definition.json
  src/Collapsible/LICENSE
  src/Collapsible/definition.json
  src/Collapsible/modules/constant.ts
  src/Collapsible/modules/util/Collapsible.module.less
  src/Collapsible/modules/util/generateTogglerElement.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Collapsible): merge LESS modules (#1145)
  dist/Collapsible-pagestyles/Collapsible-pagestyles.css
  dist/Collapsible/Collapsible.css
  dist/Collapsible/Collapsible.js
  dist/definition.txt
  src/Collapsible-pagestyles/Collapsible-pagestyles.less
  src/Collapsible-pagestyles/LICENSE
  src/Collapsible-pagestyles/definition.json
  src/Collapsible/LICENSE
  src/Collapsible/definition.json
  src/Collapsible/modules/constant.ts
  src/Collapsible/modules/util/Collapsible.module.less
  src/Collapsible/modules/util/generateTogglerElement.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(HistoryDisclaimer): merge pagestyle module
  dist/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.css
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/definition.txt
  src/HistoryDisclaimer/HistoryDisclaimer.less
  src/HistoryDisclaimer/HistoryDisclaimer.ts
  src/HistoryDisclaimer/HistoryDisclaimer.tsx
  src/HistoryDisclaimer/definition.json
  src/HistoryDisclaimer/images/background-zh-hans.svg
  src/HistoryDisclaimer/images/background-zh-hant.svg
  src/HistoryDisclaimer/modules/background.tsx
  src/HistoryDisclaimer/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(HistoryDisclaimer): merge pagestyle module (#1146)
  dist/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.css
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/definition.txt
  src/HistoryDisclaimer/HistoryDisclaimer.less
  src/HistoryDisclaimer/HistoryDisclaimer.ts
  src/HistoryDisclaimer/HistoryDisclaimer.tsx
  src/HistoryDisclaimer/definition.json
  src/HistoryDisclaimer/images/background-zh-hans.svg
  src/HistoryDisclaimer/images/background-zh-hant.svg
  src/HistoryDisclaimer/modules/background.tsx
  src/HistoryDisclaimer/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(OnlineAdmins): rename class names
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/OnlineAdmins.module.less
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(OnlineAdmins): rename class names (#1147)
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/OnlineAdmins.module.less
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: follow commit 83135372
  src/HistoryDisclaimer-pagestyles/LICENSE
  src/HistoryDisclaimer-pagestyles/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(CopyCodeBlock): merge LESS file as module
  dist/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.css
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/definition.txt
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
  src/CopyCodeBlock-pagestyles/LICENSE
  src/CopyCodeBlock-pagestyles/definition.json
  src/CopyCodeBlock/modules/CopyCodeBlock.module.less
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/addCopyListener.ts
  src/CopyCodeBlock/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(CopyCodeBlock): merge LESS file as module (#1148)
  dist/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.css
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/definition.txt
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
  src/CopyCodeBlock-pagestyles/LICENSE
  src/CopyCodeBlock-pagestyles/definition.json
  src/CopyCodeBlock/modules/CopyCodeBlock.module.less
  src/CopyCodeBlock/modules/addButton.ts
  src/CopyCodeBlock/modules/addCopyListener.ts
  src/CopyCodeBlock/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(NoteTA-pagestyles): fix typo
  src/NoteTA-pagestyles/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dist; remove unused peers
  dist/store.txt
  src/CopyCodeBlock/definition.json
  src/DisamAssist/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update definition.txt
  dist/definition.txt
Due: none

refactor(FoldRef): merge LESS file as modules
  dist/FoldRef-pagestyles/FoldRef-pagestyles.css
  dist/FoldRef/FoldRef.css
  dist/FoldRef/FoldRef.js
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/FoldRef-pagestyles/LICENSE
  src/FoldRef-pagestyles/definition.json
  src/FoldRef/FoldRef.ts
  src/FoldRef/LICENSE
  src/FoldRef/definition.json
  src/FoldRef/modules/FoldRef.module.less
  src/FoldRef/modules/constant.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(FoldRef): merge LESS file as modules (#1149)
  dist/FoldRef-pagestyles/FoldRef-pagestyles.css
  dist/FoldRef/FoldRef.css
  dist/FoldRef/FoldRef.js
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/FoldRef-pagestyles/LICENSE
  src/FoldRef-pagestyles/definition.json
  src/FoldRef/FoldRef.ts
  src/FoldRef/LICENSE
  src/FoldRef/definition.json
  src/FoldRef/modules/FoldRef.module.less
  src/FoldRef/modules/constant.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: replace 'as string' with string with template literals
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/FoldRef/FoldRef.js
  src/CopyCodeBlock/modules/addButton.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, eslint --fix

chore: replace 'as string' with string with template literals (#1150)
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/FoldRef/FoldRef.js
  src/CopyCodeBlock/modules/addButton.ts
  src/FoldRef/modules/core.ts
  src/FoldRef/modules/util/processElement.ts
Due: prettier --write, eslint --fix

refactor(Markblocked): merge LESS file as module
  dist/MarkBlocked-pagestyles/MarkBlocked-pagestyles.css
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  dist/definition.txt
  src/MarkBlocked-pagestyles/LICENSE
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/MarkBlocked-pagestyles/definition.json
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/constant.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Markblocked): merge LESS file as module (#1151)
  dist/MarkBlocked-pagestyles/MarkBlocked-pagestyles.css
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  dist/definition.txt
  src/MarkBlocked-pagestyles/LICENSE
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/MarkBlocked-pagestyles/definition.json
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/constant.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
