Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

refactor: use namespace import (#433)
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
  src/AdvancedSiteNotices/modules/api.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/Clipboard/Clipboard.ts
  src/Toastify/Toastify.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: follow c6aadc1 7a19a7d
  src/Cat-a-lot-pagestyles/images/check-constructive.svg
  src/Clipboard/Clipboard.ts
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/GeoLocationReader-pagestyles/images/userAvatar.svg
  src/Report-pagestyles/images/report-button.svg
  src/ShortURL-pagestyles/images/link.svg
  src/Toastify/Toastify.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

chore: follow c6aadc1 7a19a7d (#434)
  src/Cat-a-lot-pagestyles/images/check-constructive.svg
  src/Clipboard/Clipboard.ts
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/GeoLocationReader-pagestyles/images/userAvatar.svg
  src/Report-pagestyles/images/report-button.svg
  src/ShortURL-pagestyles/images/link.svg
  src/Toastify/Toastify.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix: Revert "switch to `modern`"
  .browserslistrc
  .stylelintrc
Due: prettier --cache --ignore-unknown --write

fix: Revert "switch to `modern`"
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

fix: Revert "switch to `modern`" (follow #420 #421) (#435)
  .browserslistrc
  .stylelintrc
Due: prettier --cache --ignore-unknown --write

follow #435 (#436)
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

build: disable compat/compat inline to ignore error
  package.json
  pnpm-lock.yaml
  src/EditConflict/modules/core.ts
  src/TextSpacing/TextSpacing.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: disable compat/compat inline to ignore error (follow #436) (#437)
  package.json
  pnpm-lock.yaml
  src/EditConflict/modules/core.ts
  src/TextSpacing/TextSpacing.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(QuickPatrol): fix link href
  src/QuickPatrol/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(QuickPatrol): fix link href (#438)
  src/QuickPatrol/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(QuickPatrol): difflink not loaded
  src/DiffLink/modules/addHook.ts
  src/DiffLink/modules/util/checkDiffPage.ts
  src/DiffLink/modules/util/checkRevisionPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(QuickPatrol): difflink not loaded (#439)
  src/DiffLink/modules/addHook.ts
  src/DiffLink/modules/util/checkDiffPage.ts
  src/DiffLink/modules/util/checkRevisionPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(DiffLink): difflink undefined
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(DiffLink): diffLink undefined (follow #439) (#441)
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Difflink, ShortURL): revert commit 0a86cc17 and commit ebaa7616
  src/DiffLink/modules/util/checkRevisionPage.ts
  src/ShortURL/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: follow f135ce0e
  src/EditConflict/modules/core.ts
  src/TextSpacing/TextSpacing.ts
  src/TextSpacing/modules/queue.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: follow f135ce0e (#442)
  src/EditConflict/modules/core.ts
  src/TextSpacing/TextSpacing.ts
  src/TextSpacing/modules/queue.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Difflink, ShortURL): revert commit 0a86cc17 and commit ebaa7616 (#443)
  src/DiffLink/modules/util/checkRevisionPage.ts
  src/ShortURL/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: import CSS compatibility; fix small bug on IE11
  src/FloatTOC/FloatTOC.less
  src/Mainpage/Mainpage.less
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/NavboxCSS/NavboxCSS.less
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: import CSS compatibility; fix small bug on IE11 (#444)
  src/FloatTOC/FloatTOC.less
  src/Mainpage/Mainpage.less
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/NavboxCSS/NavboxCSS.less
  src/Report-pagestyles/Report-pagestyles.less
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow commit 0d28ab39
  src/Mainpage/Mainpage.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow commit 0d28ab3 (#445)
  src/Mainpage/Mainpage.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(hlist): add `inline-block`
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/hlist.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(hlist): add `inline-block` (#446)
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/hlist.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): separate options into a json file
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/api.ts
  src/AjaxLogin/modules/constant.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AjaxLogin/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AjaxLogin): separate options into a json file (#447)
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/api.ts
  src/AjaxLogin/modules/constant.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AjaxLogin/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(BanPage): use `mw.util.getUrl` instead of directly concatenating strings
  src/BanPage/modules/util/refreshPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(BanPage): use `mw.util.getUrl` instead of directly concatenating strings (#448)
  src/BanPage/modules/util/refreshPage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(experimental): use `@babel/plugin-transform-runtime`
  .babelrc
  package.json
  pnpm-lock.yaml
  scripts/modules/build-esbuild_options.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): clarify the hierarchical relationship
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(experimental): use `@babel/runtime`
  package.json
  pnpm-lock.yaml
  scripts/modules/build-esbuild_options.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): clarify the hierarchical relationship (#449)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/AdvancedSiteNotices/modules/constant.ts
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(experimental): use @babel/plugin-transform-runtime and @babel/runtime (#450)
  .babelrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): clarify the hierarchical relationship
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): clarify the hierarchical relationship (#451)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write
