Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build: update desc
  src/Mainpage_JS/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update desc (#1723)
  src/Mainpage_JS/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle): wrong portletArea
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(Twinkle): wrong portletArea (#1724)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(SiteCommon_SpecialInterface): update CSS
  dist/SiteCommon_SpecialInterface/SiteCommon_SpecialInterface.css
  src/SiteCommon_SpecialInterface/modules/blockedText.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon_SpecialInterface): update CSS (#1725)
  dist/SiteCommon_SpecialInterface/SiteCommon_SpecialInterface.css
  src/SiteCommon_SpecialInterface/modules/blockedText.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dist
  dist/store.txt
Due: none

feat(ASN): add query cache
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(ASN): add query cache (#1726)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EditForm_Attribution): replace with interwiki links
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/modules/util/getLinkValue.ts
Due: prettier --write, eslint --fix

Master (#1727)
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/modules/util/getLinkValue.ts
Due: prettier --write, eslint --fix

fix(Editform_Attribution): add link label
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/modules/util/getLinkValue.ts
Due: prettier --write, eslint --fix

fix(Editform_Attribution): add link label (#1728)
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/modules/util/getLinkValue.ts
Due: prettier --write, eslint --fix

fix(Cat-a-lot): add query cache
  dist/Cat-a-lot/Cat-a-lot.js
  dist/definition.txt
  src/Cat-a-lot/definition.json
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Cat-a-lot): add query cache (#1729)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/definition.txt
  src/Cat-a-lot/definition.json
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkRights): typo; set longer cache time
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

fix(MarkRights): typo; set longer cache time (#1730)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix

chore(Util): set longer cache time
  dist/Util/Util.js
  src/Util/modules/queryGlobalUserGroups.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

chore(Util): set longer cache time (#1731)
  dist/Util/Util.js
  src/Util/modules/queryGlobalUserGroups.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

fix(Mainpage): add align-content: flex-start to FA Box
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): add align-content: flex-start to FA Box (#1732)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(WhoIsActive): set longer cache time
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

chore(WhoIsActive): set longer cache time (#1733)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

fix(Editform_Attribution): add link label
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/getAttribution.ts
Due: prettier --write, eslint --fix

fix(Editform_Attribution): add link label (#1734)
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/getAttribution.ts
Due: prettier --write, eslint --fix

fix(MemorialDay): update settings
  src/MemorialDay-settings/pageList.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(MemorialDay): update settings
  dist/MemorialDay-settings/MemorialDay-settings.js
Due: prettier --write, eslint --fix

fix(MemorialDay): update settings (#1735)
  dist/MemorialDay-settings/MemorialDay-settings.js
  src/MemorialDay-settings/pageList.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon): remove icon background
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/footerIcons.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): remove icon background (#1736)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/footerIcons.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon*): split modules
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_SpecialInterface/SiteCommon_SpecialInterface.css
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  dist/definition.txt
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/definition.json
  src/SiteCommon_SpecialInterface/SiteCommon_SpecialInterface.less
  src/SiteCommon_SpecialInterface/modules/catlinks.less
  src/SiteCommon_SpecialInterface/modules/groupShow.less
  src/SiteCommon_Templates/LICENSE
  src/SiteCommon_Templates/SiteCommon_Templates.less
  src/SiteCommon_Templates/definition.json
  src/SiteCommon_Templates/modules/columns.less
  src/SiteCommon_Templates/modules/fontTemplates.less
  src/SiteCommon_Templates/modules/hatnote.less
  src/SiteCommon_Templates/modules/infobox.less
  src/SiteCommon_Templates/modules/inlineUnihan.less
  src/SiteCommon_Templates/modules/mbox.less
  src/SiteCommon_Templates/modules/noMobile.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon*): split modules (#1737)
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_SpecialInterface/SiteCommon_SpecialInterface.css
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  dist/definition.txt
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/definition.json
  src/SiteCommon_SpecialInterface/SiteCommon_SpecialInterface.less
  src/SiteCommon_SpecialInterface/modules/catlinks.less
  src/SiteCommon_SpecialInterface/modules/groupShow.less
  src/SiteCommon_Templates/LICENSE
  src/SiteCommon_Templates/SiteCommon_Templates.less
  src/SiteCommon_Templates/definition.json
  src/SiteCommon_Templates/modules/columns.less
  src/SiteCommon_Templates/modules/fontTemplates.less
  src/SiteCommon_Templates/modules/hatnote.less
  src/SiteCommon_Templates/modules/infobox.less
  src/SiteCommon_Templates/modules/inlineUnihan.less
  src/SiteCommon_Templates/modules/mbox.less
  src/SiteCommon_Templates/modules/noMobile.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EditForm_Attribution): typo; parameters for function getLink
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/modules/util/getLink.ts
Due: prettier --write, eslint --fix

fix(EditForm_Attribution): typo; parameters for function getLink (#1738)
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/modules/util/getLink.ts
Due: prettier --write, eslint --fix

fix(OnlineAdmins): remove &&; add logic judgement
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, eslint --fix

fix(OnlineAdmins): remove &&; add logic judgement (#1739)
  dist/OnlineAdmins/OnlineAdmins.js
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, eslint --fix

fix(Edittools): remove outdated message for commons
  src/Edittools-delh/modules/core.ts
Due: prettier --write, eslint --fix

fix: remove unneeded prefixed CSS rules
  dist/FloatTOC/FloatTOC.js
  dist/Twinkle/Twinkle.js
  src/FloatTOC/modules/setMwNotifyStyle.ts
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

fix: remove unneeded prefixed CSS rules (#1740)
  dist/FloatTOC/FloatTOC.js
  dist/Twinkle/Twinkle.js
  src/FloatTOC/modules/setMwNotifyStyle.ts
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix
