Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(EditForm_*): guard against double inclusions (#1084)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/definition.txt
  src/AccessKeyCheatsheet/definition.json
  src/BanPage/definition.json
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/Editform_AiAssisted/definition.json
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_Patch2017/definition.json
  src/Editform_Patch2017/modules/constant.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
  src/FloatTOC/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: follow commit ef63605
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_Patch2017/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(TranslateVariants): optimize logic (#1085)
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/TranslateVariants.ts
  src/TranslateVariants/modules/api.ts
  src/TranslateVariants/modules/constant.ts
  src/TranslateVariants/modules/core.tsx
  src/TranslateVariants/modules/translateVariants.tsx
  src/TranslateVariants/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(TranslateVariants): optimize logic
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/TranslateVariants.ts
  src/TranslateVariants/modules/api.ts
  src/TranslateVariants/modules/constant.ts
  src/TranslateVariants/modules/core.tsx
  src/TranslateVariants/modules/translateVariants.tsx
  src/TranslateVariants/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ToolsRedirect): optimize logic (#1086)
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.js
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/modules/api.ts
  src/ToolsRedirect-bio-latin-names/options.json
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/api.ts
  src/ToolsRedirect-courtesy-and-art-names/options.json
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-opt-bolds/modules/api.ts
  src/ToolsRedirect-opt-bolds/options.json
  src/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/api.ts
  src/ToolsRedirect/modules/bio-latin-names.ts
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/modules/messages.ts
  src/ToolsRedirect/modules/opt-bolds.ts
  src/ToolsRedirect/modules/types.d.ts
  src/ToolsRedirect/modules/util/getMessage.ts
  src/ToolsRedirect/modules/util/getMessages.ts
  src/ToolsRedirect/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ToolsRedirect): optimize logic
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.js
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/modules/api.ts
  src/ToolsRedirect-bio-latin-names/options.json
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/api.ts
  src/ToolsRedirect-courtesy-and-art-names/options.json
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-opt-bolds/modules/api.ts
  src/ToolsRedirect-opt-bolds/options.json
  src/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/ToolsRedirect.ts
  src/ToolsRedirect/modules/api.ts
  src/ToolsRedirect/modules/bio-latin-names.ts
  src/ToolsRedirect/modules/constant.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/courtesy-and-art-names.ts
  src/ToolsRedirect/modules/messages.ts
  src/ToolsRedirect/modules/opt-bolds.ts
  src/ToolsRedirect/modules/types.d.ts
  src/ToolsRedirect/modules/util/getMessage.ts
  src/ToolsRedirect/modules/util/getMessages.ts
  src/ToolsRedirect/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Switcher): optimize logic
  dist/Switcher/Switcher.js
  dist/definition.txt
  src/Switcher/Switcher.ts
  src/Switcher/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Switcher): optimize logic (#1087)
  dist/Switcher/Switcher.js
  dist/definition.txt
  src/Switcher/Switcher.ts
  src/Switcher/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

style: add 'mw-ui-button' 'cdx-button'
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

refactor(StickyTableHeaders): optimize logic
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/definition.txt
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/StickyTableHeaders/definition.json
  src/StickyTableHeaders/modules/core.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(StickyTableHeaders): optimize logic (#1089)
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/definition.txt
  src/StickyTableHeaders/StickyTableHeaders.ts
  src/StickyTableHeaders/definition.json
  src/StickyTableHeaders/modules/core.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(TranslateVariants): add style classes to action buttons (#1088)
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

refactor(SmoothTOC): optimize logic
  dist/SmoothTOC/SmoothTOC.js
  src/SmoothTOC/SmoothTOC.ts
  src/SmoothTOC/modules/core.ts
Due: prettier --write, eslint --fix

refactor(SmoothTOC): optimize logic (#1090)
  dist/SmoothTOC/SmoothTOC.js
  src/SmoothTOC/SmoothTOC.ts
  src/SmoothTOC/modules/core.ts
Due: prettier --write, eslint --fix

build: #1088
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

chore(PreviewWithVariant): add oid operator
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/modules/processVisualEditor.js
Due: prettier --write, eslint --fix

chore(PreviewWithVariant): add void operator (#1091)
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/PreviewWithVariant/modules/processVisualEditor.js
Due: prettier --write, eslint --fix

refactor(Editform_AiAssisted): split constant
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/constant.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
Due: prettier --write, eslint --fix

refactor(Editform_Patch2017): replace placeholder with message texts
  dist/Editform_Patch2017/Editform_Patch2017.js
  src/Editform_Patch2017/Editform_Patch2017.ts
  src/Editform_Patch2017/modules/constant.ts
  src/Editform_Patch2017/modules/i18n.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
Due: prettier --write, eslint --fix

refactor(EditForm_*): replace placeholder with message texts; split constant (#1092)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  src/Editform_AiAssisted/modules/constant.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_Patch2017/Editform_Patch2017.ts
  src/Editform_Patch2017/modules/constant.ts
  src/Editform_Patch2017/modules/i18n.ts
  src/Editform_Patch2017/modules/processVisualEditor.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect): add missing dependencies
  dist/definition.txt
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/ToolsRedirect-opt-bolds/definition.json
  src/ToolsRedirect/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(ToolsRedirect): add missing dependencies (#1093)
  dist/definition.txt
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/ToolsRedirect-opt-bolds/definition.json
  src/ToolsRedirect/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Group-user_JS): messages should change when value of the text-input changes
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

fix(Group-user_JS): messages should change when value of the text-input changes (#1094)
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

refactor(SpecialWikitext): optimize logic
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/definition.txt
  src/SpecialWikitext/SpecialWikitext.less
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/components/SpecialWikitext.module.less
  src/SpecialWikitext/components/generateElements.tsx
  src/SpecialWikitext/modules/api.ts
  src/SpecialWikitext/modules/generateElements.tsx
  src/SpecialWikitext/modules/i18n.ts
  src/SpecialWikitext/modules/lua/luaAddText.ts
  src/SpecialWikitext/modules/lua/luaCheck.ts
  src/SpecialWikitext/modules/lua/luaGetText.ts
  src/SpecialWikitext/modules/mw/mwAddPreview.ts
  src/SpecialWikitext/modules/mw/mwAddText.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/SpecialWikitext/modules/notice.ts
  src/SpecialWikitext/modules/util/addParsedWikitext.ts
  src/SpecialWikitext/modules/util/checkElementExist.ts
  src/SpecialWikitext/modules/util/checkMwConfig.ts
  src/SpecialWikitext/modules/util/checkNeedPreview.ts
  src/SpecialWikitext/modules/util/getLanguage.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
  src/SpecialWikitext/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(SpecialWikitext): optimize logic (#1095)
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/definition.txt
  src/SpecialWikitext/SpecialWikitext.less
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/components/SpecialWikitext.module.less
  src/SpecialWikitext/components/generateElements.tsx
  src/SpecialWikitext/modules/api.ts
  src/SpecialWikitext/modules/generateElements.tsx
  src/SpecialWikitext/modules/i18n.ts
  src/SpecialWikitext/modules/lua/luaAddText.ts
  src/SpecialWikitext/modules/lua/luaCheck.ts
  src/SpecialWikitext/modules/lua/luaGetText.ts
  src/SpecialWikitext/modules/mw/mwAddPreview.ts
  src/SpecialWikitext/modules/mw/mwAddText.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/SpecialWikitext/modules/notice.ts
  src/SpecialWikitext/modules/util/addParsedWikitext.ts
  src/SpecialWikitext/modules/util/checkElementExist.ts
  src/SpecialWikitext/modules/util/checkMwConfig.ts
  src/SpecialWikitext/modules/util/checkNeedPreview.ts
  src/SpecialWikitext/modules/util/getLanguage.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
  src/SpecialWikitext/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: #1095
  dist/store.txt
Due: none

build: #1094
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

refactor(SpecialWikitext): clean up
  dist/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/components/generateElements.tsx
  src/SpecialWikitext/modules/lua/luaAddText.ts
  src/SpecialWikitext/modules/lua/luaCheck.ts
  src/SpecialWikitext/modules/lua/luaGetText.ts
  src/SpecialWikitext/modules/mw/mwAddPreview.ts
  src/SpecialWikitext/modules/mw/mwAddText.ts
  src/SpecialWikitext/modules/util/addParsedWikitext.ts
  src/SpecialWikitext/modules/util/checkElementExist.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
Due: prettier --write, eslint --fix

refactor(SpecialWikitext): clean up (#1096)
  dist/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/components/generateElements.tsx
  src/SpecialWikitext/modules/lua/luaAddText.ts
  src/SpecialWikitext/modules/lua/luaCheck.ts
  src/SpecialWikitext/modules/lua/luaGetText.ts
  src/SpecialWikitext/modules/mw/mwAddPreview.ts
  src/SpecialWikitext/modules/mw/mwAddText.ts
  src/SpecialWikitext/modules/util/addParsedWikitext.ts
  src/SpecialWikitext/modules/util/checkElementExist.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
Due: prettier --write, eslint --fix

refactor(SiteCommon_JS): optimize logic
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/definition.txt
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/constant.ts
  src/SiteCommon_JS/modules/core.tsx
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(SiteCommon_JS): optimize logic (#1097)
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/definition.txt
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/constant.ts
  src/SiteCommon_JS/modules/core.tsx
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update store.txt
  dist/store.txt
Due: none

build: update store.txt (#1098)
  dist/store.txt
Due: none

refactor: config key name
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Group-user_JS/Group-user_JS.js
  dist/HotCat/HotCat.js
  dist/LogFilter/LogFilter.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/ShortURL/ShortURL.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/SpecialWikitext/SpecialWikitext.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DefaultSummaries/options.json
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Group-user_JS/Group-user_JS.ts
  src/HotCat/HotCat.js
  src/LogFilter/LogFilter.ts
  src/PreviewWithVariant/modules/processVisualEditor.js
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PreviewWithVariant/options.json
  src/ShortURL/ShortURL.ts
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: config key name (#1099)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Group-user_JS/Group-user_JS.js
  dist/HotCat/HotCat.js
  dist/LogFilter/LogFilter.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/ShortURL/ShortURL.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/SpecialWikitext/SpecialWikitext.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DefaultSummaries/options.json
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Group-user_JS/Group-user_JS.ts
  src/HotCat/HotCat.js
  src/LogFilter/LogFilter.ts
  src/PreviewWithVariant/modules/processVisualEditor.js
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PreviewWithVariant/options.json
  src/ShortURL/ShortURL.ts
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ShortURL): optimize logic
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  src/ShortURL/ShortURL.ts
  src/ShortURL/definition.json
  src/ShortURL/modules/addPortletLink.tsx
  src/ShortURL/modules/api.ts
  src/ShortURL/modules/buildLink.ts
  src/ShortURL/modules/compareWithRemoteDiffId.ts
  src/ShortURL/modules/core.ts
  src/ShortURL/modules/i18n.ts
  src/ShortURL/modules/processId.ts
  src/ShortURL/modules/util/checkRevisionPage.ts
  src/ShortURL/modules/util/queryApi.ts
  src/ShortURL/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(SpecialWikitext): improve translation
  dist/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/modules/i18n.ts
Due: prettier --write, eslint --fix

chore(SpecialWikitext): improve translation (#1100)
  dist/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(ShortURL): optimize logic (#1101)
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  src/ShortURL/ShortURL.ts
  src/ShortURL/definition.json
  src/ShortURL/modules/addLink.tsx
  src/ShortURL/modules/api.ts
  src/ShortURL/modules/buildLink.ts
  src/ShortURL/modules/compareWithRemoteDiffId.ts
  src/ShortURL/modules/core.ts
  src/ShortURL/modules/i18n.ts
  src/ShortURL/modules/processId.ts
  src/ShortURL/modules/util/checkRevisionPage.ts
  src/ShortURL/modules/util/queryApi.ts
  src/ShortURL/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
