Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build(WPHL): update dependencies
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(WPHL): update dependencies (#1741)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle): add "1="
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

fix(Twinkle): add "1=" (#1742)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

fix(ResponsiveContent): image width
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ResponsiveContent): image width (#1743)
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(Group-transwiki_JS): optimize logic
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  src/Group-transwiki_JS/modules/fixCheckbox.ts
Due: prettier --write, eslint --fix

refactor(Group-transwiki_JS): optimize logic
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/Group-transwiki_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

refactor(Group-transwiki_JS): optimize logic (#1744)
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/Group-transwiki_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

fix(NavboxCSS): add compatibility with {{NavboxV2}}
  dist/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(NavboxCSS): add compatibility with {{NavboxV2}} (#1745)
  dist/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Editform_AiAssisted): revert PR #1596
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/options.json
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_AiAssisted): revert PR #1596 (#1746)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/options.json
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_AiAssisted): change tag not appended
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

fix(Editform_AiAssisted): change tag not appended
  src/Editform_AiAssisted/modules/generateChangeTags.ts
Due: prettier --write, eslint --fix

fix(Editform_AiAssisted): change tag not appended (#1747)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/generateChangeTags.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

fix(SkinCitizen): remove filling color
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/images/Chinese_conversion.svg
  src/SkinCitizen/images/Help_index_icon.svg
  src/SkinCitizen/images/Notice_board_icon.svg
  src/SkinCitizen/images/Policy_icon.svg
  src/SkinCitizen/images/Teahouse_icon.svg
  src/SkinCitizen/images/Wanshan_icon.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

fix(SkinCitizen): remove filling color (#1748)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/images/Chinese_conversion.svg
  src/SkinCitizen/images/Help_index_icon.svg
  src/SkinCitizen/images/Notice_board_icon.svg
  src/SkinCitizen/images/Policy_icon.svg
  src/SkinCitizen/images/Teahouse_icon.svg
  src/SkinCitizen/images/Wanshan_icon.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

chore(Wikiplus*): update package version, add styles
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.css
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus/Wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(Wikiplus*): update package version, add styles
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  src/Wikiplus-highlight/Wikiplus-highlight.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Wikiplus*): update package version, add styles (#1749)
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.css
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus/Wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies
  pnpm-lock.yaml
Due: none

Potential fix for code scanning alert no. 144: Incomplete string escaping or encoding
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

fix(QueryContributors): fix #1750
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 144: Incomplete string escaping or encoding (#1750)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

fix(UserRightsManager): add IPBE
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/getPagePermissions.ts
  src/UserRightsManager/modules/getPermissionNames.ts
Due: prettier --write, eslint --fix

fix(UserRightsManager): add IPBE (#1751)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/getPagePermissions.ts
  src/UserRightsManager/modules/getPermissionNames.ts
Due: prettier --write, eslint --fix

fix(MarkRights): add back deprecated class name
  dist/MarkRights/MarkRights.js
  package.json
  pnpm-lock.yaml
  src/MarkRights/modules/util/appendUserRightsMark.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkRights): add back deprecated class name (#1752)
  dist/MarkRights/MarkRights.js
  package.json
  pnpm-lock.yaml
  src/MarkRights/modules/util/appendUserRightsMark.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage): box width
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): box width (#1753)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): box width (#1754)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dist
  dist/store.txt
Due: none

fix(Twinkle): rename Notability; add uw-paid
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

fix(Twinkle): rename Notability; add uw-paid (#1755)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

build: disable AjaxLogin temporarily
  dist/definition.txt
  src/AjaxLogin/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: disable AjaxLogin temporarily (#1756)
  dist/definition.txt
  src/AjaxLogin/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(SkinCitizen*): split module; fix SVG code
  dist/SkinCitizen-addSidebarIcons/SkinCitizen-addSidebarIcons.css
  dist/SkinCitizen/SkinCitizen.css
  dist/definition.txt
  src/SkinCitizen-addSidebarIcons/LICENSE
  src/SkinCitizen-addSidebarIcons/SkinCitizen-addSidebarIcons.less
  src/SkinCitizen-addSidebarIcons/definition.json
  src/SkinCitizen-addSidebarIcons/images/Chinese_conversion.svg
  src/SkinCitizen-addSidebarIcons/images/Help_index_icon.svg
  src/SkinCitizen-addSidebarIcons/images/Notice_board_icon.svg
  src/SkinCitizen-addSidebarIcons/images/Policy_icon.svg
  src/SkinCitizen-addSidebarIcons/images/Teahouse_icon.svg
  src/SkinCitizen-addSidebarIcons/images/Wanshan_icon.svg
  src/SkinCitizen/LICENSE
  src/SkinCitizen/SkinCitizen.less
  src/SkinCitizen/images/Notice_board_icon.svg
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
