Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

chore: add LICENSE for Tippy-Extensions
  src/Tippy-Extensions/LICENSE
Due: prettier --cache --ignore-unknown --write

refactor: split out Mainpage_JS
  src/Mainpage_JS/LICENSE
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/definition.json
  src/Report/modules/addPortletLink.ts
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: add LICENSE for Tippy-Extensions (#214)
  src/Tippy-Extensions/LICENSE
Due: prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): add switch() to judge why permission not granted
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: split out Mainpage_JS; add add switch() to noPerm (#215)
  src/Mainpage_JS/LICENSE
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/definition.json
  src/Report/modules/addPortletLink.ts
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(SkinCitizen): disable adjusting margin for `.sidebar`
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(SkinCitizen): disable adjusting margin for `.sidebar` (#216)
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(constant): add `skin` to `DEFINITION_SECTION_MAP`
  scripts/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(constant): add `usergroup` to `DEFINITION_SECTION_MAP`
  scripts/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(constant): add skin and usergroup to DEFINITION_SECTION_MAP (#217)
  scripts/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: optimize styles
  src/AdvancedSiteNotices/AdvancedSiteNotices.less
  src/FoldRef/FoldRef.less
  src/GeoLocationReader/GeoLocationReader.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/ProveIt/ProveIt.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
  src/WhoIsActive/WhoIsActive.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: optimize styles (#218)
  src/AdvancedSiteNotices/AdvancedSiteNotices.less
  src/FoldRef/FoldRef.less
  src/GeoLocationReader/GeoLocationReader.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/ProveIt/ProveIt.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
  src/WhoIsActive/WhoIsActive.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: optimize styles for #mw-blockedtext-*
  src/FoldRef/FoldRef.less
  src/SiteCommon/modules/blockedText.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: optimize styles for #mw-blockedtext-* (#219)
  src/FoldRef/FoldRef.less
  src/SiteCommon/modules/blockedText.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Mainpage): adjust mainpage styles
  src/Mainpage/Mainpage.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Mainpage): adjust mainpage styles (#220)
  src/Mainpage/Mainpage.less
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow 143575b
  src/AutoLink/modules/constant.ts
  src/Cat-a-lot/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow 143575b (#221)
  src/AutoLink/modules/constant.ts
  src/Cat-a-lot/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: fix `:lang()` selector
  src/Edit0/Edit0.less
  src/HistoryDisclaimer/HistoryDisclaimer.less
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/MarkRights/MarkRights.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SkinGongbi/SkinGongbi.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: fix `:lang()` selector (#222)
  src/Edit0/Edit0.less
  src/HistoryDisclaimer/HistoryDisclaimer.less
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/MarkRights/MarkRights.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/inlineUnihan.less
  src/SiteCommon/modules/normalize.less
  src/SkinGongbi/SkinGongbi.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(noArticleText): fix flex-basis of `.mw-noarticletext-module`
  src/SiteCommon/modules/noArticleText.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(noArticleText): fix flex-basis of `.mw-noarticletext-module` (#223)
  src/SiteCommon/modules/noArticleText.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: fix `:lang()` selector (follow commit 81f7815e)
  src/Edit0/Edit0.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: fix `:lang()` selector (follow commit 81f7815e) (#224)
  src/Edit0/Edit0.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(Mainpage_JS): incorrectly segment when coverting variants
  src/Mainpage_JS/definition.json
Due: prettier --cache --ignore-unknown --write

fix(Mainpage_JS): incorrectly segment when coverting variants (#225)
  src/Mainpage_JS/definition.json
Due: prettier --cache --ignore-unknown --write

fix(EditForm_JS): update from upstream repo
  src/EditForm/modules/forcePreview.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EditForm): update from upstream repo (#226)
  src/EditForm/modules/forcePreview.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EditForm_JS): rename and split
  src/EditForm/LICENSE
  src/EditForm/definition.json
  src/EditForm_JS/.eslintrc
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/LICENSE
  src/EditForm_JS/definition.json
  src/EditForm_JS/modules/aiAssisted.ts
  src/EditForm_JS/modules/antiConv.ts
  src/EditForm_JS/modules/cancelAutoSummary.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/editToolbar.ts
  src/EditForm_JS/modules/forcePreview.ts
  src/EditForm_JS/modules/i18n.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EditForm): rename and split (#227)
  src/EditForm/LICENSE
  src/EditForm/definition.json
  src/EditForm_JS/.eslintrc
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/LICENSE
  src/EditForm_JS/definition.json
  src/EditForm_JS/modules/aiAssisted.ts
  src/EditForm_JS/modules/antiConv.ts
  src/EditForm_JS/modules/cancelAutoSummary.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/editToolbar.ts
  src/EditForm_JS/modules/forcePreview.ts
  src/EditForm_JS/modules/i18n.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): move comment inside function * avoid wrongly importing unrelated comments
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): move comment inside function (#228)
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update color scheme
  src/Cat-a-lot/images/check-constructive.svg
  src/GeoLocationReader/GeoLocationReader.less
  src/GeoLocationReader/images/globe.svg
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/MarkRights/MarkRights.less
  src/WhoIsActive/WhoIsActive.less
  src/WhoIsActive/images/userContributions-green.svg
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

chore: add `error` type to Ding.ts
  src/AjaxLogin/modules/core.ts
  src/BanPage/modules/editPage.ts
  src/ConfirmLogout/modules/logout.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/Ding/Ding.less
  src/Ding/modules/core.ts
  src/EasyArchive/EasyArchive.js
  src/PurgePageCache/modules/core.ts
  src/index.d.ts
  src/util.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update color scheme (#229)
  src/Cat-a-lot/images/check-constructive.svg
  src/GeoLocationReader/GeoLocationReader.less
  src/GeoLocationReader/images/globe.svg
  src/MarkRights-Userpage/MarkRights-Userpage.less
  src/MarkRights/MarkRights.less
  src/WhoIsActive/WhoIsActive.less
  src/WhoIsActive/images/userContributions-green.svg
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

chore: add `error` type to Ding.ts (#230)
  src/AjaxLogin/modules/core.ts
  src/BanPage/modules/editPage.ts
  src/ConfirmLogout/modules/logout.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/Ding/Ding.less
  src/Ding/modules/core.ts
  src/EasyArchive/EasyArchive.js
  src/PurgePageCache/modules/core.ts
  src/index.d.ts
  src/util.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(ding): add default color
  src/Ding/Ding.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(ding): add default color (#231)
  src/Ding/Ding.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Wikiplus*): split rules
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/images/settings.svg
  src/Wikiplus/Wikiplus.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(Wikiplus*): split rules (#232)
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/images/settings.svg
  src/Wikiplus/Wikiplus.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write
