Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(Util): replace with location.origin (#1991)
  dist/Util/Util.js
  src/Util/modules/mwUri.ts
Due: prettier --write, eslint --fix

refactor(DefaultSummaries): rewrite with @wikimedia/codex and vue
  dist/DefaultSummaries/DefaultSummaries.js
  dist/definition.txt
  src/DefaultSummaries/definition.json
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/util/SummaryDropdown.vue
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(PWV): remove unused comments
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

refactor(DefaultSummaries): rewrite with @wikimedia/codex and vue (#1992)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/definition.txt
  src/DefaultSummaries/definition.json
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/util/SummaryDropdown.vue
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Editform_Attribution): rewrite to avoid empty source or license
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getLicense.ts
  src/Editform_Attribution/modules/util/getLink.ts
  src/Editform_Attribution/modules/util/getSource.ts
Due: prettier --write, eslint --fix

refactor(Editform_Attribution): rewrite to avoid empty source or license (#1993)
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getLicense.ts
  src/Editform_Attribution/modules/util/getLink.ts
  src/Editform_Attribution/modules/util/getSource.ts
Due: prettier --write, eslint --fix

fix(PreviewWithVariant): flexbox settings
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/VariantControls.vue
  src/PreviewWithVariant/modules/processWikiEditor.less
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Editform_AiAssisted, PWV, PWV2017): flexbox settings; root element ID
  dist/Editform_AiAssisted/Editform_AiAssisted.css
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.less
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/PreviewWithVariant/modules/processWikiEditor.less
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.ts
  src/PreviewWithVariant2017/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_AiAssisted, PWV, PWV2017): flexbox settings; root element ID (#1994)
  dist/Editform_AiAssisted/Editform_AiAssisted.css
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.less
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/PreviewWithVariant/modules/VariantControls.vue
  src/PreviewWithVariant/modules/processWikiEditor.less
  src/PreviewWithVariant/modules/processWikiEditor.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.ts
  src/PreviewWithVariant2017/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(PWV): flex-basis of inputs
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/VariantControls.vue
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(PWV): flex-basis of inputs (#1995)
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/VariantControls.vue
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Editform_AiAssisted): remove inputId; update mount location
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/AssistedCheckbox.vue
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_AiAssisted): remove inputId; update mount location (#1996)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/Editform_AiAssisted/modules/AssistedCheckbox.vue
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/Editform_AiAssisted/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(HotCat): 创建新的分类页面时在页面顶端添加{{Catnav|auto=1}}模板
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/FloatTOC/FloatTOC.js
  dist/HotCat/HotCat.js
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.css
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/PrintOptions/PrintOptions.css
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/VerifyToEdit/VerifyToEdit.js
  src/HotCat/HotCat.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(Cat-a-lot): 移动分类成员中的模板时，如果未找到分类，尝试在/doc文档页中寻找
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

feat(Cat-a-lot): 将模板的cat参数视作分类处理
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/Cat-a-lot/Cat-a-lot.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/FloatTOC/FloatTOC.js
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.css
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/PrintOptions/PrintOptions.css
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/VerifyToEdit/VerifyToEdit.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Tippy): correct description formatting in definition.json
  src/Tippy/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

feat(HotCat&Cat-a-lot): 创建新的分类页面时自动在页面顶端添加{{Catnav|auto=1}}模板；在模板文档页中转移分类 (#1997)
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/Cat-a-lot/Cat-a-lot.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/FloatTOC/FloatTOC.js
  dist/HotCat/HotCat.js
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.css
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/PrintOptions/PrintOptions.css
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/VerifyToEdit/VerifyToEdit.js
  src/Cat-a-lot/modules/core.tsx
  src/HotCat/HotCat.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(EnhancedSpecialSearch): rewrite in @wikimedia/codex and vue
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.css
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/definition.txt
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.less
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/EnhancedSpecialSearch/components/SearchEngineSelect.vue
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/EnhancedSpecialSearch/definition.json
  src/EnhancedSpecialSearch/modules/addListener.ts
  src/EnhancedSpecialSearch/modules/getOptionData.ts
  src/EnhancedSpecialSearch/modules/i18n.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/util/openPage.ts
  src/EnhancedSpecialSearch/modules/util/openPage.tsx
  src/EnhancedSpecialSearch/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EnhancedSpecialSearch): rewrite in @wikimedia/codex and vue (#1999)
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.css
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/definition.txt
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.less
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/EnhancedSpecialSearch/components/SearchEngineSelect.vue
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/EnhancedSpecialSearch/definition.json
  src/EnhancedSpecialSearch/modules/addListener.ts
  src/EnhancedSpecialSearch/modules/getOptionData.ts
  src/EnhancedSpecialSearch/modules/i18n.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/util/openPage.ts
  src/EnhancedSpecialSearch/modules/util/openPage.tsx
  src/EnhancedSpecialSearch/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
