Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

chore(ResponsiveContent): fix styles for {{navbox}}, {{mbox}} and {{tmbox}} (#1584)
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(ResponsiveContent): follow #1584
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(ResponsiveContent): follow #1584 (#1585)
  dist/ResponsiveContent/ResponsiveContent.css
  src/ResponsiveContent/ResponsiveContent.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(WordCount): follow #1583
  dist/WordCount/WordCount.js
  src/WordCount/modules/addListener.ts
Due: prettier --write, eslint --fix

chore(WordCount): add passive: true to ontouchstart (follow #1583) (#1586)
  dist/WordCount/WordCount.js
  src/WordCount/modules/addListener.ts
Due: prettier --write, eslint --fix

chore(WordCount): add passive: true to ontouchstart (follow #1583)
  dist/WordCount/WordCount.js
  src/WordCount/modules/addListener.ts
Due: prettier --write, eslint --fix

chore(WordCount): add passive: true to ontouchstart (follow #1583, #1586) (#1587)
  dist/WordCount/WordCount.js
  src/WordCount/modules/addListener.ts
Due: prettier --write, eslint --fix

chore(Wikiplus-highlight): optimize logic
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --write, eslint --fix

chore(Wikiplus-highlight): optimize logic (#1588)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --write, eslint --fix

fix(SiteCommon): remove .nomobile
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/noMobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): add desktoponly, onlydesktop
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/noMobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): remove .nomobile, add .desktoponly, .onlydesktop (#1589)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/noMobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(typo): expiration of mw.storage should be set in seconds, not miliseconds
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/Geo/Geo.js
  dist/HotCat/HotCat.js
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/Geo/Geo.ts
  src/HotCat/modules/check.ts
Due: prettier --write, eslint --fix

fix(typo): expiration of mw.storage should be set in seconds, not miliseconds (#1590)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/Geo/Geo.js
  dist/HotCat/HotCat.js
  src/AdvancedSiteNotices/modules/showNotice.tsx
  src/Geo/Geo.ts
  src/HotCat/modules/check.ts
Due: prettier --write, eslint --fix

fix(Edittools-refToolbar): replace icons with non-LGPL ones
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/images/Gtk-stop.png
  src/Edittools-refToolbar/images/Nuvola-action-edit-add.png
  src/Edittools-refToolbar/images/Nuvola-apps-date.png
  src/Edittools-refToolbar/images/Nuvola-clipboard-lined.png
  src/Edittools-refToolbar/images/System-search.png
  src/Edittools-refToolbar/images/add.svg
  src/Edittools-refToolbar/images/calendar.svg
  src/Edittools-refToolbar/images/citeArticle.svg
  src/Edittools-refToolbar/images/close.svg
  src/Edittools-refToolbar/images/search.svg
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

fix(Edittools-refToolbar): replace icons with non-LGPL ones (#1591)
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/images/Gtk-stop.png
  src/Edittools-refToolbar/images/Nuvola-action-edit-add.png
  src/Edittools-refToolbar/images/Nuvola-apps-date.png
  src/Edittools-refToolbar/images/Nuvola-clipboard-lined.png
  src/Edittools-refToolbar/images/System-search.png
  src/Edittools-refToolbar/images/add.svg
  src/Edittools-refToolbar/images/calendar.svg
  src/Edittools-refToolbar/images/citeArticle.svg
  src/Edittools-refToolbar/images/close.svg
  src/Edittools-refToolbar/images/search.svg
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

Revert "chore: optimize logic for hooking VE (#1582)"
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/Editform_AiAssisted/Editform_AiAssisted.ts
Due: prettier --write, eslint --fix

Revert "chore: optimize logic for hooking VE (#1582)" (#1592)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/Editform_AiAssisted/Editform_AiAssisted.ts
Due: prettier --write, eslint --fix

fix(Edittools-refToolbar): add cite-increment-alt message
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/modules/messages.ts
Due: prettier --write, eslint --fix

fix(Edittools-refToolbar): add cite-increment-alt message (#1593)
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/modules/messages.ts
Due: prettier --write, eslint --fix

fix(Edittools-refToolbar): remove CiteTB.displayErrors; add margin to SVG icons; update LICENSE
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/images/calendar.svg
  src/Edittools-refToolbar/images/close.svg
  src/Edittools-refToolbar/images/search.svg
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

fix(Edittools-refToolbar): remove CiteTB.displayErrors; add margin to SVG icons; update LICENSE (#1594)
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/images/calendar.svg
  src/Edittools-refToolbar/images/close.svg
  src/Edittools-refToolbar/images/search.svg
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

fix(Edittools-refToolbar): adjust margins of SVG icons
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/images/calendar.svg
  src/Edittools-refToolbar/images/citeArticle.svg
  src/Edittools-refToolbar/images/search.svg
Due: prettier --write, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

fix(Edittools-refToolbar): adjust margins of SVG icons (#1595)
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/images/calendar.svg
  src/Edittools-refToolbar/images/citeArticle.svg
  src/Edittools-refToolbar/images/search.svg
Due: prettier --write, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

fix: use variables of ve object instead of querying element IDs/class names
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/types.d.ts
  src/DefaultSummaries/options.json
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/options.json
  src/PreviewWithVariant2017/PreviewWithVariant2017.ts
  src/PreviewWithVariant2017/definition.json
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: use variables of ve object instead of querying element IDs/class names (#1596)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/types.d.ts
  src/DefaultSummaries/options.json
  src/Editform_AiAssisted/Editform_AiAssisted.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/options.json
  src/PreviewWithVariant2017/PreviewWithVariant2017.ts
  src/PreviewWithVariant2017/definition.json
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(HanSect): line-height should be 1.5x in New Wikitext Editor (2017)
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(HanSect): line-height should be 1.5x in New Wikitext Editor (2017) (#1597)
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(MemorialDay-settings): add Qiuwen:首页 and other pages
  dist/MemorialDay-settings/MemorialDay-settings.js
  src/MemorialDay-settings/pageList.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MemorialDay-settings): add Qiuwen:首页 and other pages (#1598)
  dist/MemorialDay-settings/MemorialDay-settings.js
  src/MemorialDay-settings/pageList.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Revert "build(deps): bump nanoid from 3.3.7 to 3.3.8 (#1599)"
  pnpm-lock.yaml
Due: none

fix: add class names for Citizen skin
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/modules/util/react.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, eslint --fix

fix: add class names for Citizen skin (#1601)
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/modules/util/react.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/QueryContributors/modules/appendElement.tsx
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon/talkPage): styles for DiscussionTools
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/talkPage): styles for DiscussionTools (#1602)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/noArticleText): styles for .noarticletext-part1
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/noArticleText.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/noArticleText): styles for .noarticletext-part1 (#1603)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/noArticleText.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/module.less): add display: block to table
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/module.less): add display: block to table (#1604)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
