Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(ASN): split LESS
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/AdvancedSiteNotices-pagestyles/LICENSE
  src/AdvancedSiteNotices-pagestyles/definition.json
  src/AdvancedSiteNotices-pagestyles/images/close-hover.svg
  src/AdvancedSiteNotices-pagestyles/images/close.svg
  src/AdvancedSiteNotices/LICENSE
  src/AdvancedSiteNotices/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

chore: remove default or hidden label from some gadgets (follow #266) (#268)
  src/AccessKeyCheatsheet/definition.json
  src/NospzGothic/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Tippy): split LESS
  src/Tippy-pagestyles/LICENSE
  src/Tippy-pagestyles/Tippy-pagestyles.less
  src/Tippy-pagestyles/definition.json
  src/Tippy/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Toastify): split LESS
  src/Toastify-pagestyles/LICENSE
  src/Toastify-pagestyles/Toastify-pagestyles.less
  src/Toastify-pagestyles/definition.json
  src/Toastify/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: merge Tippy-Extensions to SiteCommon_JS
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/core.ts
  src/SiteCommon_JS/modules/i18n.ts
  src/SiteCommon_JS/modules/tippy.ts
  src/Tippy-Extensions/LICENSE
  src/Tippy-Extensions/Tippy-Extensions.ts
  src/Tippy-Extensions/definition.json
  src/Tippy-Extensions/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: typo in definition.json
  src/AdvancedSiteNotices-pagestyles/definition.json
  src/Tippy-pagestyles/definition.json
  src/Toastify-pagestyles/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(CAL): split LESS
  src/Cat-a-lot-pagestyles/Cat-a-lot.less
  src/Cat-a-lot-pagestyles/Cat-a-lot.ts
  src/Cat-a-lot-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Wikiplus*): split LESS
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-pagestyles/LICENSE
  src/Wikiplus-pagestyles/Wikiplus-pagestyles.less
  src/Wikiplus-pagestyles/definition.json
  src/Wikiplus-pagestyles/images/settings.svg
  src/Wikiplus/LICENSE
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor: split LESS; merge gadgets (#269)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/AdvancedSiteNotices-pagestyles/LICENSE
  src/AdvancedSiteNotices-pagestyles/definition.json
  src/AdvancedSiteNotices-pagestyles/images/close-hover.svg
  src/AdvancedSiteNotices-pagestyles/images/close.svg
  src/AdvancedSiteNotices/LICENSE
  src/AdvancedSiteNotices/definition.json
  src/Cat-a-lot-pagestyles/Cat-a-lot.less
  src/Cat-a-lot-pagestyles/Cat-a-lot.ts
  src/Cat-a-lot-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/definition.json
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/core.ts
  src/SiteCommon_JS/modules/i18n.ts
  src/SiteCommon_JS/modules/tippy.ts
  src/Tippy-Extensions/LICENSE
  src/Tippy-Extensions/Tippy-Extensions.ts
  src/Tippy-Extensions/definition.json
  src/Tippy-Extensions/modules/constant.ts
  src/Tippy-pagestyles/LICENSE
  src/Tippy-pagestyles/Tippy-pagestyles.less
  src/Tippy-pagestyles/definition.json
  src/Tippy/definition.json
  src/Toastify-pagestyles/LICENSE
  src/Toastify-pagestyles/Toastify-pagestyles.less
  src/Toastify-pagestyles/definition.json
  src/Toastify/definition.json
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-pagestyles/LICENSE
  src/Wikiplus-pagestyles/Wikiplus-pagestyles.less
  src/Wikiplus-pagestyles/definition.json
  src/Wikiplus-pagestyles/images/settings.svg
  src/Wikiplus/LICENSE
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(Collapsible): split LESS
  src/Collapsible-pagestyles/Collapsible-pagestyles.less
  src/Collapsible-pagestyles/LICENSE
  src/Collapsible-pagestyles/definition.json
  src/Collapsible/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(CAL): typo
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot-pagestyles/Cat-a-lot.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow #269 (#270)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot-pagestyles/Cat-a-lot.ts
  src/Collapsible-pagestyles/Collapsible-pagestyles.less
  src/Collapsible-pagestyles/LICENSE
  src/Collapsible-pagestyles/definition.json
  src/Collapsible/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(CAL): move files
  src/Cat-a-lot-pagestyles/images/check-constructive.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(Ding): split LESS
  src/Ding-pagestyles/Ding.less
  src/Ding-pagestyles/LICENSE
  src/Ding-pagestyles/definition.json
  src/Ding/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(CopyCodeBlock): split LESS
  src/CopyCodeBlock-pagestyles/CopyCodeBlock.less
  src/CopyCodeBlock-pagestyles/LICENSE
  src/CopyCodeBlock-pagestyles/definition.json
  src/CopyCodeBlock/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

docs: update LICENSE; fix typo
  src/Cat-a-lot-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/definition.json
  src/Cat-a-lot/LICENSE
  src/Collapsible-pagestyles/LICENSE
  src/Collapsible/LICENSE
  src/CopyCodeBlock-pagestyles/LICENSE
  src/Ding-pagestyles/LICENSE
  src/Ding/LICENSE
Due: prettier --cache --ignore-unknown --write

refactor: follow #270 (#271)
  src/Cat-a-lot-pagestyles/LICENSE
  src/Cat-a-lot-pagestyles/definition.json
  src/Cat-a-lot-pagestyles/images/check-constructive.svg
  src/Cat-a-lot/LICENSE
  src/Collapsible-pagestyles/LICENSE
  src/Collapsible/LICENSE
  src/CopyCodeBlock-pagestyles/CopyCodeBlock.less
  src/CopyCodeBlock-pagestyles/LICENSE
  src/CopyCodeBlock-pagestyles/definition.json
  src/CopyCodeBlock/definition.json
  src/Ding-pagestyles/Ding.less
  src/Ding-pagestyles/LICENSE
  src/Ding-pagestyles/definition.json
  src/Ding/LICENSE
  src/Ding/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(CookieWarning): split LESS
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning-pagestyles/LICENSE
  src/CookieWarning-pagestyles/definition.json
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(CopyCodeBlock): typo
  src/CopyCodeBlock-pagestyles/definition.json
Due: prettier --cache --ignore-unknown --write

refactor: follow #269 (#272)
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
  src/Ding-pagestyles/Ding-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow #269
  src/CopyCodeBlock-pagestyles/CopyCodeBlock-pagestyles.less
  src/Ding-pagestyles/Ding-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow #271 (#273)
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning-pagestyles/LICENSE
  src/CookieWarning-pagestyles/definition.json
  src/CopyCodeBlock-pagestyles/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: add missing dependencies
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/NotifyConversion/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/SiteCommon_JS/definition.json
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: add missing dependencies (follow #273) (#274)
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/NotifyConversion/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/SiteCommon_JS/definition.json
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(HistoryDisclaimer*): split LESS
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer.less
  src/HistoryDisclaimer-pagestyles/LICENSE
  src/HistoryDisclaimer-pagestyles/definition.json
  src/HistoryDisclaimer-pagestyles/images/background-zh-hans.svg
  src/HistoryDisclaimer-pagestyles/images/background-zh-hant.svg
  src/HistoryDisclaimer/LICENSE
  src/HistoryDisclaimer/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

chore(NospzGothic): update definition.json
  src/NospzGothic/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(NotifyConversion*): split LESS
  src/NotifyConversion-pagestyles/LICENSE
  src/NotifyConversion-pagestyles/NotifyConversion.less
  src/NotifyConversion-pagestyles/definition.json
  src/NotifyConversion/LICENSE
  src/NotifyConversion/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(NoteTA*): split LESS
  src/NoteTA-pagestyles/LICENSE
  src/NoteTA-pagestyles/NoteTA.less
  src/NoteTA-pagestyles/definition.json
  src/NoteTA/LICENSE
  src/NoteTA/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(NavFrame*): split LESS
  src/NavFrame-pagestyles/LICENSE
  src/NavFrame-pagestyles/NavFrame.less
  src/NavFrame-pagestyles/definition.json
  src/NavFrame/LICENSE
  src/NavFrame/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow #274 (#275)
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer.less
  src/HistoryDisclaimer-pagestyles/LICENSE
  src/HistoryDisclaimer-pagestyles/definition.json
  src/HistoryDisclaimer-pagestyles/images/background-zh-hans.svg
  src/HistoryDisclaimer-pagestyles/images/background-zh-hant.svg
  src/HistoryDisclaimer/LICENSE
  src/HistoryDisclaimer/definition.json
  src/NavFrame-pagestyles/LICENSE
  src/NavFrame-pagestyles/NavFrame.less
  src/NavFrame-pagestyles/definition.json
  src/NavFrame/LICENSE
  src/NavFrame/definition.json
  src/NospzGothic/definition.json
  src/NoteTA-pagestyles/LICENSE
  src/NoteTA-pagestyles/NoteTA.less
  src/NoteTA-pagestyles/definition.json
  src/NoteTA/LICENSE
  src/NoteTA/definition.json
  src/NotifyConversion-pagestyles/LICENSE
  src/NotifyConversion-pagestyles/NotifyConversion.less
  src/NotifyConversion-pagestyles/definition.json
  src/NotifyConversion/LICENSE
  src/NotifyConversion/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix: file names
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: wrong file names (follow #276) (#276)
  src/HistoryDisclaimer-pagestyles/HistoryDisclaimer-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/NotifyConversion-pagestyles/NotifyConversion-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(CodeLinks): update status
  src/CodeLinks/definition.json
Due: prettier --cache --ignore-unknown --write

build: replace `browserslist-config-wikimedia/modern` with specific settings * former: last 3 versions * now: see browserslistrc
  .browserslistrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

fix(CodeLinks): update status (#277)
  src/CodeLinks/definition.json
Due: prettier --cache --ignore-unknown --write

build: replace `browserslist-config-wikimedia/modern` with specific s… (#278)
  .browserslistrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

Revert "build: replace `browserslist-config-wikimedia/modern` with specific s… (#278)"
  .browserslistrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

Revert "build: replace `browserslist-config-wikimedia/modern` with specific s…" (#279)
  .browserslistrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

build: update browserslist and stylelint rules (#280)
  .browserslistrc
  .stylelintrc
Due: prettier --cache --ignore-unknown --write

build: update browserslist and stylelint rules switch from modern support to basic support
  .browserslistrc
  .stylelintrc
Due: prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
