Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(EasyArchive): rewrite in TSX; exclude edit links by Edit0 (#1184)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/api.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/react.tsx
  src/EasyArchive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Edit0): typo
  dist/Edit0/Edit0.js
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): remove window.easy_archive object
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
Due: prettier --write, eslint --fix

refactor(EasyArchive): remove window.easy_archive object (#1185)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
Due: prettier --write, eslint --fix

build: sort
  src/RRD/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(EasyArchive): typo
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
Due: prettier --write, eslint --fix

refactor(EasyArchive, Edit0): compatibility with Edit 0
  dist/EasyArchive/EasyArchive.js
  dist/Edit0/Edit0.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
  src/EasyArchive/modules/react.tsx
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive, Edit0): compatibility with Edit0 (#1186)
  dist/EasyArchive/EasyArchive.js
  dist/Edit0/Edit0.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
  src/EasyArchive/modules/react.tsx
  src/Edit0/modules/core.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: use `Array.map` instead of `Array.reduce`
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/NoteTA/NoteTA.js
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/NoteTA/modules/util/ApiRetryFailError.tsx
Due: prettier --write, eslint --fix

refactor: use `Array.map` instead of `Array.reduce` (#1187)
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/EnhancedSpecialSearch/EnhancedSpecialSearch.js
  dist/NoteTA/NoteTA.js
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/EnhancedSpecialSearch/components/SelectElement.tsx
  src/NoteTA/modules/util/ApiRetryFailError.tsx
Due: prettier --write, eslint --fix

refactor(EasyArchive): rewrite in TSX
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/edit.ts
  src/EasyArchive/modules/expose.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/sanitize.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): rewrite in TSX (#1188)
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/edit.ts
  src/EasyArchive/modules/expose.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/sanitize.ts
Due: prettier --write, eslint --fix

build: follow #1188
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/i18n.ts
Due: prettier --write, eslint --fix

build: follow #1188
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/react.tsx
Due: prettier --write, eslint --fix

fix(QuickPatrol): error with currentTarget
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/modules/patrolPages.tsx
Due: prettier --write, eslint --fix

fix(QuickPatrol): error with currentTarget (#1189)
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/modules/patrolPages.tsx
Due: prettier --write, eslint --fix

fix(Twinkle): fix header parsing
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleclose.js
Due: prettier --write, eslint --fix

fix(Twinkle): fix header parsing (#1190)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleclose.js
Due: prettier --write, eslint --fix

refactor(Switcher): optimize logic; split i18n.ts; add dependencies
  dist/Switcher/Switcher.js
  dist/definition.txt
  src/Switcher/Switcher.ts
  src/Switcher/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Switcher): optimize logic; split i18n.ts; add dependencies
  src/Switcher/modules/i18n.ts
Due: prettier --write, eslint --fix

refactor(Switcher): optimize logic; split i18n.ts; add dependencies (#1191)
  dist/Switcher/Switcher.js
  dist/definition.txt
  src/Switcher/Switcher.ts
  src/Switcher/definition.json
  src/Switcher/modules/i18n.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(DidYouMean): add missing dependencies
  dist/definition.txt
  src/DidYouMean/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): remove unused types.d.ts; use mw.Title instead of manual judgement
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
  src/EasyArchive/modules/types.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): remove unused types.d.ts; use mw.Title instead… (#1192)
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
  src/EasyArchive/modules/types.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EasyArchive): follow #1192
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.js
Due: prettier --write, eslint --fix

fix(URM): add manual escape
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix

fix(URM): add manual escape (#1193)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/core.js
Due: prettier --write, eslint --fix

refactor(WhoIsActive): reduce API calls; add statuses for 3 and 6 months
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/getLastActiveMarker.tsx
  src/WhoIsActive/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(WhoIsActive): reduce API calls; add statuses for 3 and 6 months
  src/WhoIsActive-pagestyles/images/userContributions-orange.svg
  src/WhoIsActive-pagestyles/images/userContributions-purple.svg
Due: svgo --config=svgo.config.cjs --quiet --input

refactor(WhoIsActive): reduce API calls; add statuses for 3 and 6 months (#1194)
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive-pagestyles/images/userContributions-orange.svg
  src/WhoIsActive-pagestyles/images/userContributions-purple.svg
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/getLastActiveMarker.tsx
  src/WhoIsActive/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

fix(WhoIsActive): add missing border-color
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive-pagestyles/images/userContributions-purple.svg
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

fix(WhoIsActive): add missing border-color
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(WhoIsActive): add missing border-color (#1195)
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive-pagestyles/images/userContributions-purple.svg
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

refactor(WhoIsActive): ignore when meeting system scripts
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive/modules/constant.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(WhoIsActive): ignore when meeting system scripts (#1196)
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive/modules/constant.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(EditConflict): ec notice always show even when Save button have been clicked
  dist/EditConflict/EditConflict.js
  src/EditConflict/modules/core.ts
Due: prettier --write, eslint --fix

fix(EditConflict): ec notice always show even when Save button have b… (#1197)
  dist/EditConflict/EditConflict.js
  src/EditConflict/modules/core.ts
Due: prettier --write, eslint --fix

refactor(EditConflict): use react
  dist/EditConflict/EditConflict.js
  dist/definition.txt
  src/EditConflict/EditConflict.ts
  src/EditConflict/definition.json
  src/EditConflict/modules/constant.ts
  src/EditConflict/modules/core.ts
  src/EditConflict/modules/i18n.ts
  src/EditConflict/modules/noticeMessage.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EditConflict): use react (#1198)
  dist/EditConflict/EditConflict.js
  dist/definition.txt
  src/EditConflict/EditConflict.ts
  src/EditConflict/definition.json
  src/EditConflict/modules/constant.ts
  src/EditConflict/modules/core.ts
  src/EditConflict/modules/i18n.ts
  src/EditConflict/modules/noticeMessage.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: typo in font-family
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/morebits/morebits.css
  src/SiteCommon/modules/normalize.less
  src/SkinCitizen/SkinCitizen.less
  src/Toastify/custom.less
  src/Twinkle/style-modules/specific.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
