Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

refactor(Cat-a-lot): rename variables
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): prefer using static properties
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(NavboxCSS): update margin-top
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(Collapsible): add `gadget-collapsible__toggler` class
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/print.less
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(NavboxCSS): merge rulesets; update `.hlist`-related ruls
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

merge and update navbox-related rules; update style rulesets for `Collapsible` gadget (#400)
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/print.less
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): make `initSettings` great again annotate preferences with types improve type safety
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/types.d.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): make `catALotMessages` great again
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/messages.ts
  src/Cat-a-lot/modules/types.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor-Cat-a-lot (step 1) (#398)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot-pagestyles/definition.json
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/checkbox.ts
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
  src/Cat-a-lot/modules/messages.ts
  src/Cat-a-lot/modules/types.d.ts
  src/index.d.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Cat-a-lot): read properties of undefined
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Cat-a-lot): read properties of undefined (#401)
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): use existing properties (tippy.ts)
  src/SiteCommon_JS/modules/i18n.ts
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): use existing properties (tippy.ts) (#402)
  src/SiteCommon_JS/modules/i18n.ts
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: replace Ding with Toastify
  src/DiffLink/definition.json
  src/Ding/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Ding): merge two gadgets into one
  src/Ding-pagestyles/LICENSE
  src/Ding-pagestyles/definition.json
  src/Ding/Ding.less
  src/Ding/LICENSE
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: migrate from Ding to Toastify (#403)
  src/DiffLink/definition.json
  src/Ding-pagestyles/LICENSE
  src/Ding-pagestyles/definition.json
  src/Ding/Ding.less
  src/Ding/LICENSE
  src/Ding/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Toastify): merge two gadgets into one
  src/Toastify-pagestyles/LICENSE
  src/Toastify-pagestyles/definition.json
  src/Toastify/LICENSE
  src/Toastify/Toastify.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: update format
  src/DefaultSummaries/DefaultSummaries.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove `ext.gadget.Toastify-pagestyles`
  src/AdvancedSiteNotices/definition.json
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/Toastify/definition.json
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: format
  src/AjaxLogin/definition.json
  src/DiffLink/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Toastify): merge two gadgets into one (#404)
  src/AdvancedSiteNotices/definition.json
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DefaultSummaries/DefaultSummaries.ts
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/SiteCommon_JS/modules/tippy.ts
  src/Toastify-pagestyles/LICENSE
  src/Toastify-pagestyles/definition.json
  src/Toastify/LICENSE
  src/Toastify/Toastify.less
  src/Toastify/definition.json
  src/util.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Tippy): merge two gadgets into one
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/ShortURL/definition.json
  src/SiteCommon_JS/definition.json
  src/Tippy-pagestyles/LICENSE
  src/Tippy-pagestyles/definition.json
  src/Tippy/Tippy.less
  src/Tippy/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Tippy): merge two gadgets into one (#405)
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/ShortURL/definition.json
  src/SiteCommon_JS/definition.json
  src/Tippy-pagestyles/LICENSE
  src/Tippy-pagestyles/definition.json
  src/Tippy/Tippy.less
  src/Tippy/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build: remove "$"
  src/Twinkle/.eslintrc
  src/morebits/.eslintrc
Due: prettier --cache --ignore-unknown --write

refactor: merge back
  src/AddSectionPlus-pagestyles/LICENSE
  src/AddSectionPlus-pagestyles/definition.json
  src/AddSectionPlus/AddSectionPlus.less
  src/AddSectionPlus/definition.json
  src/FloatTOC-pagestyles/LICENSE
  src/FloatTOC-pagestyles/definition.json
  src/FloatTOC/FloatTOC.less
  src/GadgetsDefinition-pagestyles/LICENSE
  src/GadgetsDefinition-pagestyles/definition.json
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Twinkle-pagestyles/LICENSE
  src/Twinkle-pagestyles/Twinkle-pagestyles.less
  src/Twinkle-pagestyles/definition.json
  src/Twinkle/Twinkle.less
  src/Twinkle/definition.json
  src/Twinkle/images/titlebar.png
  src/Twinkle/skin-modules/general.less
  src/Twinkle/skin-modules/specific.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: merge back wrongly splited style modules
  src/FloatTOC-pagestyles/LICENSE
  src/FloatTOC-pagestyles/definition.json
  src/FloatTOC/FloatTOC.less
  src/GadgetsDefinition-pagestyles/LICENSE
  src/GadgetsDefinition-pagestyles/definition.json
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Twinkle-pagestyles/LICENSE
  src/Twinkle-pagestyles/Twinkle-pagestyles.less
  src/Twinkle-pagestyles/definition.json
  src/Twinkle/.eslintrc
  src/Twinkle/Twinkle.less
  src/Twinkle/definition.json
  src/Twinkle/images/titlebar.png
  src/Twinkle/skin-modules/general.less
  src/Twinkle/skin-modules/specific.less
  src/UTCLiveClock-pagestyles/LICENSE
  src/UTCLiveClock-pagestyles/definition.json
  src/UTCLiveClock/LICENSE
  src/UTCLiveClock/UTCLiveClock.less
  src/UTCLiveClock/definition.json
  src/morebits/.eslintrc
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Ding): use toastify.js instead
  src/Ding/Ding.less
  src/Ding/Ding.ts
  src/Ding/LICENSE
  src/Ding/modules/core.ts
  src/Ding/modules/shims.ts
  src/Ding/modules/types.d.ts
  src/index.d.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow 8a155f6
  src/AjaxLogin/modules/core.ts
  src/BanPage/modules/editPage.ts
  src/DiffLink/definition.json
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/EditConflict/definition.json
  src/EditConflict/modules/core.ts
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Ding): use toastify.js instead (#408)
  src/Ding/Ding.less
  src/Ding/Ding.ts
  src/Ding/LICENSE
  src/Ding/modules/core.ts
  src/Ding/modules/shims.ts
  src/Ding/modules/types.d.ts
  src/index.d.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow 8a155f6 (#409)
  src/AjaxLogin/modules/core.ts
  src/BanPage/modules/editPage.ts
  src/DiffLink/definition.json
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/EditConflict/definition.json
  src/EditConflict/modules/core.ts
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+): split inline CSS out
  src/Wikiplus-pagestyles/modules/core.less
  src/Wikiplus/modules/core.js
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+): follow commit c799b54
  src/Wikiplus-pagestyles/Wikiplus-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+): split inline CSS out (#410)
  src/Wikiplus-pagestyles/Wikiplus-pagestyles.less
  src/Wikiplus-pagestyles/modules/core.less
  src/Wikiplus/modules/core.js
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EasyArchive): follow 8a155f6
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EasyArchive): follow 8a155f6 (#411)
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+): fix typo
  src/Wikiplus-pagestyles/modules/core.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+): fix typo (follow #410) (#412)
  src/Wikiplus-pagestyles/modules/core.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-alot): rename files
  src/Cat-a-lot/Cat-a-lot.ts
  src/Cat-a-lot/modules/extendJQueryPrototype.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(navbox): fix margin
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write
