Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

refactor(Wikicache): optimize logic (#1050)
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/.eslintrc
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/constant.ts
  src/Wikicache/modules/core.ts
  src/Wikicache/modules/types.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(WikiCache): add fallback
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/types.d.ts
Due: prettier --write, eslint --fix

refactor(WikiCache): add fallback (#1051)
  dist/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/types.d.ts
Due: prettier --write, eslint --fix

refactor(CookieWarning): merge LESS file as module
  dist/CookieWarning-pagestyles/CookieWarning-pagestyles.css
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  dist/definition.txt
  src/CookieWarning-pagestyles/LICENSE
  src/CookieWarning-pagestyles/definition.json
  src/CookieWarning/components/ConsentNotice.tsx
  src/CookieWarning/components/CookieWarning.module.less
  src/CookieWarning/components/RootElement.tsx
  src/CookieWarning/definition.json
  src/CookieWarning/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(CookieWarning): merge LESS file as module
  dist/CookieWarning/CookieWarning.css
  src/CookieWarning/components/CookieWarning.module.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(CookieWarning): merge LESS file as module
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/components/CookieWarning.module.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(ToolsRedirect): de-dup for redirect tags
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix(ToolsRedirect): de-dup for redirect tags (#1053)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

build: update dist/store.txt
  dist/store.txt
Due: none

refactor(CookieWarning): merge LESS file as module (#1052)
  dist/CookieWarning-pagestyles/CookieWarning-pagestyles.css
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  dist/definition.txt
  dist/store.txt
  src/CookieWarning-pagestyles/LICENSE
  src/CookieWarning-pagestyles/definition.json
  src/CookieWarning/components/ConsentNotice.tsx
  src/CookieWarning/components/CookieWarning.module.less
  src/CookieWarning/components/RootElement.tsx
  src/CookieWarning/definition.json
  src/CookieWarning/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(WhoIsActive): optimize logic
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/api.ts
  src/WhoIsActive/modules/constant.ts
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/getLastActiveMarker.tsx
  src/WhoIsActive/modules/i18n.ts
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(WhoIsActive): optimize logic (#1054)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/api.ts
  src/WhoIsActive/modules/constant.ts
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/getLastActiveMarker.tsx
  src/WhoIsActive/modules/i18n.ts
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: use object destructuring
  dist/Wikicache/Wikicache.js
  dist/WordCount/WordCount.js
  src/Wikicache/Wikicache.ts
  src/WordCount/components/WordCount.tsx
Due: prettier --write, eslint --fix

refactor: use object destructuring (#1055)
  dist/Wikicache/Wikicache.js
  dist/WordCount/WordCount.js
  src/Wikicache/Wikicache.ts
  src/WordCount/components/WordCount.tsx
Due: prettier --write, eslint --fix

fix(CookieWarning): text should be treated as HTML
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/components/ConsentNotice.tsx
Due: prettier --write, eslint --fix

fix(CookieWarning): text should be treated as HTML (#1056)
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/components/ConsentNotice.tsx
Due: prettier --write, eslint --fix

refactor(NoteTA): use `mw.util.addPortlet`
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/initGlobalMethods.ts
Due: prettier --write, eslint --fix

refactor(NoteTA): use `mw.util.addPortlet` (#1057)
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/initGlobalMethods.ts
Due: prettier --write, eslint --fix

refactor(PurgePageCache): replace `Array.prototype.forEach.call` with `for...of`
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/modules/core.ts
Due: prettier --write, eslint --fix

refactor(PurgePageCache): replace `Array.prototype.forEach.call` with `for...of` (#1058)
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/modules/core.ts
Due: prettier --write, eslint --fix

fix: typo: input[name=wpTextbox1] → textarea[name=wpTextbox1]
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HotCat/HotCat.js
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Wikicache/Wikicache.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  src/EditForm_JS/modules/preloadRevid.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/HotCat/HotCat.js
  src/RRD/modules/core.tsx
  src/SpecialWikitext/SpecialWikitext.ts
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/types.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix: typo: input[name=wpTextbox1] → textarea[name=wpTextbox1] (#1059)
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HotCat/HotCat.js
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Wikicache/Wikicache.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  src/EditForm_JS/modules/preloadRevid.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/HotCat/HotCat.js
  src/RRD/modules/core.tsx
  src/SpecialWikitext/SpecialWikitext.ts
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/types.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor: introduce generateArray; replace Array#push
  dist/HideLongSummaries/HideLongSummaries.js
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Switcher/Switcher.js
  dist/TextSpacing/TextSpacing.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/Util/Util.js
  dist/definition.txt
  dist/morebits/morebits.js
  src/HideLongSummaries/HideLongSummaries.ts
  src/HotCat/HotCat.js
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/generateUserNamespaceTitles.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/core.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Switcher/Switcher.ts
  src/TextSpacing/modules/queue.ts
  src/TextSpacing/modules/spacing.ts
  src/TextSpacing/modules/util.ts
  src/ToolsRedirect/modules/bio-latin-names.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/courtesy-and-art-names.ts
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Util/Util.ts
  src/Util/modules/generateArray.ts
  src/Util/modules/global.d.ts
  src/morebits/definition.json
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: introduce generateArray; replace Array#push (#1060)
  dist/HideLongSummaries/HideLongSummaries.js
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Switcher/Switcher.js
  dist/TextSpacing/TextSpacing.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/Util/Util.js
  dist/definition.txt
  dist/morebits/morebits.js
  src/HideLongSummaries/HideLongSummaries.ts
  src/HotCat/HotCat.js
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/generateUserNamespaceTitles.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/core.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Switcher/Switcher.ts
  src/TextSpacing/modules/queue.ts
  src/TextSpacing/modules/spacing.ts
  src/TextSpacing/modules/util.ts
  src/ToolsRedirect/modules/bio-latin-names.ts
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/courtesy-and-art-names.ts
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Util/Util.ts
  src/Util/modules/generateArray.ts
  src/Util/modules/global.d.ts
  src/morebits/definition.json
  src/morebits/morebits.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(OnlineAdmins): rewrite in TSX
  dist/OnlineAdmins/OnlineAdmins.js
  dist/definition.txt
  src/OnlineAdmins/definition.json
  src/OnlineAdmins/modules/core.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(OnlineAdmins): rewrite in TSX
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, eslint --fix

refactor(OnlineAdmins): rewrite in TSX (#1061)
  dist/OnlineAdmins/OnlineAdmins.js
  dist/definition.txt
  src/OnlineAdmins/definition.json
  src/OnlineAdmins/modules/components/groupList.tsx
  src/OnlineAdmins/modules/core.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Util-generateArray): use generics, remove unnecessary loops
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Util/Util.js
  src/SpecialWikitext/SpecialWikitext.ts
  src/Util/modules/generateArray.ts
Due: prettier --write, eslint --fix

refactor(Util-generateArray): use generics, remove unnecessary loops (#1062)
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Util/Util.js
  src/SpecialWikitext/SpecialWikitext.ts
  src/Util/modules/generateArray.ts
Due: prettier --write, eslint --fix

refactor(OnlineAdmins): merge LESS as module
  dist/OnlineAdmins-pagestyles/OnlineAdmins-pagestyles.css
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  dist/definition.txt
  src/OnlineAdmins-pagestyles/LICENSE
  src/OnlineAdmins-pagestyles/OnlineAdmins-pagestyles.less
  src/OnlineAdmins-pagestyles/definition.json
  src/OnlineAdmins/modules/components/OnlineAdmins.module.less
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(OnlineAdmins): merge LESS as module (#1063)
  dist/OnlineAdmins-pagestyles/OnlineAdmins-pagestyles.css
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  dist/definition.txt
  src/OnlineAdmins-pagestyles/LICENSE
  src/OnlineAdmins-pagestyles/OnlineAdmins-pagestyles.less
  src/OnlineAdmins-pagestyles/definition.json
  src/OnlineAdmins/modules/components/OnlineAdmins.module.less
  src/OnlineAdmins/modules/components/groupList.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(UTCLiveClock): optimize logic
  dist/UTCLiveClock/UTCLiveClock.js
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/modules/api.ts
  src/UTCLiveClock/modules/constant.ts
  src/UTCLiveClock/modules/core.ts
  src/UTCLiveClock/modules/showTime.ts
  src/UTCLiveClock/modules/util/padWithZeroes.ts
  src/UTCLiveClock/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(UTCLiveClock): optimize logic (#1064)
  dist/UTCLiveClock/UTCLiveClock.js
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/modules/api.ts
  src/UTCLiveClock/modules/constant.ts
  src/UTCLiveClock/modules/core.ts
  src/UTCLiveClock/modules/showTime.ts
  src/UTCLiveClock/modules/util/padWithZeroes.ts
  src/UTCLiveClock/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(notifyConversion): constants; styles; messages * rename constants * merge pagestyle gadgets * add messages for logged-in users
  dist/NotifyConversion-pagestyles/NotifyConversion-pagestyles.css
  dist/NotifyConversion/NotifyConversion.css
  dist/NotifyConversion/NotifyConversion.js
  dist/definition.txt
  src/NotifyConversion-pagestyles/LICENSE
  src/NotifyConversion-pagestyles/definition.json
  src/NotifyConversion/LICENSE
  src/NotifyConversion/NotifyConversion.less
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/i18n.ts
  src/NotifyConversion/modules/preserveVariant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(notifyConversion): constants; styles; messages (#1065)
  dist/NotifyConversion-pagestyles/NotifyConversion-pagestyles.css
  dist/NotifyConversion/NotifyConversion.css
  dist/NotifyConversion/NotifyConversion.js
  dist/definition.txt
  src/NotifyConversion-pagestyles/LICENSE
  src/NotifyConversion-pagestyles/definition.json
  src/NotifyConversion/LICENSE
  src/NotifyConversion/NotifyConversion.less
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/i18n.ts
  src/NotifyConversion/modules/preserveVariant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(): use `mw.SafeStorage` instead of `localStorage` to avoid exceptions
  dist/UTCLiveClock/UTCLiveClock.js
  dist/definition.txt
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(UTCLiveClock): use `mw.SafeStorage` instead of `localStorage` to avoid exceptions (#1066)
  dist/UTCLiveClock/UTCLiveClock.js
  dist/definition.txt
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights): limit the scope of type declarations
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/types.d.ts
Due: prettier --write, eslint --fix

refactor(UserRightsManager): to TypeScript (not done)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/api.ts
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights): limit the scope of type declarations (#1067)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/UserRightsManager/UserRightsManager.js
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/types.d.ts
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/api.ts
  src/UserRightsManager/modules/constant.ts
  src/UserRightsManager/modules/core.js
  src/UserRightsManager/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
