Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build(Twinkle): remove unused var; replace null with empty string; optimize logic
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

build(Twinkle): remove unused var; replace null with empty string; optimize logic (#1498)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

fix(DefaultSummaries): add if-else judgement for new page summary
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/messages.ts
Due: prettier --write, eslint --fix

fix(DefaultSummaries): add if-else judgement for new page summary (#1499)
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/messages.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_Filepage): remove style for .filehistory
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon_Filepage): remove style for .filehistory (#1500)
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(DefaultSummaries): replace wgPageName with wgCurRevisionId
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/messages.ts
Due: prettier --write, eslint --fix

fix(DefaultSummaries): replace wgPageName with wgCurRevisionId (#1501)
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/messages.ts
Due: prettier --write, eslint --fix

fix(QuickImport): follow commit cf7e2328
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
Due: prettier --write, eslint --fix

fix(QuickImport): follow commit cf7e2328 (#1502)
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
Due: prettier --write, eslint --fix

build(WPHL): update WPHL to 3.2.3
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(WPHL): update WPHL to 3.2.3 (#1503)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update definitions
  src/BanPage/definition.json
  src/Group-confirmed/definition.json
  src/HotCat/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(ScrollUpButton-pagestyles): convert transform into SVG file
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/ScrollUpButton-pagestyles/images/scroll-button-down.svg
  src/ScrollUpButton-pagestyles/images/scroll-button-up.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

chore(ScrollUpButton-pagestyles): convert transform into SVG file (#1504)
  dist/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.css
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/ScrollUpButton-pagestyles/images/scroll-button-down.svg
  src/ScrollUpButton-pagestyles/images/scroll-button-up.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

fix(HotCat): add title to checkbox elements
  dist/HotCat/HotCat.js
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix

fix(HotCat): add title to checkbox elements (#1505)
  dist/HotCat/HotCat.js
  src/HotCat/HotCat.js
Due: prettier --write, eslint --fix

fix(SiteCommon_Filepage): hide elements on File:Banned_Images.svg
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon_Filepage): hide elements on File:Banned_Images.svg (#1506)
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: re-generate dist
  dist/Navigation_popups/Navigation_popups.js
  dist/Tippy/Tippy.js
  dist/Twinkle/Twinkle.js
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  dist/morebits/morebits.js
Due: prettier --write, eslint --fix

chore(AjaxLogin): update i18n
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix

chore(AjaxLogin): update i18n (#1507)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix

chore: add maxage and smaxage
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkBlocked/MarkBlocked.js
  dist/Navigation_popups/Navigation_popups.js
  dist/PagePatroller/PagePatroller.js
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/Navigation_popups/modules/core.js
  src/PagePatroller/modules/core.ts
Due: prettier --write, eslint --fix

chore: add maxage and smaxage (#1508)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkBlocked/MarkBlocked.js
  dist/Navigation_popups/Navigation_popups.js
  dist/PagePatroller/PagePatroller.js
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/Navigation_popups/modules/core.js
  src/PagePatroller/modules/core.ts
Due: prettier --write, eslint --fix

build: follow commit be6173bf103a012639336483516b48c3757da583
  dist/DiffLink/DiffLink.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkRights/MarkRights.js
  dist/Navigation_popups/Navigation_popups.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QueryContributors/QueryContributors.js
  dist/ShortURL/ShortURL.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/WhoIsActive/WhoIsActive.js
  src/DiffLink/modules/util/queryApi.ts
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkRights/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/doClick.ts
  src/QueryContributors/modules/getContributors.ts
  src/ShortURL/modules/util/queryApi.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

build: follow commit be6173bf103a012639336483516b48c3757da583
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/DiffLink/DiffLink.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/Navigation_popups/Navigation_popups.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/ShortURL/ShortURL.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/WhoIsActive/WhoIsActive.js
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/DiffLink/modules/util/queryApi.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/doClick.ts
  src/PagePatroller/modules/core.ts
  src/QueryContributors/modules/getContributors.ts
  src/ShortURL/modules/util/queryApi.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

chore: add maxage and smaxage, caching result for 10 minutes (#1509)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/DiffLink/DiffLink.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/Navigation_popups/Navigation_popups.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  dist/ShortURL/ShortURL.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/WhoIsActive/WhoIsActive.js
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/DiffLink/modules/util/queryApi.ts
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/doClick.ts
  src/PagePatroller/modules/core.ts
  src/QueryContributors/modules/getContributors.ts
  src/ShortURL/modules/util/queryApi.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport): add URL replacement
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport): add URL replacement (#1510)
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(Mainpage-ChineseNewYear): update default value for definition.json
  src/Mainpage-ChineseNewYear/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: dist
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Mainpage*): optimize main page styles
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage*): optimize main page styles (#1511)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update dist
  dist/Mainpage/Mainpage.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage*): optimize load logic
  dist/ChineseDays/ChineseDays.js
  dist/Mainpage-ChineseNewYear_JS/Mainpage_JS.js
  dist/Mainpage_JS/Mainpage_JS.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/ChineseDays/ChineseDays.ts
  src/ChineseDays/LICENSE
  src/ChineseDays/definition.json
  src/ChineseDays/modules/global.d.ts
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/LICENSE
  src/Mainpage-ChineseNewYear_JS/Mainpage_JS.ts
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage-ChineseNewYear_JS/modules/loadHolidayStyle.ts
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/modules/newLinkUnwrap.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage*): optimize load logic (#1512)
  dist/ChineseDays/ChineseDays.js
  dist/Mainpage-ChineseNewYear_JS/Mainpage_JS.js
  dist/Mainpage_JS/Mainpage_JS.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/ChineseDays/ChineseDays.ts
  src/ChineseDays/LICENSE
  src/ChineseDays/definition.json
  src/ChineseDays/modules/global.d.ts
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/LICENSE
  src/Mainpage-ChineseNewYear_JS/Mainpage_JS.ts
  src/Mainpage-ChineseNewYear_JS/definition.json
  src/Mainpage-ChineseNewYear_JS/modules/loadHolidayStyle.ts
  src/Mainpage_JS/Mainpage_JS.ts
  src/Mainpage_JS/modules/newLinkUnwrap.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.js
  dist/Mainpage-ChineseNewYear_JS/Mainpage_JS.js
  dist/definition.txt
  dist/store.txt
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.ts
  src/Mainpage-ChineseNewYear_JS/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Mainpage-ChineseNewYear): remove hue-rotate of all wordmarks and logos
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-ChineseNewYear): remove hue-rotate of all wordmarks and logos (#1513)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix
