Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix: replace {set, get, remove}Attribute for element properties (checked, disabled)
  dist/RRD/RRD.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/definition.txt
  dist/morebits/morebits.js
  src/RRD/modules/core.tsx
  src/ToolsRedirect/modules/core.js
  src/Twinkle/modules/twinkleconfig.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor: avoid using *Attribute for properties (e.g. disabled & checked) (#918)
  dist/RRD/RRD.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/morebits/morebits.js
  src/RRD/modules/core.tsx
  src/ToolsRedirect/modules/core.js
  src/Twinkle/modules/twinkleconfig.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor(Util): to TSX
  dist/Util/Util.js
  dist/definition.txt
  src/Util/definition.json
  src/Util/modules/oouiConfirmWithStyle.ts
  src/Util/modules/oouiConfirmWithStyle.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Util): to TSX (#919)
  dist/Util/Util.js
  dist/definition.txt
  src/Util/definition.json
  src/Util/modules/oouiConfirmWithStyle.ts
  src/Util/modules/oouiConfirmWithStyle.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: bump core-js version to 3.35.1 follow 4ca809c
  dist/Cat-a-lot/Cat-a-lot.js
  dist/Clipboard/Clipboard.js
  dist/CodeLinks/CodeLinks.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HideLongSummaries/HideLongSummaries.js
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.js
  dist/React/React.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Switcher/Switcher.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.js
  dist/WhoIsActive/WhoIsActive.js
  dist/Wikiplus/Wikiplus.js
  dist/morebits/morebits.js
  dist/select2/select2.js
Due: prettier --write, eslint --fix

build: bump core-js version to 3.35.1 (#920)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/Clipboard/Clipboard.js
  dist/CodeLinks/CodeLinks.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/HideLongSummaries/HideLongSummaries.js
  dist/HotCat/HotCat.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PrintOptions/PrintOptions.js
  dist/RRD/RRD.js
  dist/React/React.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Switcher/Switcher.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.js
  dist/WhoIsActive/WhoIsActive.js
  dist/Wikiplus/Wikiplus.js
  dist/morebits/morebits.js
  dist/select2/select2.js
Due: prettier --write, eslint --fix

refactor(Cat-a-lot): improve type definitions
  src/Cat-a-lot/modules/messages.ts
Due: prettier --write, eslint --fix

refactor(Cat-a-lot): replace `Array.push()` to avoid polyfilling core-js
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.ts
Due: prettier --write, eslint --fix

fix(FloatTOC): hide when opening MMV preview box
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(FloatTOC): hide when opening MMV preview box (#921)
  dist/FloatTOC/FloatTOC.css
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor: add OO.ui.confirm for users not checking agreeTosCheckbox
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/checkValid.tsx
Due: prettier --write, eslint --fix

build: remove report from testwiki and licencewiki
  dist/store.txt
  src/Report-pagestyles/definition.json
  src/Report/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor: add OO.ui.confirm for users not checking agreeTosCheckbox (#922)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/checkValid.tsx
Due: prettier --write, eslint --fix

build: remove report from testwiki and licencewiki (#923)
  dist/store.txt
  src/Report-pagestyles/definition.json
  src/Report/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(RRD): add class name for compatibility; add cloneNode()
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

fix(RRD): add class name for compatibility; add cloneNode() (#924)
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

build: follow commit 127e0e8a
  dist/RRD/RRD.js
  dist/store.txt
Due: prettier --write, eslint --fix

build: follow commit 127e0e8a
  dist/store.txt
Due: none

build: follow commit 127e0e8 (#925)
  dist/RRD/RRD.js
Due: prettier --write, eslint --fix

build: follow commit c9058c96
  dist/RRD/RRD.js
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

refactor(AjaxLogin): reuse `OO.ui.WindowManager`
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
Due: prettier --write, eslint --fix

fix(RRD): add class name for compatibility; add cloneNode() (#924)
  dist/RRD/RRD.js
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

refactor(AjaxLogin): reuse `OO.ui.WindowManager` (#927)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
Due: prettier --write, eslint --fix

build: update format and TS type
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/TranslateVariants/TranslateVariants.js
  src/SiteCommon_JS/modules/core.tsx
  src/TranslateVariants/modules/core.tsx
Due: prettier --write, eslint --fix

build: update TS type (#928)
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/TranslateVariants/TranslateVariants.js
  src/SiteCommon_JS/modules/core.tsx
  src/TranslateVariants/modules/core.tsx
Due: prettier --write, eslint --fix

refactor(AjaxLogin): reuse `OO.ui.WindowManager`
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
Due: prettier --write, eslint --fix

refactor(AjaxLogin): reuse `OO.ui.WindowManager` (#927) refactor(AjaxLogin): reuse `OO.ui.WindowManager` (#929)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/i18n.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
Due: prettier --write, eslint --fix

refactor(AjaxLogin): use object reference
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/initWindowManager.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
  src/AjaxLogin/modules/util/oouiPrompt.tsx
  src/AjaxLogin/modules/util/queryLoginToken.ts
  src/AjaxLogin/modules/util/redirectOriginLoginPage.ts
  src/AjaxLogin/modules/util/removeWindowResizeHandler.ts
Due: prettier --write, eslint --fix

refactor(AjaxLogin): use object reference (#930)
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/initWindowManager.ts
  src/AjaxLogin/modules/util/checkValid.tsx
  src/AjaxLogin/modules/util/oouiConfirm.ts
  src/AjaxLogin/modules/util/oouiPrompt.tsx
  src/AjaxLogin/modules/util/queryLoginToken.ts
  src/AjaxLogin/modules/util/redirectOriginLoginPage.ts
  src/AjaxLogin/modules/util/removeWindowResizeHandler.ts
Due: prettier --write, eslint --fix

refactor(Cat-a-lot): to TSX
  src/Cat-a-lot/definition.json
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Cat-a-lot): use generics for the `msg` method
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

refactor(Cat-a-lot): use `for...of` loop
  dist/Cat-a-lot/Cat-a-lot.js
  dist/definition.txt
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Cat-a-lot): to TSX (#931)
  dist/Cat-a-lot/Cat-a-lot.js
  dist/definition.txt
  src/Cat-a-lot/definition.json
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.tsx
  src/Cat-a-lot/modules/messages.ts
  src/Cat-a-lot/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(TR): add ector-tab-noicon class
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix: add 7px to buttom of buttons
  dist/Report/Report.js
  dist/ScrollUpButton/ScrollUpButton.js
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix

fix(TR): add ector-tab-noicon class (#932)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

fix: add 7px to buttom of buttons (#933)
  dist/Report/Report.js
  dist/ScrollUpButton/ScrollUpButton.js
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix

fix(AjaxLogin): fix typo
  dist/AjaxLogin/AjaxLogin.js
  src/AjaxLogin/modules/i18n.ts
Due: prettier --write, eslint --fix

fix(TR): add `vector-tab-noicon` class (#932)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix
