Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

revert: 6323748 cannot achieve expected compatibility
  .babelrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): use existing less variables
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): remove unused `id`
  src/AdvancedSiteNotices/modules/insertArea.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): follow ea3fd39
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor-AdvancedSiteNotices (#452)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AdvancedSiteNotices): typo
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AdvancedSiteNotices): typo (#453)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: de-wrap; deal with global selector; add function name
  src/DidYouMean/DidYouMean.ts
  src/DisamAssist/modules/core.js
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/HotCat/modules/check.js
  src/MarkRights/MarkRights.ts
  src/PrintOptions/PrintOptions.js
  src/Report/Report.ts
  src/ScrollUpButton/ScrollUpButton.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(Exprimental): migration to babel-plugin-polyfill-corejs3
  .babelrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

fix: de-wrap; deal with global selector; add function name (#454)
  src/DidYouMean/DidYouMean.ts
  src/DisamAssist/modules/core.js
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/HotCat/modules/check.js
  src/MarkRights/MarkRights.ts
  src/PrintOptions/PrintOptions.js
  src/Report/Report.ts
  src/ScrollUpButton/ScrollUpButton.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(index.d.ts): typo
  src/SpecialWikitext/SpecialWikitext.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(index.d.ts): typo (#456)
  src/SpecialWikitext/SpecialWikitext.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): explicitly declare type
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): explicitly declare type (#457)
  src/Cat-a-lot/modules/constant.ts
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(ToolsRedirect): replace space with `\s*` to fix redirects like `#redirect[[xxx]]`
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(ToolsRedirect): replace space with `\s*` (#458)
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(hlist): <UL>s should not be displayed in `inline-block;`
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/hlist.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(hlist): <UL>s should not be displayed in `inline-block;` (#459)
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/hlist.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

feat(w+-highlight): add wikiplus-highlight.less
  src/Wikiplus-highlight/LICENSE
  src/Wikiplus-highlight/Wikiplus-highlight.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+-highlight): upgrade to 2.60
  src/Wikiplus/modules/highlight.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+-highlight): remove CSS loading
  src/Wikiplus/modules/highlight.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(w+): rebuild CSS-free version from source
  src/Wikiplus/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Refactor: Wikiplus-related codes (#460)
  src/Wikiplus-highlight/LICENSE
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(w+): typo
  src/Wikiplus/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(w+): typo (follow #460) (#461)
  src/Wikiplus/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(collapsible): add `color: revert` and `mix-blend-mode: difference` to improve A11Y
  src/SiteCommon/modules/collapse.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(w+): typo (#462)
  src/Wikiplus/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(collapsible): add `color: revert` and `mix-blend-mode: difference` to improve A11Y (#463)
  src/SiteCommon/modules/collapse.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(hlist): display issues
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/hlist.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(hlist): display issues (#464)
  src/NavboxCSS/NavboxCSS.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/hlist.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove pointless code
  src/Cat-a-lot/modules/core.ts
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove pointless code (#465)
  src/Cat-a-lot/modules/core.ts
  src/Twinkle/modules/twinkleconfig.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: #460
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): remove unused dependencies
  src/Cat-a-lot/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): remove unused dependencies (#466)
  src/Cat-a-lot/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): improve style
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Cat-a-lot): improve style (#467)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Cat-a-lot/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(SiteCommon_JS): optimize logic
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/definition.json
  src/SiteCommon_JS/modules/core.ts
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
