Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(SkinCitizen*): split module; fix SVG code
  dist/SkinCitizen-addSidebarIcons/SkinCitizen-addSidebarIcons.css
  dist/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.css
  dist/definition.txt
  src/SkinCitizen_AddSidebarIcons/LICENSE
  src/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.less
  src/SkinCitizen_AddSidebarIcons/definition.json
  src/SkinCitizen_AddSidebarIcons/images/Chinese_conversion.svg
  src/SkinCitizen_AddSidebarIcons/images/Help_index_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Notice_board_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Policy_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Teahouse_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Wanshan_icon.svg
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(SkinCitizen*): split module; fix SVG code (#1757)
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.css
  dist/definition.txt
  src/SkinCitizen/LICENSE
  src/SkinCitizen/SkinCitizen.less
  src/SkinCitizen/images/Notice_board_icon.svg
  src/SkinCitizen_AddSidebarIcons/LICENSE
  src/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.less
  src/SkinCitizen_AddSidebarIcons/definition.json
  src/SkinCitizen_AddSidebarIcons/images/Chinese_conversion.svg
  src/SkinCitizen_AddSidebarIcons/images/Help_index_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Notice_board_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Policy_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Teahouse_icon.svg
  src/SkinCitizen_AddSidebarIcons/images/Wanshan_icon.svg
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(SkinCitizen_AddSidebarIcons): add Apache-2.0 header
  dist/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.css
  src/SkinCitizen_AddSidebarIcons/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(SkinCitizen_AddSidebarIcons): add Apache-2.0 header (#1758)
  dist/SkinCitizen_AddSidebarIcons/SkinCitizen_AddSidebarIcons.css
  src/SkinCitizen_AddSidebarIcons/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix

build: re-generate dist
  dist/Collapsible/Collapsible.css
  dist/Collapsible/Collapsible.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.css
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/Editform_Attribution/Editform_Attribution.css
  dist/Editform_Attribution/Editform_Attribution.js
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/FoldRef/FoldRef.css
  dist/FoldRef/FoldRef.js
  dist/HistoryDisclaimer/HistoryDisclaimer.css
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  dist/LinkSpacing/LinkSpacing.css
  dist/LinkSpacing/LinkSpacing.js
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  dist/MemorialDay/MemorialDay.css
  dist/MemorialDay/MemorialDay.js
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/StickyTableHeaders/StickyTableHeaders.css
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/TranslateVariants/TranslateVariants.css
  dist/TranslateVariants/TranslateVariants.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(select2): prefixed properties should be put before unprefixed ones
  dist/select2/select2.css
  src/select2/select2.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(select2): prefixed properties should be put before unprefixed ones (#1759)
  dist/select2/select2.css
  src/select2/select2.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update packages
  dist/ChineseDays/ChineseDays.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update packages (#1760)
  dist/ChineseDays/ChineseDays.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

fix(NavFrame-pagestyles): overflow incorrectly on pages with {{infobox}}es
  dist/NavFrame-pagestyles/NavFrame-pagestyles.css
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(NavFrame-pagestyles): overflow incorrectly on pages with {{infobox}}es (#1761)
  dist/NavFrame-pagestyles/NavFrame-pagestyles.css
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Twinkle): optimize description of twinkleimage.js
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleimage.js
Due: prettier --write, eslint --fix

fix(Twinkle): optimize description of twinkleimage.js (#1762)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleimage.js
Due: prettier --write, eslint --fix

refactor(BanPage): update BanPage gadget rights and default setting
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/BanPage/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(new): add LoadRNRSCredentials
  dist/definition.txt
Due: none

feat(new): add LoadRNRSCredentials
  dist/LoadRNRSCredentials/LoadRNRSCredentials.js
  src/LoadRNRSCredentials/LoadRNRSCredentials.ts
  src/LoadRNRSCredentials/definition.json
  src/LoadRNRSCredentials/modules/api.ts
  src/LoadRNRSCredentials/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(new): add LoadRNRSCredentials (#1763)
  dist/LoadRNRSCredentials/LoadRNRSCredentials.js
  dist/definition.txt
  src/LoadRNRSCredentials/LoadRNRSCredentials.ts
  src/LoadRNRSCredentials/definition.json
  src/LoadRNRSCredentials/modules/api.ts
  src/LoadRNRSCredentials/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(LoadRNRSCredentials): disable on zhqiuwenbaike; update definitions
  dist/definition.txt
  src/LoadRNRSCredentials/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(LoadRNRSCredentials): disable on zhqiuwenbaike; update definitions (#1764)
  dist/definition.txt
  src/LoadRNRSCredentials/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(SkinCitizen): add --font-family-overline variable
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen): add --font-family-overline variable (#1765)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/SkinCitizen.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(QuickImportAllMedia): add redirects: true to check images on redirect target page
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImportAllMedia): add redirects: true to check images on redirect target page (#1766)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): display styles of anon. contributors
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/modules/components/react.tsx
  src/QueryContributors/modules/i18n.ts
  src/QueryContributors/modules/util/getContributors.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): display styles of anon. contributors (#1768)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/modules/components/react.tsx
  src/QueryContributors/modules/i18n.ts
  src/QueryContributors/modules/util/getContributors.ts
Due: prettier --write, eslint --fix

fix(BanPage, EasyArchive): typo in parameters of mw.util.getUrl()
  dist/BanPage/BanPage.js
  dist/EasyArchive/EasyArchive.js
  src/BanPage/modules/util/refreshPage.ts
  src/EasyArchive/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

fix(BanPage, EasyArchive): typo in parameters of mw.util.getUrl()
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

fix(BanPage, EasyArchive): typo in parameters of mw.util.getUrl() (#1769)
  dist/BanPage/BanPage.js
  dist/EasyArchive/EasyArchive.js
  src/BanPage/modules/util/refreshPage.ts
  src/EasyArchive/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

fix(Navigation_popups): replace querySelector with getElementById
  dist/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

fix(Navigation_popups): replace querySelector with getElementById (#1770)
  dist/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
Due: prettier --write, eslint --fix

fix(EasyArchive): handle targetPage conditionally in refresh()
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

fix(EasyArchive): handle targetPage conditionally in refresh() (#1771)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

build: update packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update packages
  svgo.config.cjs
Due: prettier --write, eslint --fix

build: update packages
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix

build: update packages (#1772)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/index.d.ts
  src/Wikiplus-highlight/modules/main.ts
  svgo.config.cjs
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle-speedy): add O3 to user namespace
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
