Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor: move checkDependencies to ext.gadget.Util (#1480)
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.js
  dist/Util/Util.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-bio-latin-names/modules/api.ts
  src/ToolsRedirect-bio-latin-names/modules/checkDependencies.ts
  src/ToolsRedirect-bio-latin-names/options.json
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/api.ts
  src/ToolsRedirect-courtesy-and-art-names/modules/checkDependencies.ts
  src/ToolsRedirect-courtesy-and-art-names/options.json
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-opt-bolds/modules/api.ts
  src/ToolsRedirect-opt-bolds/modules/checkDependencies.ts
  src/ToolsRedirect-opt-bolds/options.json
  src/Util/Util.ts
  src/Util/modules/checkDependencies.ts
  src/Util/modules/global.d.ts
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/api.ts
  src/Wikiplus-highlight/modules/checkDependencies.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(MemorialDay, Wikiplus): remove support of IE and Edge(old)
  dist/MemorialDay/MemorialDay.js
  dist/Wikiplus/Wikiplus.css
  src/MemorialDay/modules/addStyleTag.ts
  src/Wikiplus/style-modules/core.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(MemorialDay, Wikiplus): remove support of IE and Edge(old) (#1481)
  dist/MemorialDay/MemorialDay.js
  dist/Wikiplus/Wikiplus.css
  src/MemorialDay/modules/addStyleTag.ts
  src/Wikiplus/style-modules/core.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: move styles to LESS module
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  src/Edittools-refToolbar/Edittools-refToolbar.module.less
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/LogFilter/LogFilter.less
  src/LogFilter/LogFilter.module.less
  src/LogFilter/LogFilter.ts
  src/LogFilter/modules/core.tsx
  src/RRD/components/DialogInner.module.less
  src/RRD/components/DialogInner.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: move styles to LESS module (#1482)
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/LogFilter/LogFilter.css
  dist/LogFilter/LogFilter.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  src/Edittools-refToolbar/Edittools-refToolbar.module.less
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/LogFilter/LogFilter.less
  src/LogFilter/LogFilter.module.less
  src/LogFilter/LogFilter.ts
  src/LogFilter/modules/core.tsx
  src/RRD/components/DialogInner.module.less
  src/RRD/components/DialogInner.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(EasyArchive): no toast notice when archiving/deleting
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/removeSection.ts
  src/EasyArchive/modules/util/checkIfExist.ts
  src/EasyArchive/modules/util/getSection.ts
  src/EasyArchive/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

fix(EasyArchive): no toast notice when archiving/deleting (#1483)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/removeSection.ts
  src/EasyArchive/modules/util/checkIfExist.ts
  src/EasyArchive/modules/util/getSection.ts
  src/EasyArchive/modules/util/refreshPage.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect-courtesy-and-art-names): avoid inclusion of wrong title
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect-courtesy-and-art-names): avoid inclusion of wrong title (#1484)
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  src/ToolsRedirect-courtesy-and-art-names/modules/courtesy-and-art-names.ts
Due: prettier --write, eslint --fix

refactor(SiteCommon): add text-underline-offset
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(SiteCommon): add text-underline-offset
  src/SiteCommon/modules/textUnderlineOffset.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(SiteCommon): add text-underline-offset (#1485)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/textUnderlineOffset.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Wikiplus): enable for all confirmed users
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/index.js
Due: prettier --write, eslint --fix

fix(Wikiplus): typo in i18n URL
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/utils/i18n.js
Due: prettier --write, eslint --fix

fix(Wikiplus): enable for all confirmed users; typo in i18n URL (#1486)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/index.js
  src/Wikiplus/modules/utils/i18n.js
Due: prettier --write, eslint --fix

build(Wikiplus): add Apache-2.0 license info
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Wikiplus): add Apache-2.0 license info (#1487)
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(BanPage): optimize logic
  dist/BanPage/BanPage.js
  src/BanPage/BanPage.ts
  src/BanPage/modules/util/generateEditParams.ts
Due: prettier --write, eslint --fix

chore(BanPage): optimize logic (#1488)
  dist/BanPage/BanPage.js
  src/BanPage/BanPage.ts
  src/BanPage/modules/util/generateEditParams.ts
Due: prettier --write, eslint --fix

fix(Wikiplus): resize editbox when resizing the window
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/Wikiplus/Wikiplus.less
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/definition.json
  src/Wikiplus/modules/index.js
  src/Wikiplus/modules/wikiplus.less
  src/Wikiplus/resize.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon_JS): resize jQuery UI windows when resizing the window
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/resizeJQueryUI.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): resize jQuery UI windows when resizing the window (#1489)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/resizeJQueryUI.ts
Due: prettier --write, eslint --fix

fix(Wikiplus): resize editbox when resizing the window (#1490)
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/Wikiplus/Wikiplus.less
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/definition.json
  src/Wikiplus/modules/index.js
  src/Wikiplus/modules/wikiplus.less
  src/Wikiplus/resize.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(EasyArchive): optimize logic; remove spans when clicking the button
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/addLinks.ts
Due: prettier --write, eslint --fix

chore(EasyArchive): optimize logic; remove spans when clicking the button (#1491)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/addLinks.ts
Due: prettier --write, eslint --fix

build: remove wrong option 'submit' * See https://www.mediawiki.org/wiki/Extension:Gadgets#Options
  dist/definition.txt
  src/EditConflict/definition.json
  src/Edittools-customizeToolbar/definition.json
  src/Edittools-delh/definition.json
  src/Edittools-refToolbar/definition.json
  src/Edittools-vector/definition.json
  src/Edittools-vplus/definition.json
  src/Wikicache/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: remove wrong option 'submit' (#1492)
  dist/definition.txt
  src/EditConflict/definition.json
  src/Edittools-customizeToolbar/definition.json
  src/Edittools-delh/definition.json
  src/Edittools-refToolbar/definition.json
  src/Edittools-vector/definition.json
  src/Edittools-vplus/definition.json
  src/Wikicache/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: remove Wikicache
  src/Wikicache/LICENSE
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/i18n.ts
  src/Wikicache/modules/types.d.ts
  src/Wikicache/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: remove Wikicache (#1493)
  src/Wikicache/LICENSE
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/cache.ts
  src/Wikicache/modules/i18n.ts
  src/Wikicache/modules/types.d.ts
  src/Wikicache/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/Wikicache/Wikicache.js
  dist/definition.txt
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

fix(UserRightsManager): add selector "[href*=edit]"
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

fix(UserRightsManager): add selector "[href*=edit]" (#1495)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

build: add Qiuwen/1.1 tag
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/utils/constants.js
  src/Wikiplus/modules/utils/requests.js
Due: prettier --write, eslint --fix

build: add Qiuwen/1.1 tag
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: add Qiuwen/1.1 tag (#1496)
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/utils/constants.js
  src/Wikiplus/modules/utils/requests.js
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Twinkle): replace mw.loader.getScript with mw.Api#get
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

build(Twinkle): replace mw.loader.getScript with mw.Api#get (#1497)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkle.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
