Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

refactor(Wikiplus): rewrite in TypeScript (stage 3)
  dist/Wikiplus/Wikiplus.js
  eslint.config.ts
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/utils/log.ts
  src/Wikiplus/modules/utils/requests.ts
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 3) (#1976)
  dist/Wikiplus/Wikiplus.js
  eslint.config.ts
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/utils/log.ts
  src/Wikiplus/modules/utils/requests.ts
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 4) * add annotation of types
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/types.d.ts
  src/Wikiplus/modules/utils/requests.ts
  src/Wikiplus/modules/utils/settings.ts
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Wikiplus): rewrite in TypeScript (stage 4) (#1977)
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/types.d.ts
  src/Wikiplus/modules/utils/requests.ts
  src/Wikiplus/modules/utils/settings.ts
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Twinkle): 令G5速删必须填写理由；R1/R2选其他也能提交 (#1973)
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/FloatTOC/FloatTOC.js
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/VerifyToEdit/VerifyToEdit.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Twinkle): 更正保护等级；修复保护请求插入位置
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.css
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.css
  dist/DiffLink/DiffLink.js
  dist/FloatTOC/FloatTOC.js
  dist/LoginToEdit/LoginToEdit.css
  dist/LoginToEdit/LoginToEdit.js
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/ShortURL/ShortURL.css
  dist/ShortURL/ShortURL.js
  dist/TabbedWindow/TabbedWindow.css
  dist/TabbedWindow/TabbedWindow.js
  dist/ToolsRedirect/ToolsRedirect.css
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.css
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.css
  dist/UserRightsManager/UserRightsManager.js
  dist/Util/Util.css
  dist/Util/Util.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/VerifyToEdit/VerifyToEdit.js
  src/Twinkle/modules/twinkleprotect.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(Wikiplus): add type annotation; add --fonts-default CSS variable
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/utils/settings.ts
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Wikiplus): add type annotation; add --fonts-default CSS variable (#1978)
  dist/Wikiplus/Wikiplus.css
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/page.ts
  src/Wikiplus/modules/core/ui.ts
  src/Wikiplus/modules/index.ts
  src/Wikiplus/modules/services/wiki.ts
  src/Wikiplus/modules/utils/settings.ts
  src/Wikiplus/modules/wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(PrintOptions): rewrite in Codex and Vue
  dist/PrintOptions/PrintOptions.css
  dist/PrintOptions/PrintOptions.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/PrintOptions/App.vue
  src/PrintOptions/PrintOptions.ts
  src/PrintOptions/definition.json
  src/PrintOptions/modules/applyPrintStyles.ts
  src/PrintOptions/modules/i18n.ts
  src/PrintOptions/modules/installPrintOptions.ts
  src/PrintOptions/modules/printPage.ts
  src/PrintOptions/modules/types.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PrintOptions): rewrite in Codex and Vue (#1979)
  dist/PrintOptions/PrintOptions.css
  dist/PrintOptions/PrintOptions.js
  dist/definition.txt
  package.json
  pnpm-lock.yaml
  src/PrintOptions/App.vue
  src/PrintOptions/PrintOptions.ts
  src/PrintOptions/definition.json
  src/PrintOptions/modules/applyPrintStyles.ts
  src/PrintOptions/modules/i18n.ts
  src/PrintOptions/modules/installPrintOptions.ts
  src/PrintOptions/modules/printPage.ts
  src/PrintOptions/modules/types.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: add ve.d.ts
  src/DefaultSummaries/modules/types.d.ts
  src/Editform_Attribution/modules/types.d.ts
Due: prettier --write, eslint --fix

build: add ve.d.ts
  src/ve.d.ts
Due: prettier --write, eslint --fix

build: add ve.d.ts (#1980)
  src/DefaultSummaries/modules/types.d.ts
  src/Editform_Attribution/modules/types.d.ts
  src/ve.d.ts
Due: prettier --write, eslint --fix

refactor(PreviewWithVariant2017): rewrite in Codex and Vue
  dist/PreviewWithVariant2017/PreviewWithVariant2017.css
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/PreviewWithVariant2017/PreviewWithVariant2017.ts
  src/PreviewWithVariant2017/definition.json
  src/PreviewWithVariant2017/modules/Preview.vue
  src/PreviewWithVariant2017/modules/messages.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.js
  src/PreviewWithVariant2017/modules/processVisualEditor.less
  src/PreviewWithVariant2017/modules/processVisualEditor.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PreviewWithVariant2017): rewrite in Codex and Vue (#1981)
  dist/PreviewWithVariant2017/PreviewWithVariant2017.css
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/definition.txt
  src/PreviewWithVariant2017/PreviewWithVariant2017.ts
  src/PreviewWithVariant2017/definition.json
  src/PreviewWithVariant2017/modules/Preview.vue
  src/PreviewWithVariant2017/modules/messages.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.js
  src/PreviewWithVariant2017/modules/processVisualEditor.less
  src/PreviewWithVariant2017/modules/processVisualEditor.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(CookieWarning): remove unused eslint-disable
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/App.vue
Due: prettier --write, eslint --fix

build(CookieWarning): remove unused eslint-disable (#1982)
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/App.vue
Due: prettier --write, eslint --fix

refactor(RRD): replace ReportButton with vue-rewrited one
  dist/RRD/RRD.js
  src/RRD/RRD.ts
  src/RRD/modules/ReportButton.vue
  src/RRD/modules/reportButton.ts
Due: prettier --write, eslint --fix

refactor(RRD): replace ReportButton with vue-rewrited oneex (#1983)
  dist/RRD/RRD.js
  src/RRD/RRD.ts
  src/RRD/modules/ReportButton.vue
  src/RRD/modules/reportButton.ts
Due: prettier --write, eslint --fix

build: remove unneeded polyfills
  dist/JSX/JSX.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/TabbedWindow/TabbedWindow.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/Twinkle/Twinkle.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/idb-plus/idb-plus.js
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

build: remove unneeded polyfills (#1984)
  dist/JSX/JSX.js
  dist/NoteTA/NoteTA.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/TabbedWindow/TabbedWindow.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/Twinkle/Twinkle.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/idb-plus/idb-plus.js
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

refactor(ASN): remove JSX, optimize close notice
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/definition.txt
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/i18n.ts
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/generateArea.ts
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(ASN): remove JSX, optimize close notice (#1985)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/definition.txt
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/i18n.ts
  src/AdvancedSiteNotices/modules/loadRemoteNotices.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/generateArea.ts
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(NoteTA): typo; desc of title variants
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix

fix(NoteTA): typo; desc of title variants (#1986)
  dist/NoteTA/NoteTA.js
  src/NoteTA/modules/viewer.tsx
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(CookieWarning): update dependencies
  src/CookieWarning/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(CookieWarning): update dependencies (#1987)
  package.json
  pnpm-lock.yaml
  src/CookieWarning/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(Collapsible, EditConflict, LinkSpacing, WordCount): remove unneeded JSX
  src/Collapsible/definition.json
  src/Collapsible/modules/util/generateTogglerElement.ts
  src/Collapsible/modules/util/generateTogglerElement.tsx
  src/EditConflict/definition.json
  src/EditConflict/modules/core.ts
  src/EditConflict/modules/noticeMessage.ts
  src/EditConflict/modules/noticeMessage.tsx
  src/LinkSpacing/definition.json
  src/LinkSpacing/util/LinkSpace.ts
  src/LinkSpacing/util/LinkSpace.tsx
  src/WordCount/components/WordCount.module.less
  src/WordCount/components/WordCount.ts
  src/WordCount/components/WordCount.tsx
  src/WordCount/definition.json
  src/WordCount/modules/wordCount.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Collapsible, EditConflict, LinkSpacing, WordCount): remove unneeded JSX
  dist/Collapsible/Collapsible.js
  dist/EditConflict/EditConflict.js
  dist/LinkSpacing/LinkSpacing.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Collapsible, EditConflict, LinkSpacing, WordCount): remove unneeded JSX (#1988)
  dist/Collapsible/Collapsible.js
  dist/EditConflict/EditConflict.js
  dist/LinkSpacing/LinkSpacing.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  src/Collapsible/definition.json
  src/Collapsible/modules/util/generateTogglerElement.ts
  src/Collapsible/modules/util/generateTogglerElement.tsx
  src/EditConflict/definition.json
  src/EditConflict/modules/core.ts
  src/EditConflict/modules/noticeMessage.ts
  src/EditConflict/modules/noticeMessage.tsx
  src/LinkSpacing/definition.json
  src/LinkSpacing/util/LinkSpace.ts
  src/LinkSpacing/util/LinkSpace.tsx
  src/WordCount/components/WordCount.module.less
  src/WordCount/components/WordCount.ts
  src/WordCount/components/WordCount.tsx
  src/WordCount/definition.json
  src/WordCount/modules/wordCount.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Editform_AiAssisted, PreviewWithVariant): rewrite with @wikimedia/codex and vue
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  src/EditForm_JS/modules/preloadRevid.ts
  src/EditForm_JS/modules/setWpTextbox1Content.ts
  src/Editform_AiAssisted/definition.json
  src/Editform_AiAssisted/modules/AssistedCheckbox.vue
  src/Editform_AiAssisted/modules/generateChangeTags.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/PreviewWithVariant/definition.json
  src/PreviewWithVariant/modules/VariantControls.vue
  src/PreviewWithVariant/modules/i18n.ts
  src/PreviewWithVariant/modules/processWikiEditor.less
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(PreviewWithVariant): align-items
  dist/EditForm_JS/EditForm_JS.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/processWikiEditor.less
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Editform_AiAssisted, PreviewWithVariant): rewrite with @wikimedia/codex and vue (#1989)
  dist/EditForm_JS/EditForm_JS.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/PreviewWithVariant/PreviewWithVariant.css
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/EditForm_JS/modules/preloadRevid.ts
  src/EditForm_JS/modules/setWpTextbox1Content.ts
  src/Editform_AiAssisted/definition.json
  src/Editform_AiAssisted/modules/AssistedCheckbox.vue
  src/Editform_AiAssisted/modules/generateChangeTags.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/modules/processWikiEditor.ts
  src/PreviewWithVariant/definition.json
  src/PreviewWithVariant/modules/VariantControls.vue
  src/PreviewWithVariant/modules/i18n.ts
  src/PreviewWithVariant/modules/processWikiEditor.less
  src/PreviewWithVariant/modules/processWikiEditor.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Util): fix MwUri constructor; remove unused functions
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/OouiConfirmWithStyle.vue
  src/Util/modules/generateSvgDataUrl.ts
  src/Util/modules/global.d.ts
  src/Util/modules/isValidKey.ts
  src/Util/modules/mwUri.ts
  src/Util/modules/oouiConfirmWithStyle.ts
  src/Util/modules/util/i18n.ts
  src/Util/modules/wpSummaryContent.ts
  src/Util/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

build: update dists
  dist/definition.txt
Due: none

fix(Util): fix MwUri constructor; remove unused functions (#1990)
  dist/Util/Util.js
  dist/definition.txt
  src/Util/Util.ts
  src/Util/modules/OouiConfirmWithStyle.vue
  src/Util/modules/generateSvgDataUrl.ts
  src/Util/modules/global.d.ts
  src/Util/modules/isValidKey.ts
  src/Util/modules/mwUri.ts
  src/Util/modules/oouiConfirmWithStyle.ts
  src/Util/modules/util/i18n.ts
  src/Util/modules/wpSummaryContent.ts
  src/Util/modules/wpTextbox1Content.ts
Due: prettier --write, eslint --fix

build: update packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Util): replace with location.origin
  dist/Util/Util.js
  src/Util/modules/mwUri.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
