Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

chore: follow commit 4cb00da
  src/Toastify/style-modules/style.less
  src/Twinkle/style-modules/specific.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: follow commit 4cb00da (#985)
  src/Toastify/style-modules/style.less
  src/Twinkle/style-modules/specific.less
  src/morebits/morebits.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: follow commit 4cb00da
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/morebits/morebits.css
  src/Twinkle/style-modules/specific.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: follow commit 4cb00da (#986)
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/morebits/morebits.css
  src/Twinkle/style-modules/specific.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(less): update comment format
  dist/Edit0/Edit0.css
  dist/Mainpage/Mainpage.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/SkinVector/SkinVector.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/columns.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/infobox.less
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinVector/SkinVector.less
  src/Twinkle/style-modules/general.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(less): update comment format
  dist/Mainpage/Mainpage.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  src/Mainpage/Mainpage.less
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(less): font-family; comment format (#987)
  dist/Edit0/Edit0.css
  dist/Mainpage/Mainpage.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SiteCommon_Filepage/SiteCommon_Filepage.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/SkinVector/SkinVector.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/collapse.less
  src/SiteCommon/modules/columns.less
  src/SiteCommon/modules/fontTemplates.less
  src/SiteCommon/modules/infobox.less
  src/SiteCommon_Filepage/SiteCommon_Filepage.less
  src/SkinCitizen/SkinCitizen.less
  src/SkinVector/SkinVector.less
  src/Twinkle/style-modules/general.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(rrd): onClick problem
  dist/RRD/RRD.js
  src/RRD/RRD.ts
  src/RRD/modules/constant.ts
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

fix(rrd): onClick problem
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
Due: prettier --write, eslint --fix

fix(rrd): onClick problem (#988)
  dist/RRD/RRD.js
  src/RRD/RRD.ts
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
  src/RRD/modules/constant.ts
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

chore(rrd): replace with constant
  dist/RRD/RRD.js
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

chore(rrd): replace with constant (#989)
  dist/RRD/RRD.js
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix

build: remove Filepage.css
  dist/store.txt
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Revert "refactor(select2): use select2 from npm package instead of source code (#857)"
  .prettierignore
  dist/select2/select2.css
  dist/select2/select2.js
  src/select2/select2.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

Revert "refactor(select2): use select2 from npm package instead of source code (#857)"
  src/select2/.eslintrc
  src/select2/select2.js
  src/select2/select2.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: remove Filepage.css (#990)
  dist/store.txt
  src/global.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

Revert "refactor(select2): use select2 from npm package instead of source code (#857)" (#991)
  .prettierignore
  dist/select2/select2.css
  dist/select2/select2.js
  src/select2/.eslintrc
  src/select2/select2.js
  src/select2/select2.less
  src/select2/select2.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: follow commit 4cb00dab
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/normalize.less
  src/SkinCitizen/SkinCitizen.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: follow commit 4cb00dab (#992)
  dist/Edit0/Edit0.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  dist/SkinCitizen/SkinCitizen.css
  dist/SkinGongbi/SkinGongbi.css
  dist/Toastify/Toastify.css
  dist/Twinkle/Twinkle.css
  dist/Wikiplus/Wikiplus.css
  dist/morebits/morebits.css
  src/SiteCommon/modules/gadgetsDefinition.less
  src/SiteCommon/modules/normalize.less
  src/SkinCitizen/SkinCitizen.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(wphl): bump version
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/Wikiplus/.eslintrc
  src/Wikiplus/definition.json
  src/Wikiplus/modules/highlight.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(wphl): bump version (#993)
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/Wikiplus/.eslintrc
  src/Wikiplus/definition.json
  src/Wikiplus/modules/highlight.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: #993
  dist/definition.txt
Due: none

feat(EditForm_JS): add preloadRevid
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/i18n.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

feat(EditForm_JS): add preloadRevid (#994)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/i18n.ts
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

fix(DidYouMean): do not redirect on user's own user page
  dist/DidYouMean/DidYouMean.js
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/modules/constant.ts
Due: prettier --write, eslint --fix

fix(DidYouMean): do not redirect on user's own user page
  dist/DidYouMean/DidYouMean.js
  src/DidYouMean/DidYouMean.ts
Due: prettier --write, eslint --fix

fix(DidYouMean): do not redirect on user's own user page (#995)
  dist/DidYouMean/DidYouMean.js
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/modules/constant.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS, Group-user_JS, DefaultSummaries): load DefaultSummaries through Group-user_JS
  dist/DefaultSummaries/DefaultSummaries.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Group-user_JS/Group-user_JS.js
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/definition.json
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/EditForm_JS/EditForm_JS.ts
  src/Group-user_JS/modules/loadGadgetEditForm.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EditForm_JS, Group-user_JS, DefaultSummaries): load DefaultSummaries through Group-user_JS
  dist/definition.txt
Due: none

fix(EditForm_JS, Group-user_JS, DefaultSummaries): load DefaultSummaries through Group-user_JS (#996)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Group-user_JS/Group-user_JS.js
  dist/definition.txt
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/definition.json
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/EditForm_JS/EditForm_JS.ts
  src/Group-user_JS/modules/loadGadgetEditForm.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(MRUP): optimize logic
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
Due: prettier --write, eslint --fix

chore(MRUP): optimize logic (#997)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
Due: prettier --write, eslint --fix

fix(DefaultSummaries): follow commit 13a0e4ea
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/DefaultSummaries.ts
Due: prettier --write, eslint --fix

fix(DefaultSummaries): follow commit 13a0e4ea (#998)
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/DefaultSummaries.ts
Due: prettier --write, eslint --fix

feat(EditForm_JS): add introACH
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

feat(EditForm_JS): add introACH (#999)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

feat(EditForm_JS): introACH should not be activated on wikis other than zhqiuwenbaike
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): introACH should not be activated on wikis other than zhqiuwenbaike (#1000)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): introACH should not be activated for confirmed users
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix
