Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

chore(mainpage): optimize styles (#1410)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(mainpage): optimize styles
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(mainpage): optimize styles (#1411)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(Mainpage): update dist
  dist/Mainpage/Mainpage.css
Due: prettier --write, stylelint --allow-empty-input --fix

build(SiteCommon_JS): format
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/deprecatedFunctions.ts
Due: prettier --write, eslint --fix

build(SiteCommon_JS): format (#1412)
  dist/Mainpage/Mainpage.css
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/deprecatedFunctions.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(MemorialDay): flattened for-of loop
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
Due: prettier --write, eslint --fix

refactor(MemorialDay): flattened for-of looppnpm (#1414)
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
Due: prettier --write, eslint --fix

feat(add): add VerifyToEdit >> >> VerifyToEdit is copied from LoginToEdit
  dist/VerifyToEdit/VerifyToEdit.js
  dist/definition.txt
  src/VerifyToEdit/LICENSE
  src/VerifyToEdit/VerifyToEdit.ts
  src/VerifyToEdit/definition.json
  src/VerifyToEdit/modules/i18n.ts
  src/VerifyToEdit/modules/initDialog.ts
  src/VerifyToEdit/modules/initWindowManager.ts
  src/VerifyToEdit/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(add): add VerifyToEdit (#1415)
  dist/VerifyToEdit/VerifyToEdit.js
  dist/definition.txt
  src/VerifyToEdit/LICENSE
  src/VerifyToEdit/VerifyToEdit.ts
  src/VerifyToEdit/definition.json
  src/VerifyToEdit/modules/i18n.ts
  src/VerifyToEdit/modules/initDialog.ts
  src/VerifyToEdit/modules/initWindowManager.ts
  src/VerifyToEdit/modules/util/generateMessageDialogProperty.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(VerifyToEdit): update i18n
  dist/VerifyToEdit/VerifyToEdit.js
  src/VerifyToEdit/modules/i18n.ts
Due: prettier --write, eslint --fix

chore(VerifyToEdit): update i18n (#1416)
  dist/VerifyToEdit/VerifyToEdit.js
  src/VerifyToEdit/modules/i18n.ts
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

chore(VerifyToEdit): add bot
  dist/VerifyToEdit/VerifyToEdit.js
  src/VerifyToEdit/VerifyToEdit.ts
Due: prettier --write, eslint --fix

chore(VerifyToEdit): add bot (#1417)
  dist/VerifyToEdit/VerifyToEdit.js
  src/VerifyToEdit/VerifyToEdit.ts
Due: prettier --write, eslint --fix

fix(Twinkle): remove judgement for isMultiple
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

fix(Twinkle): remove judgement for isMultiple (#1418)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinklespeedy.js
Due: prettier --write, eslint --fix

fix(SiteCommon/wordBreak): remove white-space: pre-wrap
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/wordBreak.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/wordBreak): remove white-space: pre-wrap (#1419)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/wordBreak.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: update UA
  scripts/constant.ts
Due: prettier --write, eslint --fix

fix(SiteCommon/wordBreak): split <pre>-related rules and VE-related rules
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/wordBreak.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/wordBreak): split <pre>-related rules and VE-related rules (#1420)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/wordBreak.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(SiteCommon): remove unused rules; merge rules for <pre>
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/permissionErrors.less
  src/SiteCommon/modules/wordBreak.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(SiteCommon): remove unused rules; merge rules for <pre> (#1421)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/SiteCommon.less
  src/SiteCommon/modules/permissionErrors.less
  src/SiteCommon/modules/wordBreak.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(MemorialDay): logic error
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
Due: prettier --write, eslint --fix

fix(MemorialDay): logic error (#1422)
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
Due: prettier --write, eslint --fix

fix(MemorialDay): logic error
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix

fix(Mainpage): fix flex rules * add fallback rules * add flex: 1 1 100% to .mainpage-box > div
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage): fix flex rules (#1423)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen2022): styles on mobile devices
  dist/SkinVector2022/SkinVector2022.css
  src/SkinVector2022/SkinVector2022.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen2022): styles on mobile devices (#1424)
  dist/SkinVector2022/SkinVector2022.css
  src/SkinVector2022/SkinVector2022.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinVector): fix font-size
  dist/SkinVector/SkinVector.css
  src/SkinVector/SkinVector.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen2022): follow commit cc63c1ef
  dist/SkinVector2022/SkinVector2022.css
  src/SkinVector2022/SkinVector2022.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinCitizen2022): follow commit cc63c1ef (#1425)
  dist/SkinVector2022/SkinVector2022.css
  src/SkinVector2022/SkinVector2022.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SkinVector): fix font-size (#1426)
  dist/SkinVector/SkinVector.css
  src/SkinVector/SkinVector.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: update @bhsd/codemirror-mediawiki
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(QIAM): add replacement * + → _
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): add replacement (#1427)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

chore: convert mw.Api#post to mw.Api#get
  dist/EditConflict/EditConflict.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MarkRights/MarkRights.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/QueryContributors/QueryContributors.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/TranslateVariants/TranslateVariants.js
  dist/UserRightsManager/UserRightsManager.js
  src/EditConflict/modules/util/queryPageInfo.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/GeoLocation/modules/storeLocation.ts
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/ListUsersLastActive/modules/checkLastActive.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkRights/modules/core.ts
  src/OnlineAdmins/modules/doClick.ts
  src/QueryContributors/modules/getContributors.ts
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
  src/RRD/modules/submit.ts
  src/SpecialWikitext/modules/mw/mwAddText.ts
  src/SpecialWikitext/modules/mw/mwApply.ts
  src/SpecialWikitext/modules/wikitextPreviewTestcase.ts
  src/ToolsRedirect/modules/core.js
  src/TranslateVariants/modules/translateVariants.tsx
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix
