Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

refactor(AddSectionPlus): replace manual translation with element attributes
  src/AddSectionPlus/definition.json
  src/AddSectionPlus/modules/i18n.ts
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AddSectionPlus): add AddSectionPlus-pagestyles (#364)
  src/AddSectionPlus-pagestyles/AddSectionPlus-pagestyles.less
  src/AddSectionPlus-pagestyles/LICENSE
  src/AddSectionPlus-pagestyles/definition.json
  src/AddSectionPlus/AddSectionPlus.ts
  src/AddSectionPlus/definition.json
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AddSectionPlus): add AddSectionPlus-pagestyles
  src/AddSectionPlus-pagestyles/AddSectionPlus-pagestyles.less
  src/AddSectionPlus-pagestyles/LICENSE
  src/AddSectionPlus-pagestyles/definition.json
  src/AddSectionPlus/AddSectionPlus.ts
  src/AddSectionPlus/definition.json
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Toastify): improve style
  src/AddSectionPlus-pagestyles/AddSectionPlus-pagestyles.less
  src/Toastify-pagestyles/Toastify-pagestyles.less
  src/Toastify/Toastify.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): follow 31c068b
  src/AdvancedSiteNotices/.eslintrc
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): follow 31c068b (#365)
  src/AdvancedSiteNotices/.eslintrc
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/insertArea.ts
  src/AdvancedSiteNotices/modules/showNotice.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Toastify): improve style (#366)
  src/AddSectionPlus-pagestyles/AddSectionPlus-pagestyles.less
  src/Toastify-pagestyles/Toastify-pagestyles.less
  src/Toastify/Toastify.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Toastify): the `:not()` pseudo-class syntax
  src/Toastify-pagestyles/Toastify-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(Toastify): the `:not()` pseudo-class syntax (#367)
  src/Toastify-pagestyles/Toastify-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: reuse type definitions (#368)
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/api.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/Cat-a-lot/modules/messages.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/logout.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: reuse type definitions
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/AdvancedSiteNotices/modules/util/queryApi.ts
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/api.ts
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/Cat-a-lot/modules/messages.ts
  src/ConfirmLogout/modules/addListener.ts
  src/ConfirmLogout/modules/logout.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: adjust the order of properties move the "node" and "text" properties to the front for easier reading
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/ConfirmLogout/modules/addListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Toastify): improve style
  src/Toastify-pagestyles/Toastify-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

test(util): use toastify.js instead of ding
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: adjust the order of properties (#369)
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/checkValid.ts
  src/ConfirmLogout/modules/addListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(definition.json): remove unnecessary dependencies
  src/AdvancedSiteNotices/definition.json
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/ShortURL/definition.json
  src/SiteCommon_JS/definition.json
  src/Wikiplus-highlight/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Toastify): improve style (#370)
  src/Toastify-pagestyles/Toastify-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(definition.json): remove unnecessary dependencies (#371)
  src/AdvancedSiteNotices/definition.json
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/ShortURL/definition.json
  src/SiteCommon_JS/definition.json
  src/Wikiplus-highlight/definition.json
Due: prettier --cache --ignore-unknown --write

test(util): use toastify.js instead of ding (#372)
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

revert: 49c66ff (#373)
  src/AdvancedSiteNotices/definition.json
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/ShortURL/definition.json
  src/SiteCommon_JS/definition.json
  src/Wikiplus-highlight/definition.json
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

revert: 49c66ff
  src/AdvancedSiteNotices/definition.json
  src/AjaxLogin/definition.json
  src/BanPage/definition.json
  src/ConfirmLogout/definition.json
  src/DiffLink/definition.json
  src/EasyArchive/definition.json
  src/EditConflict/definition.json
  src/PurgePageCache/definition.json
  src/QuickImport/definition.json
  src/Report/definition.json
  src/ScrollUpButton/definition.json
  src/ShortURL/definition.json
  src/SiteCommon_JS/definition.json
  src/Wikiplus-highlight/definition.json
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): typo (#374)
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): typo
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: avoid highlighting relatively insignificant toast (#375)
  src/AjaxLogin/modules/core.ts
  src/ConfirmLogout/modules/addListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: avoid highlighting relatively insignificant toast
  src/AjaxLogin/modules/core.ts
  src/ConfirmLogout/modules/addListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Toastify): typo in definition.json (#376)
  src/Toastify/definition.json
Due: prettier --cache --ignore-unknown --write

fix(Toastify): typo in definition.json
  src/Toastify/definition.json
Due: prettier --cache --ignore-unknown --write

chore: replace .apply() with spread parameters
  src/Cat-a-lot/modules/core.ts
  src/Edittools-refToolbar/modules/util.js
  src/OnlineAdmins/modules/core.ts
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: remove "mediawiki/msg-doc" from eslintrc
  src/Cat-a-lot/modules/core.ts
  src/Navigation_popups/.eslintrc
  src/Navigation_popups/modules/core.js
  src/ProveIt-pagestyles/LICENSE
  src/ProveIt/.eslintrc
  src/ProveIt/LICENSE
  src/ProveIt/ProveIt.js
  src/ProveIt/modules/core.js
  src/ToolsRedirect/.eslintrc
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: replace `.apply()` with spread parameters; remove `mediawiki/msg-doc` from `.eslintrc` (#377)
  src/Cat-a-lot/modules/core.ts
  src/Edittools-refToolbar/modules/util.js
  src/Navigation_popups/.eslintrc
  src/Navigation_popups/modules/core.js
  src/OnlineAdmins/modules/core.ts
  src/ProveIt-pagestyles/LICENSE
  src/ProveIt/.eslintrc
  src/ProveIt/LICENSE
  src/ProveIt/ProveIt.js
  src/ProveIt/modules/core.js
  src/ToolsRedirect/.eslintrc
  src/ToolsRedirect/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(OnlineAdmins): revert changes made by commit 4f184883
  src/OnlineAdmins/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(OnlineAdmins): revert changes made by commit 4f184883 (#378)
  src/OnlineAdmins/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(popups): replace `String#parenSplit` with `String#split`
  src/Navigation_popups/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(popups): replace `String#parenSplit` with `String#split` (#379)
  src/Navigation_popups/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): update padding for VE input box
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(OnlineAdmins): merge de-dup process with array-merging process
  src/OnlineAdmins/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SkinCitizen): update padding for VE input box (#380)
  src/SkinCitizen/SkinCitizen.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(OnlineAdmins): merge de-dup process with array-merging process (#381)
  src/OnlineAdmins/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(popups): follow commit 7c67190
  src/Navigation_popups/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(popups): follow commit 7c67190 (follow #379) (#382)
  src/Navigation_popups/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
