Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build(ResponsiveContent): update desc (#1446)
  src/ResponsiveContent/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(EasyArchive-New): update addLinks * remove emptyElement * optimize append logic * fix typo: heading => headline.parentElement
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, eslint --fix

fix(EasyArchive-New): update addLinks (#1447)
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

fix(EasyArchive-New): fix typo; add breaks
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/archiveSection.ts
  src/EasyArchive-New/modules/checkIfPageExist.ts
Due: prettier --write, eslint --fix

fix(EasyArchive-New): fix typo; add breaks (#1448)
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/archiveSection.ts
  src/EasyArchive-New/modules/checkIfPageExist.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive-New): add i18n; optimize logic
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/archive.ts
  src/EasyArchive-New/modules/archiveSection.ts
  src/EasyArchive-New/modules/deleteSection.ts
  src/EasyArchive-New/modules/i18n.ts
  src/EasyArchive-New/modules/ifArcLocNotAllowed.ts
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, eslint --fix

refactor(EasyArchive-New): add i18n; optimize logic (#1449)
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/archive.ts
  src/EasyArchive-New/modules/archiveSection.ts
  src/EasyArchive-New/modules/deleteSection.ts
  src/EasyArchive-New/modules/i18n.ts
  src/EasyArchive-New/modules/ifArcLocNotAllowed.ts
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, eslint --fix

refactor(EasyArchive-new): add replaceChild
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/react.tsx
  src/EasyArchive-New/modules/replaceChild.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive-new): add replaceChild (#1450)
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/modules/addLinks.ts
  src/EasyArchive-New/modules/react.tsx
  src/EasyArchive-New/modules/replaceChild.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive-New): update i18n; add footer notice; add toastify; optimize logic
  dist/EasyArchive-New/EasyArchive-New.css
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.less
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/addLinks.tsx
  src/EasyArchive-New/modules/archive.ts
  src/EasyArchive-New/modules/footerNotice.tsx
  src/EasyArchive-New/modules/i18n.ts
  src/EasyArchive-New/modules/isInBlackList.ts
  src/EasyArchive-New/modules/isNotAllowed.ts
  src/EasyArchive-New/modules/isNotSupported.ts
  src/EasyArchive-New/modules/react.tsx
  src/EasyArchive-New/modules/refreshPage.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(EasyArchive-New): update i18n; add footer notice; add toastify; optimize logic (#1451)
  dist/EasyArchive-New/EasyArchive-New.css
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.less
  src/EasyArchive-New/EasyArchive-New.ts
  src/EasyArchive-New/modules/addLinks.tsx
  src/EasyArchive-New/modules/archive.ts
  src/EasyArchive-New/modules/footerNotice.tsx
  src/EasyArchive-New/modules/i18n.ts
  src/EasyArchive-New/modules/isInBlackList.ts
  src/EasyArchive-New/modules/isNotAllowed.ts
  src/EasyArchive-New/modules/isNotSupported.ts
  src/EasyArchive-New/modules/react.tsx
  src/EasyArchive-New/modules/refreshPage.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(EasyArchive-New): renovate CSS rules; fix class names
  dist/EasyArchive-New/EasyArchive-New.css
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.less
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(EasyArchive-New): renovate CSS rules; fix class names (#1452)
  dist/EasyArchive-New/EasyArchive-New.css
  dist/EasyArchive-New/EasyArchive-New.js
  src/EasyArchive-New/EasyArchive-New.less
  src/EasyArchive-New/modules/react.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(EasyArchive): remove old EasyArchive
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  src/EasyArchive/.eslintrc
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.less
  src/EasyArchive/LICENSE
  src/EasyArchive/definition.json
  src/EasyArchive/modules/api.ts
  src/EasyArchive/modules/edit.ts
  src/EasyArchive/modules/expose.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/react.tsx
  src/EasyArchive/modules/sanitize.ts
  src/EasyArchive/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(EasyArchive): rename EasyArchive-New to EasyArchive
  dist/EasyArchive-New/EasyArchive-New.js
  dist/EasyArchive/EasyArchive-New.css
  dist/EasyArchive/EasyArchive-New.js
  dist/definition.txt
  src/EasyArchive/EasyArchive-New.less
  src/EasyArchive/EasyArchive-New.ts
  src/EasyArchive/LICENSE
  src/EasyArchive/definition.json
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/api.ts
  src/EasyArchive/modules/archive.ts
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/checkIfPageExist.ts
  src/EasyArchive/modules/checkIfSectionExist.ts
  src/EasyArchive/modules/deleteSection.ts
  src/EasyArchive/modules/footerNotice.tsx
  src/EasyArchive/modules/getSectionContent.ts
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/ifArcLocNotAllowed.ts
  src/EasyArchive/modules/isNotAllowed.ts
  src/EasyArchive/modules/isNotSupported.ts
  src/EasyArchive/modules/parse.ts
  src/EasyArchive/modules/react.tsx
  src/EasyArchive/modules/refreshPage.ts
  src/EasyArchive/modules/remove.ts
  src/EasyArchive/modules/replaceChild.ts
  src/EasyArchive/modules/settings.ts
  src/EasyArchive/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(EasyArchive): rename file names
  dist/EasyArchive/EasyArchive-New.js
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  dist/definition.txt
  src/EasyArchive/EasyArchive.less
  src/EasyArchive/EasyArchive.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore(EasyArchive): fix typo
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/LICENSE
  src/EasyArchive/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(EasyArchive): fix typo (#1454)
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/LICENSE
  src/EasyArchive/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): optimize code logic
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/deleteSection.ts
  src/EasyArchive/modules/footerNotice.tsx
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/isNotSupported.ts
  src/EasyArchive/modules/remove.ts
  src/EasyArchive/modules/removeSection.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize code logic (#1455)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/deleteSection.ts
  src/EasyArchive/modules/footerNotice.tsx
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/isNotSupported.ts
  src/EasyArchive/modules/remove.ts
  src/EasyArchive/modules/removeSection.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize code logic
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/checkIfPageExist.ts
  src/EasyArchive/modules/checkIfSectionExist.ts
  src/EasyArchive/modules/footerNotice.tsx
  src/EasyArchive/modules/getSectionContent.ts
  src/EasyArchive/modules/getSettings.ts
  src/EasyArchive/modules/ifArcLocNotAllowed.ts
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/isInDisallowedList.ts
  src/EasyArchive/modules/isNotAllowed.ts
  src/EasyArchive/modules/isNotSupported.ts
  src/EasyArchive/modules/removeSection.ts
  src/EasyArchive/modules/util/checkIfExist.ts
  src/EasyArchive/modules/util/getSection.ts
  src/EasyArchive/modules/util/react.tsx
  src/EasyArchive/modules/util/refreshPage.ts
  src/EasyArchive/modules/util/replaceChild.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize code logic (#1456)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/checkIfPageExist.ts
  src/EasyArchive/modules/checkIfSectionExist.ts
  src/EasyArchive/modules/footerNotice.tsx
  src/EasyArchive/modules/getSectionContent.ts
  src/EasyArchive/modules/getSettings.ts
  src/EasyArchive/modules/ifArcLocNotAllowed.ts
  src/EasyArchive/modules/isInBlacklist.ts
  src/EasyArchive/modules/isInDisallowedList.ts
  src/EasyArchive/modules/isNotAllowed.ts
  src/EasyArchive/modules/isNotSupported.ts
  src/EasyArchive/modules/removeSection.ts
  src/EasyArchive/modules/util/checkIfExist.ts
  src/EasyArchive/modules/util/getSection.ts
  src/EasyArchive/modules/util/react.tsx
  src/EasyArchive/modules/util/refreshPage.ts
  src/EasyArchive/modules/util/replaceChild.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize code logic; fix typo
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/util/react.tsx
Due: prettier --write, eslint --fix

refactor(EasyArchive): optimize code logic; fix typo (#1457)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/util/react.tsx
Due: prettier --write, eslint --fix

refactor(SiteCommon_JS): optimize logic * remove noPermWarning * optimize logic in loadWithURL * try to optimize logic in unihanPopup
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

refactor(SiteCommon_JS): optimize logic (#1458)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/SiteCommon_JS.ts
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): avoid ReDoS
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): avoid ReDoS (#1459)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): avoid ReDoS; fix wrong RegExp
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): avoid ReDoS; fix wrong RegExp (#1460)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): avoid ReDoS; fix wrong RegExp (#1461)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/core.tsx
Due: prettier --write, eslint --fix

fix(ScrollUpButton): add class name 'noprint'
  dist/ScrollUpButton/ScrollUpButton.js
  src/ScrollUpButton/components/scrollButton.tsx
Due: prettier --write, eslint --fix

fix(ScrollUpButton): add class name 'noprint' (#1462)
  dist/ScrollUpButton/ScrollUpButton.js
  src/ScrollUpButton/components/scrollButton.tsx
Due: prettier --write, eslint --fix

refactor(URM): refactor code
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/assignPermission.ts
  src/UserRightsManager/modules/getPagePermissions.ts
  src/UserRightsManager/modules/getPermissionNames.ts
  src/UserRightsManager/modules/getTemplates.ts
  src/UserRightsManager/modules/i18n.ts
  src/UserRightsManager/modules/issueTemplate.ts
  src/UserRightsManager/modules/markAsDone.ts
  src/UserRightsManager/modules/showDialog.js
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, eslint --fix

refactor(URM): refactor code (#1463)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/assignPermission.ts
  src/UserRightsManager/modules/getPagePermissions.ts
  src/UserRightsManager/modules/getPermissionNames.ts
  src/UserRightsManager/modules/getTemplates.ts
  src/UserRightsManager/modules/i18n.ts
  src/UserRightsManager/modules/issueTemplate.ts
  src/UserRightsManager/modules/markAsDone.ts
  src/UserRightsManager/modules/showDialog.js
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, eslint --fix

fix(UserRightsManager): remove unneeded code
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/UserRightsManager.ts
  src/UserRightsManager/modules/assignPermission.ts
  src/UserRightsManager/modules/markAsDone.ts
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, eslint --fix
