Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(FloatTOC): prevent opener icon position jump after scroll on mobile devices
  dist/FloatTOC/FloatTOC.css
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(FloatTOC): keep the position of the icon after scrolling on mobile devices (#1374)
  dist/FloatTOC/FloatTOC.css
  src/FloatTOC/FloatTOC.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(QueryContributors): remove duplicated period
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/appendElement.tsx
Due: prettier --write, eslint --fix

fix(QueryContributors): remove duplicated period (#1375)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/appendElement.tsx
Due: prettier --write, eslint --fix

build(WPHL): update to version 3.2.2
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(WPHL): update to version 3.2.2t p (#1376)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(QuickImport): add window.detectIfFileRedirect
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

build(QuickImport): add window.detectIfFileRedirect (#1377)
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

build(QuickImport*): move window.detectIfFileRedirect to QIAM; add window.getAllImages
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

build(QuickImport*): move window.detectIfFileRedirect to QIAM; add window.getAllImages (#1378)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImportAllMedia): typo in if-else conditions
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImportAllMedia): typo in if-else conditions (#1379)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): rewrite core * move window.* outside function package * rewrite core
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): rewrite core (#1380)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): add "redirects" and "disabletoc" to params
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): add "redirects" and "disabletoc" to params (#1381)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): optimize logic
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): optimize logic (#1382)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): add uniqueArray() wrap
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

refactor(QuickImportAllMedia): add uniqueArray() wrap (#1383)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(Morebits): l10n fallback
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

fix(Morebits, Twinkle): remove deprecated function
  dist/Twinkle/Twinkle.js
  dist/morebits/morebits.js
  src/Twinkle/modules/twinklefluff.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

fix(Morebits, Twinkle): remove deprecated function (#1384)
  dist/Twinkle/Twinkle.js
  dist/morebits/morebits.js
  src/Twinkle/modules/twinklefluff.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

build(WPHL): remove unused CSS
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/definition.txt
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(WPHL): remove unused CSS (#1385)
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/definition.txt
  src/Wikiplus-highlight/Wikiplus-highlight.less
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: update dist
  dist/store.txt
Due: none

fix(QuickImport): compatibility for old disambiguation format
  dist/QuickImport/QuickImport.js
  src/QuickImport/QuickImport.ts
Due: prettier --write, eslint --fix

fix(RollbackSummary): replace → replaceAll
  dist/RollbackSummary/RollbackSummary.js
  src/RollbackSummary/modules/updateLinks.ts
Due: prettier --write, eslint --fix

fix(RollbackSummary): replace → replaceAll (#1387)
  dist/RollbackSummary/RollbackSummary.js
  src/RollbackSummary/modules/updateLinks.ts
Due: prettier --write, eslint --fix

fix(QIAM): remove parse function
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): remove parse function (#1388)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): wrong for-of loop logic
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): wrong for-of loop logic (#1389)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): add parse back
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QIAM): add parse back (#1390)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

feat: add sidebar icons to SkinCitizen.less
  dist/SkinCitizen/SkinCitizen.css
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/SkinCitizen/SkinCitizen.less
  src/SkinCitizen/modules/add-sidebar-icons.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(SkinCitizen): include icons inside repo
  dist/SkinCitizen/SkinCitizen.css
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/SkinCitizen/LICENSE
  src/SkinCitizen/images/Chinese_conversion_black.svg
  src/SkinCitizen/images/Help_index_icon.svg
  src/SkinCitizen/images/Notice_board_icon.svg
  src/SkinCitizen/images/Policy_icon.svg
  src/SkinCitizen/images/Teahouse_icon.svg
  src/SkinCitizen/images/Wanshan_icon.svg
  src/SkinCitizen/modules/add-sidebar-icons.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

build(SkinCitizen): include icons inside repo (#1391)
  dist/SkinCitizen/SkinCitizen.css
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/SkinCitizen/LICENSE
  src/SkinCitizen/images/Chinese_conversion_black.svg
  src/SkinCitizen/images/Help_index_icon.svg
  src/SkinCitizen/images/Notice_board_icon.svg
  src/SkinCitizen/images/Policy_icon.svg
  src/SkinCitizen/images/Teahouse_icon.svg
  src/SkinCitizen/images/Wanshan_icon.svg
  src/SkinCitizen/modules/add-sidebar-icons.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
