Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

refactor(PurgePageCache, UTCLiveClock): merge purge functions from UTCLiveClock to PurgePageCache
  dist/PurgePageCache/PurgePageCache.js
  dist/UTCLiveClock/UTCLiveClock.js
  dist/definition.txt
  src/PurgePageCache/modules/global.d.ts
  src/PurgePageCache/modules/i18n.ts
  src/PurgePageCache/modules/purge.ts
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/definition.json
  src/UTCLiveClock/modules/api.ts
  src/UTCLiveClock/modules/i18n.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PurgePageCache, UTCLiveClock): merge `purge` function from UTCLiveClock to PurgePageCache (#1249)
  dist/PurgePageCache/PurgePageCache.js
  dist/UTCLiveClock/UTCLiveClock.js
  dist/definition.txt
  src/PurgePageCache/modules/global.d.ts
  src/PurgePageCache/modules/i18n.ts
  src/PurgePageCache/modules/purge.ts
  src/UTCLiveClock/UTCLiveClock.ts
  src/UTCLiveClock/definition.json
  src/UTCLiveClock/modules/api.ts
  src/UTCLiveClock/modules/i18n.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(TranslateVariants): typo
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

refactor(QuickImport*): use 'require'
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/definition.txt
  src/QuickImport/modules/core.ts
  src/QuickImport/modules/global.d.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/definition.json
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(TranslateVariants): typo (#1250)
  dist/TranslateVariants/TranslateVariants.js
  src/TranslateVariants/modules/translateVariants.tsx
Due: prettier --write, eslint --fix

refactor(QuickImport*): use 'require' (#1251)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/definition.txt
  src/QuickImport/modules/core.ts
  src/QuickImport/modules/global.d.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/definition.json
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkBlocked): replace while-loop with for-loop
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/markBlockedUser.ts
Due: prettier --write, eslint --fix

fix(MarkBlocked): replace while-loop with for-loop (#1252)
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/markBlockedUser.ts
Due: prettier --write, eslint --fix

fix: follow #1249 and #1251
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/definition.txt
  src/PurgePageCache/modules/global.d.ts
  src/PurgePageCache/modules/purge.ts
  src/QuickImport/modules/global.d.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
  src/UTCLiveClock/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: follow #1249 and #1251 (#1253)
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/definition.txt
  src/PurgePageCache/modules/global.d.ts
  src/PurgePageCache/modules/purge.ts
  src/QuickImport/modules/global.d.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
  src/UTCLiveClock/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

docs: fix typo
  docs/how-to-use-exports-and-require-in-mediawiki.md
Due: none

chore: minor changes
  dist/GeoLocationReader/GeoLocationReader.js
  dist/HotCat/HotCat.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/Report/Report.js
  dist/ScrollUpButton/ScrollUpButton.js
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/HotCat/modules/check.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/Report/components/ReportButton.tsx
  src/Report/modules/addButton.ts
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix

fix: add module export
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/PurgePageCache/PurgePageCache.ts
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/global.d.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

docs: fix typo (#1254)
  dist/GeoLocationReader/GeoLocationReader.js
  dist/HotCat/HotCat.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/Report/Report.js
  dist/ScrollUpButton/ScrollUpButton.js
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/HotCat/modules/check.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/Report/components/ReportButton.tsx
  src/Report/modules/addButton.ts
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix

fix: add module export (#1255)
  dist/PurgePageCache/PurgePageCache.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/PurgePageCache/PurgePageCache.ts
  src/QuickImport/QuickImport.ts
  src/QuickImport/modules/global.d.ts
  src/QuickImportAllMedia/modules/api.ts
  src/QuickImportAllMedia/modules/core.ts
  src/QuickImportAllMedia/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(QuickImport*): add try-catch; optimize logic
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): add try-catch; optimize logic (#1256)
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImport/modules/core.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic (#1257)
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  src/QuickImportAllMedia/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

fix(QuickImport*): optimize logic (#1258)
  dist/QuickImport/QuickImport.js
  src/QuickImport/modules/core.ts
Due: prettier --write, eslint --fix

refactor(WhoIsActive): split into 2 seperate functions
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

refactor(WhoIsActive): split into 2 seperate functions (#1259)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

refactor(Mainpage*): replace color with CSS variables
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  dist/definition.txt
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_licencewiki/definition.json
  src/Mainpage_zhqiuwenbaike/LICENSE
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
  src/Mainpage_zhqiuwenbaike/definition.json
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(WhoIsActive*, MarkRights-UserPage): optimize CSS rules; rename class
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  dist/WhoIsActive/WhoIsActive.js
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(WhoIsActive*, MarkRights-UserPage): optimize CSS rules; rename class (#1261)
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/WhoIsActive-pagestyles/WhoIsActive-pagestyles.css
  dist/WhoIsActive/WhoIsActive.js
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive/modules/getLastActiveMarker.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(Mainpage*): replace color with CSS variables (#1260)
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  dist/definition.txt
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_licencewiki/definition.json
  src/Mainpage_zhqiuwenbaike/LICENSE
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
  src/Mainpage_zhqiuwenbaike/definition.json
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

follow #1260
  dist/store.txt
  src/Mainpage/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(Mainpage*): optimize rules
  dist/Group-user/Group-user.css
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  src/Group-user/Group-user.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-obituary/Mainpage-obituary.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(Mainpage*): optimize rules (#1262)
  dist/Group-user/Group-user.css
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  src/Group-user/Group-user.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-obituary/Mainpage-obituary.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage*): wrong color
  dist/Mainpage-obituary/Mainpage-obituary.css
  src/Mainpage-obituary/Mainpage-obituary.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage*): wrong color (#1263)
  dist/Mainpage-obituary/Mainpage-obituary.css
  src/Mainpage-obituary/Mainpage-obituary.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(WhoIsActive): use wikipage.content hook
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

chore(Mainpage*): minify var name
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-obituary/Mainpage-obituary.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Mainpage*): minify var name (#1264)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage-obituary/Mainpage-obituary.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-obituary/Mainpage-obituary.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_zhqiuwenbaike/Mainpage_zhqiuwenbaike.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(WhoIsActive): use wikipage.content hook (#1265)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/core.ts
Due: prettier --write, eslint --fix

chore(NavBoxCSS): add fallback value to var()
  dist/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(NavBoxCSS): add fallback value to var() (#1266)
  dist/NavboxCSS/NavboxCSS.css
  src/NavboxCSS/NavboxCSS.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Group-*): split Group-transwiki_JS; optimize logic
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/Group-user_JS/Group-user_JS.js
  dist/definition.txt
  src/Group-transwiki_JS/Group-transwiki_JS.ts
  src/Group-transwiki_JS/LICENSE
  src/Group-transwiki_JS/definition.json
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/Group-transwiki_JS/modules/fixSummary.ts
  src/Group-transwiki_JS/options.json
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/fixSummary.ts
  src/Group-user_JS/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Group-*): split Group-transwiki_JS; optimize logic (#1267)
  dist/Group-transwiki_JS/Group-transwiki_JS.js
  dist/Group-user_JS/Group-user_JS.js
  dist/definition.txt
  src/Group-transwiki_JS/Group-transwiki_JS.ts
  src/Group-transwiki_JS/LICENSE
  src/Group-transwiki_JS/definition.json
  src/Group-transwiki_JS/modules/fixCheckbox.ts
  src/Group-transwiki_JS/modules/fixSummary.ts
  src/Group-transwiki_JS/options.json
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/fixSummary.ts
  src/Group-user_JS/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
