Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor: minor fix (follow commit 580fd66f)
  src/Wikiplus/Wikiplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(CAL): update LICENSE (#538)
  src/Cat-a-lot/LICENSE
Due: prettier --cache --ignore-unknown --write

refactor(W+): minor fix (follow commit 580fd66f) (#539)
  src/Wikiplus/Wikiplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: when GLOBAL_REQUIRES_ES6=true, target set to `es2015`
  .browserslistrc
  scripts/modules/utils/build-util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: when GLOBAL_REQUIRES_ES6=true, set build target to `es2015` (#540)
  .browserslistrc
  scripts/modules/utils/build-util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditForm): use existing less variables
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/EditForm/EditForm.less
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditForm): optimize logic
  src/EditForm_JS/.eslintrc
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/definition.json
  src/EditForm_JS/modules/aiAssisted.ts
  src/EditForm_JS/modules/antiConv.ts
  src/EditForm_JS/modules/cancelAutoSummary.ts
  src/EditForm_JS/modules/clearUndoSummary.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/displaySummaryInOneLine.ts
  src/EditForm_JS/modules/editToolbar.ts
  src/EditForm_JS/modules/forcePreview.ts
  src/EditForm_JS/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditForm): remove unnecessary code
  src/EditForm/EditForm.less
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/displaySummaryInOneLine.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditForm): use existing less variables (#541)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/EditForm/EditForm.less
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: resolve conflicts
  src/EditForm/EditForm.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

Refactor-EditFormJS (#542)
  src/EditForm/EditForm.less
  src/EditForm_JS/.eslintrc
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/definition.json
  src/EditForm_JS/modules/aiAssisted.ts
  src/EditForm_JS/modules/antiConv.ts
  src/EditForm_JS/modules/cancelAutoSummary.ts
  src/EditForm_JS/modules/clearUndoSummary.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/editToolbar.ts
  src/EditForm_JS/modules/forcePreview.ts
  src/EditForm_JS/modules/i18n.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DefaultSummaries): remove unnecessary code
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/addHook.ts
  src/DefaultSummaries/modules/addVisualEditorPlugin.ts
  src/DefaultSummaries/modules/constant.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DefaultSummaries): remove unnecessary code (#543)
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/addHook.ts
  src/DefaultSummaries/modules/addVisualEditorPlugin.ts
  src/DefaultSummaries/modules/constant.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(w+): follow commit 53bbad79
  src/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(w+): follow commit 53bbad79 (#544)
  src/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: optimize logic
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/initWindowManager.ts
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/constant.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/BanPage/BanPage.ts
  src/Collapsible/Collapsible.ts
  src/Collapsible/modules/addHook.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/generateElements.ts
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/CopyCodeBlock/modules/addHook.ts
  src/DefaultSummaries/DefaultSummaries.ts
  src/DiffLink/DiffLink.ts
  src/DiffLink/modules/addHook.ts
  src/EditConflict/EditConflict.ts
  src/EditConflict/modules/constant.ts
  src/EditConflict/modules/core.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/forcePreview.ts
  src/Group-user_JS/modules/constant.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/Group-user_JS/modules/smartEditIntro.ts
  src/LoginToEdit/modules/constant.ts
  src/LoginToEdit/modules/core.ts
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: optimize logic (#545)
  src/AjaxLogin/AjaxLogin.ts
  src/AjaxLogin/modules/initWindowManager.ts
  src/AutoLink/AutoLink.ts
  src/AutoLink/modules/constant.ts
  src/AutoLink/modules/util/getTargetElements.ts
  src/BanPage/BanPage.ts
  src/Collapsible/Collapsible.ts
  src/Collapsible/modules/addHook.ts
  src/ConfirmLogout/ConfirmLogout.ts
  src/ConfirmLogout/modules/addListener.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/generateElements.ts
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/CopyCodeBlock/modules/addHook.ts
  src/DefaultSummaries/DefaultSummaries.ts
  src/DiffLink/DiffLink.ts
  src/DiffLink/modules/addHook.ts
  src/EditConflict/EditConflict.ts
  src/EditConflict/modules/constant.ts
  src/EditConflict/modules/core.ts
  src/EditForm_JS/modules/constant.ts
  src/EditForm_JS/modules/forcePreview.ts
  src/Group-user_JS/modules/constant.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/Group-user_JS/modules/smartEditIntro.ts
  src/LoginToEdit/modules/constant.ts
  src/LoginToEdit/modules/core.ts
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow e0f1ec3
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow e0f1ec3 (#547)
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EasyArchive): use toastify
  src/Ding/Ding.ts
  src/Ding/LICENSE
  src/Ding/definition.json
  src/Ding/modules/shims.ts
  src/Ding/modules/types.d.ts
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EasyArchive): use toastify (#548)
  src/Ding/Ding.ts
  src/Ding/LICENSE
  src/Ding/definition.json
  src/Ding/modules/shims.ts
  src/Ding/modules/types.d.ts
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: #548
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

refactor(Edittools): to TypeScript Edittools-customizeToolbar Edittools-delh Edittools-vector Edittools-vplus
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-customizeToolbar/definition.json
  src/Edittools-delh/.eslintrc
  src/Edittools-delh/Edittools-delh.js
  src/Edittools-delh/Edittools-delh.ts
  src/Edittools-delh/modules/constant.ts
  src/Edittools-delh/modules/core.ts
  src/Edittools-delh/modules/getList.ts
  src/Edittools-vector/Edittools-vector.js
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vplus/.eslintrc
  src/Edittools-vplus/Edittools-vplus.ts
  src/Edittools-vplus/modules/constant.ts
  src/Edittools-vplus/modules/edittoolsVplus.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Edittools): to TypeScript (#549)
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-customizeToolbar/definition.json
  src/Edittools-delh/.eslintrc
  src/Edittools-delh/Edittools-delh.js
  src/Edittools-delh/Edittools-delh.ts
  src/Edittools-delh/modules/constant.ts
  src/Edittools-delh/modules/core.ts
  src/Edittools-delh/modules/getList.ts
  src/Edittools-vector/Edittools-vector.js
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vplus/.eslintrc
  src/Edittools-vplus/Edittools-vplus.ts
  src/Edittools-vplus/modules/constant.ts
  src/Edittools-vplus/modules/edittoolsVplus.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(IsCompatible): remove
  src/IsCompatible/IsCompatible.ts
  src/IsCompatible/LICENSE
  src/IsCompatible/definition.json
  src/IsCompatible/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(IsCompatible): remove (#550)
  src/IsCompatible/IsCompatible.ts
  src/IsCompatible/LICENSE
  src/IsCompatible/definition.json
  src/IsCompatible/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(refToolbar): deploy style sheet
  src/Edittools-refToolbar/Edittools-refToolbar.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build(refToolbar): deploy style sheet (#551)
  src/Edittools-refToolbar/Edittools-refToolbar.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build: #550
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

fix(EA): fix `elaborate_notice`
  src/EasyArchive/EasyArchive.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(EA): fix `elaborate_notice` (#552)
  src/EasyArchive/EasyArchive.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(refToolbar): optimize logic
  src/Edittools-refToolbar/.eslintrc
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.ts
  src/Edittools-refToolbar/modules/constant.js
  src/Edittools-refToolbar/modules/constant.ts
  src/Edittools-refToolbar/modules/util/getMessage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(refToolbar): optimize logic (#553)
  src/Edittools-refToolbar/.eslintrc
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.ts
  src/Edittools-refToolbar/modules/constant.js
  src/Edittools-refToolbar/modules/constant.ts
  src/Edittools-refToolbar/modules/util/getMessage.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EnhancedSpecialSearch): separate into modules
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/EnhancedSpecialSearch/modules/addListener.ts
  src/EnhancedSpecialSearch/modules/constant.ts
  src/EnhancedSpecialSearch/modules/core.ts
  src/EnhancedSpecialSearch/modules/generateSelectElement.ts
  src/EnhancedSpecialSearch/modules/getOptionData.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/util/openPage.ts
  src/EnhancedSpecialSearch/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EnhancedSpecialSearch): separate into modules (#554)
  src/EnhancedSpecialSearch/EnhancedSpecialSearch.ts
  src/EnhancedSpecialSearch/modules/addListener.ts
  src/EnhancedSpecialSearch/modules/constant.ts
  src/EnhancedSpecialSearch/modules/core.ts
  src/EnhancedSpecialSearch/modules/generateSelectElement.ts
  src/EnhancedSpecialSearch/modules/getOptionData.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/util/openPage.ts
  src/EnhancedSpecialSearch/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: move files
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/generateElements.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/util/generateElements.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/util/generateSelectElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: move files (#555)
  src/AjaxLogin/modules/core.ts
  src/AjaxLogin/modules/util/generateElements.ts
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/modules/util/generateElements.ts
  src/EnhancedSpecialSearch/modules/processElement.ts
  src/EnhancedSpecialSearch/modules/util/generateSelectElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(EditForm): suspend use `forcePreview`
  src/EditForm_JS/EditForm_JS.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
