Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(ShortURL): add missing peer dependencies (#1102)
  dist/definition.txt
  src/ShortURL/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(ShortURL): add missing peer dependencies
  dist/definition.txt
  src/ShortURL/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(SearchShortcuts): optimize logic
  dist/SearchShortcuts/SearchShortcuts.js
  dist/definition.txt
  src/SearchShortcuts/SearchShortcuts.ts
  src/SearchShortcuts/definition.json
  src/SearchShortcuts/modules/constant.ts
  src/SearchShortcuts/modules/getSearchInput.ts
  src/SearchShortcuts/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(SearchShortcuts): optimize logic (#1103)
  dist/SearchShortcuts/SearchShortcuts.js
  dist/definition.txt
  src/SearchShortcuts/SearchShortcuts.ts
  src/SearchShortcuts/definition.json
  src/SearchShortcuts/modules/constant.ts
  src/SearchShortcuts/modules/getSearchInput.ts
  src/SearchShortcuts/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat: add VariantAlly
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/VariantAlly/.eslintrc
  src/VariantAlly/LICENSE
  src/VariantAlly/VariantAlly.ts
  src/VariantAlly/definition.json
  src/VariantAlly/modules/controller.ts
  src/VariantAlly/modules/debug.ts
  src/VariantAlly/modules/env.d.ts
  src/VariantAlly/modules/model.ts
  src/VariantAlly/modules/utils.ts
  src/VariantAllyDialog/.eslintrc
  src/VariantAllyDialog/App.vue
  src/VariantAllyDialog/LICENSE
  src/VariantAllyDialog/VariantAllyDialog.ts
  src/VariantAllyDialog/components/VAButton.vue
  src/VariantAllyDialog/components/VAFadeTransition.vue
  src/VariantAllyDialog/components/VAIcon.vue
  src/VariantAllyDialog/components/VASelect.vue
  src/VariantAllyDialog/components/VAVariantPrompt.vue
  src/VariantAllyDialog/components/VAVariantPromptMobile.vue
  src/VariantAllyDialog/composables/useDefault.ts
  src/VariantAllyDialog/composables/useI18n.ts
  src/VariantAllyDialog/composables/useModelWrapper.ts
  src/VariantAllyDialog/composables/useShuffledVariant.ts
  src/VariantAllyDialog/composables/useUniqueId.ts
  src/VariantAllyDialog/definition.json
  src/VariantAllyDialog/messages.json
  src/VariantAllyDialog/modules/env.d.ts
  src/VariantAllyDialog/modules/utils.ts
  src/VariantAllyDialog/styles/mixins.less
  src/VariantAllyDialog/styles/tokens.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore: sort configs
  src/DidYouMean/definition.json
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/definition.json
  src/EnhancedSpecialSearch/definition.json
  src/Geo/definition.json
  src/GeoLocation/definition.json
  src/GeoLocationReader-pagestyles/definition.json
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage/definition.json
  src/Mainpage_licencewiki/definition.json
  src/NotifyConversion/definition.json
  src/Report-pagestyles/definition.json
  src/Report/definition.json
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
  src/ToolsRedirect-bio-latin-names/definition.json
  src/ToolsRedirect-courtesy-and-art-names/definition.json
  src/Twinkle/definition.json
  src/UserRightsManager/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: re-generate dist
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(add): add VariantAlly
  dist/VariantAlly/VariantAlly.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/VariantAlly/.eslintrc
  src/VariantAlly/LICENSE
  src/VariantAlly/VariantAlly.ts
  src/VariantAlly/definition.json
  src/VariantAlly/modules/controller.ts
  src/VariantAlly/modules/debug.ts
  src/VariantAlly/modules/env.d.ts
  src/VariantAlly/modules/model.ts
  src/VariantAlly/modules/utils.ts
  src/VariantAllyDialog/.eslintrc
  src/VariantAllyDialog/App.vue
  src/VariantAllyDialog/LICENSE
  src/VariantAllyDialog/VariantAllyDialog.ts
  src/VariantAllyDialog/components/VAButton.vue
  src/VariantAllyDialog/components/VAFadeTransition.vue
  src/VariantAllyDialog/components/VAIcon.vue
  src/VariantAllyDialog/components/VASelect.vue
  src/VariantAllyDialog/components/VAVariantPrompt.vue
  src/VariantAllyDialog/components/VAVariantPromptMobile.vue
  src/VariantAllyDialog/composables/useDefault.ts
  src/VariantAllyDialog/composables/useI18n.ts
  src/VariantAllyDialog/composables/useModelWrapper.ts
  src/VariantAllyDialog/composables/useShuffledVariant.ts
  src/VariantAllyDialog/composables/useUniqueId.ts
  src/VariantAllyDialog/definition.json
  src/VariantAllyDialog/messages.json
  src/VariantAllyDialog/modules/env.d.ts
  src/VariantAllyDialog/modules/utils.ts
  src/VariantAllyDialog/styles/mixins.less
  src/VariantAllyDialog/styles/tokens.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(remove): remove NotifyConversion
  dist/NotifyConversion/NotifyConversion.css
  dist/NotifyConversion/NotifyConversion.js
  dist/definition.txt
  src/NotifyConversion/LICENSE
  src/NotifyConversion/NotifyConversion.less
  src/NotifyConversion/NotifyConversion.ts
  src/NotifyConversion/definition.json
  src/NotifyConversion/modules/constant.ts
  src/NotifyConversion/modules/core.ts
  src/NotifyConversion/modules/i18n.ts
  src/NotifyConversion/modules/preserveVariant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: #1105
  dist/store.txt
Due: none

fix(VariantAllyDialog): should be loaded manually
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/VariantAllyDialog/components/VAVariantPrompt.vue
  src/VariantAllyDialog/definition.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

Fix-VariantAllyDialog (#1106)
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  src/VariantAllyDialog/components/VAVariantPrompt.vue
  src/VariantAllyDialog/definition.json
  src/VariantAllyDialog/modules/utils.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(VariantAllyDialog): localization compatibility
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/VariantAllyDialog/modules/utils.ts
Due: prettier --write, eslint --fix

fix(VariantAlly): the target module is not loaded
  dist/VariantAlly/VariantAlly.js
  src/VariantAlly/definition.json
  src/VariantAlly/modules/controller.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(VariantAlly): the target module is not loaded (#1107)
  dist/VariantAlly/VariantAlly.js
  src/VariantAlly/definition.json
  src/VariantAlly/modules/controller.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

docs(VariantAllyDialog): update description (#1108)
  src/VariantAllyDialog/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

docs(VariantAllyDialog): update description
  src/VariantAllyDialog/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(VariantAlly): remove debug functions
  dist/VariantAlly/VariantAlly.js
  src/VariantAlly/VariantAlly.ts
  src/VariantAlly/modules/controller.ts
  src/VariantAlly/modules/debug.ts
Due: prettier --write, eslint --fix

refactor(ScrollUpButton): optimize logic (#1110)
  dist/ScrollUpButton/ScrollUpButton.js
  dist/WordCount/WordCount.js
  src/ScrollUpButton/ScrollUpButton.ts
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/WordCount/components/WordCount.tsx
Due: prettier --write, eslint --fix

refactor(ScrollUpButton): optimize logic
  dist/ScrollUpButton/ScrollUpButton.js
  dist/WordCount/WordCount.js
  src/ScrollUpButton/ScrollUpButton.ts
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/WordCount/components/WordCount.tsx
Due: prettier --write, eslint --fix

refactor(RRD): optimize logic
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/definition.txt
  src/RRD/RRD.ts
  src/RRD/components/DialogInner.less
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
  src/RRD/definition.json
  src/RRD/modules/api.ts
  src/RRD/modules/constant.ts
  src/RRD/modules/core.tsx
  src/RRD/modules/loadIds.ts
  src/RRD/modules/rrdConfig.ts
  src/RRD/modules/showDialog.ts
  src/RRD/modules/submit.ts
  src/RRD/modules/types.ts
  src/RRD/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(RRD): optimize logic (#1111)
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/definition.txt
  src/RRD/RRD.ts
  src/RRD/components/DialogInner.less
  src/RRD/components/DialogInner.tsx
  src/RRD/components/ReportButton.tsx
  src/RRD/definition.json
  src/RRD/modules/api.ts
  src/RRD/modules/constant.ts
  src/RRD/modules/core.tsx
  src/RRD/modules/loadIds.ts
  src/RRD/modules/rrdConfig.ts
  src/RRD/modules/showDialog.ts
  src/RRD/modules/submit.ts
  src/RRD/modules/types.ts
  src/RRD/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(RollbackSummary): clean up (#1112)
  dist/RollbackSummary/RollbackSummary.js
  src/RollbackSummary/RollbackSummary.ts
  src/RollbackSummary/modules/updateLinks.ts
Due: prettier --write, eslint --fix

refactor(RollbackSummary): clean up
  dist/RollbackSummary/RollbackSummary.js
  src/RollbackSummary/RollbackSummary.ts
  src/RollbackSummary/modules/updateLinks.ts
Due: prettier --write, eslint --fix

refactor(Report): optimize logic
  dist/Report/Report.js
  dist/ScrollUpButton/ScrollUpButton.js
  src/Report/Report.ts
  src/Report/components/ReportButton.tsx
  src/Report/modules/addButton.ts
  src/Report/modules/addPortletLink.ts
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix

refactor(Report): optimize logic (#1113)
  dist/Report/Report.js
  dist/ScrollUpButton/ScrollUpButton.js
  src/Report/Report.ts
  src/Report/components/ReportButton.tsx
  src/Report/modules/addButton.ts
  src/Report/modules/addPortletLink.ts
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
  src/ScrollUpButton/components/scrollButton.tsx
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --write, eslint --fix

refactor(WordCount): remove elements when timeout (#1114)
  dist/WordCount/WordCount.js
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, eslint --fix

refactor(WordCount): remove elements when timeout
  dist/WordCount/WordCount.js
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, eslint --fix

build: update dist/store.txt
  dist/store.txt
Due: none

fix(PreviewWithVariant): fix typo in messages
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/messages.ts
Due: prettier --write, eslint --fix

fix(PreviewWithVariant): fix typo in messages (#1115)
  dist/PreviewWithVariant/PreviewWithVariant.js
  src/PreviewWithVariant/modules/messages.ts
Due: prettier --write, eslint --fix

build: re-generate dist
  dist/CookieWarning/CookieWarning.css
  dist/CookieWarning/CookieWarning.js
  dist/FloatTOC/FloatTOC.js
  dist/OnlineAdmins/OnlineAdmins.css
  dist/OnlineAdmins/OnlineAdmins.js
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/TextSpacing/TextSpacing.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor: add names to some functions
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.js
  dist/MarkRights/MarkRights.js
  dist/NoteTA/NoteTA.js
  dist/RollbackSummary/RollbackSummary.js
  dist/ShortURL/ShortURL.js
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/DiffLink/DiffLink.ts
  src/MarkRights/MarkRights.ts
  src/NoteTA/NoteTA.ts
  src/RollbackSummary/RollbackSummary.ts
  src/ShortURL/ShortURL.ts
Due: prettier --write, eslint --fix

refactor: add names to some functions (#1116)
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DiffLink/DiffLink.js
  dist/MarkRights/MarkRights.js
  dist/NoteTA/NoteTA.js
  dist/RollbackSummary/RollbackSummary.js
  dist/ShortURL/ShortURL.js
  src/CopyCodeBlock/CopyCodeBlock.ts
  src/DiffLink/DiffLink.ts
  src/MarkRights/MarkRights.ts
  src/NoteTA/NoteTA.ts
  src/RollbackSummary/RollbackSummary.ts
  src/ShortURL/ShortURL.ts
Due: prettier --write, eslint --fix

refactor(QuickPatrol): optimize logic
  dist/QuickPatrol/QuickPatrol.js
  dist/definition.txt
  src/MwApiParams.d.ts
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/QuickPatrol.tsx
  src/QuickPatrol/definition.json
  src/QuickPatrol/modules/api.ts
  src/QuickPatrol/modules/core.ts
  src/QuickPatrol/modules/i18n.ts
  src/QuickPatrol/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(QuickPatrol): optimize logic (#1117)
  dist/QuickPatrol/QuickPatrol.js
  dist/definition.txt
  src/MwApiParams.d.ts
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/QuickPatrol.tsx
  src/QuickPatrol/definition.json
  src/QuickPatrol/modules/api.ts
  src/QuickPatrol/modules/core.ts
  src/QuickPatrol/modules/i18n.ts
  src/QuickPatrol/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: update `MwApiParams.d.ts`
  src/MwApiParams.d.ts
Due: prettier --write, eslint --fix

refactor: update `MwApiParams.d.ts` (#1118)
  src/MwApiParams.d.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
