Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

fix(QueryContributors): add try-catch wrap
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): add try-catch wrap (#1624)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
Due: prettier --write, eslint --fix

fix(MarkRights): typo in code
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

fix(MarkRights): typo in code (#1625)
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/core.ts
Due: prettier --write, eslint --fix

build: bump chinese-days to 1.4.0
  dist/ChineseDays/ChineseDays.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: bump chinese-days to 1.4.0 (#1626)
  dist/ChineseDays/ChineseDays.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

docs: update CoC
  CODE_OF_CONDUCT.md
Due: none

fix(ShortURL): remove qwbk.org
  dist/ShortURL/ShortURL.js
  src/ShortURL/modules/util/getShortDomains.ts
Due: prettier --write, eslint --fix

fix(ShortURL): remove qwbk.org (#1627)
  dist/ShortURL/ShortURL.js
  src/ShortURL/modules/util/getShortDomains.ts
Due: prettier --write, eslint --fix

fix(CAL): add judgement to categories
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(CAL): add judgement to categories (#1628)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(PurgePageCache): temporarily set forcelinkupdate to false
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/modules/purge.ts
Due: prettier --write, eslint --fix

fix(PurgePageCache): temporarily set forcelinkupdate to false (#1629)
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/modules/purge.ts
Due: prettier --write, eslint --fix

refactor(MarkBlocked): add global block & global lock query
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/i18n.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MwApiParams.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(MarkBlocked): add global block & global lock query (#1630)
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/i18n.ts
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MwApiParams.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(MarkBlocked): follow commit b3e3327eb0f8bf495d0d1cac18675857c6d7521a
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/markBlockedUser.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(MarkBlocked): follow commit b3e3327eb0f8bf495d0d1cac18675857c6d7521a (#1631)
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/markBlockedUser.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

feat(Util): add queryUserGroups
  dist/Util/Util.js
  dist/definition.txt
  src/Util/Util.ts
  src/Util/definition.json
  src/Util/modules/global.d.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(Util): add queryUserGroups (#1632)
  dist/Util/Util.js
  dist/definition.txt
  src/Util/Util.ts
  src/Util/definition.json
  src/Util/modules/global.d.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(Util): add findVariants
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/findVariants.ts
  src/Util/modules/global.d.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

chore(PreviewWithVariant2017): add quote to formatversion
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix

chore(PreviewWithVariant2017): add quote to formatversion (#1633)
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix

feat(Util): add findVariants (#1634)
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/findVariants.ts
  src/Util/modules/global.d.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

fix(SiteCommon/talkPage): styles for DiscussionTools
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/talkPage): styles for DiscussionTools (#1635)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(Wikiplus): update from upstream <https://git.qiuwen.net.cn/InterfaceAdmin/Wikiplus/commit/6eb3762be29b1b7decd0d4c1cf886df3e7e5f316>
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/ui.js
  src/Wikiplus/modules/index.js
Due: prettier --write, eslint --fix

build(Wikiplus): update from upstream <https://github.com/bhsd-harry/Wikiplus-highlight/>
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(Wikiplus): update from upstream <https://git.qiuwen.net.cn/InterfaceAdmin/Wikiplus/commit/6eb3762be29b1b7decd0d4c1cf886df3e7e5f316> (#1636)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/core/ui.js
  src/Wikiplus/modules/index.js
Due: prettier --write, eslint --fix

build(Wikiplus): update from upstream <https://github.com/bhsd-harry/Wikiplus-highlight/> (#1637)
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/highlight.ts
  src/Wikiplus-highlight/modules/index.d.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist; format
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix

build: update monaco-editor
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dist; format; update monaco-editor (#1638)
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/PreviewWithVariant2017/modules/processVisualEditor.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon): mobile table styles should not apply to infoboxes
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon): mobile table styles should not be applie to infoboxes (#1639)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mobile.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(ShortURL): class for link icon
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL/definition.json
  src/ShortURL/modules/addLink.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(ShortURL): class for link icon (#1640)
  dist/ShortURL-pagestyles/ShortURL-pagestyles.css
  dist/ShortURL/ShortURL.js
  dist/definition.txt
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL/definition.json
  src/ShortURL/modules/addLink.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: optimize format
  dist/EasyArchive/EasyArchive.js
  dist/LogFilter/LogFilter.js
  dist/PagePatroller/PagePatroller.js
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/EasyArchive/modules/util/react.tsx
  src/LogFilter/modules/core.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/RRD/components/ReportButton.tsx
  src/SpecialWikitext/components/generateElements.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: optimize format (#1641)
  dist/EasyArchive/EasyArchive.js
  dist/LogFilter/LogFilter.js
  dist/PagePatroller/PagePatroller.js
  dist/RRD/RRD.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/EasyArchive/modules/util/react.tsx
  src/LogFilter/modules/core.tsx
  src/PagePatroller/modules/elementWrap.tsx
  src/RRD/components/ReportButton.tsx
  src/SpecialWikitext/components/generateElements.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(MarkBlocked): split module; fix & optimize logic
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/types.d.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/queryGlobalUserInfo.ts
  src/MarkBlocked/modules/util/queryUserBlocks.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(MarkBlocked): split module; fix & optimize logic (#1642)
  dist/MarkBlocked/MarkBlocked.css
  dist/MarkBlocked/MarkBlocked.js
  src/MarkBlocked/modules/MarkBlocked.module.less
  src/MarkBlocked/modules/markBlockedUser.ts
  src/MarkBlocked/modules/types.d.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/MarkBlocked/modules/util/markLinks.ts
  src/MarkBlocked/modules/util/queryGlobalUserInfo.ts
  src/MarkBlocked/modules/util/queryUserBlocks.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix
