Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build(Wikiplus): bump to 4.1.0
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/utils/constants.js
Due: prettier --write, eslint --fix

build(Wikiplus): bump to 4.1.0 (#1662)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/modules/utils/constants.js
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): class name changes
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --write, eslint --fix

fix(SiteCommon_JS): class name changes (#1663)
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/SiteCommon_JS/modules/tippy.ts
Due: prettier --write, eslint --fix

build: re-generate dist
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/AdvancedSiteNotices/modules/showNotice.tsx
Due: prettier --write, eslint --fix

build: re-generate dist (#1664)
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/AdvancedSiteNotices/modules/showNotice.tsx
Due: prettier --write, eslint --fix

build: re-generate dist
  dist/GeoLocationReader/GeoLocationReader.js
  dist/QuickImport/QuickImport.js
  dist/React/React.js
  dist/i18n/i18n.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: re-generate dist (#1666)
  dist/GeoLocationReader/GeoLocationReader.js
  dist/QuickImport/QuickImport.js
  dist/React/React.js
  dist/i18n/i18n.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: re-generate dist
  dist/Wikiplus-highlight/Wikiplus-highlight.js
Due: prettier --write, eslint --fix

fix(QuickPatrol): change mount point for patrolAllPages button
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/modules/patrolPages.tsx
Due: prettier --write, eslint --fix

fix(QuickPatrol): change mount point for patrolAllPages button (#1667)
  dist/QuickPatrol/QuickPatrol.js
  src/QuickPatrol/QuickPatrol.ts
  src/QuickPatrol/modules/patrolPages.tsx
Due: prettier --write, eslint --fix

fix(SiteCommon/talkPage): styles for DiscussionTools (#1654)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/talkPage): styles for DiscussionTools (#1654) (#1668)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/talkPage.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(WPHL): bump to 3.2.5
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix

build(WPHL): bump to 3.2.5 (#1669)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/modules/core.ts
  src/Wikiplus-highlight/modules/main.ts
Due: prettier --write, eslint --fix

build(Wikiplus): optimize load function
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.ts
Due: prettier --write, eslint --fix

build(Wikiplus): optimize load function (#1670)
  dist/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.ts
Due: prettier --write, eslint --fix

feat(Util): add queryGlobalUserGroup
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/queryGlobalUserGroups.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

feat(Util): add queryGlobalUserGroup (#1671)
  dist/Util/Util.js
  src/Util/Util.ts
  src/Util/modules/global.d.ts
  src/Util/modules/queryGlobalUserGroups.ts
  src/Util/modules/queryUserGroups.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): add query cache
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
Due: prettier --write, eslint --fix

fix(QueryContributors): add query cache (#1672)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/modules/getContributors.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): add query cache
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/i18n.ts
  src/WhoIsActive/modules/types.d.ts
  src/WhoIsActive/modules/util/api.ts
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/getLastActiveMarker.tsx
  src/WhoIsActive/modules/util/getUserContribsTimestamp.ts
  src/WhoIsActive/modules/util/getUserNamesAndElements.ts
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(WhoIsActive): add query cache (#1673)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/i18n.ts
  src/WhoIsActive/modules/types.d.ts
  src/WhoIsActive/modules/util/api.ts
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/getLastActiveMarker.tsx
  src/WhoIsActive/modules/util/getUserContribsTimestamp.ts
  src/WhoIsActive/modules/util/getUserNamesAndElements.ts
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies; generate dist
  dist/ChineseDays/ChineseDays.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dependencies; generate dist (#1675)
  dist/ChineseDays/ChineseDays.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(WhoIsActivve): add logEvent query
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/types.d.ts
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/getTimestamp.ts
  src/WhoIsActive/modules/util/getUserContribsTimestamp.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): fix typo
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
Due: prettier --write, eslint --fix

fix(WhoIsActive): add logEvent query (#1676)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/types.d.ts
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/getTimestamp.ts
  src/WhoIsActive/modules/util/getUserContribsTimestamp.ts
Due: prettier --write, eslint --fix

fix(PurgePageCache): revert commit 44a132d313721064b681ad5e91a517a3cece0838
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/modules/purge.ts
Due: prettier --write, eslint --fix

fix(PurgePageCache): revert commit 44a132d313721064b681ad5e91a517a3cece0838 (#1677)
  dist/PurgePageCache/PurgePageCache.js
  src/PurgePageCache/modules/purge.ts
Due: prettier --write, eslint --fix

fix(WhoIsActivve): remove zero value
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

fix(WhoIsActivve): remove zero value (#1678)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/getTimestamp.ts
Due: prettier --write, eslint --fix

refactor(GeoLocationReader, MarkRights*): add query cache
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/definition.txt
  src/GeoLocationReader/definition.json
  src/GeoLocationReader/modules/addElement.ts
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/getPermissions.ts
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
  src/MarkRights/modules/util/getUserGroups.ts
  src/MarkRights/modules/util/query.ts
  src/MarkRights/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(GeoLocationReader, MarkRights*): add query cache (#1679)
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/definition.txt
  src/GeoLocationReader/definition.json
  src/GeoLocationReader/modules/addElement.ts
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/getPermissions.ts
  src/MarkRights/MarkRights.ts
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/global.d.ts
  src/MarkRights/modules/util/getUserGroups.ts
  src/MarkRights/modules/util/query.ts
  src/MarkRights/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(MarkRights): typo
  dist/MarkRights/MarkRights.js
  src/MarkRights/modules/util/getUserGroups.ts
Due: prettier --write, eslint --fix
