Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

style(EditorConfig): set special rules for SVG files (#194)
  .editorconfig
Due: prettier --cache --ignore-unknown --write

build(lint-staged): enable lint for SVG files (#195)
  .lintstagedrc
Due: prettier --cache --ignore-unknown --write

refactor(Report): separate into modules
  src/Report/.eslintrc
  src/Report/Report.less
  src/Report/Report.ts
  src/Report/modules/addButton.ts
  src/Report/modules/addPortletLink.ts
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
  src/Report/modules/i18n.ts
  src/Report/modules/input.ts
  src/Report/modules/sidebar.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Report): separate into modules (#196)
  src/Report/.eslintrc
  src/Report/Report.less
  src/Report/Report.ts
  src/Report/modules/addButton.ts
  src/Report/modules/addPortletLink.ts
  src/Report/modules/constant.ts
  src/Report/modules/fillSpecialPage.ts
  src/Report/modules/i18n.ts
  src/Report/modules/input.ts
  src/Report/modules/sidebar.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add tippy.js as dependency
  package.json
  pnpm-lock.yaml
  src/Tippy/LICENSE
  src/Tippy/Tippy.less
  src/Tippy/Tippy.ts
  src/Tippy/definition.json
  src/index.d.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat: add tippy.js as dependency (#197)
  package.json
  pnpm-lock.yaml
  src/Tippy/LICENSE
  src/Tippy/Tippy.less
  src/Tippy/Tippy.ts
  src/Tippy/definition.json
  src/index.d.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Report): follow ea3fd39
  src/Report/definition.json
  src/Report/modules/addButton.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Report): follow ea3fd39 (#198)
  src/Report/definition.json
  src/Report/modules/addButton.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: fix background color under `.client-darkmode`
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/historyLog.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(Report): add `mw.loader.using()` to avoid using `window.tippy` before loaded
  src/Report/modules/addButton.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: background color under `.client-darkmode`; add `mw.loader.using` to avoid using functions before loaded (#199)
  src/GadgetsDefinition/GadgetsDefinition.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/Report/modules/addButton.ts
  src/SiteCommon/modules/historyLog.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/uploadText.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(ScrollUpButton): add tip using `tippy.js`
  src/ScrollUpButton/definition.json
  src/ScrollUpButton/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(ScrollUpButton): add tip using `tippy.js` (#200)
  src/ScrollUpButton/definition.json
  src/ScrollUpButton/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove unnecessary `mw.loader.using`
  src/Group-user_JS/modules/addSubpageAndLog.ts
  src/Navigation_popups/modules/core.js
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove unnecessary `mw.loader.using` (#201)
  src/Group-user_JS/modules/addSubpageAndLog.ts
  src/Navigation_popups/modules/core.js
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

style(vscode): update recommended configuration
  .vscode/extensions.json
Due: prettier --cache --ignore-unknown --write

refactor(util): add common methods changeOpacityWhenMouseEnterOrLeave scrollTop
  src/FloatTOC/modules/core.ts
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/core.ts
  src/SmoothTOC/modules/core.ts
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

style(vscode): update recommended configuration (#202)
  .vscode/extensions.json
Due: prettier --cache --ignore-unknown --write

refactor(util): add common methods (#203)
  src/FloatTOC/modules/core.ts
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/core.ts
  src/SmoothTOC/modules/core.ts
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update license information
  src/AdvancedSiteNotices/LICENSE
  src/Cat-a-lot/LICENSE
  src/Edittools-refToolbar/RefToolbar.js
  src/GeoLocationReader/LICENSE
  src/HistoryDisclaimer/LICENSE
  src/HotCat/HotCat.js
  src/ListUsersLastActive/ListUsersLastActive.ts
  src/Mainpage-ChineseNewYear/LICENSE
  src/MarkRights/MarkRights.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/ScrollUpButton/LICENSE
  src/ShortURL/LICENSE
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/grayLink.less
  src/SiteCommon/modules/hlist.less
  src/SiteCommon/modules/mmv.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/print.less
  src/SiteCommon/modules/uploadText.less
  src/SkinVector/SkinVector.less
  src/SkinWrite/SkinWrite.less
  src/WhoIsActive/LICENSE
  src/Wikiplus/LICENSE
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs: update license information (#204)
  src/AdvancedSiteNotices/LICENSE
  src/Cat-a-lot/LICENSE
  src/Edittools-refToolbar/RefToolbar.js
  src/GeoLocationReader/LICENSE
  src/HistoryDisclaimer/LICENSE
  src/HotCat/HotCat.js
  src/ListUsersLastActive/ListUsersLastActive.ts
  src/Mainpage-ChineseNewYear/LICENSE
  src/MarkRights/MarkRights.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/ScrollUpButton/LICENSE
  src/ShortURL/LICENSE
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/grayLink.less
  src/SiteCommon/modules/hlist.less
  src/SiteCommon/modules/mmv.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/print.less
  src/SiteCommon/modules/uploadText.less
  src/SkinVector/SkinVector.less
  src/SkinWrite/SkinWrite.less
  src/WhoIsActive/LICENSE
  src/Wikiplus/LICENSE
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ScrollUpButton): separate into modules
  src/Report/modules/addButton.ts
  src/ScrollUpButton/ScrollUpButton.less
  src/ScrollUpButton/ScrollUpButton.ts
  src/ScrollUpButton/modules/constant.ts
  src/ScrollUpButton/modules/core.ts
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ScrollUpButton): separate into modules (#205)
  src/Report/modules/addButton.ts
  src/ScrollUpButton/ScrollUpButton.less
  src/ScrollUpButton/ScrollUpButton.ts
  src/ScrollUpButton/modules/constant.ts
  src/ScrollUpButton/modules/core.ts
  src/ScrollUpButton/modules/element.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): the `scrollTop` method options (#206)
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): the `scrollTop` method options missing default `option.seasing` parameter
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): parameter type of `scrollTop` method
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(util): parameter type of `scrollTop` method (#207)
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(MarkRights-Userpage): spelling error
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(MarkRights-Userpage): spelling error (#208)
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove unused code
  src/CopyCodeBlock/modules/addCopyListener.ts
  src/HotCat/HotCat.js
  src/PrintOptions/PrintOptions.js
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklespeedy.js
  src/Wikicache/modules/core.js
  src/index.d.ts
  src/morebits/morebits.js
  src/select2/select2.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove unused code (#209)
  src/CopyCodeBlock/modules/addCopyListener.ts
  src/HotCat/HotCat.js
  src/PrintOptions/PrintOptions.js
  src/Report/modules/addButton.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklediff.js
  src/Twinkle/modules/twinklespeedy.js
  src/Wikicache/modules/core.js
  src/index.d.ts
  src/morebits/morebits.js
  src/select2/select2.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ScrollUpButton): use BEM coding conventions
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/ScrollUpButton/ScrollUpButton.less
  src/ScrollUpButton/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Group-user): typo in class name
  src/Group-user/Group-user.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(Report): remove `mw.loader.using('ext.gadget.Tippy')`
  src/Report/modules/addButton.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: typo in CSS; follow https://github.com/qiuwenbaike/QiuwenGadgets/pull/209
  src/Group-user/Group-user.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: typo in CSS; follow https://github.com/qiuwenbaike/QiuwenGadgets/pull/209 (#211)
  src/Group-user/Group-user.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

feat(Tippy-Extensions): add new gadget
  src/Tippy-Extensions/core.ts
  src/Tippy-Extensions/definition.json
  src/Tippy-Extensions/modules/constant.ts
  src/Tippy-Extensions/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(Tippy-Extensions): add new gadget (#212)
  src/Tippy-Extensions/core.ts
  src/Tippy-Extensions/definition.json
  src/Tippy-Extensions/modules/constant.ts
  src/Tippy-Extensions/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(Tippy-Extensions): rename
  src/Tippy-Extensions/Tippy-Extensions.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore(Tippy-Extensions): rename (#213)
  src/Tippy-Extensions/Tippy-Extensions.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
