Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(RefToolbar): remove `$()`
  src/Edittools-refToolbar/modules/RefToolbar.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(RefToolbar): remove `$()` (follow #291) (#292)
  src/Edittools-refToolbar/modules/RefToolbar.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(RefToolbar): move config to bottom
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update font-size
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): separate into modules (#293)
  src/AccessKeyCheatsheet/modules/core.ts
  src/AccessKeyCheatsheet/modules/util/generateAccessKeysTableWithOpener.ts
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AccessKeyCheatsheet): separate into modules
  src/AccessKeyCheatsheet/modules/core.ts
  src/AccessKeyCheatsheet/modules/util/generateAccessKeysTableWithOpener.ts
  src/AccessKeyCheatsheet/modules/util/generateMessageDialogProperty.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(RefToolbar): move config to bottom (#294)
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarConfig.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: update font-size (#295)
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(AddSectionPlus): use chain calls
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AddSectionPlus): use chain calls (#296)
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): explicitly declare return type
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(AdvancedSiteNotices): explicitly declare return type (#297)
  src/AdvancedSiteNotices/AdvancedSiteNotices.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(Edittools-refToolbar): add missing dependencies for messages
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/definition.json
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.js
  src/Edittools-refToolbar/modules/constant.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(Edittools-refToolbar): add missing dependencies for messages (#298)
  src/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/definition.json
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarMessages.js
  src/Edittools-refToolbar/modules/constant.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ToolsRedirect*): split LESS
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-pagestyles/LICENSE
  src/ToolsRedirect-pagestyles/ToolsRedirect-pagestyles.less
  src/ToolsRedirect-pagestyles/definition.json
  src/ToolsRedirect/LICENSE
  src/ToolsRedirect/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(ToolsRedirect*): split LESS (#299)
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
  src/ToolsRedirect-pagestyles/LICENSE
  src/ToolsRedirect-pagestyles/ToolsRedirect-pagestyles.less
  src/ToolsRedirect-pagestyles/definition.json
  src/ToolsRedirect/LICENSE
  src/ToolsRedirect/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(Edittools-refToolbar): fix dependencies
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/util.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build(Edittools-refToolbar): fix dependencies (#300)
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/util.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: typo
  src/Edittools-refToolbar/modules/util.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(StikcyTableHeader*): split LESS
  src/StickyTableHeaders-pagestyles/LICENSE
  src/StickyTableHeaders-pagestyles/StickyTableHeaders.less
  src/StickyTableHeaders-pagestyles/definition.json
  src/StickyTableHeaders/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(OnlineAdmins*): split LESS
  src/OnlineAdmins-pagestyles/LICENSE
  src/OnlineAdmins-pagestyles/OnlineAdmins.less
  src/OnlineAdmins-pagestyles/definition.json
  src/OnlineAdmins/definition.json
  src/StickyTableHeaders-pagestyles/definition.json
  src/StickyTableHeaders/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: split LESS; fix typo (#301)
  src/Edittools-refToolbar/modules/util.js
  src/OnlineAdmins-pagestyles/LICENSE
  src/OnlineAdmins-pagestyles/OnlineAdmins.less
  src/OnlineAdmins-pagestyles/definition.json
  src/OnlineAdmins/definition.json
  src/StickyTableHeaders-pagestyles/LICENSE
  src/StickyTableHeaders-pagestyles/StickyTableHeaders.less
  src/StickyTableHeaders-pagestyles/definition.json
  src/StickyTableHeaders/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: wrong file name (follow #301)
  src/OnlineAdmins-pagestyles/OnlineAdmins-pagestyles.less
  src/StickyTableHeaders-pagestyles/StickyTableHeaders-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: wrong file name (follow #301) (#302)
  src/OnlineAdmins-pagestyles/OnlineAdmins-pagestyles.less
  src/StickyTableHeaders-pagestyles/StickyTableHeaders-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Popups*): split LESS
  src/Navigation_popups-pagestyles/LICENSE
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/Navigation_popups-pagestyles/definition.json
  src/Navigation_popups/LICENSE
  src/Navigation_popups/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(ProveIt*): split LESS
  src/ProveIt-pagestyles/LICENSE
  src/ProveIt-pagestyles/ProveIt-pagestyles.less
  src/ProveIt-pagestyles/definition.json
  src/ProveIt/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(ShortURL*): split LESS
  src/ShortURL-pagestyles/LICENSE
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/LICENSE
  src/ShortURL/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: split LESS (follow #301) (#303)
  src/Navigation_popups-pagestyles/LICENSE
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/Navigation_popups-pagestyles/definition.json
  src/Navigation_popups/LICENSE
  src/Navigation_popups/definition.json
  src/ProveIt-pagestyles/LICENSE
  src/ProveIt-pagestyles/ProveIt-pagestyles.less
  src/ProveIt-pagestyles/definition.json
  src/ProveIt/definition.json
  src/ShortURL-pagestyles/LICENSE
  src/ShortURL-pagestyles/ShortURL-pagestyles.less
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/LICENSE
  src/ShortURL/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(ShortURL*): move images/
  src/ShortURL-pagestyles/images/link.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(ShortURL*): move images/ (follow #303) (#304)
  src/ShortURL-pagestyles/images/link.svg
Due: svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(Ding): optimize styles
  src/Ding-pagestyles/Ding-pagestyles.less
  src/Ding/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Ding): optimize styles (#305)
  src/Ding-pagestyles/Ding-pagestyles.less
  src/Ding/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(CookieWarning): add dependencies
  src/CookieWarning/definition.json
Due: prettier --cache --ignore-unknown --write

fix(Ding): optimize styles
  src/Ding/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(CookieWarning): add dependencies (#306)
  src/CookieWarning/definition.json
  src/Ding/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(CookieWarning): optimize styles
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(CookieWarning): optimize styles (#307)
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: use existing less variables (#308)
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/Ding-pagestyles/Ding-pagestyles.less
  src/DisamAssist-pagestyles/DisamAssist-pagestyles.less
  src/EditForm/EditForm.less
  src/FloatTOC-pagestyles/FloatTOC-pagestyles.less
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/ProveIt-pagestyles/ProveIt-pagestyles.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/hatnote.less
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/print.less
  src/SiteCommon/modules/uploadText.less
  src/Toastify-pagestyles/Toastify-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/morebits/morebits.less
  src/select2/select2.less
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: use existing less variables
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/Ding-pagestyles/Ding-pagestyles.less
  src/DisamAssist-pagestyles/DisamAssist-pagestyles.less
  src/EditForm/EditForm.less
  src/FloatTOC-pagestyles/FloatTOC-pagestyles.less
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/NavFrame-pagestyles/NavFrame-pagestyles.less
  src/Navigation_popups-pagestyles/Navigation_popups-pagestyles.less
  src/NoteTA-pagestyles/NoteTA-pagestyles.less
  src/ProveIt-pagestyles/ProveIt-pagestyles.less
  src/SiteCommon/modules/blockedText.less
  src/SiteCommon/modules/filePage.less
  src/SiteCommon/modules/hatnote.less
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/newArticleText.less
  src/SiteCommon/modules/noArticleText.less
  src/SiteCommon/modules/print.less
  src/SiteCommon/modules/uploadText.less
  src/Toastify-pagestyles/Toastify-pagestyles.less
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/morebits/morebits.less
  src/select2/select2.less
  src/variables.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(AjaxLogin): cannot close window no window is currently open
  src/AjaxLogin/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
