Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

build: update dists
  dist/Twinkle-pagestyles/Twinkle-pagestyles.css
  dist/Twinkle-pagestyles/Twinkle.css
  dist/definition.txt
  dist/store.txt
  src/Twinkle-pagestyles/Twinkle-pagestyles.less
Due: prettier --write, stylelint --allow-empty-input --fix

style(SiteCommon_Templates): adjust hatnote font size to 0.85em for better visual effects
  src/SiteCommon_Templates/modules/hatnote.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(FullWidthSearchFix): include location.origin in MwUri constructor for correct URL formation
  src/FullwidthSearchFix/modules/redirect.ts
Due: prettier --write, eslint --fix

build: update dist
  dist/SiteCommon_Templates/SiteCommon_Templates.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix: variables in :root may have higher priority
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/normalize.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix: variables in :root may have higher priority (#1863)
  dist/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.css
  dist/NospzGothic/NospzGothic.css
  dist/SiteCommon/SiteCommon.css
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/NospzGothic/NospzGothic.less
  src/SiteCommon/modules/normalize.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(Wikiplus-highlight): upgrade version
  dist/ChineseDays/ChineseDays.js
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/src/core.ts
  src/Wikiplus-highlight/src/index.d.ts
  src/Wikiplus-highlight/src/main.ts
  src/Wikiplus-highlight/style.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(Wikiplus-highlight): upgrade version (#1864)
  dist/ChineseDays/ChineseDays.js
  dist/Wikiplus-highlight/Wikiplus-highlight.css
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  package.json
  pnpm-lock.yaml
  src/Wikiplus-highlight/Wikiplus-highlight.ts
  src/Wikiplus-highlight/src/core.ts
  src/Wikiplus-highlight/src/index.d.ts
  src/Wikiplus-highlight/src/main.ts
  src/Wikiplus-highlight/style.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Twinkle): remove duplicated wording in SOAP block reason and summary
  dist/FullwidthSearchFix/FullwidthSearchFix.js
  dist/SiteCommon_Templates/SiteCommon_Templates.css
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/twinkleblock.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: update dist
  dist/ChineseDays/ChineseDays.js
Due: prettier --write, eslint --fix

build: bump mwn to 3.0.2
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump @bhsd/codemirror-mediawiki to 3.14.0
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump @bhsd/codemirror-mediawiki to 3.15.0
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump version for dependencies
  .eslintrc
  package.json
  patches/esbuild-css-modules-plugin.patch
  patches/eslint-config-wikimedia.patch
  patches/types-mediawiki-api.patch
  pnpm-lock.yaml
  scripts/modules/build-esbuild_options.ts
  scripts/modules/utils/build-util.ts
  src/AdvancedSiteNotices-pagestyles/AdvancedSiteNotices-pagestyles.less
  src/Cat-a-lot/modules/core.tsx
  src/EditConflict/modules/util/queryPageInfo.ts
  src/MarkBlocked/modules/util/generateUserLinks.ts
  src/QuickImportAllMedia/modules/core.ts
  src/SiteCommon/modules/cite.less
  src/SiteCommon_JS/modules/tippy.ts
  src/UserRightsManager/modules/assignPermission.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update workflows
  .github/workflows/lint.yml
  .github/workflows/sync.yml
Due: none

Potential fix for code scanning alert no. 150: Workflow does not contain permissions
  .github/workflows/lint.yml
Due: none

build: update dependencies for security issues
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump fast-uri to 3.1.2
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump picomatch to 2.3.2
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump dompurify to 3.4.0
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump brace-expansion to 1.1.14
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: bump ajv to 8.18.0
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update package patches
  package.json
  patches/esbuild-css-modules-plugin.patch
  patches/eslint-config-wikimedia.patch
  patches/eslint-plugin-no-jquery.patch
  patches/types-mediawiki-api.patch
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: upgrade dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update dists
  dist/Cat-a-lot/Cat-a-lot.js
  dist/ChineseDays/ChineseDays.js
  dist/EasyArchive/EasyArchive.js
  dist/EditConflict/EditConflict.js
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/JSX/JSX.js
  dist/MarkBlocked/MarkBlocked.js
  dist/Navigation_popups/Navigation_popups.js
  dist/NoteTA/NoteTA.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/TextSpacing/TextSpacing.js
  dist/Tippy/Tippy.js
  dist/ToolsRedirect/ToolsRedirect.js
  dist/Twinkle/Twinkle.js
  dist/UserRightsManager/UserRightsManager.js
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  dist/Wikiplus/Wikiplus.js
  dist/i18n/i18n.js
  dist/morebits/morebits.js
Due: prettier --write, eslint --fix

build: update dists
  docs/how-to-build-or-deploy.md
  docs/how-to-use-exports-and-require-in-mediawiki.md
  docs/how-to-use-jsx-and-tsx-with-jsxdom.md
Due: none

build: update packages
  package.json
  pnpm-lock.yaml
  scripts/modules/build-esbuild_options.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update packages
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

Potential fix for code scanning alert no. 151: Bad HTML filtering regexp
  dist/morebits/morebits.js
Due: prettier --write, eslint --fix

fix(morebits): normalize `--!>` to `-->`
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

Potential fix for code scanning alert no. 151: Bad HTML filtering regexp (#1883)
  dist/morebits/morebits.js
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

build: upgrade dependencies
  .eslintignore
  .eslintrc
  eslint.config.mjs
  package.json
  patches/eslint-plugin-no-jquery.patch
  pnpm-lock.yaml
  scripts/modules/utils/.eslintrc
  scripts/modules/utils/build-util.ts
  scripts/modules/utils/deploy-util.ts
  scripts/modules/utils/general-util.ts
  src/Cat-a-lot/modules/.eslintrc
  src/Edittools-refToolbar/.eslintrc
  src/HotCat/.eslintrc
  src/Navigation_popups/.eslintrc
  src/ToolsRedirect/.eslintrc
  src/Twinkle/.eslintrc
  src/VariantAlly/.eslintrc
  src/VariantAllyDialog/.eslintrc
  src/Wikiplus-highlight/.eslintrc
  src/Wikiplus/.eslintrc
  src/Wikiplus/modules/.eslintrc
  src/morebits/.eslintrc
  src/select2/.eslintrc
  tsconfig.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dists
  dist/AutoLink/AutoLink.js
  dist/BanPage/BanPage.js
  dist/Clipboard/Clipboard.js
  dist/ConfirmLogout/ConfirmLogout.js
  dist/CopyCodeBlock/CopyCodeBlock.js
  dist/DefaultSummaries/DefaultSummaries.js
  dist/DiffLink/DiffLink.js
  dist/DisamAssist/DisamAssist.js
  dist/Edit0/Edit0.js
  dist/Editform_Attribution/Editform_Attribution.js
  dist/Editform_Patch2017/Editform_Patch2017.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/FoldRef/FoldRef.js
  dist/GadgetsDefinition/GadgetsDefinition.js
  dist/GeoLocation/GeoLocation.js
  dist/HideLongSummaries/HideLongSummaries.js
  dist/HotCat/HotCat.js
  dist/ListUsersLastActive/ListUsersLastActive.js
  dist/LoadRNRSCredentials/LoadRNRSCredentials.js
  dist/MarkBlocked/MarkBlocked.js
  dist/MemorialDay/MemorialDay.js
  dist/Navigation_popups/Navigation_popups.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/PrintOptions/PrintOptions.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/RightTopicons/RightTopicons.js
  dist/SmoothTOC/SmoothTOC.js
  dist/StickyTableHeaders/StickyTableHeaders.js
  dist/Switcher/Switcher.js
  dist/TextSpacing/TextSpacing.js
  dist/Toastify/Toastify.js
  dist/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.js
  dist/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.js
  dist/TranslatedPage/TranslatedPage.js
  dist/UserRightsManager/UserRightsManager.js
  dist/VariantAllyDialog/VariantAllyDialog.js
  dist/definition.txt
  dist/morebits/morebits.js
Due: prettier --write, eslint --fix

build: update packages
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: update packages
  src/UserRightsManager/.eslintrc
Due: none

build: update packages
  eslint.config.mjs
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
