Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(URM): follow
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DefaultSummaries): separate into modules
  src/AdvancedSiteNotices/modules/constant.ts
  src/DefaultSummaries/.eslintrc
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/addHook.ts
  src/DefaultSummaries/modules/addVisualEditorPlugin.ts
  src/DefaultSummaries/modules/constant.ts
  src/DefaultSummaries/modules/core.ts
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/SiteCommon_JS/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DefaultSummaries): separate into modules (#488)
  src/AdvancedSiteNotices/modules/constant.ts
  src/DefaultSummaries/.eslintrc
  src/DefaultSummaries/DefaultSummaries.ts
  src/DefaultSummaries/modules/addHook.ts
  src/DefaultSummaries/modules/addVisualEditorPlugin.ts
  src/DefaultSummaries/modules/constant.ts
  src/DefaultSummaries/modules/core.ts
  src/DefaultSummaries/modules/messages.ts
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/DefaultSummaries/modules/util/generateSummaryDropdown.ts
  src/SiteCommon_JS/modules/constant.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(URM): temporarily fixing `initDialog()` (#489)
  src/UserRightsManager/LICENSE
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(URM): $(this)
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

follow commit e8f21d6 (#490)
  src/UserRightsManager/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DidYouMean): use toastify
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/definition.json
  src/DidYouMean/modules/constant.ts
  src/DidYouMean/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DidYouMean): use toastify (#491)
  src/DidYouMean/DidYouMean.ts
  src/DidYouMean/definition.json
  src/DidYouMean/modules/constant.ts
  src/DidYouMean/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DiffLink): separate into modules
  src/DiffLink/modules/addHook.ts
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/api.ts
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/DiffLink/modules/processId.ts
  src/DiffLink/modules/util/checkDiffPage.ts
  src/DiffLink/modules/util/checkRevisionPage.ts
  src/DiffLink/modules/util/queryApi.ts
  src/DiffLink/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DiffLink): separate into modules (#492)
  src/DiffLink/modules/addHook.ts
  src/DiffLink/modules/addPortletLink.ts
  src/DiffLink/modules/api.ts
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/compareWithRemoteDiffId.ts
  src/DiffLink/modules/processId.ts
  src/DiffLink/modules/util/checkDiffPage.ts
  src/DiffLink/modules/util/checkRevisionPage.ts
  src/DiffLink/modules/util/queryApi.ts
  src/DiffLink/options.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(IsCompatible): init commit
  src/IsCompatible/IsCompatible.ts
  src/IsCompatible/LICENSE
  src/IsCompatible/definition.json
  src/IsCompatible/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

feat(isCompatible): introduce isCompatible (#493)
  src/IsCompatible/IsCompatible.ts
  src/IsCompatible/LICENSE
  src/IsCompatible/definition.json
  src/IsCompatible/modules/i18n.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(IsCompatible): use mw.cookie()
  src/IsCompatible/IsCompatible.ts
  src/IsCompatible/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

build: update browserslistrc
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

build: add `not dead`, switch to modern
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

refactor(IsCompatible): use `mw.cookie`; update `browserslistrc` (#494)
  .browserslistrc
  src/IsCompatible/IsCompatible.ts
  src/IsCompatible/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(DiffLink): add missing parameter
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/processId.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(DiffLink): add missing parameter (#495)
  src/DiffLink/modules/buildLink.ts
  src/DiffLink/modules/processId.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(NavboxCSS): add fallback for top navbar in navboxes
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(NavboxCSS): add fallback for top navbar in navboxes (#496)
  src/NavboxCSS/NavboxCSS.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build: fix typo in browserslistrc
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

build: fix typo in browserslistrc (#497)
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

build: #493
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

build: minify .browserslistrc
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

build: update store.txt
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

build: update .browserslistrc (#498)
  .browserslistrc
Due: prettier --cache --ignore-unknown --write

build: remove unused packages browserslist-config-wikimedia
  .browserslistrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

build: remove unused packages (#499)
  .browserslistrc
  package.json
  pnpm-lock.yaml
Due: prettier --cache --ignore-unknown --write

build(stylelintrc): switch to `modern`
  .stylelintrc
Due: prettier --cache --ignore-unknown --write

build: remove `stylelint-disable-next-line plugin/no-unsupported-browser-features`
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/FloatTOC/FloatTOC.less
  src/Mainpage/Mainpage.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

build: stylelintrc (#500)
  .stylelintrc
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/FloatTOC/FloatTOC.less
  src/Mainpage/Mainpage.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(Twinkle): rename directory
  src/Twinkle/Twinkle.less
  src/Twinkle/style-modules/general.less
  src/Twinkle/style-modules/specific.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore(w+): merge modules
  src/Wikiplus-pagestyles/LICENSE
  src/Wikiplus-pagestyles/definition.json
  src/Wikiplus/LICENSE
  src/Wikiplus/Wikiplus.less
  src/Wikiplus/images/settings.svg
  src/Wikiplus/style-modules/core.less
  src/Wikiplus/style-modules/highlight.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(DisambigLinks): typo
  src/DisambigLinks/DisambigLinks.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(DisambigLinks): typo (#502)
  src/DisambigLinks/DisambigLinks.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: rename directory; merge modules (#501)
  dist/store.txt
  src/Twinkle/Twinkle.less
  src/Twinkle/style-modules/general.less
  src/Twinkle/style-modules/specific.less
  src/Wikiplus-pagestyles/LICENSE
  src/Wikiplus-pagestyles/definition.json
  src/Wikiplus/LICENSE
  src/Wikiplus/Wikiplus.less
  src/Wikiplus/images/settings.svg
  src/Wikiplus/style-modules/core.less
  src/Wikiplus/style-modules/highlight.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(SiteCommonJS): fix typo (newTitle -> fullPageName)
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(SiteCommonJS): fix typo (newTitle -> fullPageName) (#503)
  src/SiteCommon_JS/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(IsCompatible): expire time
  src/IsCompatible/IsCompatible.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
