Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

.lintstagedrc:

{
	"*.{css,less}": ["prettier --cache --write", "stylelint --allow-empty-input --cache --fix"],
	"*.{cjs,js,ts}": ["prettier --cache --write", "eslint --cache --fix"],
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"*": "prettier --cache --ignore-unknown --write"
}

fix: eslint errors and security alerts
  src/AccessKeyCheatsheet/modules/core.ts
  src/AjaxLogin/AjaxLogin.ts
  src/Cat-a-lot/modules/core.ts
  src/ConfirmLogout/modules/addListener.ts
  src/CookieWarning/modules/insertElement.ts
  src/Ding/modules/core.ts
  src/DisamAssist/modules/core.js
  src/EditConflict/modules/core.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
  src/FloatTOC/modules/core.ts
  src/Geo/Geo.ts
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/core.ts
  src/Report/modules/addButton.ts
  src/Report/modules/fillSpecialPage.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/TextSpacing/TextSpacing.ts
  src/WordCount/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: eslint errors and security alerts (#281)
  src/AccessKeyCheatsheet/modules/core.ts
  src/AjaxLogin/AjaxLogin.ts
  src/Cat-a-lot/modules/core.ts
  src/ConfirmLogout/modules/addListener.ts
  src/CookieWarning/modules/insertElement.ts
  src/Ding/modules/core.ts
  src/DisamAssist/modules/core.js
  src/EditConflict/modules/core.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
  src/FloatTOC/modules/core.ts
  src/Geo/Geo.ts
  src/HotCat/HotCat.js
  src/Navigation_popups/modules/core.js
  src/PurgePageCache/definition.json
  src/PurgePageCache/modules/core.ts
  src/Report/modules/addButton.ts
  src/Report/modules/fillSpecialPage.ts
  src/ScrollUpButton/modules/insertElementAndListener.ts
  src/TextSpacing/TextSpacing.ts
  src/WordCount/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Report*, ScrollUpButton*): split LESS
  src/Report-pagestyles/LICENSE
  src/Report-pagestyles/Report-pagestyles.less
  src/Report-pagestyles/definition.json
  src/Report-pagestyles/images/report-button.svg
  src/Report/definition.json
  src/Report/modules/addButton.ts
  src/ScrollUpButton-pagestyles/LICENSE
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/ScrollUpButton-pagestyles/definition.json
  src/ScrollUpButton-pagestyles/images/scroll-button.svg
  src/ScrollUpButton/LICENSE
  src/ScrollUpButton/definition.json
  src/ScrollUpButton/modules/element.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

chore: update description
  src/AdvancedSiteNotices-pagestyles/definition.json
  src/Collapsible-pagestyles/definition.json
  src/CookieWarning-pagestyles/definition.json
  src/CopyCodeBlock-pagestyles/definition.json
  src/Ding-pagestyles/definition.json
  src/HistoryDisclaimer-pagestyles/definition.json
  src/NoteTA-pagestyles/definition.json
  src/NotifyConversion-pagestyles/definition.json
  src/Wikiplus-pagestyles/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(Report*, ScrollUpButton*): split LESS; update description (follow #276) (#282)
  src/AdvancedSiteNotices-pagestyles/definition.json
  src/Collapsible-pagestyles/definition.json
  src/CookieWarning-pagestyles/definition.json
  src/CopyCodeBlock-pagestyles/definition.json
  src/Ding-pagestyles/definition.json
  src/HistoryDisclaimer-pagestyles/definition.json
  src/NoteTA-pagestyles/definition.json
  src/NotifyConversion-pagestyles/definition.json
  src/Report-pagestyles/LICENSE
  src/Report-pagestyles/Report-pagestyles.less
  src/Report-pagestyles/definition.json
  src/Report-pagestyles/images/report-button.svg
  src/Report/definition.json
  src/Report/modules/addButton.ts
  src/ScrollUpButton-pagestyles/LICENSE
  src/ScrollUpButton-pagestyles/ScrollUpButton-pagestyles.less
  src/ScrollUpButton-pagestyles/definition.json
  src/ScrollUpButton-pagestyles/images/scroll-button.svg
  src/ScrollUpButton/LICENSE
  src/ScrollUpButton/definition.json
  src/ScrollUpButton/modules/element.ts
  src/Wikiplus-pagestyles/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(GadgetsDifinition*): split LESS
  src/GadgetsDefinition-pagestyles/GadgetsDefinition-pagestyles.less
  src/GadgetsDefinition-pagestyles/LICENSE
  src/GadgetsDefinition-pagestyles/definition.json
  src/GadgetsDefinition/LICENSE
  src/GadgetsDefinition/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(HotCat*): split LESS
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
  src/HotCat-pagestyles/HotCat.less
  src/HotCat-pagestyles/LICENSE
  src/HotCat-pagestyles/definition.json
  src/HotCat/LICENSE
  src/HotCat/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(UTCLiveClock*): split LESS
  src/UTCLiveClock-pagestyles/LICENSE
  src/UTCLiveClock-pagestyles/UTCLiveClock.less
  src/UTCLiveClock-pagestyles/definition.json
  src/UTCLiveClock/LICENSE
  src/UTCLiveClock/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(Wikicache*): split LESS
  src/Wikicache-pagestyles/LICENSE
  src/Wikicache-pagestyles/Wikicache.less
  src/Wikicache-pagestyles/definition.json
  src/Wikicache/definition.json
  src/Wikicache/modules/core.js
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: split LESS (follow #282) (#283)
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
  src/GadgetsDefinition-pagestyles/GadgetsDefinition-pagestyles.less
  src/GadgetsDefinition-pagestyles/LICENSE
  src/GadgetsDefinition-pagestyles/definition.json
  src/GadgetsDefinition/LICENSE
  src/GadgetsDefinition/definition.json
  src/HotCat-pagestyles/HotCat.less
  src/HotCat-pagestyles/LICENSE
  src/HotCat-pagestyles/definition.json
  src/HotCat/LICENSE
  src/HotCat/definition.json
  src/UTCLiveClock-pagestyles/LICENSE
  src/UTCLiveClock-pagestyles/UTCLiveClock.less
  src/UTCLiveClock-pagestyles/definition.json
  src/UTCLiveClock/LICENSE
  src/UTCLiveClock/definition.json
  src/Wikicache-pagestyles/LICENSE
  src/Wikicache-pagestyles/Wikicache.less
  src/Wikicache-pagestyles/definition.json
  src/Wikicache/definition.json
  src/Wikicache/modules/core.js
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: wrong file name
  src/HotCat-pagestyles/HotCat-pagestyles.less
  src/UTCLiveClock-pagestyles/UTCLiveClock-pagestyles.less
  src/Wikicache-pagestyles/Wikicache-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(DisamAssist*): split LESS
  src/DisamAssist-pagestyles/DisamAssist-pagestyles.less
  src/DisamAssist-pagestyles/LICENSE
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/LICENSE
  src/DisamAssist/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(EasyArchive*): split LESS
  src/EasyArchive-pagestyles/EasyArchive-pagestyles.less
  src/EasyArchive-pagestyles/LICENSE
  src/EasyArchive-pagestyles/definition.json
  src/EasyArchive/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(GeoLocationReader*): split LESS
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/GeoLocationReader-pagestyles/LICENSE
  src/GeoLocationReader-pagestyles/definition.json
  src/GeoLocationReader-pagestyles/images/globe.svg
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/GeoLocationReader-pagestyles/images/settings.svg
  src/GeoLocationReader-pagestyles/images/userAvatar.svg
  src/GeoLocationReader/LICENSE
  src/GeoLocationReader/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(DisamAssist*): split LESS (follow #283) (#284)
  src/DisamAssist-pagestyles/DisamAssist-pagestyles.less
  src/DisamAssist-pagestyles/LICENSE
  src/DisamAssist-pagestyles/definition.json
  src/DisamAssist/LICENSE
  src/DisamAssist/definition.json
  src/EasyArchive-pagestyles/EasyArchive-pagestyles.less
  src/EasyArchive-pagestyles/LICENSE
  src/EasyArchive-pagestyles/definition.json
  src/EasyArchive/definition.json
  src/GeoLocationReader-pagestyles/GeoLocationReader-pagestyles.less
  src/GeoLocationReader-pagestyles/LICENSE
  src/GeoLocationReader-pagestyles/definition.json
  src/GeoLocationReader-pagestyles/images/globe.svg
  src/GeoLocationReader-pagestyles/images/helpNotice.svg
  src/GeoLocationReader-pagestyles/images/settings.svg
  src/GeoLocationReader-pagestyles/images/userAvatar.svg
  src/GeoLocationReader/LICENSE
  src/GeoLocationReader/definition.json
  src/HotCat-pagestyles/HotCat-pagestyles.less
  src/UTCLiveClock-pagestyles/UTCLiveClock-pagestyles.less
  src/Wikicache-pagestyles/Wikicache-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

refactor(FloatTOC*): split LESS
  src/FloatTOC-pagestyles/FloatTOC-pagestyles.less
  src/FloatTOC-pagestyles/LICENSE
  src/FloatTOC-pagestyles/definition.json
  src/FloatTOC/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(FoldRef*): split LESS
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/FoldRef-pagestyles/LICENSE
  src/FoldRef-pagestyles/definition.json
  src/FoldRef/LICENSE
  src/FoldRef/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: definition typo
  src/NotifyConversion-pagestyles/definition.json
  src/UTCLiveClock-pagestyles/definition.json
Due: prettier --cache --ignore-unknown --write

fix: missing dependencies
  src/GeoLocationReader/definition.json
  src/UTCLiveClock/definition.json
Due: prettier --cache --ignore-unknown --write

fix: deprecated module name
  src/UserRightsManager/definition.json
Due: prettier --cache --ignore-unknown --write

refactor(WhoIsActive*): split LESS
  src/WhoIsActive-pagestyles/LICENSE
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive-pagestyles/definition.json
  src/WhoIsActive-pagestyles/images/userContributions-blue.svg
  src/WhoIsActive-pagestyles/images/userContributions-brown.svg
  src/WhoIsActive-pagestyles/images/userContributions-green.svg
  src/WhoIsActive-pagestyles/images/userContributions-red.svg
  src/WhoIsActive/LICENSE
  src/WhoIsActive/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix: typo in LICENSE
  src/GeoLocationReader-pagestyles/LICENSE
Due: prettier --cache --ignore-unknown --write

refactor: split LESS; fix typo (follow #284) (#285)
  src/FloatTOC-pagestyles/FloatTOC-pagestyles.less
  src/FloatTOC-pagestyles/LICENSE
  src/FloatTOC-pagestyles/definition.json
  src/FloatTOC/definition.json
  src/FoldRef-pagestyles/FoldRef-pagestyles.less
  src/FoldRef-pagestyles/LICENSE
  src/FoldRef-pagestyles/definition.json
  src/FoldRef/LICENSE
  src/FoldRef/definition.json
  src/GeoLocationReader-pagestyles/LICENSE
  src/GeoLocationReader/definition.json
  src/NotifyConversion-pagestyles/definition.json
  src/UTCLiveClock-pagestyles/definition.json
  src/UTCLiveClock/definition.json
  src/UserRightsManager/definition.json
  src/WhoIsActive-pagestyles/LICENSE
  src/WhoIsActive-pagestyles/WhoIsActive-pagestyles.less
  src/WhoIsActive-pagestyles/definition.json
  src/WhoIsActive-pagestyles/images/userContributions-blue.svg
  src/WhoIsActive-pagestyles/images/userContributions-brown.svg
  src/WhoIsActive-pagestyles/images/userContributions-green.svg
  src/WhoIsActive-pagestyles/images/userContributions-red.svg
  src/WhoIsActive/LICENSE
  src/WhoIsActive/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

fix(mbox): improve compatibility - add `height: auto`
  src/SiteCommon/modules/mbox.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: replace $.attr('style') with $.css
  src/AddSectionPlus/modules/processElement.ts
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Twinkle/modules/twinklearv.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: remove unused code
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(RefToolbar2.0): renovate
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/PrintOptions/PrintOptions.js
  src/Twinkle/modules/twinkle.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: improve compatibility; remove unused code (#286)
  src/AddSectionPlus/modules/processElement.ts
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
  src/Edittools-refToolbar/modules/RefToolbarLegacy.js
  src/PrintOptions/PrintOptions.js
  src/SiteCommon/modules/mbox.less
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(PWV*): split LESS
  src/PreviewWithVariant-pagestyles/LICENSE
  src/PreviewWithVariant-pagestyles/PreviewWithVariant.less
  src/PreviewWithVariant-pagestyles/definition.json
  src/PreviewWithVariant/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(RefToolbar): fix loading order of l10n
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(AddSectionPlus): clear inline styles
  src/AddSectionPlus/modules/processElement.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix: L10n of RefToolbar; clear inline styles before adding (#287)
  src/AddSectionPlus/modules/processElement.ts
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(PWV*): split LESS (#288)
  src/PreviewWithVariant-pagestyles/LICENSE
  src/PreviewWithVariant-pagestyles/PreviewWithVariant.less
  src/PreviewWithVariant-pagestyles/definition.json
  src/PreviewWithVariant/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix: wrong file name
  src/PreviewWithVariant-pagestyles/PreviewWithVariant-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkBlocked*): split LESS
  src/MarkBlocked-pagestyles/LICENSE
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/MarkBlocked-pagestyles/definition.json
  src/MarkBlocked/LICENSE
  src/MarkBlocked/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor: split LESS; fix wrong name (follow #285) (#289)
  src/MarkBlocked-pagestyles/LICENSE
  src/MarkBlocked-pagestyles/MarkBlocked-pagestyles.less
  src/MarkBlocked-pagestyles/definition.json
  src/MarkBlocked/LICENSE
  src/MarkBlocked/definition.json
  src/PreviewWithVariant-pagestyles/PreviewWithVariant-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRIghts*): split LESS
  src/MarkRights-Userpage-pagestyles/LICENSE
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-Userpage-pagestyles/definition.json
  src/MarkRights-Userpage/definition.json
  src/MarkRights-pagestyles/LICENSE
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/MarkRights-pagestyles/definition.json
  src/MarkRights/LICENSE
  src/MarkRights/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkRights*): split LESS (#290)
  src/MarkRights-Userpage-pagestyles/LICENSE
  src/MarkRights-Userpage-pagestyles/MarkRights-Userpage-pagestyles.less
  src/MarkRights-Userpage-pagestyles/definition.json
  src/MarkRights-Userpage/definition.json
  src/MarkRights-pagestyles/LICENSE
  src/MarkRights-pagestyles/MarkRights-pagestyles.less
  src/MarkRights-pagestyles/definition.json
  src/MarkRights/LICENSE
  src/MarkRights/definition.json
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(RefToolbar): fix l10n issues * see #287
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(RefToolbar): fix l10n issues (following #287) (#291)
  src/Edittools-refToolbar/modules/RefToolbar.js
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write
