Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

feat(psl, clearCookies): add psl and clearCookies
  dist/ClearCookies/ClearCookies.js
  dist/definition.txt
  dist/psl/psl.js
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/ClearCookies/ClearCookies.ts
  src/ClearCookies/LICENSE
  src/ClearCookies/definition.json
  src/ClearCookies/modules/constant.ts
  src/psl/LICENSE
  src/psl/definition.json
  src/psl/modules/global.d.ts
  src/psl/psl.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(psl, clearCookies): add psl and clearCookies (#902)
  dist/ClearCookies/ClearCookies.js
  dist/definition.txt
  dist/psl/psl.js
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/ClearCookies/ClearCookies.ts
  src/ClearCookies/LICENSE
  src/ClearCookies/definition.json
  src/ClearCookies/modules/constant.ts
  src/psl/LICENSE
  src/psl/definition.json
  src/psl/modules/global.d.ts
  src/psl/psl.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(clearCookies): no longer needed
  dist/ClearCookies/ClearCookies.js
  dist/definition.txt
  dist/store.txt
  src/ClearCookies/ClearCookies.ts
  src/ClearCookies/LICENSE
  src/ClearCookies/definition.json
  src/ClearCookies/modules/constant.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(psl, clearCookies): no longer needed
  dist/definition.txt
  dist/psl/psl.js
  dist/store.txt
  src/ClearCookies/ClearCookies.ts
  src/ClearCookies/LICENSE
  src/ClearCookies/definition.json
  src/ClearCookies/modules/constant.ts
  src/psl/LICENSE
  src/psl/definition.json
  src/psl/modules/global.d.ts
  src/psl/psl.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

feat(psl, clearCookies): no longer needed
  dist/store.txt
Due: none

refactor: split constant WG_WIKI_ID (#901)
  dist/DisamAssist/DisamAssist.js
  dist/EasyArchive/EasyArchive.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/MarkRights/MarkRights.js
  dist/UTCLiveClock/UTCLiveClock.js
  src/DisamAssist/modules/config.ts
  src/DisamAssist/modules/constant.ts
  src/DisamAssist/modules/core.js
  src/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/constant.ts
  src/MarkRights-Userpage/modules/constant.ts
  src/MarkRights-Userpage/modules/core.tsx
  src/MarkRights/modules/constant.ts
  src/MarkRights/modules/core.ts
  src/UTCLiveClock/modules/constant.ts
  src/UTCLiveClock/modules/core.ts
Due: prettier --write, eslint --fix

feat(psl, clearCookies): remove psl and clearCookies
  dist/ClearCookies/ClearCookies.js
  dist/definition.txt
  dist/psl/psl.js
  dist/store.txt
  package.json
  pnpm-lock.yaml
  src/ClearCookies/ClearCookies.ts
  src/ClearCookies/LICENSE
  src/ClearCookies/definition.json
  src/ClearCookies/modules/constant.ts
  src/psl/LICENSE
  src/psl/definition.json
  src/psl/modules/global.d.ts
  src/psl/psl.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: remove ShortURL from licencewiki and testwiki
  dist/store.txt
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: remove ShortURL from licencewiki and testwiki (#905)
  dist/store.txt
  src/ShortURL-pagestyles/definition.json
  src/ShortURL/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore: follow commit 99656228
  src/PurgePageCache/modules/constant.ts
  src/QuickImport/modules/core.ts
  src/Twinkle/modules/constant.ts
Due: prettier --write, eslint --fix

chore: follow commit 99656228 (#907)
  src/PurgePageCache/modules/constant.ts
  src/QuickImport/modules/core.ts
  src/Twinkle/modules/constant.ts
Due: prettier --write, eslint --fix

fix(Twinkle): remove getBody()
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

fix(Twinkle): remove getBody()
  dist/Twinkle/Twinkle.js
Due: prettier --write, eslint --fix

fix(Twinkle): remove getBody() (#908)
  dist/Twinkle/Twinkle.js
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchprotect.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
Due: prettier --write, eslint --fix

fix(Util): optional parameters should be used
  src/Util/modules/initMwApi.ts
Due: prettier --write, eslint --fix

fix(Util): optional parameters should be used (#909)
  dist/Util/Util.js
  src/Util/modules/initMwApi.ts
Due: prettier --write, eslint --fix

refactor: replace wgULS with window.wgULS
  dist/Navigation_popups/Navigation_popups.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Twinkle/Twinkle.js
  dist/Wikicache/Wikicache.js
  dist/morebits/morebits.js
  src/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
  src/Navigation_popups/modules/string.js
  src/SpecialWikitext/SpecialWikitext.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
  src/Wikicache/modules/messages.js
  src/Wikicache/modules/messages.ts
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor: replace wgULS with window.wgULS
  src/Navigation_popups/modules/string.ts
Due: prettier --write, eslint --fix

refactor: replace wgULS with window.wgULS; convert to TypeScript (#910)
  dist/Navigation_popups/Navigation_popups.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Twinkle/Twinkle.js
  dist/Wikicache/Wikicache.js
  dist/morebits/morebits.js
  src/Navigation_popups/Navigation_popups.js
  src/Navigation_popups/modules/core.js
  src/Navigation_popups/modules/string.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/friendlytalkback.js
  src/Twinkle/modules/twinkle.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinklebatchdelete.js
  src/Twinkle/modules/twinklebatchundelete.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleclose.js
  src/Twinkle/modules/twinkleconfig.js
  src/Twinkle/modules/twinklecopyvio.js
  src/Twinkle/modules/twinklefluff.js
  src/Twinkle/modules/twinkleimage.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklespeedy.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinkleunlink.js
  src/Twinkle/modules/twinklewarn.js
  src/Twinkle/modules/twinklexfd.js
  src/Wikicache/modules/messages.js
  src/Wikicache/modules/messages.ts
  src/morebits/morebits.js
Due: prettier --write, eslint --fix

refactor(Wikicache): refactor in TypeScript
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/constant.ts
  src/Wikicache/modules/core.js
  src/Wikicache/modules/core.ts
  src/Wikicache/modules/messages.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Wikicache): convert to TypeScript (#911)
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  src/Wikicache/Wikicache.js
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/constant.ts
  src/Wikicache/modules/core.js
  src/Wikicache/modules/core.ts
  src/Wikicache/modules/messages.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: improve type assertions
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(AjaxLogin): to TSX
  dist/AjaxLogin/AjaxLogin.js
  dist/LoginToEdit/LoginToEdit.js
  dist/definition.txt
  src/AjaxLogin/definition.json
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiPrompt.tsx
  src/AjaxLogin/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: improve type assertions (#912)
  dist/AccessKeyCheatsheet/AccessKeyCheatsheet.js
  dist/AdvancedSiteNotices/AdvancedSiteNotices.js
  src/AccessKeyCheatsheet/modules/util/generateElements.tsx
  src/AdvancedSiteNotices/modules/util/generateArea.tsx
  src/AdvancedSiteNotices/modules/util/matchCriteria.ts
  src/AdvancedSiteNotices/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(AjaxLogin): to TSX (#913)
  dist/AjaxLogin/AjaxLogin.js
  dist/LoginToEdit/LoginToEdit.js
  dist/definition.txt
  src/AjaxLogin/definition.json
  src/AjaxLogin/modules/core.tsx
  src/AjaxLogin/modules/util/generateElements.tsx
  src/AjaxLogin/modules/util/oouiPrompt.tsx
  src/AjaxLogin/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: remove Wikicache-styles
  dist/Wikicache-pagestyles/Wikicache-pagestyles.css
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  dist/store.txt
  src/Wikicache-pagestyles/LICENSE
  src/Wikicache-pagestyles/Wikicache-pagestyles.less
  src/Wikicache-pagestyles/definition.json
  src/Wikicache/LICENSE
  src/Wikicache/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: remove Wikicache-styles (#914)
  dist/Wikicache-pagestyles/Wikicache-pagestyles.css
  dist/Wikicache/Wikicache.js
  dist/definition.txt
  dist/store.txt
  src/Wikicache-pagestyles/LICENSE
  src/Wikicache-pagestyles/Wikicache-pagestyles.less
  src/Wikicache-pagestyles/definition.json
  src/Wikicache/LICENSE
  src/Wikicache/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(RRD): refactor in TSX (React)
  dist/RRD/RRD.js
  dist/definition.txt
  src/RRD/definition.json
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(RRD): refactor in TSX (React) (#915)
  dist/RRD/RRD.js
  dist/definition.txt
  src/RRD/definition.json
  src/RRD/modules/core.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: switch mediawiki.ui to Codex
  dist/CookieWarning-pagestyles/CookieWarning-pagestyles.css
  dist/CookieWarning/CookieWarning.js
  dist/EditForm/EditForm.css
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  dist/SiteCommon/SiteCommon.css
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning/components/AgreeButton.tsx
  src/EditForm/EditForm.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/collapse.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(AutoLink): replace `Array.push()` to avoid polyfilling core-js
  dist/AutoLink/AutoLink.js
  src/AutoLink/modules/processElement.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --write, eslint --fix

refactor(AutoLink): replace `Array.push()` to avoid polyfilling core-js (#916)
  dist/AutoLink/AutoLink.js
  src/AutoLink/modules/processElement.ts
  src/AutoLink/modules/util/getTargetElements.ts
Due: prettier --write, eslint --fix

refactor: switch mediawiki.ui to Codex (#917)
  dist/CookieWarning-pagestyles/CookieWarning-pagestyles.css
  dist/CookieWarning/CookieWarning.js
  dist/EditForm/EditForm.css
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  dist/SiteCommon/SiteCommon.css
  src/CookieWarning-pagestyles/CookieWarning-pagestyles.less
  src/CookieWarning/components/AgreeButton.tsx
  src/EditForm/EditForm.less
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/collapse.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
