Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

revert: #1021
  .github/workflows/lint.yml
Due: none

fix(Mainpage-ChineseNewYear): remove box-shadow
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-ChineseNewYear): remove box-shadow (#1033)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(SpecialWikitext): split React elements into seperated module
  dist/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/SpecialWikitext.less
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/modules/generateElements.tsx
  src/SpecialWikitext/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(SpecialWikitext): split React elements into seperated module
  dist/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/SpecialWikitext.ts
Due: prettier --write, eslint --fix

refactor(SpecialWikitext): split React elements into seperated module (#1034)
  dist/SpecialWikitext/SpecialWikitext.js
  src/SpecialWikitext/SpecialWikitext.less
  src/SpecialWikitext/SpecialWikitext.ts
  src/SpecialWikitext/modules/generateElements.tsx
  src/SpecialWikitext/modules/i18n.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(RRD): split React elements into seperated module
  dist/RRD/RRD.js
  src/RRD/RRD.less
  src/RRD/components/DialogInner.tsx
  src/RRD/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(RRD): split React elements into seperated module (#1035)
  dist/RRD/RRD.js
  src/RRD/RRD.less
  src/RRD/components/DialogInner.tsx
  src/RRD/modules/core.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(RRD): import LESS; update definition.txt
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/definition.txt
  dist/store.txt
  src/RRD/RRD.ts
  src/RRD/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(RRD): import LESS; update definition.txt (#1036)
  dist/RRD/RRD.css
  dist/RRD/RRD.js
  dist/definition.txt
  dist/store.txt
  src/RRD/RRD.ts
  src/RRD/modules/constant.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build: re-generate dist
  dist/Wikiplus/Wikiplus.css
  src/Wikiplus/style-modules/highlight.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(WhoIsActive): split TSX module; add options.json
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/getLastActiveMarker.tsx
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(WhoIsActive): split TSX module; add options.json (#1037)
  dist/WhoIsActive/WhoIsActive.js
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/getLastActiveMarker.tsx
  src/WhoIsActive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(shortURL): do not run on non-existant pages (with no article id)
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
Due: prettier --write, eslint --fix

fix(shortURL): do not run on non-existant pages (with no article id) (#1038)
  dist/ShortURL/ShortURL.js
  src/ShortURL/ShortURL.ts
Due: prettier --write, eslint --fix

build(MarkRights, UserRightsManager): add type userRights
  dist/MarkRights/MarkRights.js
  dist/UserRightsManager/UserRightsManager.js
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/types.d.ts
  src/UserRightsManager/modules/constant.ts
Due: prettier --write, eslint --fix

build(MarkRights, UserRightsManager): add type userRights (#1039)
  dist/MarkRights/MarkRights.js
  dist/UserRightsManager/UserRightsManager.js
  src/MarkRights/modules/core.ts
  src/MarkRights/modules/types.d.ts
  src/UserRightsManager/modules/constant.ts
Due: prettier --write, eslint --fix

refactor(PagePatroller): split TSX module; add options.json
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/constant.ts
  src/PagePatroller/modules/core.ts
  src/PagePatroller/modules/elementWrap.tsx
Due: prettier --write, eslint --fix

refactor(PagePatroller): split TSX module; add options.json (#1040)
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/constant.ts
  src/PagePatroller/modules/core.ts
  src/PagePatroller/modules/elementWrap.tsx
Due: prettier --write, eslint --fix

refactor(MarkRights-Userpage): split TSX modules; add type userRights
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MarkRights-Userpage): split TSX modules; add type userRights (#1041)
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  src/MarkRights-Userpage/MarkRights-Userpage.ts
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/core.ts
  src/MarkRights-Userpage/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(GeoLocationReader): split TSX modules
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
Due: prettier --write, eslint --fix

refactor(GeoLocationReader): split TSX modules (#1042)
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocationReader/modules/addElement.ts
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
Due: prettier --write, eslint --fix

fix: replace ID of input element with name attribute
  dist/DefaultSummaries/DefaultSummaries.js
  dist/EditConflict/EditConflict.js
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Group-user_JS/Group-user_JS.js
  dist/HotCat/HotCat.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/SpecialWikitext/SpecialWikitext.js
  dist/Wikicache/Wikicache.js
  src/DefaultSummaries/modules/processWikiEditor.ts
  src/EditConflict/modules/core.ts
  src/EditForm_JS/modules/aiAssisted.ts
  src/EditForm_JS/modules/disableTitle.ts
  src/EditForm_JS/modules/preloadRevid.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Group-user_JS/modules/fixSummary.ts
  src/HotCat/HotCat.js
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/SpecialWikitext/SpecialWikitext.ts
  src/Wikicache/Wikicache.ts
  src/Wikicache/modules/core.ts
Due: prettier --write, eslint --fix

refactor(WordCount): use CSS modules
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  src/WordCount/WordCount.ts
  src/WordCount/components/WordCount.module.less
  src/WordCount/components/WordCount.tsx
  src/WordCount/modules/constant.ts
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(WordCount): use CSS modules (#1044)
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  src/WordCount/WordCount.ts
  src/WordCount/components/WordCount.module.less
  src/WordCount/components/WordCount.tsx
  src/WordCount/modules/constant.ts
  src/WordCount/modules/wordCount.tsx
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(Group-user_JS): typo
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

fix(Group-user_JS): typo (#1045)
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/modules/fixSummary.ts
Due: prettier --write, eslint --fix

docs(Wikiplus-highlight): update license information
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/LICENSE
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --write, eslint --fix

docs(Wikiplus-highlight): update license information (#1046)
  dist/Wikiplus-highlight/Wikiplus-highlight.js
  src/Wikiplus-highlight/LICENSE
  src/Wikiplus-highlight/Wikiplus-highlight.ts
Due: prettier --write, eslint --fix

refactor(Wikiplus): to TypeScript
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/definition.json
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Wikiplus): to TypeScript (#1047)
  dist/Wikiplus/Wikiplus.js
  dist/definition.txt
  src/Wikiplus/Wikiplus.js
  src/Wikiplus/Wikiplus.ts
  src/Wikiplus/definition.json
  src/Wikiplus/modules/core.js
  src/Wikiplus/modules/highlight.js
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(SiteCommon/mbox): styles under dark mode
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(SiteCommon/mbox): styles under dark mode (#1048)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(CookieWarning): split TSX from entry file
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/components/RootElement.tsx
Due: prettier --write, eslint --fix

refactor(CookieWarning): split TSX from entry file (#1049)
  dist/CookieWarning/CookieWarning.js
  src/CookieWarning/CookieWarning.ts
  src/CookieWarning/CookieWarning.tsx
  src/CookieWarning/components/RootElement.tsx
Due: prettier --write, eslint --fix

refactor(Wikicache): optimize logic
  dist/Wikicache/Wikicache.js
  dist/WordCount/WordCount.css
  dist/WordCount/WordCount.js
  dist/definition.txt
  src/Wikicache/.eslintrc
  src/Wikicache/Wikicache.ts
  src/Wikicache/definition.json
  src/Wikicache/modules/constant.ts
  src/Wikicache/modules/core.ts
  src/Wikicache/modules/types.d.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -
