Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, svgo --config=svgo.config.cjs --quiet --input, prettier --cache --ignore-unknown --write

build: update store.txt
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

build: update store.txt (#520)
  dist/store.txt
Due: prettier --cache --ignore-unknown --write

refactor(edit0): use `mediawiki.Uri` instead of `mediawiki.util`
  src/DefaultSummaries/DefaultSummaries.ts
  src/Edit0/Edit0.less
  src/Edit0/Edit0.ts
  src/Edit0/definition.json
  src/Edit0/modules/constant.ts
  src/Edit0/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(edit0): use `mediawiki.Uri` instead of `mediawiki.util` (#521)
  src/DefaultSummaries/DefaultSummaries.ts
  src/Edit0/Edit0.less
  src/Edit0/Edit0.ts
  src/Edit0/definition.json
  src/Edit0/modules/constant.ts
  src/Edit0/modules/core.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditConflict): separate into modules
  src/EditConflict/EditConflict.ts
  src/EditConflict/LICENSE
  src/EditConflict/definition.json
  src/EditConflict/modules/api.ts
  src/EditConflict/modules/constant.ts
  src/EditConflict/modules/core.ts
  src/EditConflict/modules/getCurrentRevisionId.ts
  src/EditConflict/modules/i18n.ts
  src/EditConflict/modules/util/queryPageInfo.ts
  src/EditConflict/options.json
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditConflict): separate into modules (#522)
  src/EditConflict/EditConflict.ts
  src/EditConflict/LICENSE
  src/EditConflict/definition.json
  src/EditConflict/modules/api.ts
  src/EditConflict/modules/constant.ts
  src/EditConflict/modules/core.ts
  src/EditConflict/modules/getCurrentRevisionId.ts
  src/EditConflict/modules/i18n.ts
  src/EditConflict/modules/util/queryPageInfo.ts
  src/EditConflict/options.json
  src/util.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkBlocked): optimize logic
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(MarkBlocked): optimize logic (#523)
  src/MarkBlocked/MarkBlocked.ts
  src/MarkBlocked/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(W+-highlight): remove unneeded polyfill
  src/Wikiplus/modules/highlight.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(W+-highlight): remove unneeded polyfill (#524)
  src/Wikiplus/modules/highlight.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DiffLink, ShortURL): trigger link change when using RevisionSlidebar
  src/DiffLink/modules/addHook.ts
  src/ShortURL/modules/core.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(DiffLink, ShortURL): trigger link change when using RevisionSlidebar (#525)
  src/DiffLink/modules/addHook.ts
  src/ShortURL/modules/core.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor(DiffLink, ShortURL): trigger link change when using RevisionSlidebar (#525)"
  src/DiffLink/modules/addHook.ts
  src/ShortURL/modules/core.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

Revert "refactor(DiffLink, ShortURL): trigger link change when using RevisionSlidebar" (#526)
  src/DiffLink/modules/addHook.ts
  src/ShortURL/modules/core.ts
  src/index.d.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(Geo): update JSDocs
  src/Geo/Geo.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(Geo): update JSDocs (#527)
  src/Geo/Geo.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TR*): remove mw.loader.using()
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(Edittools*): add async; optimize
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(TR*; Edittools*): optimize logic (#528)
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/ToolsRedirect-bio-latin-names/ToolsRedirect-bio-latin-names.ts
  src/ToolsRedirect-courtesy-and-art-names/ToolsRedirect-courtesy-and-art-names.ts
  src/ToolsRedirect-opt-bolds/ToolsRedirect-opt-bolds.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(wikiplus): if VE enabled, load VE first
  src/Wikiplus/Wikiplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(wikiplus): if VE enabled, load VE first (#529)
  src/Wikiplus/Wikiplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: minor fix
  src/DefaultSummaries/modules/addVisualEditorPlugin.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/QuickImport/QuickImport.ts
  src/ToolsRedirect/modules/core.js
  src/Wikiplus/Wikiplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: minor fix (#530)
  src/DefaultSummaries/modules/addVisualEditorPlugin.ts
  src/Edittools-customizeToolbar/Edittools-customizeToolbar.js
  src/QuickImport/QuickImport.ts
  src/ToolsRedirect/modules/core.js
  src/Wikiplus/Wikiplus.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: use `portletId`; fix typpo
  src/OnlineAdmins/modules/core.ts
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/TranslateVariants/TranslateVariants.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

use `portletId`; fix typpo (#531)
  src/OnlineAdmins/modules/core.ts
  src/PurgePageCache/modules/core.ts
  src/QuickImport/QuickImport.ts
  src/TranslateVariants/TranslateVariants.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditCount): use `mw.loader.addStyleTag` instead of `mw.util.addCSS`
  src/EditCount/EditCount.ts
  src/EditCount/constant.ts
  src/EditCount/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(EditCount): use `mw.loader.addStyleTag` instead of `mw.util.addCSS` (#532)
  src/EditCount/EditCount.ts
  src/EditCount/constant.ts
  src/EditCount/definition.json
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Edit0): target selectors
  src/Edit0/modules/constant.ts
  src/Edit0/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(Edit0): target selectors (#533)
  src/Edit0/modules/constant.ts
  src/Edit0/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow commit 877ece9
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/EnhancedSpecialSearch/modules/core.ts
  src/FloatTOC/definition.json
  src/FloatTOC/modules/core.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(popups): add `.toString()`
  src/Navigation_popups/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor(popups): add `.toString()` (#534)
  src/Navigation_popups/modules/core.js
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

refactor: follow commit 877ece9 (#535)
  src/AdvancedSiteNotices/definition.json
  src/AdvancedSiteNotices/modules/showNotice.ts
  src/EnhancedSpecialSearch/modules/core.ts
  src/FloatTOC/definition.json
  src/FloatTOC/modules/core.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: minor fix
  src/Group-user_JS/modules/addSubpageAndLog.ts
  src/Group-user_JS/modules/i18n.ts
  src/Group-user_JS/modules/linkSearchEditButton.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/QuickImport/QuickImport.ts
  src/Report/modules/addPortletLink.ts
  src/ShortURL/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: minor fix (#536)
  src/Group-user_JS/modules/addSubpageAndLog.ts
  src/Group-user_JS/modules/i18n.ts
  src/Group-user_JS/modules/linkSearchEditButton.ts
  src/Group-user_JS/modules/loadEditFormJs.ts
  src/QuickImport/QuickImport.ts
  src/Report/modules/addPortletLink.ts
  src/ShortURL/modules/core.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

chore: minor fix (follow commit 7bcff96)
  src/Group-user_JS/modules/i18n.ts
  src/Group-user_JS/modules/linkSearchEditButton.ts
Due: prettier --cache --write, eslint --cache --fix, prettier --cache --ignore-unknown --write

fix(CAL): background color
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

fix(CAL): background color *2
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, prettier --cache --ignore-unknown --write

chore: minor fix (follow commit 7bcff96) (#537)
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Group-user_JS/modules/i18n.ts
  src/Group-user_JS/modules/linkSearchEditButton.ts
Due: prettier --cache --write, stylelint --allow-empty-input --cache --fix, eslint --cache --fix, prettier --cache --ignore-unknown --write

docs(CAL): update LICENSE
  src/Cat-a-lot/LICENSE
Due: prettier --cache --ignore-unknown --write

Path conditions:
  prettier --cache --write: (any of: *.{css,less}) or (any of: *.{cjs,js,ts})
  stylelint --allow-empty-input --cache --fix: any of: *.{css,less}
  eslint --cache --fix: any of: *.{cjs,js,ts}
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
  prettier --cache --ignore-unknown --write: any of: *
