Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(EditForm_JS): introACH should not be activated for confirmed users (#1001)
  dist/EditForm_JS/EditForm_JS.js
  src/EditForm_JS/modules/introACH.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): rename introACH into introAFC
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/introAFC.ts
Due: prettier --write, eslint --fix

fix(EditForm_JS): rename introACH into introAFC
  dist/EditForm_JS/EditForm_JS.js
Due: prettier --write, eslint --fix

chore: format
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Group-user_JS/Group-user_JS.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Group-user_JS/Group-user_JS.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/SiteCommon_JS/SiteCommon_JS.ts
Due: prettier --write, eslint --fix

chore: format (#1002)
  dist/EditForm_JS/EditForm_JS.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Group-user_JS/Group-user_JS.js
  dist/PreviewWithVariant/PreviewWithVariant.js
  dist/SiteCommon_JS/SiteCommon_JS.js
  src/EditForm_JS/EditForm_JS.ts
  src/EditForm_JS/modules/introAFC.ts
  src/Edittools-refToolbar/Edittools-refToolbar.ts
  src/Group-user_JS/Group-user_JS.ts
  src/PreviewWithVariant/PreviewWithVariant.ts
  src/SiteCommon_JS/SiteCommon_JS.ts
Due: prettier --write, eslint --fix

fix(DefaultSummaries): guard against double inclusions
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

fix(DefaultSummaries): guard against double inclusions (#1003)
  dist/DefaultSummaries/DefaultSummaries.js
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

enabling new year theme
  dist/definition.txt
  src/Mainpage-ChineseNewYear/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

enabling new year theme (#1004)
  dist/definition.txt
  src/Mainpage-ChineseNewYear/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

chore(geo): optimize logic
  dist/GeoLocation/GeoLocation.js
  dist/GeoLocationReader/GeoLocationReader.js
  src/GeoLocation/GeoLocation.ts
  src/GeoLocation/modules/constant.ts
  src/GeoLocation/modules/storeLocation.ts
Due: prettier --write, eslint --fix

fix(Mainpage-ChineseNewYear): remove red color from texts and links
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-ChineseNewYear): remove red color from texts and links
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Mainpage-ChineseNewYear): remove red color from texts and links
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
Due: prettier --write, stylelint --allow-empty-input --fix

build(EasyArchive): convert i18n module into TypeScript
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/types.d.ts
Due: prettier --write, eslint --fix

build(EasyArchive): convert i18n module into TypeScript (#1006)
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/i18n.ts
  src/EasyArchive/modules/types.d.ts
Due: prettier --write, eslint --fix

refactor(HotCat/HotCatCheck): convert into TypeScript
  dist/HotCat/HotCat.js
  src/HotCat/modules/check.ts
Due: prettier --write, eslint --fix

refactor(HotCat/HotCatCheck): convert into TypeScript (#1007)
  dist/HotCat/HotCat.js
  src/HotCat/modules/check.ts
Due: prettier --write, eslint --fix

chore: update LICENSEs
  src/HotCat-pagestyles/LICENSE
  src/HotCat/LICENSE
  src/NospzGothic/LICENSE
Due: none

chore: update comments
  src/EditForm_JS/modules/preloadRevid.ts
Due: prettier --write, eslint --fix

chore: update LICENSE and code comments
  dist/EditForm_JS/EditForm_JS.js
  dist/HotCat-pagestyles/HotCat-pagestyles.css
  dist/HotCat/HotCat.js
  dist/NospzGothic/NospzGothic.css
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: update LICENSE and code comments (#1008)
  dist/EditForm_JS/EditForm_JS.js
  dist/HotCat-pagestyles/HotCat-pagestyles.css
  dist/HotCat/HotCat.js
  dist/NospzGothic/NospzGothic.css
  src/EditForm_JS/modules/preloadRevid.ts
  src/HotCat-pagestyles/LICENSE
  src/HotCat/LICENSE
  src/NospzGothic/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(variables): add @background-color-primary--darkest; adjust @background-color-primary--lighter
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(Mainpage*): optimize style rules
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

feat: add Mainpage_licencewiki
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/definition.txt
  src/Mainpage_licencewiki/LICENSE
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_licencewiki/definition.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

Revert "enabling new year theme (#1004)"
  dist/definition.txt
  src/Mainpage-ChineseNewYear/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: mainpage optimization (#1009)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/definition.txt
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage-ChineseNewYear/definition.json
  src/Mainpage_licencewiki/LICENSE
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/Mainpage_licencewiki/definition.json
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(mainpage*): optimize color
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/SiteCommon/SiteCommon.css
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(mainpage*): optimize color (#1010)
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  dist/SiteCommon/SiteCommon.css
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
  src/variables.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(util): update initMwApi
  dist/Util/Util.js
  src/Util/modules/initMwApi.ts
Due: prettier --write, eslint --fix

build: update dist
  dist/store.txt
Due: none

feat(Group-user_JS): add loadRNRSHashGlobally
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/loadRNRSHashGlobally.ts
Due: prettier --write, eslint --fix

build: update dist (#1011)
  dist/store.txt
Due: none

chore(util): update initMwApi (#1012)
  dist/Util/Util.js
  src/Util/modules/initMwApi.ts
Due: prettier --write, eslint --fix

feat(Group-user_JS): add loadRNRSHashGlobally (#1013)
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/loadRNRSHashGlobally.ts
Due: prettier --write, eslint --fix

chore(MemorialDay, EditCount): CSS format
  dist/EditCount/EditCount.js
  dist/MemorialDay/MemorialDay.js
  src/EditCount/EditCount.ts
  src/MemorialDay/modules/core.ts
Due: prettier --write, eslint --fix

chore(MemorialDay, EditCount): CSS format (#1014)
  dist/EditCount/EditCount.js
  dist/MemorialDay/MemorialDay.js
  src/EditCount/EditCount.ts
  src/MemorialDay/modules/core.ts
Due: prettier --write, eslint --fix

chore(Mainpage*): optimize rules
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Mainpage*): optimize rules (#1015)
  dist/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.css
  dist/Mainpage/Mainpage.css
  dist/Mainpage_licencewiki/Mainpage_licencewiki.css
  src/Mainpage-ChineseNewYear/Mainpage-ChineseNewYear.less
  src/Mainpage/Mainpage.less
  src/Mainpage_licencewiki/Mainpage_licencewiki.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Group-user_JS): remove loadRNRSHashGlobally
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/loadRNRSHashGlobally.ts
Due: prettier --write, eslint --fix

chore(Group-user_JS): remove loadRNRSHashGlobally (#1016)
  dist/Group-user_JS/Group-user_JS.js
  src/Group-user_JS/Group-user_JS.ts
  src/Group-user_JS/modules/loadRNRSHashGlobally.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
