Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

build(SkinCitizen): add shade
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/images/Chinese_conversion_black.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

build(SkinCitizen): add shade (#1392)
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/images/Chinese_conversion_black.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

fix(SkinCitizen): adjust svg viewBoxs
  src/SkinCitizen/images/Chinese_conversion_black.svg
  src/SkinCitizen/images/Teahouse_icon.svg
Due: svgo --config=svgo.config.cjs --quiet --input

chore: regenerate dist
  dist/SkinCitizen/SkinCitizen.css
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

chore: add width and height
  dist/SkinCitizen/SkinCitizen.css
  src/SkinCitizen/images/Chinese_conversion_black.svg
Due: prettier --write, stylelint --allow-empty-input --fix, svgo --config=svgo.config.cjs --quiet --input

build: remove unneeded polyfills * es.array.push * es.array.unshift * es.regexp.flags
  dist/Clipboard/Clipboard.js
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Navigation_popups/Navigation_popups.js
  dist/React/React.js
  dist/Tippy/Tippy.js
  dist/Wikiplus/Wikiplus.js
  dist/select2/select2.js
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

build: remove unneeded polyfills (#1393)
  dist/Clipboard/Clipboard.js
  dist/DisamAssist/DisamAssist.js
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  dist/Navigation_popups/Navigation_popups.js
  dist/React/React.js
  dist/Tippy/Tippy.js
  dist/Wikiplus/Wikiplus.js
  dist/select2/select2.js
  scripts/modules/utils/build-util.ts
Due: prettier --write, eslint --fix

build: disable some gadgets on default
  dist/definition.txt
  src/AccessKeyCheatsheet/definition.json
  src/CookieWarning/definition.json
  src/DiffLink/definition.json
  src/FloatTOC/definition.json
  src/GeoLocationReader/definition.json
  src/RRD/definition.json
  src/Wikicache/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build: disable some gadgets on default (#1394)
  dist/definition.txt
  src/AccessKeyCheatsheet/definition.json
  src/CookieWarning/definition.json
  src/DiffLink/definition.json
  src/FloatTOC/definition.json
  src/GeoLocationReader/definition.json
  src/RRD/definition.json
  src/Wikicache/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

docs: update LICENSE block
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/LICENSE
Due: prettier --write, eslint --fix

build(SpecialWikitext): embed images into the gadget
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/SpecialWikitext/LICENSE
  src/SpecialWikitext/components/generateElements.tsx
  src/SpecialWikitext/images/Ajax-loader.gif
  src/SpecialWikitext/images/Alert.png
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

docs: update LICENSE block (#1396)
  dist/QueryContributors/QueryContributors.js
  src/QueryContributors/LICENSE
Due: prettier --write, eslint --fix

build(HotCat): embed images into the gadget
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  src/HotCat/HotCat.js
  src/HotCat/LICENSE
  src/HotCat/images/P_no.png
  src/HotCat/images/P_yes.png
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(SpecialWikitext): embed images into the gadget (#1397)
  dist/SpecialWikitext/SpecialWikitext.css
  dist/SpecialWikitext/SpecialWikitext.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/SpecialWikitext/LICENSE
  src/SpecialWikitext/components/generateElements.tsx
  src/SpecialWikitext/images/Ajax-loader.gif
  src/SpecialWikitext/images/Alert.png
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(HotCat): embed images into the gadget (#1398)
  dist/HotCat/HotCat.css
  dist/HotCat/HotCat.js
  src/HotCat/HotCat.js
  src/HotCat/LICENSE
  src/HotCat/images/P_no.png
  src/HotCat/images/P_yes.png
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Edittools-vector, SkinCitizen): embed images into the gadget
  dist/Edittools-vector/Edittools-vector.js
  dist/VariantAllyDialog/VariantAllyDialog.css
  dist/VariantAllyDialog/VariantAllyDialog.js
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vector/LICENSE
  src/Edittools-vector/images/Chinese_conversion.png
  src/Edittools-vector/images/Toolbaricon_bolditalic_A.png
  src/SkinCitizen/images/Chinese_conversion.svg
  src/SkinCitizen/modules/add-sidebar-icons.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

build(Edittools-vector, SkinCitizen): embed images into the gadget (#1399)
  dist/Edittools-vector/Edittools-vector.js
  src/Edittools-vector/Edittools-vector.ts
  src/Edittools-vector/LICENSE
  src/Edittools-vector/images/Chinese_conversion.png
  src/Edittools-vector/images/Toolbaricon_bolditalic_A.png
  src/SkinCitizen/images/Chinese_conversion.svg
  src/SkinCitizen/modules/add-sidebar-icons.less
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, svgo --config=svgo.config.cjs --quiet --input

build(Edittools-refToolbar): embed images into the gadget
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/images/Ajax-loader.gif
  src/Edittools-refToolbar/images/Gtk-stop.png
  src/Edittools-refToolbar/images/Nuvola-action-edit-add.png
  src/Edittools-refToolbar/images/Nuvola-apps-date.png
  src/Edittools-refToolbar/images/Nuvola-clipboard-lined.png
  src/Edittools-refToolbar/images/System-search.png
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Edittools-refToolbar): embed images into the gadget (#1400)
  dist/Edittools-refToolbar/Edittools-refToolbar.css
  dist/Edittools-refToolbar/Edittools-refToolbar.js
  src/Edittools-refToolbar/LICENSE
  src/Edittools-refToolbar/images/Ajax-loader.gif
  src/Edittools-refToolbar/images/Gtk-stop.png
  src/Edittools-refToolbar/images/Nuvola-action-edit-add.png
  src/Edittools-refToolbar/images/Nuvola-apps-date.png
  src/Edittools-refToolbar/images/Nuvola-clipboard-lined.png
  src/Edittools-refToolbar/images/System-search.png
  src/Edittools-refToolbar/modules/RefToolbar2.0.js
  src/Edittools-refToolbar/modules/RefToolbarBase.js
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

fix(SiteCommon): drop unnecessary vw, vh units (#1395)
  dist/SiteCommon/SiteCommon.css
  src/SiteCommon/modules/infobox.less
  src/SiteCommon/modules/mbox.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: optimize CSS styles
  dist/Mainpage/Mainpage.css
  dist/SiteCommon/SiteCommon.css
  dist/Wikiplus/Wikiplus.css
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/jQueryUI.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/talkPage.less
  src/Wikiplus/Wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore: optimize CSS styles
  dist/SiteCommon/SiteCommon.css
Due: prettier --write, stylelint --allow-empty-input --fix

chore: optimize CSS styles (#1402)
  dist/Mainpage/Mainpage.css
  dist/SiteCommon/SiteCommon.css
  dist/Wikiplus/Wikiplus.css
  src/Mainpage/Mainpage.less
  src/SiteCommon/modules/jQueryUI.less
  src/SiteCommon/modules/mbox.less
  src/SiteCommon/modules/talkPage.less
  src/Wikiplus/Wikiplus.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Mainpage): change flex-basis from 340p to 240px
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(Mainpage): change flex-basis from 340p to 240px (#1403)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(CAL): add an auxiliary i18n cache
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

fix(CAL): add an auxiliary i18n cache (#1404)
  dist/Cat-a-lot/Cat-a-lot.js
  src/Cat-a-lot/modules/core.tsx
Due: prettier --write, eslint --fix

chore(mainpage): optimize styles
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(mainpage): optimize styles (#1405)
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(mainpage): optimize styles
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(mainpage): optimize styles (#1406)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(mainpage): optimize styles (#1407)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(mainpage): optimize styles (#1408)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(mainpage): optimize styles (#1409)
  dist/Mainpage/Mainpage.css
  src/Mainpage/Mainpage.less
Due: prettier --write, stylelint --allow-empty-input --fix
