Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

fix(MemorialDay): optimize load logic
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/modules/addStyleTag.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix

fix(MemorialDay): optimize load logic (#1530)
  dist/MemorialDay/MemorialDay.js
  src/MemorialDay/modules/addStyleTag.ts
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix

build: update dist
  dist/definition.txt
Due: none

build: update dist
  dist/store.txt
  src/ChineseDays/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(MemorialDay*): split modules; optimze logic
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(MemorialDay*): split modules; optimze logic
  dist/MemorialDay-settings/MemorialDay-settings.js
  src/MemorialDay-settings/LICENSE
  src/MemorialDay-settings/MemorialDay-settings.ts
  src/MemorialDay-settings/definition.json
  src/MemorialDay-settings/modules/global.d.ts
  src/MemorialDay-settings/pageList.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(MemorialDay*): split modules; optimze logic
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  src/MemorialDay-settings/modules/global.d.ts
  src/MemorialDay/MemorialDay.ts
Due: prettier --write, eslint --fix

build(MemorialDay*): split modules; optimze logic (#1531)
  dist/MemorialDay-settings/MemorialDay-settings.js
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  src/MemorialDay-settings/LICENSE
  src/MemorialDay-settings/MemorialDay-settings.ts
  src/MemorialDay-settings/definition.json
  src/MemorialDay-settings/modules/global.d.ts
  src/MemorialDay-settings/pageList.json
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

fix: typo in LICENSE files
  dist/ChineseDays/ChineseDays.js
  dist/TextSpacing/TextSpacing.css
  dist/TextSpacing/TextSpacing.js
  src/ChineseDays/LICENSE
  src/TextSpacing/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(MemorialDay*): split modules; optimze logic (#1531)
  dist/MemorialDay-settings/MemorialDay-settings.js
  dist/MemorialDay/MemorialDay.js
  dist/definition.txt
  dist/store.txt
  src/ChineseDays/definition.json
  src/MemorialDay-settings/LICENSE
  src/MemorialDay-settings/MemorialDay-settings.ts
  src/MemorialDay-settings/definition.json
  src/MemorialDay-settings/modules/global.d.ts
  src/MemorialDay-settings/pageList.json
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/definition.json
  src/MemorialDay/modules/pageList.ts
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix: typo in LICENSE files (#1532)
  dist/ChineseDays/ChineseDays.js
  dist/TextSpacing/TextSpacing.css
  dist/TextSpacing/TextSpacing.js
  src/ChineseDays/LICENSE
  src/TextSpacing/LICENSE
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(MemorialDay): optimize styles; optimize load logic
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/MemorialDay/MemorialDay.css
  dist/MemorialDay/MemorialDay.js
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/MemorialDay.module.less
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

refactor(MemorialDay): optimize styles; optimize load logic
  src/MemorialDay/MemorialDay.less
  src/MemorialDay/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(MemorialDay): optimize styles; optimize load logic (#1533)
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/MemorialDay/MemorialDay.css
  dist/MemorialDay/MemorialDay.js
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/MemorialDay/MemorialDay.less
  src/MemorialDay/MemorialDay.ts
  src/MemorialDay/modules/addStyleTag.ts
  src/MemorialDay/options.json
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build(Mainpage*, MemorialDay): optimize module-loading logic
  dist/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.js
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/MemorialDay/MemorialDay.js
  src/Mainpage-ChineseNewYear_JS/modules/loadHolidayStyle.ts
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix

build(Mainpage*, MemorialDay): optimize module-loading logic
  src/Mainpage-Mourning/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

build(Mainpage*, MemorialDay): optimize module-loading logic (#1534)
  dist/Mainpage-ChineseNewYear_JS/Mainpage-ChineseNewYear_JS.js
  dist/Mainpage-Mourning/Mainpage-Mourning.css
  dist/MemorialDay/MemorialDay.js
  src/Mainpage-ChineseNewYear_JS/modules/loadHolidayStyle.ts
  src/Mainpage-Mourning/Mainpage-Mourning.less
  src/Mainpage-Mourning/definition.json
  src/MemorialDay/modules/addStyleTag.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(HanSect): styles in VisualEditor
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
  src/HanSect/modules/textIndent.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(HanSect): styles in VisualEditor (#1535)
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
  src/HanSect/modules/textIndent.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(HanSect): follow commit bfc0d3e8a02b7d0f3516dcd7851671cb58dd69b4
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
  src/HanSect/modules/textIndent.less
Due: prettier --write, stylelint --allow-empty-input --fix

chore(HanSect): follow commit bfc0d3e8a02b7d0f3516dcd7851671cb58dd69b4 (#1536)
  dist/HanSect/HanSect.css
  src/HanSect/HanSect.less
  src/HanSect/modules/textIndent.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(Group-**): move common rules to mixins.less
  dist/Group-autoreviewer/Group-autoreviewer.css
  dist/Group-confirmed/Group-confirmed.css
  dist/Group-eventsponsor/Group-eventsponsor.css
  dist/Group-interface-admin/Group-interface-admin.css
  dist/Group-massmessage-sender/Group-massmessage-sender.css
  dist/Group-patroller/Group-patroller.css
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  dist/Group-senioreditor/Group-senioreditor.css
  dist/Group-steward/Group-steward.css
  dist/Group-sysop/Group-sysop.css
  dist/Group-templateeditor/Group-templateeditor.css
  dist/Group-transwiki/Group-transwiki.css
  dist/Group-user/Group-user.css
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Group-autoreviewer/Group-autoreviewer.less
  src/Group-autoreviewer/LICENSE
  src/Group-confirmed/Group-confirmed.less
  src/Group-confirmed/LICENSE
  src/Group-eventsponsor/Group-eventsponsor.less
  src/Group-eventsponsor/LICENSE
  src/Group-interface-admin/Group-interface-admin.less
  src/Group-interface-admin/LICENSE
  src/Group-massmessage-sender/Group-massmessage-sender.less
  src/Group-massmessage-sender/LICENSE
  src/Group-patroller/Group-patroller.less
  src/Group-patroller/LICENSE
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
  src/Group-rnrsverify-confirmed/LICENSE
  src/Group-senioreditor/Group-senioreditor.less
  src/Group-senioreditor/LICENSE
  src/Group-steward/Group-steward.less
  src/Group-steward/LICENSE
  src/Group-sysop/Group-sysop.less
  src/Group-sysop/LICENSE
  src/Group-templateeditor/Group-templateeditor.less
  src/Group-templateeditor/LICENSE
  src/Group-transwiki/Group-transwiki.less
  src/Group-transwiki/LICENSE
  src/Group-user/Group-user.less
  src/mixins.less
Due: prettier --write, stylelint --allow-empty-input --fix

refactor(Group-**): move common rules to mixins.less (#1537)
  dist/Group-autoreviewer/Group-autoreviewer.css
  dist/Group-confirmed/Group-confirmed.css
  dist/Group-eventsponsor/Group-eventsponsor.css
  dist/Group-interface-admin/Group-interface-admin.css
  dist/Group-massmessage-sender/Group-massmessage-sender.css
  dist/Group-patroller/Group-patroller.css
  dist/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.css
  dist/Group-senioreditor/Group-senioreditor.css
  dist/Group-steward/Group-steward.css
  dist/Group-sysop/Group-sysop.css
  dist/Group-templateeditor/Group-templateeditor.css
  dist/Group-transwiki/Group-transwiki.css
  dist/Group-user/Group-user.css
  src/Cat-a-lot-pagestyles/Cat-a-lot-pagestyles.less
  src/Group-autoreviewer/Group-autoreviewer.less
  src/Group-autoreviewer/LICENSE
  src/Group-confirmed/Group-confirmed.less
  src/Group-confirmed/LICENSE
  src/Group-eventsponsor/Group-eventsponsor.less
  src/Group-eventsponsor/LICENSE
  src/Group-interface-admin/Group-interface-admin.less
  src/Group-interface-admin/LICENSE
  src/Group-massmessage-sender/Group-massmessage-sender.less
  src/Group-massmessage-sender/LICENSE
  src/Group-patroller/Group-patroller.less
  src/Group-patroller/LICENSE
  src/Group-rnrsverify-confirmed/Group-rnrsverify-confirmed.less
  src/Group-rnrsverify-confirmed/LICENSE
  src/Group-senioreditor/Group-senioreditor.less
  src/Group-senioreditor/LICENSE
  src/Group-steward/Group-steward.less
  src/Group-steward/LICENSE
  src/Group-sysop/Group-sysop.less
  src/Group-sysop/LICENSE
  src/Group-templateeditor/Group-templateeditor.less
  src/Group-templateeditor/LICENSE
  src/Group-transwiki/Group-transwiki.less
  src/Group-transwiki/LICENSE
  src/Group-user/Group-user.less
  src/mixins.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(URM): typo
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/issueTemplate.ts
Due: prettier --write, eslint --fix

fix(URM): typogi (#1538)
  dist/UserRightsManager/UserRightsManager.js
  src/UserRightsManager/modules/issueTemplate.ts
Due: prettier --write, eslint --fix

chore(MemorialDay-settings): add 2024-10-04
  dist/MemorialDay-settings/MemorialDay-settings.js
  src/MemorialDay-settings/pageList.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

chore(MemorialDay-settings): add 2024-10-04 (#1539)
  dist/MemorialDay-settings/MemorialDay-settings.js
  src/MemorialDay-settings/pageList.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Group-**): add back missing rules
  src/Group-user/Group-user.less
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Group-**): add back missing rules
  dist/Group-user/Group-user.css
Due: prettier --write, stylelint --allow-empty-input --fix

fix(Group-**): add back missing rules (#1540)
  dist/Group-user/Group-user.css
  src/Group-user/Group-user.less
Due: prettier --write, stylelint --allow-empty-input --fix

build: improve type annotations; remove eslint-disable as many as possible
  dist/DefaultSummaries/DefaultSummaries.js
  dist/EditForm_JS/EditForm_JS.js
  dist/UserRightsManager/UserRightsManager.js
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/types.d.ts
  src/EditForm_JS/modules/preloadRevid.ts
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

build: improve type annotations; remove eslint-disable as many as possible (#1541)
  dist/DefaultSummaries/DefaultSummaries.js
  dist/EditForm_JS/EditForm_JS.js
  dist/UserRightsManager/UserRightsManager.js
  src/DefaultSummaries/modules/processVisualEditor.ts
  src/DefaultSummaries/modules/types.d.ts
  src/EditForm_JS/modules/preloadRevid.ts
  src/UserRightsManager/modules/markAsDone.ts
Due: prettier --write, eslint --fix

build: improve type annotations; remove eslint-disable as many as possible
  dist/EasyArchive/EasyArchive.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/GeoLocation/GeoLocation.js
  dist/MarkRights/MarkRights.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/UserRightsManager/UserRightsManager.js
  src/DefaultSummaries/modules/types.d.ts
  src/EasyArchive/modules/util/getSection.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/GeoLocation/modules/storeLocation.ts
  src/MarkRights/modules/core.ts
  src/PreviewWithVariant2017/PreviewWithVariant2017.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.js
  src/QuickImport/QuickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/types.d.ts
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, eslint --fix

build: improve type annotations; remove eslint-disable as many as possible (#1542)
  dist/EasyArchive/EasyArchive.js
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/GeoLocation/GeoLocation.js
  dist/MarkRights/MarkRights.js
  dist/PreviewWithVariant2017/PreviewWithVariant2017.js
  dist/QuickImport/QuickImport.js
  dist/QuickImportAllMedia/QuickImportAllMedia.js
  dist/UserRightsManager/UserRightsManager.js
  src/DefaultSummaries/modules/types.d.ts
  src/EasyArchive/modules/util/getSection.ts
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/GeoLocation/modules/storeLocation.ts
  src/MarkRights/modules/core.ts
  src/PreviewWithVariant2017/PreviewWithVariant2017.ts
  src/PreviewWithVariant2017/modules/processVisualEditor.js
  src/QuickImport/QuickImport.ts
  src/QuickImportAllMedia/QuickImportAllMedia.ts
  src/QuickImportAllMedia/modules/types.d.ts
  src/UserRightsManager/modules/showDialog.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): split fixNamespace.ts
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/util/fixNamespace.ts
Due: prettier --write, eslint --fix

refactor(ToolsRedirect): split fixNamespace.ts (#1543)
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
  src/ToolsRedirect/modules/util/fixNamespace.ts
Due: prettier --write, eslint --fix

fix(ToolsRedirect): redirect with anchor
  dist/ToolsRedirect/ToolsRedirect.js
  src/ToolsRedirect/modules/core.js
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{css,less}) or (any of: *.{cjs,mjs,js,jsx,ts,tsx})
  stylelint --allow-empty-input --fix: any of: *.{css,less}
  eslint --fix: any of: *.{cjs,mjs,js,jsx,ts,tsx}
  tsx --no-deprecation scripts/run.ts --format-json -: any of: *.json
  svgo --config=svgo.config.cjs --quiet --input: any of: *.svg
