Repository qiuwenbaike/QiuwenGadgets: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -, svgo --config=svgo.config.cjs --quiet --input

.lintstagedrc:

{
	"*.{css,less}": ["prettier --write", "stylelint --allow-empty-input --fix"],
	"*.{cjs,mjs,js,jsx,ts,tsx}": ["prettier --write", "eslint --fix"],
	"*.json": "tsx --no-deprecation scripts/run.ts --format-json - ",
	"*.svg": "svgo --config=svgo.config.cjs --quiet --input",
	"!*.{css,less,cjs,mjs,js,jsx,ts,tsx,json,svg}": "prettier --ignore-unknown --write"
}

refactor(EasyArchive): optimize code logic
  dist/EasyArchive/EasyArchive.js
  package.json
  pnpm-lock.yaml
  src/EasyArchive/modules/components/react.tsx
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): optimize code logic (#1696)
  dist/EasyArchive/EasyArchive.css
  dist/EasyArchive/EasyArchive.js
  package.json
  pnpm-lock.yaml
  src/EasyArchive/EasyArchive.ts
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/addLinks.ts
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/archiveSection.ts
  src/EasyArchive/modules/components/EasyArchive.module.less
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/EasyArchive/modules/footerNotice.tsx
  src/EasyArchive/modules/getSettings.ts
  src/EasyArchive/modules/removeSection.ts
  src/EasyArchive/modules/util/api.ts
  src/EasyArchive/modules/util/checkIfExist.ts
  src/EasyArchive/modules/util/editSection.ts
  src/EasyArchive/modules/util/getSection.ts
  src/EasyArchive/modules/util/getSettings.ts
  src/EasyArchive/modules/util/onClick.ts
  src/EasyArchive/modules/util/react.tsx
  src/EasyArchive/modules/util/sanitize.ts
Due: prettier --write, stylelint --allow-empty-input --fix, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

WIP: Editform_Attribution
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/modifyChangeTag.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/modifyAttributionSummary.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/modifyAttributionSummary.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/util/modifyAttributionSummary.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/DefaultSummaries/modules/types.d.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/types.d.ts
  src/Editform_Attribution/modules/util/changeSummary.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/modifyAttributionSummary.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/modifyAttributionSummary.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
Due: prettier --write, eslint --fix

WIP: Editform_Attribution
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
Due: prettier --write, eslint --fix

feat(add): Editform_Attribution (#1697)
  dist/Editform_Attribution/Editform_Attribution.js
  dist/definition.txt
  src/DefaultSummaries/modules/types.d.ts
  src/Editform_Attribution/Editform_Attribution.ts
  src/Editform_Attribution/LICENSE
  src/Editform_Attribution/definition.json
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/types.d.ts
  src/Editform_Attribution/modules/util/changeSummary.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/modules/util/modifyChangeTag.ts
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_Attribution): update desc; enable
  src/Editform_Attribution/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(Editform_Attribution): update desc; enable (#1698)
  src/Editform_Attribution/definition.json
Due: tsx --no-deprecation scripts/run.ts --format-json -

refactor(EasyArchive): avoid undefined element ID; remove replaceChild(); optimize logic
  dist/EasyArchive/EasyArchive.js
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/util/getMessage.ts
  src/EasyArchive/modules/util/onClick.tsx
  src/EasyArchive/modules/util/replaceChild.ts
  src/EasyArchive/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(PagePatroller): remove replaceChild(); optimize logic
  dist/PagePatroller/PagePatroller.js
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/components/react.tsx
  src/PagePatroller/modules/pagePatroller.ts
  src/PagePatroller/modules/showPagePatroller.tsx
  src/PagePatroller/modules/util/elementWrap.tsx
  src/PagePatroller/modules/util/replaceChild.ts
Due: prettier --write, eslint --fix

refactor(EasyArchive, PagePatroller): avoid undefined childrens
  dist/EasyArchive/EasyArchive.js
  dist/PagePatroller/PagePatroller.js
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/PagePatroller/modules/components/react.tsx
Due: prettier --write, eslint --fix

refactor: remove customized replaceChild(); avoid undefined childrens and IDs; optimize logic
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/modules/components/react.tsx
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/components/react.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/components/react.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/getPermissions.ts
  src/OnlineAdmins/modules/components/groupList.tsx
  src/OnlineAdmins/modules/util/sanitize.ts
  src/PagePatroller/modules/components/react.tsx
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/modules/components/react.tsx
  src/QueryContributors/modules/util/getContributors.ts
  src/QueryContributors/modules/util/sanitize.ts
  src/QueryContributors/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor: remove customized replaceChild(); avoid undefined childrens and IDs; optimize logic (#1699)
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/OnlineAdmins/OnlineAdmins.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/EasyArchive/modules/util/getMessage.ts
  src/EasyArchive/modules/util/onClick.tsx
  src/EasyArchive/modules/util/replaceChild.ts
  src/EasyArchive/options.json
  src/GeoLocationReader/modules/appendGeoIcon.tsx
  src/GeoLocationReader/modules/components/react.tsx
  src/GeoLocationReader/modules/util/appendIcon.tsx
  src/MarkRights-Userpage/components/react.tsx
  src/MarkRights-Userpage/modules/appendIcon.tsx
  src/MarkRights-Userpage/modules/getPermissions.ts
  src/OnlineAdmins/modules/components/groupList.tsx
  src/OnlineAdmins/modules/util/sanitize.ts
  src/PagePatroller/PagePatroller.ts
  src/PagePatroller/modules/components/react.tsx
  src/PagePatroller/modules/pagePatroller.ts
  src/PagePatroller/modules/showPagePatroller.tsx
  src/PagePatroller/modules/util/elementWrap.tsx
  src/PagePatroller/modules/util/replaceChild.ts
  src/QueryContributors/QueryContributors.ts
  src/QueryContributors/modules/appendElement.tsx
  src/QueryContributors/modules/components/react.tsx
  src/QueryContributors/modules/util/getContributors.ts
  src/QueryContributors/modules/util/sanitize.ts
  src/QueryContributors/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

build: update dist
  dist/store.txt
Due: none

refactor: optimize type annotation and logic; replace replaceChild with replaceWith; remove IE code
  dist/EasyArchive/EasyArchive.js
  dist/Editform_Attribution/Editform_Attribution.js
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/HotCat/HotCat.js
  dist/PagePatroller/PagePatroller.js
  dist/QuickImport/QuickImport.js
  dist/Twinkle/Twinkle.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/appendFooterNotice.ts
  src/EasyArchive/modules/util/getSettings.ts
  src/EasyArchive/modules/util/onClick.tsx
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/modifyChangeTag.ts
  src/HistoryDisclaimer/HistoryDisclaimer.ts
  src/HistoryDisclaimer/modules/getBackground.tsx
  src/HotCat/HotCat.js
  src/PagePatroller/modules/showPagePatroller.tsx
  src/QuickImport/QuickImport.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinklexfd.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/util/appendFooterNotice.ts
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/appendMarker.ts
  src/WhoIsActive/modules/util/getUserLinks.ts
  src/WhoIsActive/modules/util/getUserNamesAndElements.ts
Due: prettier --write, eslint --fix

refactor: optimize type annotation and logic; replace replaceChild with replaceWith; remove IE code (#1700)
  dist/EasyArchive/EasyArchive.js
  dist/Editform_Attribution/Editform_Attribution.js
  dist/HistoryDisclaimer/HistoryDisclaimer.js
  dist/HotCat/HotCat.js
  dist/PagePatroller/PagePatroller.js
  dist/QuickImport/QuickImport.js
  dist/Twinkle/Twinkle.js
  dist/WhoIsActive/WhoIsActive.js
  src/EasyArchive/EasyArchive.tsx
  src/EasyArchive/modules/addLinks.tsx
  src/EasyArchive/modules/appendFooterNotice.ts
  src/EasyArchive/modules/util/getSettings.ts
  src/EasyArchive/modules/util/onClick.tsx
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/modifyChangeTag.ts
  src/HistoryDisclaimer/HistoryDisclaimer.ts
  src/HistoryDisclaimer/modules/getBackground.tsx
  src/HotCat/HotCat.js
  src/PagePatroller/modules/showPagePatroller.tsx
  src/QuickImport/QuickImport.ts
  src/Twinkle/modules/friendlytag.js
  src/Twinkle/modules/twinklearv.js
  src/Twinkle/modules/twinkleblock.js
  src/Twinkle/modules/twinkleprotect.js
  src/Twinkle/modules/twinklestub.js
  src/Twinkle/modules/twinklexfd.js
  src/WhoIsActive/WhoIsActive.ts
  src/WhoIsActive/modules/core.ts
  src/WhoIsActive/modules/util/appendFooterNotice.ts
  src/WhoIsActive/modules/util/appendLastActiveMarker.ts
  src/WhoIsActive/modules/util/appendLastActiveMarkerToUserPage.ts
  src/WhoIsActive/modules/util/appendMarker.ts
  src/WhoIsActive/modules/util/getUserLinks.ts
  src/WhoIsActive/modules/util/getUserNamesAndElements.ts
Due: prettier --write, eslint --fix

build: update dependencies
  package.json
  pnpm-lock.yaml
Due: tsx --no-deprecation scripts/run.ts --format-json -

fix(EditForm_Attribution): switching between VE and NWE; add fallback value
  dist/Editform_Attribution/Editform_Attribution.js
  src/DefaultSummaries/modules/types.d.ts
  src/Editform_Attribution/Editform_Attribution.ts
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/appendTextToSummary.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EditForm_Attribution): switching between VE and NWE; add fallback value (#1701)
  dist/Editform_Attribution/Editform_Attribution.js
  src/DefaultSummaries/modules/types.d.ts
  src/Editform_Attribution/Editform_Attribution.ts
  src/Editform_Attribution/modules/constant.ts
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/appendTextToSummary.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
  src/Editform_Attribution/modules/util/getAttribution.ts
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Editform*): remove targetClassVe; change mount point for VE
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/options.json
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateLayout.ts
  src/Editform_Attribution/modules/util/modifyChangeTag.ts
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

refactor(Editform*): remove targetClassVe; change mount point for VE (#1702)
  dist/Editform_AiAssisted/Editform_AiAssisted.js
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_AiAssisted/modules/processVisualEditor.ts
  src/Editform_AiAssisted/options.json
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/processVisualEditor.ts
  src/Editform_Attribution/modules/processWikiEditor.ts
  src/Editform_Attribution/modules/util/generateCheckboxLayout.ts
  src/Editform_Attribution/modules/util/generateLayout.ts
  src/Editform_Attribution/modules/util/modifyChangeTag.ts
  src/Editform_Attribution/options.json
Due: prettier --write, eslint --fix, tsx --no-deprecation scripts/run.ts --format-json -

fix(EditForm_Attribution): fix title content and summary format
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
Due: prettier --write, eslint --fix

fix(EditForm_Attribution): fix title content and summary format (#1703)
  dist/Editform_Attribution/Editform_Attribution.js
  src/Editform_Attribution/modules/i18n.ts
  src/Editform_Attribution/modules/util/generateTextInputWithDropdown.ts
Due: prettier --write, eslint --fix

fix: add fallback value for JSX elements
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/GeoLocationReader/modules/components/react.tsx
  src/MarkRights-Userpage/components/react.tsx
  src/PagePatroller/modules/components/react.tsx
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix

fix: add fallback value for JSX elements (#1704)
  dist/EasyArchive/EasyArchive.js
  dist/GeoLocationReader/GeoLocationReader.js
  dist/MarkRights-Userpage/MarkRights-Userpage.js
  dist/PagePatroller/PagePatroller.js
  dist/QueryContributors/QueryContributors.js
  src/EasyArchive/modules/components/react.tsx
  src/EasyArchive/modules/components/sectionLink.tsx
  src/GeoLocationReader/modules/components/react.tsx
  src/MarkRights-Userpage/components/react.tsx
  src/PagePatroller/modules/components/react.tsx
  src/QueryContributors/modules/components/react.tsx
Due: prettier --write, eslint --fix
